{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_EVENTS')) %}
  {% if event is not null %}
  <div>
    <p style="text-align:center; font-weight: bolder; font-size: large;">
      {{ event.name }}
    </p>
    {% if event.pic %}
    <div class="pmk-preview">
      <div class="pmk-picture">
        <div class="pmk-img">
          <img src="{{ event.getPic() }}" />
        </div>
      </div>
    </div>
    {% endif %}
    <p style="overflow:hidden; padding:5px; border:solid 1px #DDD; background: {{ event.display ? '#FFEAD6' : '#DDD' }}" >
      {{ event.date| format_datetime('medium','medium',locale=app.request.getLocale()) }} {{ event.duration }} {% trans %}min.{% endtrans %}
    </p>
  </div>
  {% else %}
  <p>
    {% trans %}Select or create any live event.{% endtrans %}
  </p>
  {% endif %}
{% else %}
  <p>
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  </p>
{% endif %}
