<div class="table-responsive well" style="overflow:visible;">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_CHANNELS')) %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
    <th width="1%" id="th-checkbox">
      <div class="checkbox">
        <label>
              <input type="checkbox" onclick="window.click_checkbox_all('live', this.checked)">
        </label>
      </div>
    </th>
    <th colspan="2" width="5%" id="th-icons"></th>
    <th id="th-name">{% trans %}Name{% endtrans %}</th>
    <th width="20%" id="th-url">{% trans %}URL{% endtrans %}</th>
    <th id="th-source-name" style="text-align:center">{% trans %}Source Name 1{% endtrans %}</th>
    <th id="th-source-name" style="text-align:center">{% trans %}Source Name 2{% endtrans %}</th>
    <th width="8%" id="th-type">{% trans %}Type{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% if lives|length == 0 %}
      <tr>
    <td colspan="10" headers="th-checkbox th-icons th-icons th-name th-type th-url">
      {% trans %}There are no live channels with those values.{% endtrans %}
    </td>
      </tr>
      {% else %}
        {% for live in lives %}
          <tr style="cursor:pointer;" {% if (app.session.get('admin/live/id') == live.id) %} class="success" {% endif %}>
            <td headers="th-checkbox">
              <div class="checkbox">
                <label>
                  <input id="{{ live.id }}" class="live_checkbox" type="checkbox">
                </label>
              </div>
            </td>
            <td headers="th-icons">
              <a title="{% trans %}Edit live channel{% endtrans %} {{ live.id }}" href="{{ path('pumukitnewadmin_live_update', {'id': live.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
                <i class="mdi-editor-mode-edit"></i>
              </a>
            </td>
            <td headers="th-icons">
              <a href="#" onclick="window.submit_delete_live('{{ live.id }}'); return false;" title="{% trans %}Delete live channel{% endtrans %}">
                <i class="mdi-content-clear"></i>
              </a>
            </td>
            <td headers="th-name" onclick="click_fila_url('live', this, '{{ path('pumukitnewadmin_live_show', {'id': live.id}) }}');">
              {{ live.name }}
            </td>
            <td headers="th-url" onclick="click_fila_url('live', this, '{{ path('pumukitnewadmin_live_show', {'id': live.id}) }}');">
              {{ live.url }}
            </td>
            <td headers="th-source-name" style="text-align:center" onclick="click_fila_url('live', this, '{{ path('pumukitnewadmin_live_show', {'id': live.id}) }}');">
              <li class="fas fa-link" style="font-size:13px;color:grey;text-align:center" data-toggle="tooltip" data-placement="top" title= {{ live.getSourceName() }}></li>
            </td>
            <td headers="th-source-name" style="text-align:center" onclick="click_fila_url('live', this, '{{ path('pumukitnewadmin_live_show', {'id': live.id}) }}');">
              {% if live.getSourceName2() != "" %}
                <li class="fas fa-link" style="font-size:13px;color:grey" data-toggle="tooltip" data-placement="top" title= {{ live.getSourceName2() }}></li>
              {% endif %}
            </td>
            <td headers="th-type" onclick="click_fila_url('live', this, '{{ path('pumukitnewadmin_live_show', {'id': live.id}) }}');">
              {{ live.getLiveType }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="10" class="foot-td">
        {% set column = ((lives.getNbPages/5)|round(0, 'floor')) %}
        <div class="col-md-8">
          {{ lives.getNbResults }}
            {{ "{0} live channels|{1} live channel|]1,Inf] live channels"|trans({'%count%':  lives.getNbResults}) }}
          {% if app.session.get('admin/live/criteria')|length != 0%}
          <a class="cancel-search-button" title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
          {% endif %}
        </div>
        <div class="col-md-4 text-right">
          <div class="pagerfanta">
            {% set sorting = {('sorting[' ~ (app.session.get('admin/live/sort')) ~ ']') : (app.session.get('admin/live/type')) } %}

              {% set pagerClass = 'twitter_bootstrap3' %}
              {% set pagerStyles = {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_live_index", "routeParams": sorting} %}
              {% include "@PumukitNewAdmin/Misc/pager.html.twig" with {'objects' : lives, 'pagerClass': pagerClass, 'pagerStyles': pagerStyles} %}
          </div>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
{% else %}
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
{% endif %}
</div>
