{% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_CHANNELS')) %}
  {% if live is not null %}
  <h3>{{ live.name }}</h3>
  {{ live.description }}
  <div>
    <div>
      {% trans %}URL{% endtrans %}: <a href="{# TODO: /live/index/id/{{ live.id }} #}">
        {# "TODO: /live/index/id/{{ live.id }}" #}
      </a>
    </div>
    <div>
      {% trans %}Source IP{% endtrans %}: <span style="font-style:italic"> {{ live.getIpSource() }}</span>
    </div>
    <div>
      {% trans %}Show player at homepage{% endtrans %}: <span style="font-style:italic">{% if live.getIndexPlay() %}{% trans %}Activated{% endtrans %}{% else %}{% trans %}Deactivated{% endtrans %}{% endif %}</span>
    </div>
    <div>
      {% trans %}Status{% endtrans %}: <span style="font-style:italic">{% if not live.broadcasting %}{% trans %}On hold{% endtrans %}{% else %}{% trans %}Live broadcasting{% endtrans %}{% endif %}</span>
    </div>
  </div>
  <br />
  {{ include('PumukitNewAdminBundle:Live:Players/'~live.getLiveType()~'.html.twig') }}      
  {% else %}
  <p>
    {% trans %}Select any live channel.{% endtrans %}
  </p>
  {% endif %}
{% else %}
<p>
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
</p>
{% endif %}  
