{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_CHANNELS')) %}
  {% if live is not null %}
  <h3>{{ live.name }}</h3>
  <div><pre>{{ live.id }}</pre></div>
  {{ live.description }}
  <div>
    <div>
      {% trans %}URL{% endtrans %}:
      <input type="text" class="form-control" id="show_player_url" readonly="" onclick="select()" value="{{ url('pumukit_live_id', {'id': live.id}) }}" aria-label="show_player_url" />
      {% trans %}IFRAME{% endtrans %}:
      <input type="text" class="form-control" id="show_player_url_iframe" readonly="" onclick="select()" value="{{ url('pumukit_live_iframe_id', {'id': live.id}) }}" aria-label="show_player_url_iframe" />
    </div>
    <div>
      {% trans %}Source IP{% endtrans %}: <span style="font-style:italic"> {{ live.getIpSource() }}</span>
    </div>
    <div>
      {% trans %}Show player at homepage{% endtrans %}: <span style="font-style:italic">{% if live.getIndexPlay() %}{% trans %}Activated{% endtrans %}{% else %}{% trans %}Deactivated{% endtrans %}{% endif %}</span>
    </div>
    <div>
      {% trans %}Status{% endtrans %}: <span style="font-style:italic">{% if not live.broadcasting %}{% trans %}On hold{% endtrans %}{% else %}{% trans %}Live broadcasting{% endtrans %}{% endif %}</span>
    </div>
  </div>
  <br />
  {{ include('@PumukitNewAdmin/Live/Players/'~live.getLiveType()~'.html.twig') }}
  {% else %}
  <p>
    {% trans %}Select any live channel.{% endtrans %}
  </p>
  {% endif %}
{% else %}
<p>
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
</p>
{% endif %}
