{% extends 'PumukitCmarWebTVBundle::layout.html.twig' %}
{% block body %}
<div class="resumo_categorias" >
  <ul style="width:80%">
    {% for key, series in subseries if (series|length) != 0 %}
      {% set countMultimediaObjects = 0 %}
      {% for oneseries in series %}
        {% set countMultimediaObjects = countMultimediaObjects + (oneseries|count_multimedia_objects) %}
      {% endfor %}
      <li>
        <a href="#{{ key }}">{{ key }}</a>
        <span class="resumo_categorias_numvideos" style="float:none">
          {% spaceless %}
          [{{ countMultimediaObjects }}&nbsp;
          {% if countMultimediaObjects == 1 %}
            {% trans %}Video{% endtrans %}
          {% else %}
            {% trans %}Videos{% endtrans %}
          {% endif %}
          ]
          {% endspaceless %}
        </span>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="pumukit_mmobjs pumukit_series">
  {% for key, series in subseries if (series|length) != 0 %}
    <p class="titulo_widget titulo_widget_grande">
      <a name="{{ key }}">{{key }}</a> 
    </p>
    {% for oneseries in series %}
      {% include 'PumukitCmarWebTVBundle:MediaLibrary:series.html.twig' with {'series': oneseries} %}
    {% endfor %}
  {% endfor %}
</div>
<div style="clear:left"></div>
{% endblock %}
