<dl class="pumukit_mmobj">
  <dt class="thumbnail">
    <figure class="album">
      <a href="{{ url('pumukit_webtv_series_index', {'id': series.id}) }}">
        {% set series_pic = series.getFirstUrlPic('/images/folder.png') %}
        <div class="picture"><img src="{{ series_pic }}"/></div>
        <div class="picture"><img src="{{ series_pic }}"/></div>
        <div class="picture"><img src="{{ series_pic }}"/></div>
      </a>
    </figure>
  </dt>
  <dd class="info">
    <div class="title">
      <a href="{{ url('pumukit_webtv_series_index', {'id': series.id}) }}">
        {{ series.getTitle() }}
      </a>
    </div>
    <div class="subtitle">
      {{ series.getSubtitle() }}
    </div>
    <div class="date">
      {{ series.getPublicDate()|date('d/m/Y') }}
    </div>
    <div class="mmobj_bottom">
      {% set count_mm = (series|count_multimedia_objects) %}
      [{{ count_mm }} {% if (1 == count_mm) %}{% trans %}Video{% endtrans %}{% else %}{% trans %}Videos{% endtrans %}{% endif %}]
    </div>
  </dd>
</dl>
