{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <form id="login_form" action="{{ path("fos_user_security_check") }}" method="POST">
        <div class="body bg-gray">

            {% if error %}
                <div class="alert alert-danger alert-error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                <input type="text" id="username" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" value="{{ last_username }}" required="required"/>
            </div>

            <div class="form-group">
                <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required"/>
            </div>

            <div class="form-group checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>
        </div>

        <div class="footer">
            <button type="submit" id="_submit" name="_submit" class="btn bg-olive btn-block" style="background-color: #c05800 !important">
                {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </div>
    </form>

{% endblock fos_user_content %}
