<br />
<div class="well">
    <div class="row">
        <h4 class="text-center"><strong>{% trans %}Advanced search form{% endtrans %}</strong></h4>
        <hr />

        <div class="col-md-6">

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="title" class="col-md-3 control-label">{% trans %}Title{% endtrans %}</label>
                <div class="col-md-9">
                    <input id="title" type="text" class="form-control" name="criteria[title]" placeholder="{% trans %}Title{% endtrans %}"
                           {% if app.request.session.get('UNESCO/form')['title'] is defined %}
                               value="{{ app.request.session.get('UNESCO/form')['title']}}"
                           {% endif %}
                    />
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="Subtitle" class="col-md-3 control-label">{% trans %}Subtitle{% endtrans %}</label>
                <div class="col-md-9">
                    <input id="subtitle" type="text" class="form-control" name="criteria[subtitle]" placeholder="{% trans %}Subtitle{% endtrans %}"
                            {% if app.request.session.get('UNESCO/form')['subtitle'] is defined %}
                                value="{{ app.request.session.get('UNESCO/form')['subtitle']}}"
                            {% endif %}
                    />
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="keyword" class="col-md-3 control-label">{% trans %}Keyword{% endtrans %}</label>
                <div class="col-md-9">
                    <input id="keyword" type="text" class="form-control" name="criteria[keyword]" placeholder="{% trans %}Keyword{% endtrans %}"
                            {% if app.request.session.get('UNESCO/form')['keyword'] is defined %}
                                value="{{ app.request.session.get('UNESCO/form')['keyword']}}"
                            {% endif %}
                    />
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="initPublicDate" class="col-md-3 control-label">{% trans %}Publication date{% endtrans %}</label>
                <div class="col-md-4">
                    <input id="initPublicDate" name="criteria[initPublicDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}"
                            {% if app.request.session.get('UNESCO/form')['initPublicDate'] is defined %}
                                value="{{ app.request.session.get('UNESCO/form')['initPublicDate']}}"
                            {% endif %}
                    />
                </div>
                <div class="col-md-4">
                    <input id="finishPublicDate" name="criteria[finishPublicDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}"
                            {% if app.request.session.get('UNESCO/form')['finishPublicDate'] is defined %}
                                value="{{ app.request.session.get('UNESCO/form')['finishPublicDate']}}"
                            {% endif %}
                    />
                 </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="initRecordDate" class="col-md-3 control-label">{% trans %}Recording date{% endtrans %}</label>
                <div class="col-md-4">
                    <input id="initRecordDate" name="criteria[initRecordDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}"
                            {% if app.request.session.get('UNESCO/form')['initRecordDate'] is defined %}
                                value="{{ app.request.session.get('UNESCO/form')['initRecordDate']}}"
                            {% endif %}
                    />
                </div>
                <div class="col-md-4">
                    <input id="finishRecordDate" name="criteria[finishRecordDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}"
                            {% if app.request.session.get('UNESCO/form')['finishRecordDate'] is defined %}
                                value="{{ app.request.session.get('UNESCO/form')['finishRecordDate']}}"
                            {% endif %}
                    />
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="Description" class="col-md-3 control-label">{% trans %}Description{% endtrans %}</label>
                <div class="col-md-9">
                    <textarea id="Description" class="form-control" name="criteria[description]" placeholder="{% trans %}Description{% endtrans %}"
                            {% if app.request.session.get('UNESCO/form')['description'] is defined and app.request.session.get('UNESCO/form')['description'] is not empty %}
                                placeholder="{{ app.request.session.get('UNESCO/form')['description']}}"
                            {% endif %}
                    ></textarea>
                </div>
            </div>

            <div class="clearfix"></div>
            {% if not disable_pudenew %}
            <div class="form-group" style="display:inline-block; margin-top:15px;">
                <strong style="margin-left:15px;"> {% trans %}Announce{% endtrans %}</strong>
                <div class="checkbox" style="display:inline;margin-left:50px;">
                    <label>
                        <input id="announce" type="checkbox" name="criteria[announce]"
                                {% if app.request.session.get('UNESCO/form')['announce'] is defined %}
                                    checked
                                {% endif %}
                        />
                    </label>
                </div>
            </div>
            {% endif %}

            {% if puderadio %}
                <div class="clearfix"></div>
                <div class="form-group" style="display:inline-block; margin-top:15px;">
                    <strong style="margin-left:15px;"> {{ puderadio.getTitle(app.request.getLocale()) }}</strong>
                    <div class="checkbox" style="display:inline;margin-left:5px;">
                        <label>
                            <input id="puderadio" type="checkbox" name="criteria[puderadio]"
                                    {% if app.request.session.get('UNESCO/form')['puderadio'] is defined %}
                                        checked
                                    {% endif %}
                            />
                        </label>
                    </div>
                </div>
            {% endif %}

            {% if pudetv %}
                <div class="clearfix"></div>
                <div class="form-group" style="display:inline-block; margin-top:15px;">
                    <strong style="margin-left:15px;"> {{ pudetv.getTitle(app.request.getLocale()) }}</strong>
                    <div class="checkbox" style="display:inline;margin-left:25px;">
                        <label>
                            <input id="pudetv" type="checkbox" name="criteria[pudetv]"
                                    {% if app.request.session.get('UNESCO/form')['pudetv'] is defined %}
                                        value="{{ app.request.session.get('UNESCO/form')['pudetv']}}"
                                    {% endif %}
                            />
                        </label>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="col-md-6">
            {% for role in roles %}
                <div class="clearfix"></div>
                <div class="form-group" style="margin-top:10px;">
                    <label for="{{ role.getCod() }}" class="col-md-3 control-label">{{ role.getName(app.request.getLocale()) }}</label>
                    <div class="col-md-9">
                        <input type="text" id="{{ role.getCod() }}" class="form-control" name="criteria[roles][{{ role.getCod() }}]" placeholder="{{ role.getName(app.request.getLocale()) }}"
                            {% if app.request.session.get('UNESCO/form')['roles'] is defined and app.request.session.get('UNESCO/form')['roles'][role.getCod()] is defined and app.request.session.get('UNESCO/form')['roles'][role.getCod()] is not empty %}
                                value="{{ app.request.session.get('UNESCO/form')['roles'][role.getCod()] }}"
                            {% endif %}
                        />
                    </div>
                </div>
            {% endfor %}

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="broadcast" class="col-md-3 control-label">{% trans %}Broadcast{% endtrans %}</label>
                <div class="col-md-9">
                    <select id="broadcast" name="criteria[broadcast]" class="form-control">
                        <option value="all">{% trans %}All{% endtrans %}</option>
                        {% for key, broadcast in broadcasts %}
                            <option value="{{ key }}" {% if app.request.session.get('UNESCO/form')['broadcast'] is defined and app.request.session.get('UNESCO/form')['broadcast'] is same as(key) %}selected{% endif %}>
                                {{ broadcast }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="form-group" style="margin-top:10px;">
                <label for="status" class="col-md-3 control-label">{% trans %}Status{% endtrans %}</label>
                <div class="col-md-9">
                    <select id="status" name="criteria[statusPub]" class="form-control">
                        <option value="-1">{% trans %}All{% endtrans %}</option>
                        {% for key, status in statusPub %}
                            <option value="{{ key }}"
                                    {% if app.request.session.get('UNESCO/form')['statusPub'] is defined and
                                    app.request.session.get('UNESCO/form')['statusPub'] == key %}
                                        selected
                                    {% endif %}
                            >
                                {{ status }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 text-right">
            <button id="submitAdvanceForm" class="btn btn-pumukit btn-raised" type="submit">{% trans %}Send{% endtrans %}</button>
        </div>
    </div>
</div>
