{% set custom_fields = app.request.getSession().get('admin/unesco/selected_fields') %}
{% set all_custom_fields = all_custom_fields() %}
{% set click_edit = "click_fila_edit_urls('mms', this, '" ~ path('pumukitnewadmin_unesco_show', {'id': mm.id})
  ~ "', '" ~ path('pumukit_new_admin_unesco_edit', {'id': mm.id}) ~ "')" %}
{% set double_click_item = "dblclick_preview_mm('"~ mm.id ~"')" %}

<tr id="tr_{{ mm.id }}" style="cursor: pointer;" {% if(app.session.get('admin/unesco/id') == mm.id ) %} class="success" {% endif %}>

    <td headers="th-checkbox">
        <div class="checkbox pumukit-mms-checkbox">
            <label data-id="{{ mm.id }}" draggable="true" ondragstart="getAllDnDChecked(this, event)" ondragenter="$('.draggableTag').css('background-color','#beebff');" ondragend="dragEndCheckbox(this,event)">
                <input data-id="{{ mm.id }}" id="{{ mm.id }}" class="mm_checkbox" type="checkbox">
            </label>
        </div>
    </td>
    <td headers="th-icons">
        <span id="table_mms_status_wrapper_{{ mm.id }}" data-id="{{ mm.id }}">
            {# See Track/list for AJAX update #}
            {% include '@PumukitNewAdmin/MultimediaObject/status.html.twig' with {'mm': mm} %}
        </span>
    </td>

    {% if not is_naked() %}
        <td headers="th-icons">
            {{ mm.containsTagWithCod('PUDENEW')?'<i class="mdi-action-spellcheck">':'&nbsp;' }}
        </td>
    {% endif %}
    <td headers="th-icons">
        {% include '@PumukitNewAdmin/UNESCO/updatemenu.html.twig' with {'mm': mm} %}
    </td>

    {% for key, field in custom_fields %}
        {% if 'pics' in field %}
            <td {% if all_custom_fields[field]['render_params']['break-word'] == true %}style="word-break: break-word;"{% endif %} headers="th-{{ loop.index }}" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                {% include "@PumukitNewAdmin/Misc/img_list.html.twig" with {'object' : mm, 'type' : 'mm'} %}
            </td>
        {% else %}
            {% set text = render_object_field(mm,app.request.getSession(),field) %}
            <td {% if all_custom_fields[field]['render_params']['break-word'] == true %}style="word-break: break-word;"{% endif %} headers="th-{{ loop.index }}" title="{{ text|striptags }}" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                {% if field in ['record_date','public_date'] %}
                    {{ text| format_datetime('medium','none',locale=app.request.getLocale()) }}
                {% elseif field is same as('type') %}
                    {% if mm.isVideoType() %}
                        <i class="fa fa-file-video" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                    {% elseif mm.isAudioType() %}
                        <i class="fa fa-file-audio" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                    {% elseif mm.isImageType() %}
                        <i class="fa fa-file-image" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                    {% elseif mm.isDocumentType() %}
                        <i class="fa fa-file-alt" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                    {% elseif mm.isExternalType() %}
                        <i class="fa fa-link" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                    {% endif %}
                {% elseif field is same as('embeddedBroadcast')%}
                    {% if mm.getEmbeddedBroadcast().getType() == 'public' %}
                        <i class="fa fa-globe" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                    {% elseif mm.getEmbeddedBroadcast().getType() == 'password' %}
                        <i class="fa fa-unlock" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                    {% elseif mm.getEmbeddedBroadcast().getType() == 'login' %}
                        <i class="fa fa-user" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                    {% elseif mm.getEmbeddedBroadcast().getType() == 'groups' %}
                        <i class="fa fa-users" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                    {% endif %}
                {% elseif field is same as('webtv')%}
                    {% if mm.containsTagWithCod('PUCHWEBTV') %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                {% elseif field is same as('duration')%}
                    {% if mm.isVideoAudioType() %}{{ mm.getRealDuration()| duration_string }}{% else %}0{% endif %}
                    {% if mm.getProperty('soft-editing-duration') %}
                        <i class="mdi-content-content-cut" data-toggle="tooltip" data-placement="left" title="{{ mmobj_duration(mm) | duration_string }}"></i>
                    {% endif %}
                {% else %}
                    {{ text|raw }}
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}
</tr>
