{% set custom_fields = app.request.getSession().get('admin/unesco/selected_fields') %}
{% set click_edit = "click_fila_edit_urls('mms', this, '" ~ path('pumukitnewadmin_unesco_show', {'id': mm.id})
  ~ "', '" ~ path('pumukit_new_admin_unesco_edit', {'id': mm.id}) ~ "')" %}
{% set double_click_item = "dblclick_preview_mm('"~ mm.id ~"')" %}

<tr id="tr_{{ mm.id }}" style="cursor: pointer" {% if(app.session.get('admin/unesco/id') == mm.id ) %} class="success" {% endif %}>

    <td headers="th-checkbox">
        <div class="checkbox pumukit-mms-checkbox">
            <label data-id="{{ mm.id }}" draggable="true" ondragstart="getAllDnDChecked(this, event)" ondragenter="$('.draggableTag').css('background-color','#beebff');" ondragend="dragEndCheckbox(this,event)">
                <input data-id="{{ mm.id }}" id="{{ mm.id }}" class="mm_checkbox" type="checkbox">
            </label>
        </div>
    </td>
    <td headers="th-icons">
        <span id="table_mms_status_wrapper_{{ mm.id }}" data-id="{{ mm.id }}">
            {# See Track/list for AJAX update #}
            {% include 'PumukitNewAdminBundle:MultimediaObject:status.html.twig' with {'mm': mm} %}
        </span>
    </td>

    {% if not is_naked() %}
        <td headers="th-icons">
            {{ mm.containsTagWithCod('PUDENEW')?'<i class="mdi-action-spellcheck">':'&nbsp;' }}
        </td>
    {% endif %}
    <td headers="th-icons">
        {% include 'PumukitNewAdminBundle:UNESCO:updatemenu.html.twig' with {'mm': mm} %}
    </td>

    {% for key, field in custom_fields %}

        <td headers="th-{{ loop.index }}" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}" class="mms-list-row-td-break-word">
            {{ render_object_field(mm,field) }}
        </td>

    {#{% if field == 'id' %}
            <td headers="th-id" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                <span>{{ mm.id }}</span>
            </td>
        {% endif %}

        {% if field == 'series.id' %}
            <td headers="th-s-id" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                <a href="{{ path('pumukitnewadmin_mms_index', {'id': mm.series.id }) }}">
                    {{ mm.series.id }}
                </a>
            </td>
        {% endif %}

        {% if field == 'title' %}
            <td headers="th-title" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}" >
                {{ mm.getTitle() }}
            </td>
        {% endif %}

        {% if field == 'seriesTitle' %}
            <td headers="th-series-title">
                <a href="{{ path('pumukitnewadmin_mms_shortener', {'id': mm.id }) }}">
                    {{ mm.seriesTitle }}
                </a>
            </td>
        {% endif %}

        {% if field == 'subtitle' %}
            <td headers="th-subtitle">
                {{ mm.subtitle }}
            </td>
        {% endif %}

        {% if field == 'description' %}
            <td headers="th-description">
                {{ mm.description }}
            </td>
        {% endif %}

        {% if field == 'comments' %}
            <td headers="th-comments">
               {{ mm.comments }}
            </td>
        {% endif %}

        {% if field == 'keywords' %}
            <td headers="th-keywords">
                {{ mm.getKeyword() }}
            </td>
        {% endif %}

        {% if field == 'copyright' %}
            <td headers="th-copyright">
               {{ mm.copyright }}
            </td>
        {% endif %}

        {% if field == 'license' %}
            <td headers="th-license">
               {{ mm.license }}
            </td>
        {% endif %}

        {% if field == 'record_date' %}
            <td headers="th-rec-date" class="text-nowrap" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                {{ mm.getRecordDate()|date('d-m-Y') }}
            </td>
        {% endif %}

        {% if field == 'public_date' %}
            <td headers="th-pub-date" class="text-nowrap" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                {{ mm.getPublicDate()|date('d-m-Y') }}
            </td>
        {% endif %}

        {% if field == 'tracks.name' %}
            <td headers="th-tracks-name">
                track name
            </td>
        {% endif %}

        {% if field == 'numerical_id' %}
            <td headers="th-numerical-id">
                {{ mm.numerical_id }}
            </td>
        {% endif %}

        {% if field == 'series.numerical_id' %}
            <td headers="th-series-numerical-id">
                {{ mm.series.numerical_id }}
            </td>
        {% endif %}

        {% if field == 'type' %}
            <td headers="th-video" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                {% if mm.isOnlyAudio() %}
                    <i class="mdi-image-audiotrack" title="{% trans %}Audio{% endtrans %}"></i>
                {% else %}
                    <i class="mdi-image-audiotrack" title="{% trans %}Audio{% endtrans %}"></i>
                    <i class="mdi-av-videocam" title="{% trans %}Video{% endtrans %}"></i>
                {% endif %}
            </td>
        {% endif %}

        {% if field == 'duration' %}
            <td headers="th-duration" class="text-nowrap" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                {{ mm.getRealDuration()| duration_string }}
                {% if mm.getProperty('soft-editing-duration') %}
                    <i class="mdi-content-content-cut" data-toggle="tooltip" data-placement="left" title="{{ mmobj_duration(mm) | duration_string }}"></i>
                {% endif %}
            </td>
        {% endif %}

        {% if field == 'year' %}
            <td headers="th-year">
                year
            </td>
        {% endif %}

        {% if field == 'embedded-broadcast' %}
            <td id="th-embedded-broadcast">
                {{ mm.embeddedBroadcast.getName()|trans }}
            </td>
        {% endif %}

        {% if field == 'status' %}
            <td headers="th-status">
                {{ mm.getStatus() }}
            </td>
        {% endif %}

        {% if field == 'group' %}
            <td headers="th-group">
                {{ mm.getGroups()|join(",") }}
            </td>
        {% endif %}


        {% if field == 'criteria' %}
            <td headers="th-group">
                Criteria
            </td>
        {% endif %}

        {% if 'role.' in field %}
            <td headers="th-role">
                Role
            </td>
        {% endif %}

        {% if field == 'pics' %}
            <td headers="th-img" onclick="{{ click_edit }}" ondblclick="{{ double_click_item }}">
                {% include "PumukitNewAdminBundle:Misc:img_list.html.twig" with {'object' : mm, 'type' : 'mm'} %}
            </td>
        {% endif %}#}

    {% endfor %}
</tr>