<div class="table-responsive well" style="overflow:visible;">
    <div class="collapse" id="collapseCustomFields">
        {{ render(controller('PumukitNewAdminBundle:UNESCO:customFields')) }}
    </div>
    <table class="table table-striped table-hover">
        <thead>
            {% include "PumukitNewAdminBundle:UNESCO:listth.html.twig" %}
        </thead>

        <tbody>
        {% for mm in mms %}
            {% include "PumukitNewAdminBundle:UNESCO:listbody.html.twig" %}
        {% else %}
            <tr>
                <td colspan="13" headers="th-checkbox th-icons th-icons th-icons th-video th-img th-series th-title th-duration th-rec-date th-pub-date">
                    {% trans %}There are no multimedia objects with those values.{% endtrans %}
                </td>
            </tr>
        {% endfor %}

        {% if 0 == mms|length %}
            {% set range = 1..9 %}
        {% elseif (mms|length - (mms.getMaxPerPage() * (mms.getCurrentPage() - 1))) < (mms.maxPerPage) %}
            {% set range = (mms|length - (mms.getMaxPerPage() * (mms.getCurrentPage() - 1)))..(mms.maxPerPage-1) %}
        {% else %}
            {% set range = [] %}
        {% endif %}

        {% for i in range %}
            <tr>
                <td colspan="10">&nbsp;</td>
                {% if not is_naked() %}
                    <td>&nbsp;</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="13" class="foot-td">
                <div class="row">
                    <div class="col-md-6">
                        <span class="nbResults">{{ mms.getNbResults }}</span> {% trans %}Mm. Obj.{% endtrans %}
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="pagerfanta">
                            {{ pagerfanta(mms, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;",
                                "routeName": "pumukitnewadmin_unesco_index"}) }}
                            {% if not is_naked() %}
                            <input title="{% trans %}Go to page{% endtrans %}" type="number"
                                   style="width: 25px;text-align:center;cursor:pointer;"
                                   value="{{ mms.getCurrentPage() }}"
                                   onchange="window.location.search = '?page=' + this.value; return false;" />


                                <select onchange="javascript: window.location.href = '{{ path('pumukitnewadmin_unesco_index') }}' + '?page=1&paginate=' + this.value" aria-label="{% trans %}Select the number of multimedia objects to display per page.{% endtrans %}">
                                    <option {% if mms.maxPerPage == 10 %}selected{% endif %} value="10">10</option>
                                    <option {% if mms.maxPerPage == 20 %}selected{% endif %} value="20">20</option>
                                    <option {% if mms.maxPerPage == 50 %}selected{% endif %} value="50">50</option>
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <select id="options_mms" class="form-control" title="{% trans %}Actions on selected items{% endtrans %}">
                            <option value="default" selected="selected">{% trans %}Select an action{% endtrans %}...</option>
                            <option disabled="">---</option>
                            <option value="delete_selected">{% trans %}Delete selected{% endtrans %}</option>

                            {% if not is_naked() %}
                                <option {% if disable_pudenew %}disabled=""{% endif %} value="invert_announce_selected">{% trans %}Announce/Not announce selected{% endtrans %}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">

    function getAllDnDChecked(item, event) {
        var data = [];
        var i = 0;
        $("input.mm_checkbox:checkbox:checked").each(function() {
             data.push($(this).data('id'));
             i = i + 1;
        });

        var dragIcon = document.createElement('img');
        dragIcon.src = document.getElementById('dnd_image_' + i).src;
        dragIcon.width = 35;
        event.dataTransfer.setDragImage(dragIcon, 0, 0);
        event.dataTransfer.setData('data', data);
    }

    function dragEndCheckbox(item, event) {
        $('.draggableTag').css('background-color','transparent');
        item.style.opacity = '';
    }

   $('#options_mms').on('change', function(event) {
        event.preventDefault();
        var mmobjs = [];
        $("input.mm_checkbox:checkbox:checked").each(function() {
            mmobjs.push($(this).data('id'));
        });

        var option = $( "#options_mms option:selected" ).val();
        if (confirm('{% trans %} Are you sure? {% endtrans %}')) {
            var url = "{{ path('pumukitnewadmin_unesco_options_list', {'option': '__option__'}) }}";
            var url = url.replace('__option__', option);
            $.ajax({
                url: url,
                type: 'POST',
                data: {'data': mmobjs},
                success: function (response) {
                    location.reload();
                }
            });
        }
   });

    $('.sort_unesco').on('click',function(event){
        event.preventDefault();

        var sort = $('#pumukitnewadmin_unesco_sort_change_type').val();
        var type = $(this).data('id');
        $.ajax({
            url: '{{ path('pumukitnewadmin_unesco_addcriteria') }}',
            method: 'POST',
            data: {'sort' : sort, 'sort_type': type},
            success: function (response) {
                $('#list_mms').load("{{ path('pumukitnewadmin_unesco_list') }}", function() {
                if($('tr.success input.mm_checkbox').length > 0) {
                    var id = $('tr.success input.mm_checkbox').data('id');
                    var path = "{{ path('pumukit_new_admin_unesco_edit', {'id' : '__ID__'}) }}";
                    path = path.replace('__ID__', id);
                    $('#edit_mms').load(path);

                    var url = "{{ path('pumukitnewadmin_unesco_show', {'id' : '__ID__'}) }}";
                    url = url.replace('__ID__', id);
                    $('#preview_mms').load(url);
                } else {
                    $('#edit_mms').html('');
                    $('#preview_mms').load("{{ path('pumukitnewadmin_unesco_show') }}");
                }});
            },
            error: function (response) {
                alert('error');
            }
        });
        return false;

    })

</script>
