{% set sort = false %}
{% if app.session.get('admin/unesco/element_sort') is not null and app.session.get('admin/unesco/element_sort') is not empty %}
    {% set sort = true %}
{% endif %}

{% set icon = app.session.get('admin/unesco/type')=='asc'?'&#x25B4;':app.session.get('admin/unesco/type')=='desc'?'&#x25BE;':'' %}

{% set selected_fields = app.request.getSession().get('admin/unesco/selected_fields') %}
{% set custom_fields = all_custom_fields() %}

<tr>
    <th width="1%" id="th-checkbox">
        <div class="checkbox pumukit-mms-checkbox">
            <label>
                <input type="checkbox" onclick="window.click_checkbox_all('mm', this.checked)">
            </label>
        </div>
    </th>
    <th id="th-icons" colspan="{{ is_naked() ? 2 : 3 }}" width="5%"></th>
    {% for key, field in selected_fields %}
        <th id="th-{{ loop.index }}">
            {% if custom_fields[field]['render_params']['sort'] %}
                <a href="#" class="sort_unesco" data-id="{{ field }}">
                    {{ custom_fields[field]['label'] }}
                    {% if sort and field == app.session.get('admin/unesco/element_sort') %}
                        {{ icon|raw }}
                    {% endif %}
                </a>
            {% else %}
                {{  custom_fields[field]['label'] }}
            {% endif %}
        </th>
    {% endfor %}

    <input type="hidden" name="unesco_short_type" id="pumukitnewadmin_unesco_sort_change_type" value="{{ app.session.get('admin/unesco/type')=='desc'?'asc': app.session.get('admin/unesco/type')=='asc'?'score' : 'desc' }}"/>

</tr>
