<style type="text/css">
    .list_unesco.over {
        border: 2px dashed #000;
    }
</style>

<div class="well">
    {% if mm is defined and mm is not null %}
        <p>
            {% trans %}Is part of {% endtrans %}:
            <a target="_blank" href="{{ url('pumukitnewadmin_mms_index', {id: mm.series.id}) }}"> {{ mm.series.title }} </a>.
        </p>
        <p>
            {% if mm.getStatus() == 0 and mm.containsTagWithCod('PUCHWEBTV') and mm.getDisplayTrack() %}
                <a target="_blank" href="{{ url('pumukit_webtv_multimediaobject_index', {id: mm.id}) }}">
                    {% trans %}Show video on WebTV{% endtrans %}.
                </a>.
            {% elseif mm.getStatus == 2 and mm.containsTagWithCod('PUCHWEBTV') and mm.getDisplayTrack() %}
                <a target="_blank" href="{{ url('pumukit_webtv_multimediaobject_magicindex', {secret: mm.getSecret() }) }}">
                    {% trans %}Show video on WebTV{% endtrans %}.
                </a>.
            {% endif %}
        </p>

        <div>
            {% include '@PumukitNewAdmin/MultimediaObject/showplayer.html.twig' %}
        </div>

        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title-preview panel-title">Tags {{ configuredTag.getTitle()|upper }}</h3>
                </div>
                <div class="panel-body-preview panel-body">
                    <div id="list_unesco" draggable="false" onDrop="dropItem(this, event)" onDragEnter="return false" onDragOver="return false">
                        {% for mtag in mm.tags if mtag.isDescendantOfByCod(configuredTag.getCod()) %}
                            <div id="taglist_{{ mtag.getCod() }}" class="unesco_tags" draggable="false">
                                <span class="label label-default">{{ mtag.title }} |
                                    <a href="#" data-cod="{{ mtag.getCod() }}" data-href="{{ path('pumukitnewadmin_unesco_delete_tag', {'tagCod': mtag.getCod(), "multimediaObjectId": mm.getId() }) }}" class="delete_tag_unesco">
                                        <i class="mdi-content-clear"></i>
                                    </a>
                                </span>
                            </div>
                        {% else %}
                            <div class="unesco_tags" draggable="true">
                                {% trans %}No tags{% endtrans %}.
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title-preview panel-title">{% trans %}People{% endtrans %}</h3>
                </div>
                <div class="panel-body-preview panel-body">
                    <ul class="list-unstyled">
                        {% for role in mm.getRoles() if role.getDisplay() %}
                            {% set actors = mm.getPeopleByRole(role, true) %}
                            {% if actors|length != 0 %}
                                <li><u>{{ role.name }}</u></li>
                                <ul>
                                    {% for act in actors %}
                                        <li>
                                            {{ role.getText() }}
                                            {% if act.getWeb() is not empty %}
                                                <a target="_black" title="{{ act.getHName() }}" href="{{ act.getWeb() }}">{{ act.getHName() }}</a>
                                            {% else %}
                                                <span title="{{ act.getHName() }}">{{ act.getHName() }}</span>
                                            {% endif %}
                                            <small>{{ act.getInfo() }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% else %}
                            <span>{% trans %}No people.{% endtrans %}</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    {% else %}
        <p>{% trans %}Select any multimedia object.{% endtrans %}</p>
    {% endif %}
</div>

<script type="text/javascript">

    function dropItem(item, e) {
        var cod = e.dataTransfer.getData('cod');
        if($('#taglist_' + cod).length == 0) {
            updateMultimediaObject(cod);
        }
    }

    $('.delete_tag_unesco').on('click',function(event) {
        event.preventDefault();
        var cod = $(this).data('cod');
        $.ajax({
            url: $(this).data('href'),
            type: 'GET',
            success: function (response) {

                if(response.error) {
                    no_success(response.error);
                } else {
                    var mmoid = "{% if app.session.has('admin/unesco/id') %}{{ app.session.get('admin/unesco/id') }}{% else %}__MMO__{% endif %}";
                    var edit = "{{ url('pumukit_new_admin_unesco_edit', {'id': "__MMO__" }) }}";
                    var edit = edit.replace("__MMO__", mmoid);

                    var preview = "{{ path('pumukitnewadmin_unesco_show', {'id': "__MMO__" }) }}";
                    var preview = preview.replace("__MMO__", mmoid);

                    $('#edit_mms').load(edit);
                    count = $('#count_tag_' + cod).text();
                    count = parseInt(count) - 1;
                    $('#count_tag_' + cod).text(count);
                    $('#preview_mms').load(preview);
                    var message = '{% trans %}Saved{% endtrans %}';
                    success(message);
                }
            }
        });
        return false;
    });

    function updateMultimediaObject(cod) {
        var path = "{{ path('pumukitnewadmin_unesco_add_tag', {'tagCod': "__COD__", "multimediaObjectId": "__MMO__" }) }}";
        var path = path.replace("__COD__", cod);
        var path = path.replace("__MMO__", "{{ app.session.get('admin/unesco/id') }}");
        $.ajax({
            url: path,
            type: 'GET',
            error: function (request, json) {
                var message = '{% trans %}Saving error{% endtrans %}';
                no_success(message);
            },
            success: function (response) {
                var mmoid = "{% if app.session.has('admin/unesco/id') %}{{ app.session.get('admin/unesco/id') }}{% else %}__MMO__{% endif %}";
                var edit = "{{ url('pumukit_new_admin_unesco_edit', {'id': "__MMO__" })  }}";
                var edit = edit.replace("__MMO__", mmoid);

                var preview = "{{ path('pumukitnewadmin_unesco_show', {'id': "__MMO__" }) }}";
                var preview = preview.replace("__MMO__", mmoid);

                $('#edit_mms').load(edit);
                $('#preview_mms').load(preview);
                count = $('#count_tag_' + cod).text();
                count = parseInt(count) + 1;
                $('#count_tag_' + cod).text(count);
                var message = '{% trans %}Saved{% endtrans %}';
                success(message);
            }
        });
        return false;
    }

</script>
