{% form_theme form_meta '@PumukitNewAdmin/Themes/fields.html.twig' %}

<div id="tv_admin_container_meta" class="well">

    <form id="pumukitnewadmin_unesco_updatemeta_form"  action="" method="POST">

        <input type="hidden" name="id" id="mm_id_meta" value="{{ mm.id }}">
        <input type="hidden" name="series_id" id="series_id_updatemeta" value="{{ mm.series.id }}">

        <div class="row">
            <div class="col-xs-6">
                <span id="remember_save_mm" class="alert alert-dismissable alert-danger" style="display:none;vertical-align:middle;">{% trans %}
                    Press OK for changes to take effect{% endtrans %}</span> &nbsp;
            </div>

            <div class="col-xs-6 text-right">
                <button id="pumukitnewadmin_mms_updatemeta_cancel_unesco" type="button" class="btn btn-default btn-raised">{% trans %}
                    Cancel{% endtrans %}</button>
                <button type="submit" class="btn btn-pumukit btn-raised">{% trans %}OK{% endtrans %}</button>
            </div>
        </div>

        <fieldset>
            <legend hidden>{% trans %}Update metadata{% endtrans %}</legend>
            <div class="col-lg-7">

                {% for child in form_meta %}
                    {{ form_row(child) }}
                {% endfor %}

            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">

    $(function () {
        window.init_mmobj_materialtags();
    });

    $('#pumukitnewadmin_unesco_updatemeta_form').on('submit',function(event) {
        event.preventDefault();
        $('#remember_save_mm').hide();

        var publicDateVal = $('#pumukitnewadmin_mms_meta_public_date').val();
        var recordDateVal = $('#pumukitnewadmin_mms_meta_record_date').val();

        var publicDate = new Date(publicDateVal);
        var recordDate = new Date(recordDateVal);

        if (publicDate.getTime() < recordDate.getTime()){
            var message = '{{ "Multimedia Object saved ERROR: Publication Date can not be lower than Recording Date."|trans|e("js") }}';
            no_success(message);
            return false;
        }

        var route = '{{ path('pumukitnewadmin_mms_update_meta', {'id': '__mmId__'}) }}';
        var mmId = $('#mm_id_meta').val();
        route = route.replace('__mmId__', mmId);

        $.ajax({
            url: route,
            type: 'POST',
            data: $(this).serialize(),
            error: function(request, json){var message = '{{ "Multimedia Object saved ERROR"|trans|e("js") }}'; no_success(message);},
            success: function(response){
                $('#list_mms').load("{{ path('pumukitnewadmin_unesco_list') }}");
                $('#preview_mms').load("{{ path('pumukitnewadmin_unesco_show', {'id' :mm.id }) }}");
                $('#inputMMTitle').val($('#pumukitnewadmin_mms_meta_i18n_title_{{ app.request.getLocale() }}').val());
                var message = '{{ "Multimedia Object saved OK"|trans|e("js") }}';
                success(message);
            }
        });

        return false;
    });

</script>
