<style>
    .uppy-StatusBar-progress {
        background-color: {{ inbox_progress_bar_color() }} !important;
    }
</style>

<div class="form-group" id="pumukit_file_input">
    <label for="url" class="control-label">{{ "Audio/video file"|trans }}:
        <span style="color: red">
            ({{ "Max."|trans }} {{ php_upload_max_filesize() }})
        </span>
    </label>
    <div class="UppyForm">
        <h5>{{ "There was an error loading uppy plugin" |trans }}</h5>
        <input id="input-file" type="file" name="resource[]">
    </div>
    <div class="grid">
        <div class="column-full">
            <div class="UppyInput"></div>
            <div class="UppyInput-Progress"></div>
        </div>
    </div>
    <div class="file-data" style="display:none;">
        <p><b>{{ "File to upload"|trans }}:</b></p>
        <span class="label label-default file-title"></span>
        <span class="label label-primary file-size"></span>
        <a href="#" id="uppy-remove-file" class="file-id uppy-remove-file" style="margin-left:10px;">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
</div>
