<div id="chatDiv" style="margin:2px;">
  {% for message in messages %}
  <div class="chatTime" style="background-color:#{{ loop.index is odd ? 'FFFFFF' : 'F6F6F6' }}">{{ message.insertDate|date('d-m-Y H:i') }}</div>
  <div class="chatText" style="background-color:#{{ loop.index is odd ? 'FFFFFF' : 'F6F6F6' }}; word-wrap: break-word;"><strong>{{ message.author }}:</strong> {{ message.message }}</div>
  {% endfor %}
</div>
<div id="chat-list-error" class="chat-list-error"></div>
