<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" 
     xmlns:media="http://search.yahoo.com/mrss/" 
     xmlns:g="http://base.google.com/ns/1.0" 
     xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" 
     xmlns:arca="http://arca.uc3m.es/">
  
  <channel>
 	<title>{{ pumukit2_info['title'] }}</title> 
 	<description>{{ pumukit2_info['description'] }}</description>
 	<link>{{ app.request.getSchemeAndHttpHost() }}</link>
 	<copyright>{{ pumukit2_info['title'] }}</copyright>
 	<managingEditor>{{ pumukit2_info['email'] }}</managingEditor>
 	<webMaster>{{ pumukit2_info['email'] }}</webMaster>
 	<category domain="categoria_canal">universidad</category>
 	<docs>http://arca.rediris.es/doc.php</docs>
 	<generator>PuMukIT V2</generator>
 	<ttl>1440</ttl>
 	<language>es</language>
 	<image>
  	  <url>{{ absolute_url(pumukit2_info['logo']) }}</url>
  	  <link>{{ app.request.getSchemeAndHttpHost() }}</link>
  	  <title>{{ pumukit2_info['title'] }}</title>
 	</image>

    {% for multimediaObject in multimediaObjects %}

    <item>
      <arca:course>
        <arca:title>{{ multimediaObject.getSeries().getTitle() }}</arca:title>
	   	<arca:description>{{ multimediaObject.getSeries().getDescription() }}</arca:description>
        <arca:image>{{ multimediaObject.getSeries()|first_url_pic(true) }}</arca:image>
        <arca:order>{{ multimediaObject.getRank() }}</arca:order>
      </arca:course>

      <title>{{ multimediaObject.getTitle() }}</title>
      <link>{{ url('pumukit_webtv_multimediaobject_index', {id: multimediaObject.id}) }}</link>
      <description> {{ multimediaObject.getDescription() }} </description>
      <pubDate> {{ multimediaObject.getPublicDate()|date("r") }} </pubDate>
      <g:publish_date> {{ multimediaObject.getPublicDate()|date("Y-m-d") }} </g:publish_date>
      <author>{{ multimediaObject.getCopyright() }}</author>
      
      <source url="{{ app.request.getSchemeAndHttpHost() }}">{{ pumukit2_info['title'] }}</source> 
      <media:thumbnail url="{{ multimediaObject|first_url_pic(true) }}" height="{{ multimediaObject.getPic().getHeight()|default(82) }}" width="{{ multimediaObject.getPic().getWidth()|default(100) }}" /> 
      <media:copyright>{{ multimediaObject.getCopyright() }}</media:copyright>
      <guid isPermaLink="true">{{ url('pumukit_webtv_multimediaobject_index', {id: multimediaObject.id}) }}</guid>
      
      {# Persons #}
      {% for role in multimediaObject.getRoles() if role.getDisplay() %}
        {% for person in multimediaObject.getPeopleByRole(role) %}
          <media:credit role="{{ role.getXml }}">{{ person.getHName() }}</media:credit>
        {% endfor %}
      {% endfor %}
      
      {# Tags #}
      {% for tag in multimediaObject.getTags() if tag.getDisplay() and not tag.getMetatag()  %}
      <category domain="{{ tag.getCod() }}">{{ tag.getTitle() }}</category>
      {% endfor %}
      
      {# Tracks #}
      {% set tracks = multimediaObject.getTracksWithTag("display") %}
      {% set materials = multimediaObject.getMaterialsWithTag("display") %}
      {% if tracks|length + materials|length > 1 %}
        <media:group>
      {% endif %}
      {% for track in tracks %}
      <media:content url="{{ track.getUrl() }}" 
                     type="{{ track.getMimeType() }}" 
                     medium="{{ track.getOnlyAudio() ? 'audio' : 'video' }}" 
                     isDefault="true" 
                     expression="full" 
                     framerate="{{ track.getFramerate() }}" 
                     channels="{{ track.getChannels() }}" 
                     duration="{{ track.getDuration() }}" 
                     height="{{ track.getHeight() }}" 
                     width="{{ track.getWidth() }}" 
                     lang="{{ track.getLanguage()|lower }}" />
      {% endfor %}
      {% for material in materials %}
      <media:content url="{{ material.getUrl() }}" 
                     type="{{ material.getMimeType() }}" 
                     medium="document" 
                     isDefault="true" 
                     expression="full" 
                     lang="{{ material.getLanguage()|lower }}" />
      {% endfor %}
      {% if tracks|length + materials|length > 1 %}
        </media:group>
      {% endif %}
    </item>
    
    {% endfor %}

  </channel>
</rss>
