<form id="form_buscador" name="busqueda" method="get" action="{{ path('pumukit_responsive_webtv_search_series') }}" class="row">
  <input type="submit" style="display:none"/>
  <div class="form-group col-md-4">
    <label for="search">{% trans %}Search{% endtrans %}:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="search" name="search" value="{{ app.request.query.get('search') }}" placeholder="Search">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label for="start">{% trans %}Start date{% endtrans %}:</label>
    <div class="input-group date" id='start'>
      <input type='text' class="form-control" name="start" value="{{ app.request.query.get('start') }}" placeholder="From" onblur="javascript:this.form.submit();"/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </span>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label for="end">{% trans %}Finish date{% endtrans %}:</label>
    <div class="input-group date" id="end">
      <input type="text" class="form-control" name="end" value="{{ app.request.query.get('end') }}" placeholder="Until" onblur="javascript:this.form.submit();"/>
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="form-group col-md-2">
    <label for="reset">{% trans %}Reset filters{% endtrans %}:</label>
    <input type="button" class="btn btn-default form-control" id="exampleInputEmail1" placeholder="Email" value="{% trans %}Reset filters{% endtrans %}"
           onclick="window.location.href=window.location.pathname">
  </div>

<script type="text/javascript">
  $(function() {
    $( "#start" ).datetimepicker({viewMode: 'years', format: 'DD/MM/YYYY'});
    $( "#end" ).datetimepicker({viewMode: 'years', format: 'DD/MM/YYYY'});
  });
</script>

</form>
<div>
  <a href="{{ path('pumukit_responsive_webtv_search_multimediaobjects') }}">
    Search by multimedia objects
  </a>
</div>
