<table cellspacing="0" class="tv_admin_list">
  <thead>
    <tr>
      <th width="1%">
        <input type="checkbox" onclick="window.click_checkbox_all('direct', this.checked)">
      </th>
      <th colspan="3" width="5%"></th>
      <th width="1%">{% trans %}Id{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}URL{% endtrans %}</th>
      <th width="1%">{% trans %}Resolution{% endtrans %}</th>
      <th width="8%">{% trans %}Type{% endtrans %}</th>
    </tr>
  </thead>
  
  <tbody>
  {% if directs|length == 0 %}
    <tr class="tv_admin_row_1">
      <td colspan="9" >
       {% trans %}There are no live channels with those values.{% endtrans %}
      </td>
    </tr>
  {% else %}
    {% for direct in directs %}
      <tr onmouseover="Element.addClassName(this,'tv_admin_row_over')" onmouseout="Element.removeClassName(this,'tv_admin_row_over')" class="tv_admin_row_{{ loop.index % 2 }} {{  direct.id == app.session.get('admin/direct/id')?'tv_admin_row_this':'' }}" >
        <td>
          <input id="{{ direct.id }}" class="direct_checkbox" type="checkbox">
        </td>
        <td onclick="click_fila_url('direct', this, '{{ path('pumukitadmin_direct_show', {'id': direct.id}) }}');">
    	<a title="{% trans %}Edit live channel {% endtrans %}{{ direct.id }}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_direct_update', {'id': direct.id}) }}"><img alt="{% trans %}edit{% endtrans %}" title="{% trans %}edit{% endtrans %}" src="/legacy/images/admin/mbuttons/edit_inline.gif"></a>    
        </td>
        <td>
          <form action="{{ path('pumukitadmin_direct_delete', {'id': direct.id}) }}" method="post" class="delete-action-form" novalidate="" onsubmit="return window.confirm('{% trans %}Are you sure you want to delete this channel?{% endtrans %}')">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="confirmed" value="true">
              <button type="submit" class="tv_admin_row_post">
                  <img alt="{% trans %}delete{% endtrans %}" title="{% trans %}delete{% endtrans %}" src="/legacy/images/admin/mbuttons/delete_inline.gif">
              </button>
          </form>
        </td>
        <td>
          <form action="{{ path('pumukitadmin_direct_copy', {'id': direct.id}) }}" method="post" class="delete-action-form" novalidate="">
              <button type="submit" class="tv_admin_row_post">
		<img alt="{% trans %}clone{% endtrans %}" title="{% trans %}clone{% endtrans %}" src="/legacy/images/admin/mbuttons/copy_inline.gif">
	      </button>
	  </form>
        </td>
        <td onclick="click_fila_url('direct', this, '{{ path('pumukitadmin_direct_show', {'id': direct.id}) }}');">
          {{ direct.id }}
        </td>
        <td onclick="click_fila_url('direct', this, '{{ path('pumukitadmin_direct_show', {'id': direct.id}) }}');">
	  {{ direct.name }}
        </td>
        <td onclick="click_fila_url('direct', this, '{{ path('pumukitadmin_direct_show', {'id': direct.id}) }}');">
	  {{ direct.url }}
        </td>
        <td onclick="click_fila_url('direct', this, '{{ path('pumukitadmin_direct_show', {'id': direct.id}) }}');">
	  {{ direct.getWidth }}x{{ direct.getHeight }}
        </td>
        <td onclick="click_fila_url('direct', this, '{{ path('pumukitadmin_direct_show', {'id': direct.id}) }}');">
	  {{ direct.getDirectType }}
        </td>
      </tr>
    {% endfor %}
  {% endif %}

  </tbody>
  <tfoot>
    <tr>
      <th colspan="9">
        <div class="float-right">
          {{ include('PumukitAdminBundle:Macros:pager_ajax.html.twig', {'name': 'direct', 'page': directs.getCurrentPage, 'total':directs.getNbPages}) }}
        </div>
        {{ directs.getNbResults }} 
        {% transchoice directs.getNbResults %}
	      {0} channels|{1} channel|]1,Inf] channels
	{% endtranschoice %}
	{% if app.session.get('admin/direct/criteria')|length != 0%}
          <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
	{% endif %}
      </th>
    </tr>
  </tfoot>
</table>

{# TODO
<?php if (isset($msg_alert)) echo m_msg_alert($msg_alert) ?>
#}
