<div id="tv_admin_container">
 
<form onsubmit="new Ajax.Updater('list_directs', '{{ path('pumukitadmin_direct_update') }}', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;" action="{{ path('pumukitadmin_direct_update') }}" method="post">

<input type="hidden" name="id" id="id" value="{{ direct.id }}">

<fieldset>
<div class="form-row">
  <label for="name" class="required">{% trans %}Nombre{% endtrans %}:</label>
  <div class="content">
    {% set sep = '' %}
    {% for lang in langs %}
      {% direct.setLocale(lang) %}
      {{ sep }}
      {% set value = '<input type="text" name="name_{{ lang }}" id="name_{{ lang }}" value="{{ direct.getName(lang) }}" size="68" class="MB_focusable">' %}
      {% if value %}
        {{ value }}<span class="lang">{{ lang }}</span>
      {% else %}
        &nbsp;
      {% endif %}								  
      {% set sep = '<br /><br />' %}
   {% endfor %}
  </div>
</div>

<div class="form-row">
  <label for="description" class="required">{% trans %}Descripci&oacute;n{% endtrans %}:</label>
  <div class="content">
    {% set sep = '' %}
    {% for lang in langs %}
      {% direct.setLocale(lang) %}
      {{ sep }}
      {% set value = '<textarea name="description_{{ lang }}" id="description_{{ lang }}" rows="3" cols="68" class="MB_focusable">{{ direct.getDescription(lang) }}</textarea>' %}
      {% if value %}
        {{ value }}<span class="lang">{{ lang }}</span>
      {% else %}
        &nbsp;
      {% endif %}								  
      {% set sep = '<br /><br />' %}
   {% endfor %}
  </div>
</div>

<div class="form-row">
  <label for="broadcasting" class="required">{% trans %}Estado{% endtrans %}:</label>
  <div class="content">
    <select name="broadcasting" id="status" >
      <option {% if not direct.getBroadcasting %} selected="selected" {% endif %} value="false">{% trans %}Espera{% endtrans %}</option>
      <option {% if direct.getBroadcasting %} selected="selected" {% endif %} value="true">{% trans %}Emitiendo en Directo{% endtrans %}</option>
    </select>
  </div>
</div>

<div class="form-row">
  <label for="homeplayer" class="required">{% trans %}Homeplayer:{% endtrans %}</label>
  <div class="content">
      <input type="checkbox" name="homeplayer" value="homeplayer" {% if direct.getIndexPlay %} "checked" {% endif %}>
  </div>
</div>


<div class="form-row">
  <label for="url" class="required">URL:</label>
  <div class="content">
    {% set value = '<input type="text" name="url" id="url" value="{{ direct.url }}" size="68" class="MB_focusable">' %}
    {% if value %}
      {{ value }}
    {% else %}
      &nbsp;
    {% endif %}
    <span id="error_url" style="display:none" class="error">{% trans %}Formato URL no v&aacute;lido{% endtrans %}</span>
  </div>
</div>


<div class="form-row">
  <label for="passwd" class="required">{% trans %}Password{% endtrans %}:</label>
  <div class="content">
    {% set value = '<input type="text" name="passwd" id="passwd" value="{{ direct.getPasswd }}" size="15" class="MB_focusable">' %}
    {% if value %}
      {{ value }}
    {% else %}
      &nbsp;
    {% endif %}
    <span>{% trans %}Vac&iacute;o para ser p&uacute;blico{% endtrans %}</span>
  </div>
</div>


<div class="form-row">
  <label for="resolution_id" class="required">{% trans %}Resoluci&oacute;n{% trans %}</label>
  <div class="content">
    
    {% set value = '<select name="resolution_id" id="resolution_id" class="MB_focusable"><option value="1" selected="selected">320x230</option>
      <option value="2">480x360</option>
      <option value="3">720x576</option>
      <option value="4">1280x768</option>
      <option value="5">1280x1024</option>
    </select>' %}
    {# TODO Resoluciones por ancho y alto
    <?php $value = object_select_tag($direct, 'getResolutionId', array (
      'related_class' => 'Resolution',
      'control_name' => 'resolution_id',
      'include_blank' => false,
    )); #}

    {% if value %}
      {{ value }}
    {% else %}
      &nbsp;
    {% endif %}
  </div>
</div>

<div class="form-row">
  <label for="mime_type_id" class="required">{% trans %}Tecnolog&iacute;a{% endtrans %}:</label>
  <div class="content">
    {% set value = '<select name="direct_type_id" id="direct_type_id" class="MB_focusable">
      <option value="{{ direct.DIRECT_TYPE_WMS }}" {% if direct.getDirectTypeId = direct.DIRECT_TYPE_WMS %}selected="selected"{% endif %}>WMS</option>
      <option value="{{ direct.DIRECT_TYPE_FMS }}" {% if direct.getDirectTypeId = direct.DIRECT_TYPE_FMS %}selected="selected"{% endif %}>FMS</option>
    </select>' %}
    {% if value %}
      {{ value }}
    {% else %}
      &nbsp;
    {% endif %}
  </div>
</div>

<div class="form-row">
  <label for="source_name" class="required">{% trans %}STREAM{% endtrans %}:</label>
  <div class="content">
    {% set value = '<input type="text" name="source_name" id="source_name" value="{{ direct.getSourceName }}" size="20" class="MB_focusable">' %}
    {% if value %}
      {{ value }}
    {% else %}
      &nbsp;
    {% endif %}
  </div>
</div>

<div class="form-row">
  <label for="ip_source" class="required">{% trans %}IP fuente{% endtrans %}:</label>
  <div class="content">
    {% set value = '<input type="text" name="ip_source" id="ip_source" value="{{ direct.getIpSource }}" size="20" class="MB_focusable">' %}
    {% if value %}
      {{ value }}
    {% else %}
      &nbsp;
    {% endif %}
    <div class="tooltip"> i <div> * {% trans %}para indicar cualquiera{% endtrans %}</div></div>
  </div>
</div>


<div class="form-row">
  <label for="calidades" class="required">{% trans %}Calidades{% endtrans %}:</label>
  <div class="content">
    {% for i in 0..2 %}
      {{ i + 1 }}"."
      {% set value = '<input type="text" name="ip_source" id="ip_source" value="{{ direct.getQualities }}" size="20" class="MB_focusable">' %}
      {% if value %}
        {{ value }}
      {% else %}
        &nbsp;
      {% endif %}
      {# TODO
      <input style="margin-top: 5px;" type="text" size="6" value="<?php echo isset($multi[$i])? $multi[$i] : "";  ?>" id="calidad_<?php echo $i ?>" name="calidad['<?php echo $i ?>']" class="MB_focusable"> kbps &nbsp;
      <input style="margin-top: 5px;" type="text" size="6" value="<?php echo isset($multi[$i+3])? $multi[$i+3] : ""; ?>" id="res_<?php echo $i ?>" name="resolutions['<?php echo ($i+3); ?>']" class="MB_focusable"> 
      #}
      {% trans %}píxels{% endtrans %} &nbsp;&nbsp;
<br />
    {% endfor %}
  </div>
</div>


<div class="form-row">
  <label for="debug" class="required">{% trans %}Debug{% endtrans %}:</label>
  <div class="content">
      <input type="checkbox" name="debug" value="debug" {% if direct.getDebug %} "checked" {% endif %}>
  </div>
</div>


</fieldset>

<ul class="tv_admin_actions">
  <li><input type="submit" name="OK" value="{% trans %}OK{% endtrans %}" class="tv_admin_action_save MB_focusable" onclick="return comprobar_form_direct($('url').value)"></li>
  <li><input class="tv_admin_action_delete MB_focusable" onclick="Modalbox.hide(); return false;" type="button" value="{% trans %}Cancel{% endtrans %}"></li>
</ul>

</form>
</div>
