<!--Share multimedia object in facebook, google+ and twitter-->
<div class="share_mmobj">
  <div class="mms-label">
    {% trans %} Share this video: {% endtrans %} 
  </div>
  <div> 
    <div style="width: 84px; height: 19px; float: left;">
      <!--Añadir url del objeto multimedia a compartir-->
      <a onclick="return Popup.open({url:this.href});" href="http://www.facebook.com/sharer.php?u=" title="Compartir en Facebook" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/compartir_facebook.jpg')}}"></a>
    </div>
    <div style="width: 38px; height: 19px; float: left;">
      <a onclick="return Popup.open({url:this.href});" href="https://plus.google.com/share?url=" title="Compartir en Google +" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/gplus_button.png')}}"></a>
    </div>
    <div style="width: 58px; height: 19px; float: left;">
      <a onclick="return Popup.open({url:this.href});" href="https://twitter.com/intent/tweet?text=" title="Compartir en Twitter" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/twit_button.png')}}"></a>
    </div>
  </div>
<div class="share_url_wrapper">
  <div class="share_url">   
    <span>{% trans %} URL: {% endtrans %}</span>
    <input type="text" value="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}" 
            onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" readonly="readonly"/>
  </div>
  <div class="share_url">   
    <span>{% trans %} IFRAME: {% endtrans %}</span>
    <input type="text" value="<iframe src=&quot;{{ url('pumukit_webtv_multimediaobject_iframe', {'id': multimediaObject.id, 'track_id': track.id}) }}&quot; style=&quot;border:0px #FFFFFF none;&quot; scrolling=&quot;no&quot; frameborder=&quot;1&quot; height=&quot;270&quot; width=&quot;480&quot; allowfullscreen webkitallowfullscreen></iframe>" 
            onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" readonly="readonly"/>
  </div>
</div>
</div>
