{% extends 'PumukitCRUDBundle::base.html.twig' %}

{% block body -%}
<div class="container">
    <div class="page-header">
        <h1>Tag</h1>
    </div>
    <dl class="dl-horizontal">
        {#% for key, value in entity %} 
            <dt>{{ key }}</dt>
            <dl>{{ value }}</dl>
        {% endfor %#}
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Title</dt>
        <dd>{{ entity.title }}</dd>
        <dt>Description</dt>
        <dd>{{ entity.description }}</dd>
        <dt>Slug</dt>
        <dd>{{ entity.slug }}</dd>
        <dt>Cod</dt>
        <dd>{{ entity.cod }}</dd>
        <dt>Metatag</dt>
        <dd>{{ entity.metatag }}</dd>
 
        <dt>Created</dt>
        <dd>{{ entity.created|date('Y-m-d H:i:s') }}</dd>
        <dt>Updated</dt>
        <dd>{{ entity.updated|date('Y-m-d H:i:s') }}</dd>
    </dl>



        <ul class="record_actions">
    <li>
        <a href="{{ path('tag') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tag_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tag_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</div>    
{% endblock %}
