{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tag</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Cod</th>
                <td>{{ entity.cod }}</td>
            </tr>
            <tr>
                <th>Metatag</th>
                <td>{{ entity.metatag }}</td>
            </tr>
            <tr>
                <th>Lft</th>
                <td>{{ entity.lft }}</td>
            </tr>
            <tr>
                <th>Rgt</th>
                <td>{{ entity.rgt }}</td>
            </tr>
            <tr>
                <th>Root</th>
                <td>{{ entity.root }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tag') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tag_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tag_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
