{% extends '@PumukitNewAdmin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pumukitwizard/css/nav-wizard.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/pumukitcore/css/uppy.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/pumukitcore/css/uppy_custom.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('pumukitwizard_js') }}"></script>
{% endblock %}

{% block naked_menu %}
    {% if not is_naked() %}
        {% include '@PumukitNewAdmin/menu.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if series.id is defined %}
        {% set pathToUpload = path('pumukitwizard_simple_embedupload', {'id': series.id, 'externalData': externalData}) %}
    {% else %}
        {% set pathToUpload = path('pumukitwizard_simple_embedupload', {'id': 'notId', 'externalData': externalData}) %}
    {% endif %}

    <h3>{{ "Upload local file"|trans }}</h3>
    <div class="row uploading-form" style="padding-top: 50px;">
        <div class="col-md-12">
            <div class="well">
                <form id="pumukitwizard_simple_embed_track_form" enctype="multipart/form-data" method="POST">
                    <input type="hidden" id="pumukitwizard_simple_license_show" value="{{ show_license ? 'true':'false' }}"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button id="btn-wizard-simple-upload" type="submit" class="btn btn-pumukit btn-raised">
                                    {{ "Upload"|trans }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend hidden>{{ "Upload local file"|trans }}</legend>
                        <div class="col-md-6">
                            {% if show_simple_mm_title %}
                                {% include '@PumukitWizard/Simple/multimediaobjecttitle.html.twig' %}
                            {% endif %}
                            {% if show_simple_series_title %}
                                {% include '@PumukitWizard/Simple/seriestitle.html.twig' %}
                            {% endif %}
                            <div class="form-group">
                                <label for="pumukitwizard_track_language" class="control-label">{{ "Video/Audio language"|trans }}</label>
                                <select id="pumukitwizard_track_language" name="language" class="form-control">
                                    {% for locale, language in languages %}
                                        <option value="{{ locale }}" {{ (locale == app.request.getLocale())?'selected="selected"':'' }}>
                                            {{ language }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% include "@PumukitCore/Upload/uppy_input.html.twig" %}

                            {% if show_license %}
                                {% include '@PumukitWizard/Simple/license.html.twig' with {'license_text': license_text} %}
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ asset('/bundles/pumukitcore/js/uppy.min.js') }}"></script>
    <script>
        formElement = document.getElementById('pumukitwizard_simple_embed_track_form');
        {% include "@PumukitCore/Upload/uppy_xhr.js.twig" %}
    </script>
{% endblock %}
