{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pumukitwizard/css/nav-wizard.bootstrap.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('pumukitwizard_js') }}"></script>
{% endblock %}

{% block naked_menu %}
    {% if not is_naked() %}
        {% include 'PumukitNewAdminBundle::menu.html.twig' %}
    {% endif %}
{% endblock %}

{% block body %}
    <h3> {% trans %}Upload local file{% endtrans %}</h3>
    <div class="row" style="padding-top: 50px">
        <div class="col-md-12">
            <div class="well">
                <form id="pumukitwizard_simple_embed_track_form" enctype="multipart/form-data"
                    {% if series.id is defined %}
                        action="{{ path('pumukitwizard_simple_embedupload', {'id': series.id, 'externalData': externalData}) }}" method="POST">
                    {% else %}
                        action="{{ path('pumukitwizard_simple_embedupload', {'id': 'notId', 'externalData': externalData}) }}" method="POST">
                    {% endif %}
                    <input type="hidden" id="pumukitwizard_simple_license_show" value="{{ show_license ? 'true':'false' }}"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                {% if series.id is defined %}
                                    <a href="{{ path('pumukitnewadmin_mms_index', {'id': series.id}) }}" class="btn btn-default btn-raised">
                                        {% trans %}Cancel{% endtrans %}
                                    </a>
                                {% else %}
                                    <a href="{{ path('pumukitnewadmin_series_index') }}" class="btn btn-default btn-raised">
                                        {% trans %}Cancel{% endtrans %}
                                    </a>
                                {% endif %}
                                <button type="submit" class="btn btn-pumukit btn-raised">
                                    {% trans %}Upload{% endtrans %}
                                </button>
                            </div>
                        </div>
                    </div>


                    <fieldset>
                        <legend hidden>{% trans %}Upload local file{% endtrans %}</legend>
                        <div class="col-md-6">
                            {% if show_simple_mm_title %}
                                {% include 'PumukitWizardBundle:Simple:multimediaobjecttitle.html.twig' %}
                            {% endif %}
                            {% if show_simple_series_title %}
                                {% include 'PumukitWizardBundle:Simple:seriestitle.html.twig' %}
                            {% endif %}
                            <div class="form-group" id="pumukitwizard_track_language">
                                <label for="pumukitwizard_track_language" class="control-label">{% trans %}Video/Audio language{% endtrans %}</label>
                                <select id="pumukitwizard_track_language" name="language" class="form-control">
                                    {% for locale, language in languages %}
                                        <option value="{{ locale }}" {{ (locale == app.request.getLocale())?'selected="selected"':'' }}>
                                            {{ language }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group" id="pumukitwizard_track_file">
                                <label for="url" class="control-label">
                                    {% trans %}Audio/video file{% endtrans %}:
                                </label>
                                <div class="input-group">
                                    <input type="file" name="resource" id="resource" value="" size="70" accept="audio/*,video/mp4,video/x-m4v,video/*" required="required">
                                    <span style="color: blue">
                                        ({% trans %}Under{% endtrans %} {{ php_upload_max_filesize() }})
                                    </span>
                                    <span id="file_upload_progress" style="color:blue; display:none;">
                                        {% trans %}Progress{% endtrans %}...
                                    </span>
                                </div>
                            </div>
                            {% if show_license %}
                                {% include 'PumukitWizardBundle:Simple:license.html.twig' with {'license_text': license_text} %}
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
