{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pumukitwizard/css/nav-wizard.bootstrap.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('pumukitwizard_js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row" style="padding-top: 50px">
        <div class="col-md-12">
            <div class="well">
                <form id="pumukitwizard_simple_track_form"
                      enctype="multipart/form-data"
                      action="{{ path('pumukitwizard_simple_upload', {'id': series.id}) }}" method="POST">
                    <input type="hidden" id="pumukitwizard_simple_license_show" value="{{ show_license ? 'true':'false' }}"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="{{ path('pumukitnewadmin_mms_index', {'id': series.id}) }}" class="btn btn-default btn-raised">
                                    {% trans %}Cancel{% endtrans %}
                                </a>
                                <button type="submit" class="btn btn-pumukit btn-raised">{% trans %}Upload{% endtrans %}</button>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend hidden>{% trans %}Upload local file{% endtrans %}</legend>
                        <div class="col-md-6">
                            <div class="form-group" id="pumukitwizard_track_language">
                                <label for="pumukitwizard_track_language" class="control-label">
                                    {% trans %}Video/Audio language{% endtrans %}
                                </label>
                                <select id="pumukitwizard_track_language" name="language" class="form-control">
                                    {% for locale, language in languages %}
                                        <option value="{{ locale }}" {{ (locale == app.request.getLocale())?'selected="selected"':'' }}>
                                            {{ language }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group" id="pumukitwizard_track_file">
                                <label for="url" class="control-label">{% trans %}Audio/video file{% endtrans %}
                                    :</label>
                                <div class="input-group">
                                    <input type="file" name="resource" id="resource" value="" size="70" accept="audio/*,video/mp4,video/x-m4v,video/*" required="required">
                                    <span style="color: blue">({% trans %}Under{% endtrans %} {{ php_upload_max_filesize() }})</span>
                                    <span id="file_upload_progress" style="color:blue; display:none;">{% trans %}Progress{% endtrans %}...</span>
                                </div>
                            </div>
                            {% if show_license %}
                                {% include 'PumukitWizardBundle:Simple:license.html.twig' with {'license_text': license_text} %}
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
