{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pumukitwizard/css/nav-wizard.bootstrap.css') }}" rel="stylesheet">
    <link href="https://releases.transloadit.com/uppy/v1.22.0/uppy.min.css" rel="stylesheet">
    <style>
        .uppy-FileInput-btn {
            border: 1px solid #ccc;
            color: #000;
        }
        .uppy-FileInput-btn:hover {
            border: 1px solid #000;
            background-color: transparent;
            color: #000;
        }
    </style>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('pumukitwizard_js') }}"></script>
    <script src="https://releases.transloadit.com/uppy/v1.22.0/uppy.min.js"></script>
    {% include "@PumukitCore/Upload/uppy_languages.html.twig" %}
{% endblock %}

{% block body %}
    {% set pathToUpload = path('pumukitwizard_simple_upload', {'id': series.id}) %}
    <div class="row" style="padding-top: 50px">
        <div class="col-md-12">
            <div class="well">
                <form id="pumukitwizard_simple_track_form" enctype="multipart/form-data" method="POST">
                    <input type="hidden" id="pumukitwizard_simple_license_show" value="{{ show_license ? 'true':'false' }}"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="{{ path('pumukitnewadmin_mms_index', {'id': series.id}) }}" class="btn btn-default btn-raised">
                                    {% trans %}Cancel{% endtrans %}
                                </a>
                                <button type="submit" class="btn btn-pumukit btn-raised">{% trans %}Upload{% endtrans %}</button>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend hidden>{% trans %}Upload local file{% endtrans %}</legend>
                        <div class="col-md-6">
                            <div class="form-group" id="pumukitwizard_track_language">
                                <label for="pumukitwizard_track_language" class="control-label">
                                    {% trans %}Video/Audio language{% endtrans %}
                                </label>
                                <select id="pumukitwizard_track_language" name="language" class="form-control">
                                    {% for locale, language in languages %}
                                        <option value="{{ locale }}" {{ (locale == app.request.getLocale())?'selected="selected"':'' }}>
                                            {{ language }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% include "@PumukitCore/Upload/uppy_input.html.twig" %}

                            {% if show_license %}
                                {% include 'PumukitWizardBundle:Simple:license.html.twig' with {'license_text': license_text} %}
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script>
        formElement = document.getElementById('pumukitwizard_simple_track_form');
        {% include "PumukitCoreBundle:Upload:uppy_xhr.js.twig" %}
    </script>
{% endblock %}
