<div class="table-responsive" style="overflow:visible;">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_SERIES_TYPES')) %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="1%">
          <div class="checkbox">
            <label>
              <input type="checkbox" onclick="window.click_checkbox_all('seriestype', this.checked)">
            </label>
          </div>
        </th>
        <th colspan="2" width="5%"></th>
        <th>{% trans %}Code{% endtrans %}</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th width="8%">{% trans %}Series{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% if seriestypes|length == 0 %}
      <tr>
        <td colspan="9">
          {% trans %}There are no series types with those values.{% endtrans %}
        </td>
      </tr>
      {% else %}
      {% for seriestype in seriestypes %}
      <tr style="cursor:pointer;" {% if (app.session.get('admin/seriestype/id') == seriestype.id) %} class="success" {% endif %}>
        <td>
          <div class="checkbox">
            <label>
              <input id="{{ seriestype.id }}" class="seriestype_checkbox" type="checkbox">
            </label>
          </div>
        </td>
        <td>
          <a title="{% trans %}Edit seriestype channel{% endtrans %} {{ seriestype.id }}" href="{{ path('pumukitnewadmin_seriestype_update', {'id': seriestype.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
            <i class="mdi-editor-mode-edit"></i>
          </a>
        </td>
        <td>
          <a href="#" onclick="window.submit_delete_seriestype('{{ seriestype.id }}'); return false;">
            <i class="mdi-content-clear"></i>
          </a>
        </td>
        <td onclick="click_fila_url('seriestype', this, '{{ path('pumukitnewadmin_seriestype_show', {'id': seriestype.id}) }}');">
          {{ seriestype.cod }}
        </td>
        <td onclick="click_fila_url('seriestype', this, '{{ path('pumukitnewadmin_seriestype_show', {'id': seriestype.id}) }}');">
          {{ seriestype.name }}
        </td>
        <td onclick="click_fila_url('seriestype', this, '{{ path('pumukitnewadmin_seriestype_show', {'id': seriestype.id}) }}');">
          {{ seriestype.getSeries()|length }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9" class="foot-td">
          {% set column = ((seriestypes.getNbPages/5)|round(0, 'floor')) %}
          <div class="col-md-8">
            {{ seriestypes.getNbResults }}
              {{ "{0} series types|{1} series type |]1,Inf] series types"|trans({'%count%':  seriestypes.getNbResults}) }}
            {% if app.session.get('admin/seriestype/criteria')|length != 0%}
            <a class="cancel-search-button" title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
            {% endif %}
          </div>
          <div class="col-md-4 text-right">
            <div class="pagerfanta">
              {% set sorting = {('sorting[' ~ (app.session.get('admin/seriestype/sort')) ~ ']') : (app.session.get('admin/seriestype/type')) } %}

                {% set pagerClass = 'twitter_bootstrap3' %}
                {% set pagerStyles = {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_seriestype_index", "routeParams": sorting} %}
                {% include "@PumukitNewAdmin/Misc/pager.html.twig" with {'objects' : seriestypes, 'pagerClass': pagerClass, 'pagerStyles': pagerStyles} %}

            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
