<div class="index_widget">
	<h2>Categories</h2>
	<table class="pumukit_index">
 		<tbody>
   			<tr>
     			<td rowspan="2" width="31%">
       				<div class="img_category">
         				<a href="{{ path('pumukit_webtv_bytag_series', {'cod': 'Dhealth'}) }}">
           					<img alt="Institucional" src="{{ asset('bundles/pumukitwebtv/images/0.jpg') }}" style="height: 349px; width: 216px">
           					<div class="cover"><div>{% trans %}Health Sciences{% endtrans %}</div></div>
         				</a>
       				</div>
     			</td>
     			<td width="31%">
       				<div class="img_category">
         				<a href="{{ path('pumukit_webtv_bytag_series', {'cod': 'Dhumanities'}) }}">
           					<img alt="Humanidades" src="{{ asset('bundles/pumukitwebtv/images/1.jpg') }}">
           					<div class="cover"><div>{% trans %}Humanities{% endtrans %}</div></div>
         				</a>
       				</div>
     			</td>
     			<td width="31%">
       				<div class="img_category">
         				<a href="{{ path('pumukit_webtv_bytag_series', {'cod': 'Dscience'}) }}">
           					<img alt="Ciencias" src="{{ asset('bundles/pumukitwebtv/images/2.jpg') }}">
           					<div class="cover"><div>{% trans %}Experimental sciences{% endtrans %}</div></div>
         				</a>
       				</div>
     			</td>
   			</tr>
   			<tr>
     			<td width="31%">
       				<div class="img_category">
         				<a href="{{ path('pumukit_webtv_bytag_series', {'cod': 'Dtechnical'}) }}">
           					<img alt="Tecnología" src="{{ asset('bundles/pumukitwebtv/images/3.jpg') }}">
           					<div class="cover"><div>{% trans %}Technical science{% endtrans %}</div></div>
         				</a>
       				</div>
     			</td>
     			<td width="31%">
       				<div class="img_category">
         				<a href="{{ path('pumukit_webtv_bytag_series', {'cod': 'Dsocial'}) }}">
           					<img alt="Juridico-Social" src="{{ asset('bundles/pumukitwebtv/images/4.jpg') }}">
           					<div class="cover"><div>{% trans %}Social and Legal sciences{% endtrans %}</div></div>
         				</a>
       				</div>
     			</td>
   			</tr>
 		</tbody>
	</table>
</div>
