{% extends '@PumukitWizard/Default/index.html.twig' %}
{% block wizard_body %}
{{ render(controller('PumukitWizardBundle:Default:steps', {'step': -1, 'option': 'single', 'show_series': show_series, 'same_series': same_series})) }}
<div class="well">
  {% if same_series %}
  <form id="pumukitwizard_license_form"
        action="{{ path('pumukitwizard_default_type', {'id': form_data.series.id}) }}" method="POST">
  {% else %}
  <form id="pumukitwizard_license_form"
        action="{{ path('pumukitwizard_default_series') }}" method="POST">
  {% endif %}
    {% include '@PumukitWizard/Default/hidden.html.twig' with {'step': 'license'} %}
    <fieldset class="well">
      <legend hidden>{% trans %}License{% endtrans %}</legend>
      <div class="col-md-12">
        <div class="form-group" id="pumukitwizard_license_text">
          <label for="pumukitwizard_license_accept" class="control-label">{% trans %}License{% endtrans %}:</label>
          <div class="form-row license-wrapper">
            <pre>{{ license_text|raw }}</pre>
          </div>
        </div>
        <div class="form-group" id="pumukitwizard_license_accept_text">
          <div class="checkbox">
            <label>
              <input type="checkbox"
                     name="pumukitwizard_form_data[license][accept]"
                     id="pumukitwizard_license_accept"
                     class="license_input_checkbox"
                     {{ form_data.license.accept is defined ? (form_data.license.accept ? 'checked="checked"' : '') : '' }}
                     />
              {% trans %}Accept license.{% endtrans %}
            </label>
            <span id="pumukitwizard_license_error" class="wizard-error" hidden="hidden">{% trans %}You must accept the license to continue.{% endtrans %}</span>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-md-4">
        {% if same_series and form_data.series.id is defined and form_data.series.id is not null %}
        <a href="{{ path('pumukitnewadmin_mms_index', {'id': form_data.series.id}) }}" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</a>
        {% else %}
        <a href="{{ path('pumukitnewadmin_series_index') }}" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</a>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="text-right">
          <button type="submit" class="btn btn-primary btn-raised">{% trans %}Next{% endtrans %} &raquo;</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock wizard_body %}
