{% extends 'PumukitWizardBundle:Default:index.html.twig' %}
{% block wizard_body %}
{% render(controller('PumukitWizardBundle:Default:steps', {'step': 2, 'option': form_data.type.option, 'show_series': ('null' == form_data.series.id)})) %}
<div class="well">
  <form id="pumukitwizard_multimediaobject_form" autocomplete="off"
        action="{{ path('pumukitwizard_default_track') }}" method="POST">
    <input type="hidden" name="pumukitwizard_form_data[series][id]" id="pumukitwizard_series_id" value="{{ form_data.series.id }}">
    {% for field, locales in form_data.series %}
    {% for locale, value in locales %}
    {# TODO if value is not null here or at the end of wizard #}
    <input type="hidden" name="pumukitwizard_form_data[series][{{ field }}][{{ locale }}]" id="pumukitwizard_multimediaobject_series_{{ field }}_{{ locale }}" value="{{ value }}">
    {% endfor %}
    {% endfor %}
    {% if license_enable %}
    <input type="hidden" name="pumukitwizard_form_data[license][accept]" id="pumukitwizard_multimediaobject_license_accept" value="{{ form_data.license.accept }}">
    {% endif %}
    <input type="hidden" name="pumukitwizard_form_data[type][option]" id="pumukitwizard_multimediaobject_type_option" value="{{ form_data.type.option }}">
    <div class="row">
      <div class="col-md-12">
        <div class="text-right">
          {% spaceless %}
          {% if 'null' == form_data.series.id %}
          <a href="{{ path('pumukitnewadmin_series_index') }}">
          {% else %}
          <a href="{{ path('pumukitnewadmin_mms_index', {'id': form_data.series.id}) }}">
          {% endif %}
          <button type="button" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</button>
          </a>
          {% endspaceless %}
          <button type="submit" class="btn btn-primary btn-raised">{% trans %}Next{% endtrans %}</button>
        </div>
      </div>
    </div>
    <fieldset>
      {# TODO build input fields with for loop #}
      <div class="col-md-7">
        <div class="form-group" id="pumukitwizard_multimediaobject_i18n_title">
          <label for="pumukitwizard_multimediaobject_i18n_title" class="control-label">{% trans %}Title{% endtrans %}</label>
          <div>
            {% for locale in locales %}
            <div class="input-group">
              {% if form_data.multimediaobject is defined %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_title_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_title][{{ locale }}]" class="form-control" value="{{ attribute(form_data.multimediaobject.i18n_title, locale) }}">
              {% else %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_title_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_title][{{ locale }}]" class="form-control" value="">
              {% endif %}
              <span class="input-group-addon">{{ locale }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group" id="pumukitwizard_multimediaobject_i18n_subtitle">
          <label for="pumukitwizard_multimediaobject_i18n_subtitle" class="control-label">{% trans %}Subtitle{% endtrans %}</label>
          <div>
            {% for locale in locales %}
            <div class="input-group">
              {% if form_data.multimediaobject is defined %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_subtitle_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_subtitle][{{ locale }}]" class="form-control" value="{{ attribute(form_data.multimediaobject.i18n_subtitle, locale) }}">
              {% else %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_subtitle_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_subtitle][{{ locale }}]" class="form-control" value="">
              {% endif %}
              <span class="input-group-addon">{{ locale }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group" id="pumukitwizard_multimediaobject_i18n_description">
          <label for="pumukitwizard_multimediaobject_i18n_description" class="control-label">{% trans %}Description{% endtrans %}</label>
          <div>
            {% for locale in locales %}
            <div class="input-group">
              {% if form_data.multimediaobject is defined %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_description_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_description][{{ locale }}]" class="form-control" value="{{ attribute(form_data.multimediaobject.i18n_description, locale) }}">
              {% else %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_description_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_description][{{ locale }}]" class="form-control" value="">
              {% endif %}
              <span class="input-group-addon">{{ locale }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group" id="pumukitwizard_multimediaobject_i18n_line2" {% if not is_granted('ROLE_SCOPE_GLOBAL') %} style="display:none"{% endif %}>
          <label for="pumukitwizard_multimediaobject_i18n_line2" class="control-label">{% trans %}Headline{% endtrans %}</label>
          <div>
            {% for locale in locales %}
            <div class="input-group">
              {% if form_data.multimediaobject is defined %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_line2_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_line2][{{ locale }}]" class="form-control" value="{{ attribute(form_data.multimediaobject.i18n_line2, locale) }}">
              {% else %}
              <input type="text" id="pumukitwizard_multimediaobject_i18n_line2_{{ locale }}" name="pumukitwizard_form_data[multimediaobject][i18n_line2][{{ locale }}]" class="form-control" value="">
              {% endif %}
              <span class="input-group-addon">{{ locale }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock wizard_body %}
