{% extends '@PumukitWizard/Default/index.html.twig' %}
{% block wizard_body %}
{{ render(controller('PumukitWizardBundle:Default:steps', {'step': 0, 'option': 'single', 'show_series': true, 'same_series': same_series})) }}
<div class="well">
  <form id="pumukitwizard_series_form"
        action="{{ path('pumukitwizard_default_type', {'id': 'null'}) }}" method="POST">
    {% include '@PumukitWizard/Default/hidden.html.twig' with {'step': 'series'} %}
    <input type="hidden" name="pumukitwizard_form_data[mandatory_title]" id="pumukitwizard_mandatory_title" value="{{ mandatory_title }}">
    <fieldset class="well">
      <legend hidden>{% trans %}Series{% endtrans %}</legend>
      {% if reuse_series and not same_series and (user_series|length > 0) %}
      <div class="col-md-6">
        <div class="form-group" id="pumukitwizard_series_select_i18n_title">
          <label for="pumukitwizard_series_reuse_i18n_title" class="control-label">{% trans %}Series{% endtrans %}</label>
          <select id="pumukitwizard_series_reuse_i18n_title" name="pumukitwizard_form_data[series][reuse][id]" class="form-control" {{ form_data.series.new is defined ? (form_data.series.new ? 'disabled="disabled"':'') : 'disabled="disabled"' }}>
            {% for oneseries in user_series %}
            <option value="{{ oneseries['_id']['id'] }}" {{ form_data.series.id is defined ? ((form_data.series.id == oneseries['_id']['id'])?'selected="selected"':''):''}}>{{ oneseries['_id']['title'][app.request.getLocale()] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-1">
        <div class="checkbox wizard-new-series">
          <label>
            <input type="checkbox"
                   name="pumukitwizard_form_data[series][new]"
                   id="pumukitwizard_series_new_checkbox"
                   class="pub_channel_input_checkbox"
                   {{ form_data.series.new is defined ? (form_data.series.new ? 'checked="checked"':'') : 'checked="checked"' }}
                   />
            {% trans %}New{% endtrans %}
          </label>
        </div>
      </div>
      {# add checkbox #}
      {% else %}
      <input type="hidden" name="pumukitwizard_form_data[series][new]" value="1" />
      {% endif %}
      <div class="col-md-10">
        <div class="form-group" id="pumukitwizard_series_new_i18n_title">
          <label for="pumukitwizard_series_i18n_title" id="pumukitwizard_series_i18n_title_label" class="control-label">{% trans %}Title{% endtrans %}</label>
          {% for locale in locales %}
          <div class="input-group">
            {% if form_data.series.i18n_title is defined %}
            <input type="text" id="pumukitwizard_series_i18n_title_{{ locale }}" name="pumukitwizard_form_data[series][i18n_title][{{ locale }}]" class="form-control pumukitwizard_series_i18n_title locale-{{ locale }}" value="{{ attribute(form_data.series.i18n_title, locale) }}" {{ form_data.series.new is defined ? (form_data.series.new ? '':'disabled="disabled"') : '' }} aria-labelledby="pumukitwizard_series_i18n_title_label">
            {% else %}
            <input type="text" id="pumukitwizard_series_i18n_title_{{ locale }}" name="pumukitwizard_form_data[series][i18n_title][{{ locale }}]" class="form-control pumukitwizard_series_i18n_title locale-{{ locale }}" value="" {{ form_data.series.new is defined ? (form_data.series.new ? '':'disabled="disabled"') : '' }} aria-labelledby="pumukitwizard_series_i18n_title_label">
            {% endif %}
            <span class="input-group-addon">{{ locale }}</span>
          </div>
          {% endfor %}
        </div>
        <div class="form-group" id="pumukitwizard_series_new_i18n_subtitle">
          <label for="pumukitwizard_series_i18n_subtitle" id="pumukitwizard_series_i18n_subtitle_label" class="control-label">{% trans %}Subtitle{% endtrans %}</label>
          {% for locale in locales %}
          <div class="input-group">
            {% if form_data.series.i18n_subtitle is defined %}
            <input type="text" id="pumukitwizard_series_i18n_subtitle_{{ locale }}" name="pumukitwizard_form_data[series][i18n_subtitle][{{ locale }}]" class="form-control pumukitwizard_series_i18n_subtitle locale-{{ locale }}" value="{{ attribute(form_data.series.i18n_subtitle, locale) }}" {{ form_data.series.new is defined ? (form_data.series.new ? '':'disabled="disabled"') : '' }} aria-labelledby="pumukitwizard_series_i18n_subtitle_label">
            {% else %}
            <input type="text" id="pumukitwizard_series_i18n_subtitle_{{ locale }}" name="pumukitwizard_form_data[series][i18n_subtitle][{{ locale }}]" class="form-control pumukitwizard_series_i18n_subtitle locale-{{ locale }}" value="" {{ form_data.series.new is defined ? (form_data.series.new ? '':'disabled="disabled"') : '' }} aria-labelledby="pumukitwizard_series_i18n_subtitle_label">
            {% endif %}
            <span class="input-group-addon">{{ locale }}</span>
          </div>
          {% endfor %}
        </div>
        <div class="form-group" id="pumukitwizard_series_new_i18n_description">
          <label for="pumukitwizard_series_i18n_description" id="pumukitwizard_series_i18n_description_label" class="control-label">{% trans %}Description{% endtrans %}</label>
          {% for locale in locales %}
          <div class="input-group">
            {% if form_data.series.i18n_description is defined %}
            <input type="text" id="pumukitwizard_series_i18n_description_{{ locale }}" name="pumukitwizard_form_data[series][i18n_description][{{ locale }}]" class="form-control pumukitwizard_series_i18n_description locale-{{ locale }}" value="{{ attribute(form_data.series.i18n_description, locale) }}" {{ form_data.series.new is defined ? (form_data.series.new ? '':'disabled="disabled"') : '' }} aria-labelledby="pumukitwizard_series_i18n_description_label">
            {% else %}
            <input type="text" id="pumukitwizard_series_i18n_description_{{ locale }}" name="pumukitwizard_form_data[series][i18n_description][{{ locale }}]" class="form-control pumukitwizard_series_i18n_description locale-{{ locale }}" value="" {{ form_data.series.new is defined ? (form_data.series.new ? '':'disabled="disabled"') : '' }} aria-labelledby="pumukitwizard_series_i18n_description_label">
            {% endif %}
            <span class="input-group-addon">{{ locale }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      {% if mandatory_title %}
      <div class="col-md-2 wizard-empty-title">
        <span id="pumukitwizard_series_title_empty" class="wizard-error" hidden="hidden">{% trans %}Empty title{% endtrans %}</span>
      </div>
      {% endif %}
    </fieldset>
    <div class="row">
      <div class="col-md-4">
        <a href="{{ path('pumukitnewadmin_series_index') }}" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</a>
      </div>
      <div class="col-md-8">
        <div class="text-right">
          {% if license_enable %}
          <button type="button" class="btn btn-default btn-raised pumukitwizard-btn-back">&laquo; {% trans %}Back{% endtrans %}</button>
          {% endif %}
          <button type="submit" class="btn btn-primary btn-raised">{% trans %}Next{% endtrans %} &raquo;</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock wizard_body %}
