{% extends '@PumukitWizard/Default/index.html.twig' %}
{% block wizard_body %}
    {{ render(controller('Pumukit\\WizardBundle\\Controller\\DefaultController::stepsAction', {'step': 1, 'option': 'single', 'show_series': show_series, 'same_series': same_series})) }}
<div class="well">
  <form id="pumukitwizard_type_form"
        action="{{ path('pumukitwizard_default_option') }}" method="POST">
    {% include '@PumukitWizard/Default/hidden.html.twig' with {'step': 'type'} %}
    <fieldset class="well">
      <legend hidden>{% trans %}Type{% endtrans %}</legend>
      <div class="form-group" id="pumukitwizard_type_option">
        <label for="pumukitwizard_type_option" class="control-label">{% trans %}Type{% endtrans %}</label>
        {% if form_data.type is defined %}
        <div class="radio">
          <label><input type="radio" name="pumukitwizard_form_data[type][option]" value="single" {{ ('single' == form_data.type.option)?'checked="checked"':'' }}/>{% trans %}Add one single multimedia object{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) %}
        <div class="radio">
          <label><input type="radio" name="pumukitwizard_form_data[type][option]" value="multiple" {{ ('multiple' == form_data.type.option)?'checked="checked"':'' }}/>{% trans %}Add multiple multimedia objects{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        {% endif %}
        {% else %}
        <div class="radio">
          <label><input type="radio" name="pumukitwizard_form_data[type][option]" value="single" checked="checked"/>{% trans %}Add one single multimedia object{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) %}
        <div class="radio">
          <label><input type="radio" name="pumukitwizard_form_data[type][option]" value="multiple"/>{% trans %}Add multiple multimedia objects{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </fieldset>
    <div class="row">
      <div class="col-md-4">
          {% apply spaceless %}
          {% if same_series and series_id is defined and series_id is not null %}
          <a href="{{ path('pumukitnewadmin_mms_index', {'id': series_id}) }}" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</a>
          {% else %}
          <a href="{{ path('pumukitnewadmin_series_index') }}" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</a>
          {% endif %}
          {% endapply %}
      </div>
      <div class="col-md-8">
        <div class="text-right">
          {% if license_enable or show_series %}
          <button type="button" class="btn btn-default btn-raised pumukitwizard-btn-back">&laquo; {% trans %}Back{% endtrans %}</button>
          {% endif %}
          <button type="submit" class="btn btn-primary btn-raised">{% trans %}Next{% endtrans %} &raquo;</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock wizard_body %}
