{% extends 'PumukitWizardBundle:Default:index.html.twig' %}
{% block wizard_body %}
<div class="well">
  <form id="pumukitwizard_type_form" autocomplete="off" method="POST">
    <input type="hidden" name="pumukitwizard_type[series][id]" id="seriesId" value="{{ series_id }}">
    {% for field, locales in series_form %}
    {% for locale, value in locales %}
    {# TODO if value is not null here or at the end of wizard #}
    <input type="hidden" name="pumukitwizard_type[series][{{ field }}][{{ locale }}]" id="pumukitwizard_type_series_{{ field }}_{{ locale }}" value="{{ value }}">
    {% endfor %}
    {% endfor %}
    <fieldset>
      <div class="form-group" id="pumukitwizard_type_option">
        <label for="pumukitwizard_type_option" class="control-label">{% trans %}Type{% endtrans %}</label>        
        <div class="radio">
          <label><input type="radio" name="pumukitwizard_type_option" value="single" checked="checked"/>{% trans %}Add one single multimedia object{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="pumukitwizard_type_option" value="multiple"/>{% trans %}Add multiple multimedia objects{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-md-12">
        <div class="text-right">
          {% if show_previous %}
          <button type="submit" id="pumukitwizard_type_previous" class="btn btn-primary btn-raised">{% trans %}Previous{% endtrans %}</button>
          {% endif %}
          <button type="button" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</button>{# TODO #}
          <button type="submit" class="btn btn-primary btn-raised">{% trans %}Next{% endtrans %}</button>{# TODO #}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock wizard_body %}
