{% set videoPath = path('pumukit_live_event_id', {'id': event['multimediaObjectId'] }) %}

{% if event['event'].name is iterable %}
    {% set videoTitle = event['event'].name[app.request.getLocale()] | default('No title'|trans) %}
{% else %}
    {% set videoTitle = event['event'].getName(app.request.getLocale()) %}
{% endif %}

{% if event['event'].description is iterable %}
    {% set videoDescription = event['event'].description[app.request.getLocale()] %}
{% else %}
    {% set videoDescription = event['event'].getDescription(app.request.getLocale()) %}
{% endif %}

{% if event['session'].getStart() is defined %}
    {% set eventStarts = event['session'].getStart() |  format_datetime('medium','medium',locale=app.request.getLocale()) %}
{% else %}
    {% set eventStarts = event['session']['start'] |convertMongoDate|  format_datetime('medium','medium',locale=app.request.getLocale()) %}
{% endif %}

<div class="{{ col_calculator(objectByCol|default(1)) }} image_representation">
    <div class="row">
        <div class="col-sm-5 col-md-4">
            <a href="{{ videoPath }}" title="{{ videoTitle }}">
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item text-center">
                        {% if event['pics'] is defined and (event['pics']|length > 0) %}
                            <img alt="{% trans %}Event pic{% endtrans %}" class="img-responsive img_adapter_4_3" src="{{ event_first_thumbnail(event) }}" />
                        {% else %}
                            <img alt="{% trans %}Event pic{% endtrans %}" class="img-responsive img_adapter_4_3" src="{{ defaultPic }}" />
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-7 col-md-8">
            {% if show_info|default(true) %}
                <div class="caption">
                    <p class="title_image_representation">
                        <a href="{{ videoPath }}" title="{{ videoTitle }}">
                            {{ videoTitle }}
                        </a>
                    </p>

                    {% if show_info|default(true) %}
                        <div class="date_and_visits pull-right">
                            {% trans %}Starts{% endtrans %}: {{ eventStarts }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
