{% set objectTitle = object.title | default('No title'|trans) %}
{% if num_mmobjs is not defined %}
    {% set num_mmobjs = object | count_multimedia_objects %}
{% endif %}

<div class="{{ col_calculator(objectByCol) }} image_representation">
    <a href="{{ path('pumukit_webtv_series_index', {'id': object.id}) }}" title="{{ objectTitle }}">
        <div class="thumbnail">
            <div class="series_image_group">
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item text-center">
                        <img src="{{ object|first_url_pic() }}" alt="{{ objectTitle }}" class="img-responsive img_adapter_4_3" />
                    </div>
                    <div class="hover_series">
                        <div class="text-center">
                            <span class="series_count_mmobj">
                                {{ num_mmobjs }}
                            </span>
                            <span class="series_count_text">
                                {{ (num_mmobjs > 1 ? 'videos' : 'video')|trans }}
                            </span>
                        </div>
                    </div>
                </div>

                {% if show_info|default(true) %}
                    <p class="title_image_representation">
                        {{ objectTitle }}
                    </p>
                {% endif %}
            </div>

            {% if show_info|default(true) %}
                <ul class="caption list-group">
                    {% if object.subtitle is not empty %}
                        <li class="list-group-item list-group-item-custom">
                            <p class="second_line_image_representation">{{ object.subtitle }}</p>
                        </li>
                    {% endif %}

                    {% if show_info|default(true) %}
                        <li class="list-group-item list-group-item-custom date_and_visits pull-right">
                            {{ object.publicDate|  format_datetime("medium", "none",locale=app.request.getLocale()) }}
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </a>
</div>
