<div class="row">
    <div class="col-xs-8">
        <div class="mmobj-title">
            {{ multimediaObject.getEmbeddedEvent().getName(app.request.getLocale())|default("No title"|trans) }}
        </div>
    </div>
    <div class="col-xs-4">
        <div class="date">
            {% if live_event_session(multimediaObject) != '' %}
                {% set session = live_event_session(multimediaObject) %}
                <span>
                    {{ session.start|localizeddate('short','none',app.request.getLocale()) }}
                    {% trans %}From{% endtrans %}
                    {{ session.start|localizeddate('none','short',app.request.getLocale()) }}
                    {% trans %}To{% endtrans %}
                    {{ (session.start|date_modify("+" ~ session.duration ~ " seconds"))|localizeddate('none','short',app.request.getLocale()) }}
                </span>
            {% endif %}

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="description">
            {{ multimediaObject.getEmbeddedEvent().getDescription(app.request.getLocale())|nl2br }}
        </p>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% trans %} Attachments {% endtrans %}
            </div>
            <div class="panel-body">
                {% for material in multimediaObject.getMaterials() if not material.getHide() %}
                    <div id="material">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <a href="{{ material.getUrl() }}">{{ material.getName() }}</a>
                    </div>
                {% else %}
                    <strong>{% trans %} There are no attachments {% endtrans %}</strong>
                {% endfor %}
                {% for link in multimediaObject.getLinks() %}
                    <div id="link" class="link">
                        <a target="_blank" href="{{ link.getUrl() }}">
                            <span class="glyphicon glyphicon-globe"></span>
                            {{ link.getName() }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        {% include 'PumukitWebTVBundle:Event:share.html.twig' %}
    </div>
</div>

<br/>

{% if multimediaObject.getEmbeddedSocial() is defined and multimediaObject.getEmbeddedSocial() is not null and multimediaObject.getEmbeddedSocial().getEmail() is not null and multimediaObject.getEmbeddedSocial().getEmail() != '' %}
    {% include 'PumukitWebTVBundle:Event:contact.html.twig' %}
{% endif %}

