<div class="col-xs-12">
    {% if events is defined and events is not empty %}
        {% for event in events['data'] %}
            <div class="row">
                <div class="minimmobj" style="cursor:pointer;" onclick="window.location='{{ url('pumukit_live_event_id', {'id' : events['_id'] }) }}'">
                    <div class="minithumbnail">
                        <a href="{{ url('pumukit_live_event_id', {'id' : events['_id'] }) }}">
                            <div class="media-object play_icon small" alt=""></div>
                            {% if event['pics'] is defined and (event['pics']|length > 0) %}
                                <img class="media-object thumbnailimg" src="{{ event_first_thumbnail(event) }}" style="height:100%" alt="{% trans %}Media Thumbnail{% endtrans %}">
                            {% else %}
                                <img class="media-object thumbnailimg" src="{{ defaultPic }}" style="height:100%" alt="{% trans %}Media Thumbnail{% endtrans %}">
                            {% endif %}
                            <div class="minithumbnailholder"></div>
                        </a>
                    </div>
                    <div class="miniinfo-wrapper">
                        <div class="miniinfo">
                            <div class="title" >
                                {{ event['event']['name'][app.request.getLocale()] | default('No title' | trans )}}
                            </div>
                            <br />
                            <div class="pull-left date">
                                <small>
                                    {% trans %}Starts{% endtrans %}:
                                    {{ event['session']['start']|convertMongoDate| localizeddate('medium','medium', app.request.getLocale()) }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% trans %}There are no videos with these specifications{% endtrans %}.
    {% endif %}
</div>
