<div class="panel panel-default share_mmobj">
    <div class="panel-heading" data-toggle="collapse" data-target="#shareBars" aria-expanded="false" aria-controls="shareBars" role="button">
        <strong>
            {% trans %} Share this video {% endtrans %}
            <span class="glyphicon glyphicon-chevron-up pull-right"></span>
        </strong>
    </div>
    <ul class="list-group collapse in" id="shareBars">
        <li class="list-group-item">
            <div class="share_url">
                <span>{% trans %} URL: {% endtrans %}</span>
                <input type="text" value="{{ url('pumukit_live_event_id', {'id': multimediaObject.id}) }}" onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" readonly="readonly" aria-label="{% trans %}URL{% endtrans %}" title="{% trans %}URL{% endtrans %}"/>
            </div>
        </li>
        <li class="list-group-item">
            <div class="share_url">
                <span>{% trans %} IFRAME: {% endtrans %}</span>
                {% set trackid = (track.id is defined)?track.id:null %}
                {% set iframe_value %}
                    {% spaceless %}
                        <iframe src='{{ url('pumukit_live_event_iframe_id', {'id':multimediaObject.id, 'track_id': trackid}) }}'
                                {{- " id='pumukitiframe'" -}}
                                {{- " frameborder='0'" -}}
                                {{- " border='0'" -}}
                                {{- " width='560'" -}}
                                {{- " height='325'" -}}
                                {{- " allowfullscreen" -}}
                        ></iframe>
                    {% endspaceless %}
                {% endset %}
                <input type="text" value="{{ iframe_value }}" onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" aria-label="{% trans %}Iframe{% endtrans %}" title="{% trans %}Iframe{% endtrans %}" readonly/>
            </div>
        </li>
    </ul>
</div>
