{% if multimediaObject.getEmbeddedSocial() and multimediaObject.getEmbeddedSocial().getTwitter() and multimediaObject.getEmbeddedSocial().getTwitterHashtag() %}
<div class="panel panel-default nomargin panel-related">
  <div class="panel-heading">
    #{{ multimediaObject.getEmbeddedSocial().getTwitterHashtag() }}
    <img src="{{ asset('bundles/pumukitwebtv/images/twitter.svg') }}" alt="{% trans %}Twitter icon{% endtrans %}" title="{% trans %}Twitter icon{% endtrans %}" class="twitter-icon-heading"/>
  </div>
  <div class="panel-body" style="height:400px;">
    <a class="twitter-timeline"  href="https://twitter.com/hashtag/{{ multimediaObject.getEmbeddedSocial().getTwitterHashtag() }}" data-border-color="#337ab7" data-chrome="nofooter noscrollbar noborders noheader" data-width="100%" data-height="440" data-widget-id="{{ multimediaObject.getEmbeddedSocial().getTwitter() }}" >#{{ multimediaObject.getEmbeddedSocial().getTwitterHashtag() }} Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
{% endif %}
