{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_ADMIN_USERS')) %}
    {% for group in groups | filter(group => group not in user.getGroups()) %}
        {% if (group.isLocal() and user.isLocal()) or (group.isLocal() and not user.isLocal()) or (not group.isLocal() and user.isLocal()) %}
            <a href="#"
               id="delete_group_{{ group.id }}"
               onclick="return select_group(this);"
               ondblclick="add_group_user('{{ group.id }}', '{{ group.key }}', '{{ group.name }}', '{{ group.origin }}', '{{ user.getOrigin() }}');"
               class="list-group-item notload pumukitnewadmin-trim-row group_{{ group.key }}">
                <i class="mdi-social-group"></i>
                {{ group.key }} - {{ group.name }} - ({{ group.origin }})
            </a>
        {% else %}
            <a href="#"
               id="delete_group_{{ group.id }}"
               onclick="return false;"
               ondblclick="window.alert('External defined groups. Contact your directory service administrator to change membership.');"
               class="list-group-item notload pumukitnewadmin-trim-row disabled-group-item group_{{ group.key }}">
                <i class="mdi-social-group"></i>
                {{ group.key }} - {{ group.name }} - ({{ group.origin }})
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
