<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}edit groups for user{% endtrans %}:</h4>
  <h2 class="modal-title">&laquo;{{ user.getUsername() }}&raquo;</h2>
</div>

<div class="modal-body">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_ADMIN_USERS')) %}
  <input type="hidden" id="user_id" value="{{ user.id }}"/>
  <div class="panel panel-default">
    <div class="panel-heading" style="text-align:center;">{% trans %}GROUPS{% endtrans %}</div>
    <div class="panel-body" id="group_mode">
      <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div style="width:430px; float: left;">
          {% trans %}Available Groups{% endtrans %}:
        </div>
        <div style="width:390px; float: left;">
          {% trans %}User current Groups{% endtrans %}:
        </div>
      </div>
      <div style="overflow:hidden;height: 240px">
	    <div style="width:390px; float: left; height: 220px; border: 1px solid #bbb; overflow-x: hidden; overflow-y: scroll" class="tag list-group pmk-tag-tree" id="delete_groups">
          {% include 'PumukitNewAdminBundle:User:listgroupsajax.html.twig' with {'user': user, 'groups': groups} %}
	    </div>
	    <div style="float: left; padding: 110px 5px 0px">
	      <a href="#" onclick="$('#add_groups > a.active').trigger('dblclick'); return false;">&#8592;</a>
	      <a href="#" onclick="$('#delete_groups > a.active').trigger('dblclick'); return false;">&#8594;</a>
	    </div>
        {# Groups added to the user #}
	    <div style="width:390px; height:220px; border: 1px solid #bbb; float: left; overflow-x: hidden; overflow-y: scroll" class="tag" id="select_tag">
	      <div class="tag_tree list-group" id="add_groups" >
	        {% for user_group in user.getGroups() %}
              {% if (user_group.origin == constant('Pumukit\\SchemaBundle\\Document\\Group::ORIGIN_LOCAL')) and (user.origin == constant('Pumukit\\SchemaBundle\\Document\\User::ORIGIN_LOCAL')) %}
              <a href="#" class="list-group-item"
                 id="add_group_{{ user_group.id }}"
                 onclick="javascript:return select_group(this);"
                 ondblclick="javascript:delete_group('{{ user_group.id }}', '{{ user.id }}', '{{ user_group.key }}', '{{ user_group.name }}', '{{ user_group.origin }}');">
                <i class="mdi-social-group"></i>
                {{ user_group.key }} - {{ user_group.name }} - ({{ user_group.origin }})
              </a>
              {% else %}
              {% if (user_group.origin != constant('Pumukit\\SchemaBundle\\Document\\Group::ORIGIN_LOCAL')) and (user.origin != constant('Pumukit\\SchemaBundle\\Document\\User::ORIGIN_LOCAL')) %}
              {% set message = 'External defined group and user. Contact your directory service administrator to change membership.' %}
              {% elseif (user_group.origin == constant('Pumukit\\SchemaBundle\\Document\\Group::ORIGIN_LOCAL')) and (user.origin != constant('Pumukit\\SchemaBundle\\Document\\User::ORIGIN_LOCAL')) %}
              {% set message = 'External defined group. Contact your directory service administrator to change membership.' %}
              {% else %}
              {% set message = 'External defined user. Contact your directory service administrator to change membership.' %}
              {% endif %}
              <a href="#" class="list-group-item disabled-group-item"
                 id="add_group_{{ user_group.id }}"
                 onclick="return false;"
                 ondblclick="javascript:window.alert('{{ message }}');">
                <i class="mdi-social-group"></i>
                {{ user_group.key }} - {{ user_group.name }} - ({{ user_group.origin|upper }})
              </a>
              {% endif %}
	        {% endfor %}
	      </div>
        </div>
	  </div>
    </div>
  </div>
  <div class="modal-footer">
    {% if (user.origin == constant('Pumukit\\SchemaBundle\\Document\\User::ORIGIN_LOCAL')) %}
    <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
    <button type="button" class="btn btn-primary btn-raised" id="pumukitnewadmin_user_groups_reset">{% trans %}Reset{% endtrans %}</button>
    <button type="submit" class="btn btn-pumukit btn-raised" id="pumukitnewadmin_user_groups_submit">{% trans %}Save changes{% endtrans %}</button>
    {% else %}
    <button type="button" class="btn btn-pumukit btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
    {% endif %}
  </div>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
