<div class="table-responsive well">
  {% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_ADMIN_USERS')) %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="1%">
            <div class="checkbox">
              <label>
                <input type="checkbox" onclick="window.click_checkbox_all('user', this.checked)">
              </label>
            </div>
          </th>
          <th colspan="2" width="3%"></th>
          <th>{% trans %}Name{% endtrans %}</th>
          <th>{% trans %}Login{% endtrans %}</th>
          <th>{% trans %}Type{% endtrans %}</th>
          <th>{% trans %}Email{% endtrans %}</th>
        </tr>
      </thead>
  
      <tbody>

        {% if users is empty %}
        <tr>
          <td colspan="8">
            {% trans %}There are no users with those values.{% endtrans %}
          </td>
        </tr>
        {% endif %}

        {% for user in users %}
        <tr>
          <td>
            <div class="checkbox">
              <label>
                <input id="{{ user.id }}" class="user_checkbox" type="checkbox" size="1">
              </label>
            </div>
          </td>
          <td>
            <a title="{% trans %}Edit User{% endtrans %} {{ user.fullname }}" href="{{ path('pumukitnewadmin_user_update', {'id': user.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
              <i class="mdi-editor-mode-edit"></i>
            </a>
          </td>
          <td>
            <a href="#" onclick="window.submit_delete_user('{{ user.id }}', '{% autoescape 'js' %}{{ user.fullname }}{% endautoescape %}'); return false;">
              <i class="mdi-content-clear"></i>
            </a>
          </td>
          <td>
	          {% if user.fullname is not empty %}{{ user.fullname }}{% endif %}
          </td>
          <td>
	          {% if user.username is not empty %}{{ user.username }}{% endif %}
          </td>
          <td>
            {% spaceless %}
            {% if user.getPermissionProfile() is not null %}{{ user.getPermissionProfile().getName() }},&nbsp;{% endif %}
            {% for role in user.roles %}
                {% if 'ROLE_SUPER_ADMIN' == role %}
                    {% trans %}System Super Administrator{% endtrans %}
                    {% if not loop.last %}
                        ,&nbsp;
                    {% endif %}
                {% elseif 'ROLE_ADMIN' == role %}
                    {% trans %}System Administrator{% endtrans %}
                    {% if not loop.last %}
                        ,&nbsp;
                    {% endif %}
                {% elseif 'ROLE_USER' == role %}
                    {% trans %}System User{% endtrans %}
                    {% if not loop.last %}
                        ,&nbsp;
                    {% endif %}
                {% elseif constant('Pumukit\\SchemaBundle\\Document\\PermissionProfile::SCOPE_GLOBAL') == role %}
                    {% trans %}Global Scope{% endtrans %}
                    {% if not loop.last %}
                        ,&nbsp;
                    {% endif %}
                {% elseif constant('Pumukit\\SchemaBundle\\Document\\PermissionProfile::SCOPE_PERSONAL') == role %}
                    {% trans %}Personal Scope{% endtrans %}
                    {% if not loop.last %}
                        ,&nbsp;
                    {% endif %}
                {% elseif constant('Pumukit\\SchemaBundle\\Document\\PermissionProfile::SCOPE_NONE') == role %}
                    {% trans %}No Scope{% endtrans %}
                    {% if not loop.last %}
                        ,&nbsp;
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% endspaceless %}
          </td>
          <td>
	          {% if user.email is not empty %}{{ user.email }}{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="8">
            <div class="col-md-8" id="numberUsers">
              {{ users.getNbResults }}
              {% transchoice users.getNbResults %}
	                {0} users|{1} user|]1,Inf] users
	            {% endtranschoice %}
	            {% if app.session.get('admin/user/criteria')|length != 0%}
                <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
	            {% endif %}
            </div>
            <div class="col-md-4 text-right">
              <div class="pagerfanta">
                {{ pagerfanta(users, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_user_index"}) }}
              </div>
            </div>                
          </th>
        </tr>
      </tfoot>
    </table>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
