{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_ADMIN_USERS')) %}
{% for group in groups if ((mode == 'admin' and group not in user.getAdminGroups()) or (mode == 'member' and group not in user.getMemberGroups())) and (group.origin != constant('Pumukit\\SchemaBundle\\Document\\Group::ORIGIN_LDAP')) %}
<a href="#" 
   id="delete_group_{{ group.id }}_{{ mode }}"
   onclick="javascript:return select_group(this);" 
   ondblclick="javascript:add_group('{{ group.id }}', '{{ user.id }}', '{{ mode }}', '{{ group.key }}', '{{ group.name }}', '{{ group.origin }}', 'user');"
   class="list-group-item notload delete-group-item-{{ mode }}">
  <i class="mdi-social-group"></i>
  {{ group.key }} - {{ group.name }} - ({{ group.origin }})
</a>
{% endfor %}
{% endif %}
