{% set criteria = app.session.get('admin/series/criteria') %}
<div class="well">
    <form id="filter_series" class="form">
        <fieldset>
            <legend hidden>{% trans %}Filter Series{% endtrans %}</legend>

            <div id="accordion" class="panel-group" role="tablist" aria-roledescription="tablist" aria-multiselectable="true">

                <div class="panel panel-default" style="margin-bottom:10px">
                    <div class="panel-heading" role="tab" id="headingSearch">
                        <h2 class="panel-title">
                            <a class="show" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
                                <i class="mdi-navigation-menu pull-right"></i>
                                {% trans %}Search{% endtrans %}
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSearch">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="filters_search" class="control-label">
                                    {% trans %}Search{% endtrans %}:
                                </label>
                                <div>
                                    <input type="text" class="form-control" name="criteria[search]" id="filters_search" value="{{ criteria['search']|default("") }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filters_date" class="control-label">{% trans %}Date{% endtrans %}:</label>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        {% trans %}From{% endtrans %}:&nbsp;
                                        <input type="date" class="form-control" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="Format YYYY-MM-DD" name="criteria[date][from]" onChange="on_filter_series_list()" id="filters_date_from" value="{{ criteria['date']['from']|default("") }}">
                                        <br/>
                                        {% trans %}To{% endtrans %}:&nbsp;&nbsp;
                                        <input type="date" class="form-control" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="Format YYYY-MM-DD" name="criteria[date][to]" id="filters_date_to" onChange="on_filter_series_list()" value="{{ criteria['date']['to']|default("") }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% set collapseIn = "" %}
                {% if criteria['announce'] is defined or criteria['title'] is defined or criteria['subtitle'] is defined %}
                    {% set collapseIn = "in" %}
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOthers">
                        <h2 class="panel-title">
                            <a class="show collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
                                <i class="mdi-navigation-menu pull-right show"></i>
                                {% trans %}Others{% endtrans %}
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOthers" class="panel-collapse collapse {{ collapseIn }}" role="tabpanel" aria-labelledby="headingOthers">
                        <div class="panel-body container-fluid">
                            <div class="form-group">
                                <label for="filters_search_title" class="control-label">
                                    {% trans %}Title{% endtrans %}:
                                </label>
                                <div>
                                    <input type="text" class="form-control" name="criteria[title]" id="filters_search_title" value="{{ criteria['title']|default("") }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filters_search_subtitle" class="control-label">
                                    {% trans %}Subtitle{% endtrans %}:
                                </label>
                                <div>
                                    <input type="text" class="form-control" name="criteria[subtitle]" id="filters_search_subtitle" value="{{ criteria['subtitle']|default("") }}">
                                </div>
                            </div>

                            {% if not disable_pudenew %}
                                <div class="form-group">
                                    <label for="filters_announce" class="control-label">
                                        {% trans %}Announced{% endtrans %}:
                                    </label>
                                    <div>
                                        <select class="form-control" name="criteria[announce]" id="filters_announce">
                                            <option value="diff">{% trans %}Indifferent{% endtrans %}</option>
                                            <option value="true" {% if criteria is not null and criteria['announce'] is defined and criteria['announce'] == "true" %}selected{% endif %}>
                                                {% trans %}Yes{% endtrans %}
                                            </option>
                                            <option value="false" {% if criteria is not null and criteria['announce'] is defined and criteria['announce'] == "false" %}selected{% endif %}>
                                                {% trans %}No{% endtrans %}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <p><strong>{% trans %}Filter by{% endtrans %}:</strong></p>
            <ul class="list-unstyled">
                <li> -
                    <a href="{{ path('pumukitnewadmin_series_index', {'empty_series': true}) }}" title="{% trans %}Show empty series{% endtrans %}">{% trans %}Show empty series{% endtrans %}</a>
                </li>
            </ul>
        </fieldset>

        <div class="text-right">
            <input class="btn btn-default btn-raised" onclick="window.location.href='?criteria[reset]=true'" type="button" value="{% trans %}reset{% endtrans %}">
            <input type="submit" name="filter" value="{% trans %}filter{% endtrans %}" class="btn btn-pumukit btn-raised">
        </div>
    </form>
</div>

<script type="text/javascript">
    function resetSearchForm() {
        $('filters_title').value = '';
        $('filters_person').value = '';
        $('filters_date_from').value = '';
        $('filters_date_to').value = '';
        $('filters_announce').value = 'diff';
        $('filters_status').value = 'all';
        $('filters_search_subtitle').value = '';
    }

    function on_filter_series_list(event) {
        "use strict";
        var from_date = $('#filters_date_from');
        var to_date = $('#filters_date_to');
        if (to_date.val() != "" && from_date.val() >= to_date.val()) {
            to_date[0].setCustomValidity("{% trans %}From date must be less than to date{% endtrans %}");
        } else {
            to_date[0].setCustomValidity("");
        }
        return false;
    }
</script>
