{% for group in groups if group not in resource_groups %}
<a href="#" 
   id="delete_{{ resource_name }}_group_{{ group.id }}"
   onclick="javascript:return select_group(this);" 
   ondblclick="javascript:add_group('{{ group.id }}', '{{ group.key }}', '{{ group.name }}', '{{ group.origin }}', '{{ resource_name }}');"
   class="list-group-item notload delete-{{ resource_name }}-group-item">
  <i class="mdi-social-group"></i>
  {{ group.key[:10] }}{% if ((group.getKey()|length) > 10 ) %}...{% endif %} - {{ group.name[:20] }}{% if ((group.getName()|length) > 20 ) %}...{% endif %} - ({{ group.origin }})
</a>
{% endfor %}
