<div class="table-responsive well" style="overflow:visible;">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
        <input type="hidden" name="pumukitnewadmin_series_sort_change_type" id="pumukitnewadmin_series_sort_change_type" value="{{ app.session.get('admin/series/type')=='asc'?'desc':'asc' }}"/>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th width="1%" id="th-checkbox">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" onclick="window.click_checkbox_all('series', this.checked)">
                        </label>
                    </div>
                </th>
                <th id="th-icons" colspan="{{ is_naked() ? 1 : 3 }}" width="4%"></th>
                <th id="th-img" width="5%"></th>
                {% include 'PumukitNewAdminBundle:Series:listth.html.twig' %}
            </tr>
            </thead>

            <tbody>
            {% for oneseries in series %}
                {% set numV = oneseries|count_multimedia_objects %}
                <tr style="cursor: pointer" {% if(app.session.get('admin/series/id') == oneseries.id ) %} class="success" {% endif %}>
                    <td headers="th-checkbox">
                        <div class="checkbox">
                            <label>
                                <input id="{{ oneseries.id }}" class="series_checkbox" type="checkbox">
                            </label>
                        </div>
                    </td>

                    {% if not is_naked() %}
                        <td headers="th-icons">
                            {% set first_icon = '<i class="' ~ oneseries|series_announce_icon ~ '" data-toggle="tooltip" data-placement="right" title="' ~ oneseries|series_announce_text ~ '"></i>' %}
                            {% set second_icon = '<i class="' ~ oneseries|mms_announce_icon ~ '" data-toggle="tooltip" data-placement="right" title="' ~ oneseries|mms_announce_text ~ '"></i>' %}
                            {{ (first_icon|raw ~ second_icon|raw) | spaceless }}
                        </td>
                        <td headers="th-icons">
                            {% if app.user and is_granted('ROLE_ACCESS_PUBLICATION_TAB') %}
                                <a href="{{ path('pumukitnewadmin_series_changepub', {'id': oneseries.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal" title="{% trans %}Series publication status{% endtrans %}">
                                    <i class="{{ oneseries|series_icon }}" data-toggle="tooltip" data-placement="right" title="{{ oneseries|series_text }}"></i>
                                </a>
                            {% else %}
                                <i class="{{ oneseries|series_icon }}" data-toggle="tooltip" data-placement="right" title="{{ oneseries|series_text }}"></i>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td headers="th-icons">
                        {% include 'PumukitNewAdminBundle:Series:updatemenu.html.twig' with {'oneseries': oneseries, 'numV': numV} %}
                    </td>
                    <td headers="th-img" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                        {% include "PumukitNewAdminBundle:Misc:img_list.html.twig" with {'object': oneseries, 'type' : 'series'} %}
                    </td>
                    <td headers="th-title" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                        <a href="{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}">
                            {{ oneseries.getTitle() }}
                        </a>
                    </td>
                    <td headers="th-date" class="text-nowrap" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                        {{ oneseries.getPublicDate()|localizeddate('medium','none',app.request.getLocale()) }}
                    </td>
                    <td headers="th-mm" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                        {{ numV }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td headers="th-checkbox th-icons th-icons th-icons th-img th-mm th-title th-date" colspan="8">
                        {% trans %}There are no series with those values.{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            {% if (series|length - (series.getMaxPerPage() * (series.getCurrentPage() - 1))) < (series.maxPerPage) %}
                {% for i in (series|length - (series.getMaxPerPage() * (series.getCurrentPage() - 1)))..(series.maxPerPage-1) %}
                    <tr>
                        <td headers="th-checkbox">&nbsp;</td>
                        {% if not is_naked() %}
                            <td headers="th-icons">&nbsp;</td>
                            <td headers="th-icons">&nbsp;</td>
                        {% endif %}
                        <td headers="th-icons">&nbsp;</td>
                        <td headers="th-img">&nbsp;</td>
                        <td headers="th-title">&nbsp;</td>
                        <td headers="th-date">&nbsp;</td>
                        <td headers="th-mm">&nbsp;</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="12" class="foot-td">
                    <div class="row">
                        <div class="col-md-6">
                            {{ series.getNbResults }}
                            {{ "{0} series|{1} series|]1,Inf] series"| trans({'%count%': series.getNbResults }) }}
                            {% if app.session.get('admin/series/criteria')|length != 0 or (app.session.has('admin/series/empty_series') or app.request.query.has('empty_series')) %}
                                <a class="cancel-search-button" title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true">{% trans %}Cancel search{% endtrans %}</a>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="pagerfanta">
                                {% set sorting = {('sorting[' ~ (app.session.get('admin/series/sort')) ~ ']') : (app.session.get('admin/series/type')) } %}
                                {{ pagerfanta(series, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_series_index", "routeParams": sorting}) }}

                                {% if not is_naked() %}
                                    <input title="{% trans %}Go to page{% endtrans %}" type="number"
                                           style="width: 25px;text-align:center;cursor:pointer;"
                                           value="{{ series.getCurrentPage() }}"
                                           onchange="window.location.search = '?page=' + this.value; return false;"/>

                                    <select onchange="javascript: window.location.href = '{{ path('pumukitnewadmin_series_index') }}' + '?page=1&paginate=' + this.value" aria-label="{% trans %}Select the number of series to display per page.{% endtrans %}">
                                        <option {% if series.maxPerPage == 10 %}selected{% endif %} value="10">10
                                        </option>
                                        <option {% if series.maxPerPage == 20 %}selected{% endif %} value="20">20
                                        </option>
                                        <option {% if series.maxPerPage == 50 %}selected{% endif %} value="50">50
                                        </option>
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        {% trans %}You don't have enough permissions to access this content.{% endtrans %}
    {% endif %}
</div>
