<div class="well">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  <div class="row">
    <div class="col-lg-6">
      <form class="form-horizontal">
        <fieldset>
          <legend>{{ is_naked() ? 'Series Metadata'|trans : 'Metadata'|trans }}</legend>
          <div class="form-group">
            <label for="inputROId" class="col-xs-2 control-label">Id:</label>
            <div class="col-xs-10 input-group">
              <input type="text" class="form-control" id="inputROId" readonly onclick="select()" value="{{ series.id }}">
            </div>
            <label for="inputROUrl" class="col-xs-2 control-label hidden-naked">Url:</label>
            <div class="col-xs-10 input-group hidden-naked">
              <input type="text" class="form-control" id="inputROUrl" readonly onclick="select()" value="{{ url('pumukit_webtv_series_index', {id: series.id}) }}">
              <span class="input-group-addon"><a href="{{ url('pumukit_webtv_series_index', {id: series.id}) }}" target="_blank"><i class="mdi-action-exit-to-app"></i></a></span>
            </div>
            <label for="inputROMagicUrl" class="col-xs-2 control-label hidden-naked" data-toggle="tooltip" data-placement="bottom" title="{% trans %}This URL will give you access to the series without login.{% endtrans %}">{% trans %}Magic Url{% endtrans %}:</label>
            <div class="col-xs-10 input-group hidden-naked">
              <input type="text" class="form-control" id="inputROMagicUrl" readonly onclick="select()" value="{{ url('pumukit_webtv_series_magicindex', {secret: series.secret}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}This URL will give you access to the series without login.{% endtrans %}">
              <span class="input-group-addon"><a id="alinkROMagicUrl" href="{{ url('pumukit_webtv_series_magicindex', {secret: series.secret}) }}" target="_blank"><i class="mdi-action-exit-to-app"></i></a></span>
              <span class="input-group-addon">
                <a href="#" onclick="window.submit_generate_magic_series('{{ series.id }}','{{series.title}}'); return false;">
                  <i class="mdi-av-loop"></i>
                </a>
              </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>


  {% if is_naked() %}
    {% include 'PumukitNewAdminBundle:Series:updatemeta.html.twig' %}
  {% else %}
  <div role="tabpanel">
    <ul id="seriesTab" class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#editSeries" aria-controls="editSeries" role="tab" data-toggle="tab" class="main-pmk-tab">{% trans %}Series Metadata{% endtrans %}</a>
      </li>
      {% if mmtemplate %}
      <li>
        <a href="#editTemplate" aria-controls="editTemplate" role="tab" data-toggle="tab" class="main-pmk-tab">{% trans %}Videos Metadata Template{% endtrans %}</a>
      </li>
      {% endif %}
    </ul>

    <div class="tab-content">
      <div id="editSeries" role="tabpanel" class="tab-pane active">
        {% include 'PumukitNewAdminBundle:Series:updatemeta.html.twig' %}
      </div>
      {% if mmtemplate %}
      <div id="editTemplate" role="tabpanel" class="tab-pane">
        {% include 'PumukitNewAdminBundle:MultimediaObjectTemplate:edit.html.twig' %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
