<div class="well">
    <form id="pumukitnewadmin_series_updatemeta_form" onsubmit="$.ajax({
        url: '{{ path('pumukitnewadmin_series_update', {'id': series.id}) }}',
        type: 'POST',
        data: $(this).serialize(),
        error: function(request, json){var message = '{% trans %}Series saved ERROR{% endtrans %}'; no_success(message);},
        success: function(response){
        $('#list_series').html(response);
        $('#preview_series').load('{{ path('pumukitnewadmin_series_show', {'id': series.id}) }}');
        $('#links_series_{{ series.id }}').load('{{ path('pumukitnewadmin_series_links', {'id': series.id}) }}');
        var message = '{% trans %}Series saved OK{% endtrans %}';
        success(message);
        }
        });
        return false;" action="{{ path('pumukitnewadmin_series_update', {'id': series.id}) }}" method="POST">
        {% form_theme form 'PumukitNewAdminBundle:Themes:fields.html.twig' %}
        <input type="hidden" name="id" id="series_id_updatemeta" value="{{ series.id }}">

        <div class="row">
            <div class="col-xs-6">
                <span id="remember_save_series" class="alert alert-dismissable alert-danger" style="display:none;vertical-align:middle;">{% trans %}Press OK for the change to take effect{% endtrans %}</span> &nbsp;
            </div>

            <div class="col-xs-6 text-right">
                <button id="pumukitnewadmin_series_updatemeta_cancel" type="button" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</button>
                <button type="submit" class="btn btn-pumukit btn-raised" onclick="$('#remember_save_series').hide();">{% trans %}OK{% endtrans %}</button>
            </div>
        </div>

        <div>
            <fieldset>
                <legend hidden>{% trans %}Update Series Metadata{% endtrans %}</legend>
                <div class="col-lg-7">
                    {% for child in form %}
                        {% if (child.vars.id not in show_later_fields and child.vars.id not in exclude_fields) %}
                            {{ is_naked() and child.vars.id == 'pumukitnewadmin_series_announce' ? '' : form_row(child) }}
                        {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <dl>
                            <dt>{% trans %}Thumbnails{% endtrans %}</dt>
                            <dd>
                                <div id="pic_series_{{ series.id }}">
                                    {% include 'PumukitNewAdminBundle:Pic:list.html.twig' with {'resource': series, 'resource_name': 'series'} %}
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="hidden-naked">
                        <div class="form-group">
                            <a style="color:#666; text-decoration:underline" href="#" onclick="$('#pumukitnewadmin_series_header_banner').toggle();
                                                              $('#pumukitnewadmin_series_i18n_header').toggle();
                                                              $('#pumukitnewadmin_series_i18n_footer').toggle();
                                                              $('#pumukitnewadmin_series_series_style').toggle();
                                                              $('#html_text_arr_1').toggle();
                                                              $('#html_text_arr_2').toggle();
                                                              return false;">
                                <span id="html_text_arr_1">&#9654;</span> <span style="display:none" id="html_text_arr_2">&#9660;</span>
                                {% trans %}Show configuration{% endtrans %} <strong>HTML</strong> {% trans %}Texts.{% endtrans %}
                                <i class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Click to show or add header/banner and footer{% endtrans %}"></i>
                            </a>
                        </div>

                        {% for child in form %}
                            {% if (child.vars.id in ['pumukitnewadmin_series_i18n_header']) %}
                                <div class="hidden-naked form-group" style="display:none" id="{{ child.vars.id }}">
                                    <div>
                                        <a href="{{ path('pumukitnewadmin_seriespic_banner', {'id': series.id}) }}" style="float: right;" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}Add banner{% endtrans %}</a>
                                    </div>
                                    <label for="header" class="control-label">{{ child.vars.label }}</label>
                                    <div>
                                        {{ form_widget(child) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for child in form %}
                            {% if (child.vars.id in ['pumukitnewadmin_series_i18n_footer']) %}
                                <div class="hidden-naked form-group" style="display:none" id="{{ child.vars.id }}">
                                    <label for="header" class="control-label">{{ child.vars.label }}</label>
                                    <div>
                                        {{ form_widget(child) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for child in form %}
                            {% if (child.vars.id in ['pumukitnewadmin_series_series_style']) %}
                                <div class="hidden-naked form-group" style="display:none" id="{{ child.vars.id }}">
                                    <label for="header" class="control-label">{{ child.vars.label }}</label>
                                    <div>
                                        {{ form_widget(child) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {{ form_row(form['i18n_line2']) }}

                        {# This iterates over all children except for the excluded ones. form_widget doesn't print the same field twice, so it works ala form_rest(form) #}
                        {% for child in form %}
                            {% if (child.vars.id not in exclude_fields and not child.rendered) %}
                                {{ form_row(child) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>


<script type="text/javascript">

    $(function () {
        window.init_series_materialtags();
        window.init_mmobj_materialtags();
    });

</script>
