{% form_theme form 'PumukitNewAdminBundle:Themes:fields.html.twig' %}

<div id="tv_admin_container" class="well">

  <div class="background_id">
    {{ series.id }}
  </div>
  <br />

  <form onsubmit="$.ajax({
                          url: '{{ path('pumukitnewadmin_series_update', {'id': series.id}) }}',
                          type: 'POST',
                          data: $(this).serialize(),
                          error: function(request, json){var message = '{% trans %}Saved ERROR{% endtrans %}'; no_success(message);},
                          success: function(response){
                                            $('#list_series').html(response);
                                            $.ajax({
                                                    url: '{{ path('pumukitnewadmin_series_show', {'id': series.id}) }}',
                                                    type: 'GET',
                                                    success: function(response){$('#preview_series').html(response);}
                                                    });
                                            var message = '{% trans %}Saved OK{% endtrans %}'; 
                                            success(message);
                                            }
                          });
		          return false;"
	    action="{{ path('pumukitnewadmin_series_update', {'id': series.id}) }}" method="POST" class="form-horizontal">

	<input type="hidden" name="id" id="id" value="{{ series.id }}">

	<div class="row">
      <div class="col-md-3">
        <div id="remember_save_series" class="alert alert-dismissable alert-danger" style="display:none;">
          {% trans %}Press OK for the change to take effect{% endtrans %}
        </div>
      </div>

      <div class="col-md-2 col-md-offset-3">
        <span id="series_save_error" style="display:none; color:red;">{% trans %}Saved ERROR{% endtrans %}</span>
      </div>
      <div class="col-md-2">
        <span id="series_save_ok" style="display:none; color:indigo;">{% trans %}Saved OK{% endtrans %}</span>
      </div>

      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-default btn-raised" onclick="$('#remember_save_series').hide();">{% trans %}Cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-pumukit btn-raised" onclick="$('#remember_save_series').hide();">{% trans %}OK{% endtrans %}</button>
      </div>
	</div>

    <div class="well">
      <fieldset>
        <div class="col-md-5">

	      {% for child in form if (child.vars.id not in ['pumukitnewadmin_series_i18n_header', 'pumukitnewadmin_series_i18n_footer', 'pumukitnewadmin_series_i18n_line2']) %}
          {{ form_row(child) }}
	      {% endfor %}

	      <div class="form-group">
	        <dl>
	          <dt>{% trans %}Images{% endtrans %}</dt>
	          <dd>
                <div id="pic_series">
		          {% include 'PumukitNewAdminBundle:Pic:list.html.twig' with {'resource': series, 'resource_name': 'series'} %}
                </div>
	          </dd>
	        </dl>
	      </div>

	      <div class="form-group">
	        <a style="color:#666; text-decoration:underline" href="#"
	           onclick="$('#pumukitnewadmin_series_i18n_header').toggle();
                        $('#pumukitnewadmin_series_i18n_footer').toggle();
                        $('#html_text_arr_1').toggle();
                        $('#html_text_arr_2').toggle();
                        return false;">
	          <span id="html_text_arr_1">&#9654;</span> <span style="display:none" id="html_text_arr_2">&#9660;</span>
	          {% trans %}Show configuration{% endtrans %} <strong>HTML</strong> {% trans %}Texts.{% endtrans %}
	        </a>
	      </div>

	      {% for child in form if (child.vars.id in ['pumukitnewadmin_series_i18n_header', 'pumukitnewadmin_series_i18n_footer']) %}
	      <div class="form-group" style="display:none" id="{{ child.vars.id }}">
	        <label for="header" class="control-label">{{ child.vars.label }}</label>
	        <diV>
              {{ form_widget(child) }}
	        </div>
	      </div>
          {% endfor %}

	      {% for child in form if (child.vars.id in ['pumukitnewadmin_series_i18n_line2']) %}
	      {{ form_row(child) }}
	      {% endfor %}

          {# TODO with tags
	      <div class="form-group" id="pumukitnewadmin_series_structure">
	        <label for="series_template_id" class="control-label">{% trans %}Structure{% endtrans %}:</label>
	        <div>
	          <select name="serial_template_id" id="series_template_id" onchange="$('remember_save_series').show()"><option value="1" selected="selected">date</option>
	            <option value="2">date_all</option>
	            <option value="3">date_subserial</option>
	            <option value="4">subserial</option>
	          </select> #}

	          {#
	          <?php $value = object_select_tag($serial, 'getSerialTemplateId', array(
                    'related_class' => 'SerialTemplate',
              'control_name' => 'serial_template_id',
              'peer_method' => 'doSelect',
              'include_blank' => false,
              'onchange' => "$('remember_save_series').show()",
              )); echo $value ? $value : '&nbsp;' ?>
	          #}
              {#
	        </div>
	      </div>#}

          {{ form_rest(form) }}

        </div>
      </fieldset>
    </div>

  </form>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("*[id^='pumukitnewadmin_series_']").on('change', function(){
        $('#remember_save_series').show();
    });
});
</script>
