{% extends '@PumukitNotification/Email/template.html.twig' %}

{% block body %}
    <h2>{{ subject }}</h2>

    <p>
        {% trans %}Multimedia Object Admin Link{% endtrans %}:
        <a href="{{ multimedia_object_admin_link }}" target="_blank">{{ multimedia_object_admin_link }}</a>
    </p>

    <details>
        <summary>{% trans %}Metadata{% endtrans %}</summary>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Multimedia Object Id{% endtrans %}:</b> {{ multimedia_object.getId() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Multimedia Object Title{% endtrans %}:</b> {{ multimedia_object.getTitle() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Series Id{% endtrans %}:</b> {{ multimedia_object.getSeries().getId() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Series Title{% endtrans %}:</b> {{ multimedia_object.getSeries().getTitle() }} <br />
    </details>

    <details>
        <summary>{% trans %}Technical info{% endtrans %}</summary>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Status{% endtrans %}:</b> {{ job_status }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Job Id{% endtrans %}:</b> {{ job.getId() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Profile{% endtrans %}:</b> {{ job.getProfile() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Cpu{% endtrans %}:</b> {{ job.getCpu() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Priority{% endtrans %}:</b> {{ job.getPriority() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Duration{% endtrans %}:</b> {{ job.getDuration() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}New Duration{% endtrans %}:</b> {{ job.getNewDuration() }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Initial Time{% endtrans %}:</b>
        {{ job.getTimeini()| format_datetime('medium','medium',locale=app.request.getLocale()|default("en")) }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Start Time{% endtrans %}:</b>
        {{ job.getTimestart()| format_datetime('medium','medium',locale=app.request.getLocale()|default("en")) }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}End Time{% endtrans %}:</b>
        {{ job.getTimeend()| format_datetime('medium','medium',locale=app.request.getLocale()|default("en")) }} <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Command{% endtrans %}:</b> <code>{{ commandLine|nl2br }}</code> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; <b>{% trans %}Output{% endtrans %}:</b> <code>{{ job.getOutput()|nl2br }}</code><br />
    </details>

    {{ sender_name }}
{% endblock %}
