<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}Podcast info For Multimedia Object: {% endtrans %} {{ mm.title }}</h4>
</div>
<div class="modal-body podcast-modal-body">
  <div class="col-md-8 input-group">
    <dl class="dl-horizontal">
      <dt>
        {% trans %}Status{% endtrans %}:
      </dt>
      <dd>
        {% if not mm.containsTagWithCod('PUCHPODCAST') %}
            {% trans %}Not published on PodcastEDU/iTunesU.{% endtrans %}
        {% else %}
            {% set has_video = false %}
            {% set has_audio = false %}
            {% for track in mm.getTracksWithTag('podcast') %}
                {% if track.getOnlyAudio() %}
                    {% set has_audio = true %}
                {% else %}
                    {% set has_video = true %}
                {% endif %}
            {% endfor %}
            {% set is_audio = mm.getTrackWithTag('master').isOnlyAudio() %}
            {% if not has_video and not is_audio %}
                <span class="label label-dismissable label-warning">
                    <i class="mdi-action-report-problem alert-warning"></i>
                    {% trans %}WARNING, Not video tracks with{% endtrans %} <span class="label label-primary">podcast</span> tag.
                </span>
            {% elseif not has_audio %}
                <span class="label label-dismissable label-warning">
                    <i class="mdi-action-report-problem alert-warning"></i>
                    {% trans %}WARNING, Not audio tracks with{% endtrans %} <span class="label label-primary">podcast</span> tag.
                </span>
            {% endif %}
            {% if has_audio and (has_video or is_audio) %}
                {% trans %}Published{% endtrans %}.
            {% endif %}
        {% endif %}
      </dd>
    </dl>
  </div>
</div>


<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">{% trans %}Podcast info For Series: {% endtrans %} {{ mm.series.title }}</h4>
</div>
<div class="modal-body podcast-modal-body">
  <div class="col-md-8 input-group">
    <dl class="dl-horizontal">
      <dt data-toggle="tooltip" data-placement="top" title="{% trans %}It downloads and subscribes to an audio-only podcasts of this series.{% endtrans %}">
        {% trans %}Audio POD{% endtrans %}:
      </dt>
      <dd>
        {% set url = url('pumukit_podcast_series_audio', {'id': mm.series.id}, true) %}
        <div class="input-group">
          <input type="text" class="form-control" id="inputROUrlAudioPID" readonly onclick="select()" value="http:{{ url }}" />
          <span class="input-group-addon" title="{% trans %}Subscribe to this series podcast (requires iTunes){% endtrans %}">
            <a href="itpc:{{ url }}" target="_blank"><i class="mdi-av-my-library-music"></i></a>
          </span>
        </div>
      </dd>

      <dt data-toggle="tooltip" data-placement="top" title="{% trans %}It downloads and subscribes to the full video podcasts of this series.{% endtrans %}">
        {% trans %}Video POD{% endtrans %}:
      </dt>
      <dd>
        {% set url = url('pumukit_podcast_series_video', {'id': mm.series.id}, true) %}
        <div class="input-group">
          <input type="text" class="form-control" id="inputROUrlVideoPID" readonly onclick="select()" value="http:{{ url }}" />
          <span class="input-group-addon" title="{% trans %}Subscribe to this series podcast (requires iTunes){% endtrans %}">
            <a href="itpc:{{ url }}" target="_blank"><i class="mdi-av-my-library-music"></i></a>
          </span>
        </div>
      </dd>

      <dt data-toggle="tooltip" data-placement="top" title="{% trans %}It downloads and subscribes to the video and audio podcasts of this series.{% endtrans %}">
        {% trans %}All POD{% endtrans %}:
      </dt>
      <dd>
        {% set url = url('pumukit_podcast_series_collection', {'id': mm.series.id}, true)  %}
        <div class="input-group">
          <input type="text" class="form-control" id="inputROUrlVideoPID" readonly onclick="select()" value="http:{{ url }}" />
          <span class="input-group-addon" title="{% trans %}Subscribe to this series podcast (requires iTunes){% endtrans %}">
            <a href="itpc:{{ url }}" target="_blank"><i class="mdi-av-my-library-music"></i></a>
          </span>
        </div>
      </dd>
    </dl>
  </div>
</div>


<script>
$(function () {
  $('.podcast-modal-body [data-toggle="tooltip"]').tooltip();
});
</script>
