<h1>{% trans %} Categories {% endtrans %}</h1>
<div class="index_widget row">
  <div class="index_container col-xs-12">
    <div class="col-md-4 col-sm-6">
      <div class="img_category">
        {% set title = "University" %}
        <a href="{{ path_to_tag('Dhealth') }}">
          <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitwebtv/images/0.jpg') }}" />
          <div class="cover">
            {{ title|trans }}
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-8 col-sm-6">
      <div class="col-md-6">
        <div class="img_category" >
          {% set title = "Business" %}
          <a href="{{ path_to_tag('Dtechnical') }}">
            <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitwebtv/images/1.jpg') }}" />
            <div class="cover">
              {{ title|trans }}
            </div>
          </a>
        </div>
        <div class="img_category two" >
          {% set title = "Natural Sciences" %}
          <a href="{{ path_to_tag('Dscience') }}">
            <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitwebtv/images/2.jpg') }}" />
            <div class="cover">
              {{ title|trans }}
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img_category" >
          {% set title = "Humanities" %}
          <a href="{{ path_to_tag('Dsocial') }}">
            <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitwebtv/images/4.jpg') }}" />
            <div class="cover">
              {{ title|trans }}
            </div>
          </a>
        </div>
        <div class="img_category two " >
          {% set title = "Health & Medicine" %}
          <a href="{{ path_to_tag('Dsocial') }}">
            <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitwebtv/images/5.jpg') }}" />
            <div class="cover">
              {{ title|trans }}
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="col-sm-6">
        <div class="img_category two" >
          {% set title = "Law" %}
          <a href="{{ path_to_tag('Dhumanities') }}">
            <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitwebtv/images/3.jpg') }}" />
            <div class="cover">
              {{ title | trans }}
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="img_category two " >
          {% set title = "Social Matters & Education" %}
          <a href="{{ path_to_tag('Dsocial') }}">
            <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitwebtv/images/6.jpg') }}" />
            <div class="cover">
              {{ title|trans }}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
