<div class="index_widget">
	<h2>Categories</h2>
	<table class="pumukit_index">
 		<tbody>
   			<tr>
     			<td rowspan="2" width="31%">
       				<div class="img_category">
         				<a href="/">
           					<img alt="Institucional" src="{{ asset('bundles/pumukitwebtv/images/0.jpg') }}" style="height: 349px; width: 216px">
           					<div class="cover"><div>Institucional</div></div>
         				</a>
       				</div>
     			</td>
     			<td width="31%">
       				<div class="img_category">
         				<a href="/">
           					<img alt="Humanidades" src="{{ asset('bundles/pumukitwebtv/images/1.jpg') }}">
           					<div class="cover"><div>Humanidades</div></div>
         				</a>
       				</div>
     			</td>
     			<td width="31%">
       				<div class="img_category">
         				<a href="/">
           					<img alt="Ciencias" src="{{ asset('bundles/pumukitwebtv/images/2.jpg') }}">
           					<div class="cover"><div>Ciencias</div></div>
         				</a>
       				</div>
     			</td>
   			</tr>
   			<tr>
     			<td width="31%">
       				<div class="img_category">
         				<a href="/">
           					<img alt="Tecnología" src="{{ asset('bundles/pumukitwebtv/images/3.jpg') }}">
           					<div class="cover"><div>Tecnología</div></div>
         				</a>
       				</div>
     			</td>
     			<td width="31%">
       				<div class="img_category">
         				<a href="/">
           					<img alt="Juridico-Social" src="{{ asset('bundles/pumukitwebtv/images/4.jpg') }}">
           					<div class="cover"><div>Juridico-Social</div></div>
         				</a>
       				</div>
     			</td>
   			</tr>
 		</tbody>
	</table>
</div>