<div class="col-xs-12">
  {% if app.user %}
    <span class="glyphicon glyphicon-user"></span> {{ app.user.fullname ?: app.user.username }}
    {# Go to back-office: TODO: Each user type will go to different places (Viewer doesn't go anywhere) #}
    {% if is_granted('ROLE_SCOPE_GLOBAL') %}
    <a href="{{ url('pumukit_newadmin_default_index') }}" type="button" class="btn btn-xs btn-default" title="Go to back-office">
      <span class="glyphicon glyphicon-briefcase"></span> Go to back-office
    </a>
    {% elseif is_granted('ROLE_SCOPE_PERSONAL') %}
    <a href="{{ url('pumukit_newadmin_default_index') }}" type="button" class="btn btn-xs btn-default" title="Go to back-office">
      <span class="glyphicon glyphicon-briefcase"></span> Go to back-office
    </a>
    {% endif %}
    <a href="{{ url('fos_user_security_logout') }}" type="button" class="btn btn-xs btn-danger" title="Log out">
      <span class="glyphicon glyphicon-log-out"></span>
    </a>
  {% else %}
    <a href="{{ url('pumukit_auth') }}" type="button" class="btn btn-xs btn-default" title="Log in">
      <span class="glyphicon glyphicon-log-in"></span> Log in 
    </a>
  {% endif %}
</div>
