{% extends '@PumukitWebTV/Layout/template.html.twig' %}

{% block title %}{{ pumukit_info.title|default('PuMuKIT') }} - {% trans %}Home{% endtrans %}{% endblock %}

{% block body %}

    {{ render(controller('Pumukit\\WebTVBundle\\Controller\\ModulesController::highlightAction')) }}

    {{ render(controller('Pumukit\\WebTVBundle\\Controller\\ModulesController::mostViewedAction')) }}

    {{ render(controller('Pumukit\\WebTVBundle\\Controller\\ModulesController::recentlyaddedAllAction')) }}

    <div class="col-xs-12 text-right show_more_link">
        <a href="{{ path('pumukit_webtv_medialibrary_index') }}" title="{{ "Full Catalogue"|trans }}">
            {{ "Show more"|trans }}...
        </a>
    </div>

    {% if menu_stats|default(false) %}
        {{ render(controller('Pumukit\\WebTVBundle\\Controller\\ModulesController::statsAction')) }}
    {% endif %}

{% endblock %}
