{% extends '@PumukitWebTV/Layout/template.html.twig' %}

{% block body %}

    {{ render(controller('PumukitWebTVBundle:Modules:highlight')) }}

    {{ render(controller('PumukitWebTVBundle:Modules:mostViewed')) }}

    {{ render(controller('PumukitWebTVBundle:Modules:recentlyaddedAll')) }}

    <div class="col-xs-12 text-right show_more_link">
        <a href="{{ path('pumukit_webtv_medialibrary_index') }}" title="{{ "Full Catalogue"|trans }}">
            {{ "Show more"|trans }}...
        </a>
    </div>

    {% if menu_stats|default(false) %}
        {{ render(controller('PumukitWebTVBundle:Modules:stats')) }}
    {% endif %}

{% endblock %}
