<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Twitter Bootstrap -->
        <link href="{{ asset('/bundles/pumukitnewadmin/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Material Design for Bootstrap -->
        <link href="{{ asset('/bundles/pumukitnewadmin/css/material-wfont.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/bundles/pumukitnewadmin/css/ripples.min.css') }}" rel="stylesheet">

        <!-- Dropdown.js -->
        <link href="{{ asset('/bundles/pumukitnewadmin/css/jquery.dropdown.css') }}" rel="stylesheet">

        <style>
      * {
        box-sizing: border-box;
      }
      .header-panel {
        background-color: #ff5722;
        z-index: 3;
      }


        
        </style>


        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'PumukitNewAdminBundle::menu.html.twig' %}

        <div class="container-fluid main">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}

        <script src="{{ asset('/bundles/pumukitnewadmin/js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('/bundles/pumukitnewadmin/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/bundles/pumukitnewadmin/js/ripples.min.js') }}"></script>
        <script src="{{ asset('/bundles/pumukitnewadmin/js/material.min.js') }}"></script>
        <script src="{{ asset('/bundles/pumukitnewadmin/js/snackbar.min.js') }}"></script>
        <script src="{{ asset('/bundles/pumukitnewadmin/js/jquery.nouislider.min.js') }}"></script>
        <script>
            $(function() {
                $.material.init();
            });
        </script>
        {% endblock %}
    </body>
</html>
