<div class="header-panel shadow-z-2">
    <div class="bs-component">
        <div class="navbar navbar-pumukit">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" title="{% trans %}Menu{% endtrans %}">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('pumukit_webtv_index_index') }}" style="padding:0px"><img src="{{ asset('/bundles/pumukitnewadmin/images/logo.png') }}" alt="{% trans %}Logo{% endtrans %}"/></a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                {{ knp_menu_render('PumukitNewAdminBundle:Builder:mainMenu', {'currentClass': 'active', 'template': '@PumukitNewAdmin/Themes/menu.html.twig'}) }}
                {# NOTE: Temporarily commented
                <form class="navbar-form navbar-left" action="{{ path('pumukitnewadmin_series_search') }}">
                    <input type="text" class="form-control col-lg-8" placeholder="Search series" name="q">
                </form>
                #}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i style="font-size: 18px; vertical-align: middle" class="mdi-image-timer-auto"></i>{{ app.user.username }} <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">{% trans %}Login since{% endtrans %}: {{ app.user.lastLogin|localizeddate('medium','medium',app.request.getLocale()) }}</li>
                        <li class="dropdown-header">{{ app.user.email }}</li>
                          {{ render(controller('Pumukit\\NewAdminBundle\\Controller\\WidgetController::languageselectAction') ) }}
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}" class="login-menu-button" style="background-color: #fff;">{% trans %}Logout{% endtrans %}</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
