{% set series_title %}{% apply spaceless %}
    {% if app.user and is_granted('ROLE_SCOPE_PERSONAL') %}
        {% trans %}My Series{% endtrans %}
    {% else %}
        {% trans %}Multimedia Series{% endtrans %}
    {% endif %}
{% endapply %}{% endset %}
{% set playlist_title %}{% apply spaceless %}
    {% if app.user and is_granted('ROLE_SCOPE_PERSONAL') %}
        {% trans %}My Playlists{% endtrans %}
    {% else %}
        {% trans %}Playlists{% endtrans %}
    {% endif %}
{% endapply %}{% endset %}

{% set route_name = app.request.get('_route') %}
{% set series_routes = ['pumukitnewadmin_series_index', 'pumukitnewadmin_mms_index', 'pumukitwizard_default_multimediaobject', 'pumukitwizard_default_track', 'pumukitwizard_default_series'] %}
{% set playlist_routes = ['pumukitnewadmin_playlist_index', 'pumukitnewadmin_playlistmms_index'] %}
{% set series_active = route_name in series_routes %}
{% set playlist_active = route_name in playlist_routes %}

<style>
    .cab_body_div ul li, .cab_body_div ul li a {
        color: #000000 !important;
        font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 300;
    }
    .cab_body_div .breadcrumb {
        padding-inline-start: 0 !important;
    }
</style>

<div>
    {% if not is_naked() %}
        <ul class="nav nav-tabs title-tabs naked-menu" style="background: {{ app.request.attributes.get('nakedbackoffice_main_color', '#ED6D00') }};">
            {% if app.user and
                is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) and
                is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_EDIT_PLAYLIST')) %}
                <li {{ series_active ? "class=\"active\"":"" }}>
                    <a title="{% trans %}Go to series{% endtrans %}" href="{{ url('pumukitnewadmin_series_index') }}" style="color: {{ app.request.attributes.get('nakedbackoffice_color', 'white') }};">
                        {{ series_title }}
                        <div class="ripple-wrapper"></div>
                    </a>
                </li>
                <li {{ playlist_active ?"class=\"active\"":"" }}>
                    <a title="{% trans %}Go to playlists{% endtrans %}" href="{{ url('pumukitnewadmin_playlist_index') }}" style="color: {{ app.request.attributes.get('nakedbackoffice_color', 'white') }};">
                        {{ playlist_title }}
                        <div class="ripple-wrapper"></div>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>
