window.submit_delete_role = function(id, countMm)
{
    if (countMm == 0){
        if (window.confirm("{% trans %}Are you sure you want to delete this role?{% endtrans %}")){
            var url = "{{ path('pumukitnewadmin_role_delete', {'id': '__id__'})|raw }}";
            var message = "{% trans %}Role successfully deleted.{% endtrans %}";
            $('#list_roles').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(){success(message)});
        }
    }else{
        window.alert("{% trans %}Impossible to delete, role with{% endtrans %} "+countMm+" {% trans %}people{% endtrans %}");
    }
}

window.submit_delete_user = function(id, userFullname)
{
    if (window.confirm("{% trans %}Are you sure you want to delete the user{% endtrans %} "+userFullname+"?")) {
        var url = "{{ path('pumukitnewadmin_user_delete', {'id': '__id__'})|raw }}";
        $('#list_users').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(responseText, textStatus, XMLHttpRequest){
          if(XMLHttpRequest.status >= 400){
            no_success('{% trans %}Error deleting user{% endtrans %}: ' + responseText);
          }else{
            success('{% trans %}User{% endtrans %} "'+userFullname+'" {% trans %}successfully deleted.{% endtrans %}');
          }
        });
    }
}

window.submit_delete_broadcast = function(id, countMm)
{
    if (countMm == 0){
        if (window.confirm("{% trans %}Are you sure you want to delete this broadcast?{% endtrans %}")){
            var url = "{{ path('pumukitnewadmin_broadcast_delete', {'id': '__id__'})|raw }}";
            var message = '{% trans %}Broadcast successfully deleted.{% endtrans %}';
            $('#list_broadcasts').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(){success(message)});
        }
    }else{
        window.alert("{% trans %}Impossible to delete, broadcast with{% endtrans %} "+countMm+" {% trans %}multimedia object(s).{% endtrans %}");
    }
}

window.submit_delete_live = function(id)
{
    if (window.confirm("{% trans %}Are you sure you want to delete this live channel?{% endtrans %}")){
        var url = "{{ path('pumukitnewadmin_live_delete', {'id': '__id__'})|raw }}";
        var message = '{% trans %}Live channel successfully deleted.{% endtrans %}';
        $('#list_lives').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(){success(message)});
    }
}


window.submit_delete_seriestype = function(id)
{
    if (window.confirm("{% trans %}Are you sure you want to delete this series type?{% endtrans %}")){
        var url = "{{ path('pumukitnewadmin_seriestype_delete', {'id': '__id__'})|raw }}";
        var message = '{% trans %}Series type successfully deleted.{% endtrans %}';
        $('#list_seriestypes').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(){success(message)});
    }
}



window.submit_delete_event = function(id)
{
    if (window.confirm("{% trans %}Are you sure you want to delete this live event?{% endtrans %}")){
        var url = "{{ path('pumukitnewadmin_event_delete', {'id': '__id__'})|raw }}";
        var message = '{% trans %}Live event successfully deleted.{% endtrans %}';
        $('#list_events').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(){success(message)});
    }
}


window.sync_tags_mms = function(id)
{
    if (window.confirm("{% trans %}Are you sure you want to sync this tags? The tags in other objects from this series will be lost.{% endtrans %}")){
      var route = "{{ path('pumukitnewadmin_mms_sync_tags', {'id': '__id__'})|raw }}";
      route = route.replace('__id__', id);
      $.ajax(route, {
        type: 'POST',
        success: function(response, textStatus, jqXHR){
          window.location.reload();
        }
      });
    }
}


window.submit_delete_mms = function(id)
{
    if (window.confirm("{% trans %}Are you sure you want to delete this multimedia object?{% endtrans %}")){
        var url = "{{ path('pumukitnewadmin_mms_delete', {'id': '__id__'})|raw }}";
        var message = '{% trans %}Multimedia Object successfully deleted.{% endtrans %}';
        var sessionId = $($('tr.success').find('input.mm_checkbox')[0]).attr('id');
        $('#list_mms').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(responseText, textStatus, XMLHttpRequest){
            if (textStatus !== "error") {
                if (id === sessionId) {
                    $('#preview_mm').html('{% trans %}Select any multimedia object.{% endtrans %}');
                    $('#edit_mm').html('');
                }
                success(message)
            } else {
                no_success(XMLHttpRequest['statusText'] + ': ' + responseText);
            }
        });
    }
}

window.submit_generate_magic_mms = function(id)
{
    if (window.confirm("{% trans %}Are you sure you want to regenerate the magic url for this multimedia object?{% endtrans %}")){
        var url = "{{ path('pumukitnewadmin_mms_generate_magic_url', {'id': '__id__'})|raw }}";
        var magicUrl =    "{{ url('pumukit_webtv_multimediaobject_magicindex', {secret: '__secret__'})|raw }}";
        var message = '{% trans %}Magic Url successfully generated.{% endtrans %}';
        $('#inputROMagicUrl').load(url.replace('__id__', id), {'_method': 'POST'}, function(responseText, textStatus, XMLHttpRequest){
            if (textStatus !== "error") {
                success(message);
                magicUrl = magicUrl.replace('__secret__', responseText)
                $('#inputROMagicUrl').val(magicUrl);
                $('#alinkROMagicUrl').attr("href",magicUrl);
            } else {
                no_success(XMLHttpRequest['statusText'] + ': ' + responseText);
            }
        });
    }
}

window.submit_generate_magic_series = function(id, seriesTitle)
{
    if (window.confirm("{% trans %}Are you sure you want to regenerate the magic url for the Series: "+seriesTitle+"?{% endtrans %}")){
        var url = "{{ path('pumukitnewadmin_series_generate_magic_url', {'id': '__id__'})|raw }}";
        var magicUrl = "{{url('pumukit_webtv_series_magicindex', {secret: '__secret__'})}}"
        var message = '{% trans %}Magic Url successfully generated.{% endtrans %}';
        $('#inputROMagicUrl').load(url.replace('__id__', id), {'_method': 'POST'}, function(responseText, textStatus, XMLHttpRequest){
            if (textStatus !== "error") {
                success(message);
                magicUrl = magicUrl.replace('__secret__', responseText)
                $('#inputROMagicUrl').val(magicUrl);
                $('#alinkROMagicUrl').attr("href",magicUrl);
            } else {
                no_success(XMLHttpRequest['statusText'] + ': ' + responseText);
            }
        });
    }
}

window.submit_clone_mms = function(id)
{
    if (window.confirm("{% trans %}Are you sure you want to clone this multimedia object?{% endtrans %}")){
        var url = "{{ path('pumukitnewadmin_mms_clone', {'id': '__id__'})|raw }}";
        var message = '{% trans %}Multimedia Object successfully cloned.{% endtrans %}';
        $('#list_mms').load(url.replace('__id__', id), {'_method': 'POST'}, function(){
            success(message)
        });
    }
}

window.submit_delete_series = function(id, seriesTitle, countMm)
{
    if (window.confirm('{% trans %}Are you sure you want to delete the series{% endtrans %} "'+seriesTitle+'"? {% trans %}This series has{% endtrans %} '+countMm+' {% trans %}multimedia object(s){% endtrans %}.')){
        var url = "{{ path('pumukitnewadmin_series_delete', {'id': '__id__'})|raw }}";
        var message = '{% trans %}Series{% endtrans %} "'+seriesTitle+'" {% trans %}successfully deleted{% endtrans %}.';
        var sessionId = $($('tr.success').find('input.series_checkbox')[0]).attr('id');
        $('#list_series').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(responseText, textStatus, XMLHttpRequest){
            if (textStatus !== "error") {
                if (id === sessionId) {
                    $('#preview_series').html('{% trans %}Select any series.{% endtrans %}');
                    $('#edit_series').html('');
                }
                success(message);
            } else {
                no_success(XMLHttpRequest['statusText'] + ': ' + responseText);
            }
        });
    }
}

success = function(message){
    $("#div_messages_span_info").attr("data-content", message);
    $("#div_messages_span_info").snackbar("show");
}

no_success = function(message){
    $("#div_messages_span_error").attr("data-content", message);
    $("#div_messages_span_error").snackbar("show");
}

window.update_preview = function(id) {
  var route = '{{ path('pumukitnewadmin_series_show', {'id': 'PLACEHOLDER'})|raw }}';
  route.replace('PLACEHOLDER', id);
  $('#preview_series').load(route, {method:'POST'});
}

window.delete_eventpic = function(eventId) {
    if (window.confirm('{% trans %}Are you sure you want to delete this picture?{% endtrans %}')) {
        var url = '{{ path('pumukitnewadmin_eventpic_delete', {'id': '___id___'})|raw }}';
        $('#list_events').load(url.replace('___id___', eventId), {'_method': 'DELETE'}, function(){
            var show_url = "{{ path('pumukitnewadmin_event_show', {'id': '___id___'})|raw }}";
            $('#preview_event').load(show_url.replace('___id___', eventId));
            success('{% trans %}Image removed.{% endtrans %}');
        });
    }
}

window.delete_seriespic = function(id, seriesId) {
    if (window.confirm('{% trans %}Are you sure you want to delete this picture?{% endtrans %}')) {
        var url = '{{ path('pumukitnewadmin_seriespic_delete', {'id': '___id___'})|raw }}';
        $('#edit_series').load(url.replace('___id___', id), {'_method': 'DELETE'}, function(){success('{% trans %}Image removed.{% endtrans %}');});
    }
}

window.up_seriespic = function(id, seriesId) {
    var url = '{{ path('pumukitnewadmin_seriespic_up', {'id': '___id___'})|raw }}';
    var div_id = '#pic_series___seriesId__';
    div_id = div_id.replace('__seriesId__', seriesId);
    $(div_id).load(url.replace('___id___', id), {method:'POST'});
}

window.down_seriespic = function(id, seriesId) {
    var url = '{{ path('pumukitnewadmin_seriespic_down', {'id': '___id___'})|raw }}';
    var div_id = '#pic_series___seriesId__';
    div_id = div_id.replace('__seriesId__', seriesId);
    $(div_id).load(url.replace('___id___', id), {method:'POST'});
}

window.submit_delete_person_relation = function(id, roleId, mmId, hName, template)
{
    if (window.confirm("{% trans %}Are you sure you want to delete the relation of{% endtrans %} "+hName+"?")){
        if ('_template' === template){
            var tag_id = '#'+roleId+'_person_mms'+template;
        }else{
            var tag_id = '#'+roleId+'_person_mms';
        }
        var url = "{{ path('pumukitnewadmin_person_delete_relation', {'id': '__id__', 'roleId': '__roleId__','mmId': '__mmId__'})|raw }}";
        url = url.replace('__id__', id);
        url = url.replace('__roleId__', roleId);
        url = url.replace('__mmId__', mmId);
        $(tag_id).load(url, {'_method': 'DELETE'});
        var url = "{{ path('pumukitnewadmin_mms_show', {'id': '__mmId__'})|raw }}";
        var message = '{% trans %}Person successfully removed from Multimedia Object{% endtrans %}';
        $('#preview_mm').load(url.replace('__mmId__', mmId), function(){success(message)});
    }
}

window.submit_delete_link = function(id, mmId)
{
    if (window.confirm('{% trans %}Are you sure you want to delete this link?{% endtrans %}')){
        var url = "{{ path('pumukitnewadmin_link_delete', {'id': '__id__', 'mmId': '__mmId__'})|raw }}";
        url = url.replace('__id__', id);
        url = url.replace('__mmId__', mmId);
        var div_id = '#links_mms___mmId__';
        div_id = div_id.replace('__mmId__', mmId);
        $(div_id).load(url, {'_method': 'DELETE'});
    }
}

window.delete_mmspic = function(id, resourceId) {
    if (window.confirm('{% trans %}Are you sure you want to delete this picture?{% endtrans %}')) {
        var url = '{{ path('pumukitnewadmin_mmspic_delete', {'id': '___id___'})|raw }}';
        var div_id = '#pic_mms___resourceId__';
        div_id = div_id.replace('__resourceId__', resourceId);
        $(div_id).load(url.replace('___id___', id), {'_method': 'DELETE'}, function(){success('{% trans %}Image removed.{% endtrans %}');});
    }
}

window.up_mmspic = function(id, resourceId) {
    var url = '{{ path('pumukitnewadmin_mmspic_up', {'id': '___id___'})|raw }}';
    var div_id = '#pic_mms___resourceId__';
    div_id = div_id.replace('__resourceId__', resourceId);
    $(div_id).load(url.replace('___id___', id), {method:'POST'});
}

window.down_mmspic = function(id, resourceId) {
    var url = '{{ path('pumukitnewadmin_mmspic_down', {'id': '___id___'})|raw }}';
    var div_id = '#pic_mms___resourceId__';
    div_id = div_id.replace('__resourceId__', resourceId);
    $(div_id).load(url.replace('___id___', id), {method:'POST'});
}

window.submit_delete_material = function(id, mmId)
{
    if (window.confirm('{% trans %}Are you sure you want to delete this material?{% endtrans %}')){
        var url = "{{ path('pumukitnewadmin_material_delete', {'id': '__id__', 'mmId': '__mmId__'})|raw }}";
        url = url.replace('__id__', id);
        url = url.replace('__mmId__', mmId);
        var div_id = '#materials_mms___mmId__';
        div_id = div_id.replace('__mmId__', mmId);
        $(div_id).load(url, {'_method': 'DELETE'}, function(){success('{% trans %}Material successfully deleted.{% endtrans %}')});
    }
}

window.submit_delete_track = function(id, mmId, seriesId)
{
    if (window.confirm('{% trans %}Are you sure you want to delete this track?{% endtrans %}')){
        var url = "{{ path('pumukitnewadmin_track_delete', {'id': '__id__', 'mmId': '__mmId__'})|raw }}";
        url = url.replace('__id__', id);
        url = url.replace('__mmId__', mmId);
        var div_id = '#tracks_mms___mmId__';
        div_id = div_id.replace('__mmId__', mmId);
        $(div_id).load(url, {'_method': 'DELETE'}, function(){
            var listUrl = "{{ path('pumukitnewadmin_mms_list', {'seriesId': '__seriesId__'})|raw }}";
            listUrl = listUrl.replace('__seriesId__', seriesId);
            $('#list_mms').load(listUrl, {'_method': 'POST'});
            var showUrl = "{{ path('pumukitnewadmin_mms_show', {'id': '__id__'})|raw }}";
            showUrl = showUrl.replace('__id__', mmId);
            $('#preview_mm').load(showUrl, {'_method': 'POST'});
        });
    }
}

window.extract_pic = function(trackId, mmId, numframe)
{
    var url = "{{ path('pumukitnewadmin_track_pic', {'id': '__trackId__', 'mmId': '__mmId__', 'preview': 1, 'numframe': '__numframe__'})|raw }}";
    $.ajax({
    url: url.replace('__mmId__', mmId).replace('__trackId__', trackId).replace('__numframe__', numframe),
        type: 'POST',
        beforeSend: function(){
            $('#pic_mms_' + mmId +'_load').show();
        },
        success: function(response){
            $('#pic_mms_' + mmId + '_load').hide();
            $('#pic_mms_' + mmId).html(response);
        },
        error: function(){
        $('#pic_mms_' + mmId +'_load').hide();
            no_success('{% trans %}Error extracting pic{% endtrans %}');
        }
    });
}

window.submit_delete_person = function(id, countMm, personHName)
{
    if (countMm == 0){
        if (window.confirm("{% trans %}Are you sure you want to delete the data of{% endtrans %} "+personHName+"?")){
            var url = "{{ path('pumukitnewadmin_person_delete', {'id': '__id__'})|raw }}";
            var message = '{% trans %}Person successfully deleted.{% endtrans %}';
            $('#list_people').load(url.replace('__id__', id), {'_method': 'DELETE'}, function(){success(message);});
    }
    }else{
        window.alert('{% trans %}Cannot delete the data of{% endtrans %} '+personHName+'. '+ countMm+' {% trans %}multimedia object(s) contain(s) this person{% endtrans %}.');
    }
}

window.click_fila_url = function(element, tr, url)
{
  $('#preview_'+element).load(url);

  $('.success').removeClass('success');
  $(tr.parentNode).addClass('success');
}

window.click_checkbox_all = function(element, value)
{
  $('input.'+element+'_checkbox').prop('checked', value);
}

window.click_checkbox_changepub_all = function(element, value)
{
  $('input.checkbox_change_pub_mms').prop('checked', value);
}

window.click_changepub_selection = function(element, value)
{
    $('input.checkbox_change_pub_mms_all').each(function(){$(this)[0].checked=value});
    $('input.checkbox_change_pub_mms').each(function(){$(this)[0].checked=value});
    return false;
}

window.check_checkbox_all = function(value)
{
    var checkbox_all = $('input.checkbox_change_pub_mms_all');
    if (checkbox_all.prop('checked') && (!value)){
        checkbox_all.prop('checked', value);
    }
}

window.check_checkbox_channel_all = function(channelId, value)
{
    var checkbox_channels = $('input.checkbox_change_pub_channel_'+channelId);
    if (checkbox_channels.prop('checked') && (!value)){
        checkbox_channels.prop('checked', value);
    }
}

window.click_checkbox_channel_changepub_all = function(channelId, value)
{
    $('input.pub_channel_input_checkbox.pub_channel_change_pub_'+channelId).prop('checked', value);
}

window.submit_series_change_pub = function()
{
    $('#myModal').modal('hide');

    var channelsId = [];
    $('input.checkbox_all_channels').each(function(){
        channelsId.push($(this).attr("id"));
    });

    var values = {};
    $('.checkbox_change_pub_mms:checked').each(function(){
        var $this = $(this);
        var mmId = $this.attr("id");
        var channelValues = [];
        var channels = {};
        for (var i = 0; i < channelsId.length; i++){
            var channel = $('#pub_channel_change_pub_'+channelsId[i]+'_mm_'+mmId);
            channels[channelsId[i]] = channel.prop('checked')
        }
        values[mmId] = {'status': $('#status_change_pub_'+mmId+' option:selected').val(), 'channels': channels};
    });
    if (values.size == 0) return false;

    var route = '{{ path('pumukitnewadmin_series_updatepub') }}';
    $('#list_series').load(route, {'_method':'POST', 'values': values});

    return false;
}

window.filter_click_letter = function(letter)
{
  $(".pmk-person-letter.text-pumukit").removeClass("text-pumukit");
  $("#pmk-person-letter-" + letter).addClass("text-pumukit");
  $('#filters_letter').val(letter);
  $('#list_people').load('{{ path('pumukitnewadmin_person_list')|raw }}', $('#filter_people').serialize());
}

// TODO complete todos
window.change_select = function(element, selector, pluralName)
{
    var i = selector.val();
    switch(i){
/* TODO
    case 'transc_pause':
        if (confirm('Pausar videos')) {
            new Ajax.Updater('list_transcoders', '/editar.php/transcoders/pause', {
                    asynchronous: true,
                    evalScripts: true,
                onSuccess:  selector.selectedIndex = 0,
                    parameters: 'ids='+$$('.transcoder_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
                );
        }
        break;
    case 'transc_play':
        if (confirm('Reanudar videos')) {
            new Ajax.Updater('list_transcoders', '/editar.php/transcoders/continue', {
                    asynchronous: true,
                    evalScripts: true,
                onSuccess:  selector.selectedIndex = 0,
                    parameters: 'ids='+$$('.transcoder_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
                );
        }
        break;
    case 'transc_borrar':
        if (confirm('Borrar objetos multimedia')) {
            new Ajax.Updater('list_transcoders', '/editar.php/transcoders/delete', {
        asynchronous: true,
        evalScripts: true,
                onSuccess:  selector.selectedIndex = 0,
        parameters: 'ids='+$$('.transcoder_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
                );
        }
        break;
    case 'transc_limpiar':
        if (confirm('Limpiar videos completados del listado')) {
            new Ajax.Updater('list_transcoders', '/editar.php/transcoders/clean', {
                    asynchronous: true,
                    evalScripts: true,
                onSuccess:  selector.selectedIndex = 0,
                    parameters: 'ids='+$$('.transcoder_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
                );
        }
        break;
*/

    case 'delete_selected':
        var ids = [];
        $('.' + element + '_checkbox:checked').each(function(){
            var $this = $(this);
            ids.push($this.attr("id"));
        });
        if (ids.length == 0) break;
        if (pluralName.indexOf('user') != -1) {
            var aux = $('#numberUsers').html().replace(/(\r\n|\n|\r)/gm,"");
            numberUsers = $.trim(aux);
            var usersLength = parseInt(numberUsers.split(" ")[0]);
            if (((ids.length == usersLength) || (1 == usersLength)) && (pluralName.indexOf('user') != -1)) {
                var message = '{% trans %}Can not delete all users{% endtrans %}';
                no_success(message);
                break;
            }
        }
        if (confirm('{% trans %}Are you sure?{% endtrans %}')) {
            var route = get_batch_delete_route(element, ids);
            if (pluralName.indexOf('mms') != -1){
                var message = '{% trans %}Multimedia Object(s) successfully deleted.{% endtrans %}';
            }else{
                var message = pluralName.charAt(0).toUpperCase()+pluralName.slice(1)+' {% trans %}successfully deleted.{% endtrans %}';
            }
            $.ajax({
                    url: route,
                    type: 'POST',
                    data: {'_method': 'DELETE'},
                    error: function(jqXHR, textStatus, errorThrown){
                        if (pluralName.indexOf('tags') != -1){
                            var textError = eval('('+jqXHR.responseText+')');
                            var statusError = textError.status;
                            var message = errorThrown+': {% trans %}Tags with children can not be deleted.{% endtrans %} '+statusError;
                            no_success(message);
                        }else{
                            no_success(errorThrown + ': ' + jqXHR.responseText);
                        }
                    },
                    success: function(response){
                                        if (pluralName.indexOf('mms') != -1){
                                            var sessionId = $($('tr.success').find('input.mm_checkbox')[0]).attr('id');
                                            if (ids.indexOf(sessionId) != -1) {
                                                $('#preview_mm').html('{% trans %}Select any multimedia object.{% endtrans %}');
                                                $('#edit_mm').html('');
                                            }
                                        } else if (pluralName.indexOf('series') != -1){
                                            var sessionId = $($('tr.success').find('input.series_checkbox')[0]).attr('id');
                                            if (ids.indexOf(sessionId) != -1) {
                                                $('#preview_series').html('{% trans %}Select any series.{% endtrans %}');
                                                $('#edit_series').html('');
                                            }
                                        }
                                        $('#list_'+pluralName).html(response);
                                        success(message);
                    }
            });
        }
        break;
    case 'series_preview':
        var url = "{{ url('pumukit_webtv_series_magicindex', {secret: '__mmSecret__'}) }}";
        var secret = selector.find(':selected').attr('id');
        if (secret !== '') window.open(url.replace('__mmSecret__', secret));
        break;
/* TODO
    case 'serial_master':
    Modalbox.show('/editar.php/transcoders/masterserial', {title:'Master Multimedia', width:800});
        selector.selectedIndex = 0;
        break;
      //separar honores sel
    case 'inv_working_sel':
        new Ajax.Updater('list_'+element+'s', '/editar.php/'+element+'s/working', {
        asynchronous: true,
        evalScripts: true,
            onSuccess:  selector.selectedIndex = 0,
        parameters: 'ids='+$$('.'+element+'_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
            );
        break;
      //separar honores sel
    case 'inv_working_all':
        new Ajax.Updater('list_'+element+'s', '/editar.php/'+element+'s/working', {
        asynchronous: true,
        evalScripts: true,
            onSuccess:  selector.selectedIndex = 0,
        parameters: 'all=1'}
            );
        break;
*/
    case 'order_rec_date_asc':
        var route = '{{ path('pumukitnewadmin_mms_reorder', {'seriesId': '__seriesId__', 'fieldName': 'record_date', 'order': 'asc'})|raw }}';
        var seriesId = '{{ app.session.get('admin/series/id') }}';
        $('#list_'+element+'s').load(route.replace('__seriesId__', seriesId), {'_method': 'POST'});
        break;
    case 'order_rec_date_desc':
        var route = '{{ path('pumukitnewadmin_mms_reorder', {'seriesId': '__seriesId__', 'fieldName': 'record_date', 'order': 'desc'})|raw }}';
        var seriesId = '{{ app.session.get('admin/series/id') }}';
        $('#list_'+element+'s').load(route.replace('__seriesId__', seriesId), {'_method': 'POST'});
        break;
    case 'order_pub_date_asc':
        var route = '{{ path('pumukitnewadmin_mms_reorder', {'seriesId': '__seriesId__', 'fieldName': 'public_date', 'order': 'asc'})|raw }}';
        var seriesId = '{{ app.session.get('admin/series/id') }}';
        $('#list_'+element+'s').load(route.replace('__seriesId__', seriesId), {'_method': 'POST'});
        break;
    case 'order_pub_date_desc':
        var route = '{{ path('pumukitnewadmin_mms_reorder', {'seriesId': '__seriesId__', 'fieldName': 'public_date', 'order': 'desc'})|raw }}';
        var seriesId = '{{ app.session.get('admin/series/id') }}';
        $('#list_'+element+'s').load(route.replace('__seriesId__', seriesId), {'_method': 'POST'});
        break;
    case 'cut_mm':
        var ids = [];
        $('.' + element + '_checkbox:checked').each(function(){
            var $this = $(this);
            ids.push($this.attr("id"));
        });
        if (ids.length == 0) {
          no_success('No multimedia object selected');
          break;
        }
        var route = '{{ path('pumukitnewadmin_mms_cut', {'ids': '__ids__'})|raw }}';
        $.ajax({
                url: route.replace('__ids__', JSON.stringify(ids)),
                type: 'GET',
                success: function(response){
                            var paste_mm_text = '{% trans %}Paste multimedia objects{% endtrans %} (';
                            for (var i = 0; i < response.length; i++) {
                                paste_mm_text += response[i];
                                if (i == (response.length - 1)) paste_mm_text += ')';
                                else paste_mm_text += ', ';
                            }
                            $('#options_mms #paste_mm').html(paste_mm_text).show();
                            $('.' + element + '_checkbox:checked').each(function(){
                                var $this = $(this);
                                $this[0].checked = false;
                            });
                            if (ids.length == 1) var message = '{% trans %}Multimedia Object cut. Paste it in the desire Series.{% endtrans %}';
                            else var message = '{% trans %}Multimedia Objects cut. Paste them in the desire Series.{% endtrans %}';
                            success(message);
                }
        });
        break;
    case 'paste_mm':
        if (confirm('{% trans %}Paste multimedia object(s) in this series?{% endtrans %}')) {
            var route = '{{ path('pumukitnewadmin_mms_paste', {'seriesId': '__seriesId__'})|raw }}';
            var seriesId = $('#mms_series_id').val();
            $('#list_'+element+'s').load(route.replace('__seriesId__', seriesId), {'_method':'POST'}, function(){
                $('#options_mms #paste_mm').hide();

                var message = '{% trans %}Multimedia Object(s) pasted in the Series.{% endtrans %}';
                success(message);
            });
        }
        break;
/* TODO
      //status mm
    case 'set_status_0_sel':
        new Ajax.Updater('list_'+element+'s', '/editar.php/'+element+'s/change/status/0', {
        asynchronous: true,
        evalScripts: true,
            onSuccess:  selector.selectedIndex = 0,
        parameters: 'ids='+$$('.'+element+'_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
            );
        break;
    case 'set_status_1_sel':
        new Ajax.Updater('list_'+element+'s', '/editar.php/'+element+'s/change/status/1', {
        asynchronous: true,
        evalScripts: true,
            onSuccess:  selector.selectedIndex = 0,
        parameters: 'ids='+$$('.'+element+'_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
            );
        break;
    case 'set_status_2_sel':
        new Ajax.Updater('list_'+element+'s', '/editar.php/'+element+'s/change/status/2', {
        asynchronous: true,
        evalScripts: true,
            onSuccess:  selector.selectedIndex = 0,
        parameters: 'ids='+$$('.'+element+'_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
            );
        break;
    case 'set_status_3_sel':
        new Ajax.Updater('list_'+element+'s', '/editar.php/'+element+'s/change/status/3', {
        asynchronous: true,
        evalScripts: true,
            onSuccess:  selector.selectedIndex = 0,
        parameters: 'ids='+$$('.'+element+'_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
            );
        break;
*/
    case 'invert_announce_selected':
        var ids = [];
        $('.' + element + '_checkbox:checked').each(function(){
            var $this = $(this);
            ids.push($this.attr("id"));
        });
        if (ids.length == 0) break;
        if (confirm('{% trans %}Are you sure?{% endtrans %}')) {
            if ('series' == element)
                var route = '{{ path('pumukitnewadmin_series_invert_announce', {'ids': '__ids__'})|raw }}';
            else
                var route = '{{ path('pumukitnewadmin_mms_invert_announce', {'ids': '__ids__'})|raw }}';
            $('#list_'+pluralName).load(route.replace('__ids__', JSON.stringify(ids)));
        }
        var editSeriesId = $("#inputROId").val();
        var editMmId = $("#inputMMId").val();
        for (var i = 0; i < ids.length; i++) {
            id = ids[i];
            if (('mm' == element) && (id == editMmId)){
                var puDeNew = $("#list_pubdecisions_"+id+" #pub_decisions_PUDENEW");
                if (1 == puDeNew.length){
                    var checkedValue = puDeNew[0].checked;
                    if (checkedValue) puDeNew[0].checked = false;
                    else puDeNew[0].checked = true;
                }
            } else if (('series' == element) && (id == editSeriesId)) {
                var announcedSeries = $("#pumukitnewadmin_series_announce");
                if (1 == announcedSeries.length){
                    var checkedValue = announcedSeries[0].checked;
                    if (checkedValue) announcedSeries[0].checked = false;
                    else announcedSeries[0].checked = true;
                }
            }
        }
        break;
/* TODO
    case 'inv_announce_virtualserial_sel':
        new Ajax.Updater('list_mms', '/editar.php/virtualserial/inv/field/announce', {
            asynchronous: true,
            evalScripts: true,
            onSuccess:  selector.selectedIndex = 0,
            parameters: 'ids='+$$('.'+element+'_checkbox:checked').invoke('getAttribute', 'id').toJSON()}
                        );
        break;
*/
    }
    selector.val('default');
}


/**
 * Tag tree functions
 */

function select_tree_tag(element)
{
  $(element).siblings(".active").removeClass("active").end().addClass("active");
  return false;
}

function toggle_tree_tag(element, id, mm_id, tag_id, tag_cod)
{
  parent = $(element.parentElement);
  if (parent.hasClass("notload")) {
    parent.removeClass("notload");

    var route = "{{ path('pumukitnewadmin_mms_getchildrentag', {'id': 'PLACEHOLDER_TAG_ID'})|raw }}";
    route = route.replace('PLACEHOLDER_MM_ID', mm_id).replace('PLACEHOLDER_TAG_ID', id);

    $.get(route + "?tag_id=" + tag_id + "&mm_id=" + mm_id, function(responseText, textStatus, jqXHR){
        parent.after(responseText);
    });
    parent.addClass("expanded").removeClass("collapsed");
  } else {
    if (parent.hasClass("expanded")) {
      $(".c_" + tag_cod).hide();
      $(".c_" + tag_cod+".expanded").removeClass("expanded").addClass("collapsed");
      parent.removeClass("expanded").addClass("collapsed");
    } else {
      $(".tag_li_parent_" + id).show();
      parent.addClass("expanded").removeClass("collapsed");
    }

  }

}

// TODO
function toggle_show_all()
{
  // SHOW - Quito el punto a los nodos que muestran sus hijos al desocultar
  $$(".expanded.element, .collapsed.element").each(function(e){
    e.removeClassName("element");
  });

  // SHOW & HIDE - Oculto/Muestro elementos finales que no tiene objetos multimedia
  $$(".nomm.element").each(function(e){
    e.toggleClassName("nodisplayall");
  });

  // SHOW & HIDE - Oculto/Muestro elementos todos sus hijos son finales sin objetos multimedia
  $$(".nomm.expanded, .nomm.collapsed").each(function(e){
    if (e.getElementsBySelector("li.nomm").length == e.getElementsBySelector("li").length) {
      e.toggleClassName("nodisplayall");
    }
  });

  // HIDE - Pongo el punto a los nodos que se quedan sin hijos al ocultar
  $$(".nomm").each(function(e){
    p = e.parentElement.parentElement;
    if (p.getElementsBySelector("li.nodisplayall").length == p.getElementsBySelector("li").length) {
      p.addClassName("element");
    }
  });

}


function create_element_in_select(tag, block_tag_id, mm_id) {
  var $ul = $("#select_ul_tag_cod_" + block_tag_id);
  $ul.append('<a href="#" ondblclick="javascript:del_tree_tag(\'' + tag.id + '\', \'' + mm_id +'\');" onclick="return select_tree_tag(this);" class="list-group-item" id="select_li_' + tag.id + '">' + tag.cod + ' - ' + tag.name +'</a>');
}

function inc_num_mm(tag_id, num)
{
  var aux = $("#info_num_mm_" + tag_id);
  if (aux){
    var nn = (parseInt(aux.text()) + num);
    aux.text(nn);
  }
}

function add_tree_tag(tag_id, mm_id, block_tag_id)
{
  var route = "{{ path('pumukitnewadmin_mms_addtag', {'id': 'PLACEHOLDER_MM_ID', 'tagId': 'PLACEHOLDER_TAG_ID' })|raw }}";
  route = route.replace('PLACEHOLDER_MM_ID', mm_id).replace('PLACEHOLDER_TAG_ID', tag_id);
  $.post(route, {"tag": tag_id}, function(data, textStatus, jqXHR){
    for (var i=0; i < data.added.length; i++) {
      var c = data.added[i];
      !data.prototype && inc_num_mm(c.id, 1);
      var aux = c.group.split("|");
      if(aux[1] && aux.length > 3) create_element_in_select(c, aux[1], mm_id);
    }
    var url = "{{ path('pumukitnewadmin_mms_show', {'id': '__mmId__'}) }}";
    $('#preview_mm').load(url.replace('__mmId__', mm_id));
  });
}


function del_tree_tag(tag_id, mm_id)
{
  var route = "{{ path('pumukitnewadmin_mms_deletetag', {'id': 'PLACEHOLDER_MM_ID', 'tagId': 'PLACEHOLDER_TAG_ID' })|raw }}";
  route = route.replace('PLACEHOLDER_TAG_ID', tag_id).replace('PLACEHOLDER_MM_ID', mm_id);
  $.ajax({
    url: route,
    type: 'DELETE',
    parameters: {'_method': 'DELETE'},
    success: function(response){
      for (var i=0; i<response.deleted.length; i++) {
        var c = response.deleted[i];
        var $_element = $("#select_li_" + c.id);
        if ($_element)  $_element.remove();
        !response.prototype && inc_num_mm(c.id, -1);
      }
      var url = "{{ path('pumukitnewadmin_mms_show', {'id': '__mmId__'}) }}";
      $('#preview_mm').load(url.replace('__mmId__', mm_id));
    }
  });
}

window.click_fila_edit_urls = function(element, tr, show_url, update_url)
{
    $('#preview_'+element).load(show_url);

    $('#edit_'+element).load(update_url, function(){init_tabs();});

    $('.success').removeClass('success');
    $(tr.parentNode).addClass('success');
}

window.dblclick_fila_url = function(element, tr, url)
{
  document.location.href= (url);
}


function filter_series(form)
{
    var from_date = $('#filters_date_from');
    var to_date = $('#filters_date_to');

    if (to_date.val() != "" && from_date.val() >= to_date.val()) {
        to_date[0].setCustomValidity("{% trans %}From date must be less than to date{% endtrans %}");
    }else{
        $('#list_series').load('{{ path('pumukitnewadmin_series_list')|raw }}', $(form).serialize());
    }

    return false;
}

function comprobar_date(date, re){
    return !re.test(date);
}

procesaOk = function(){
  /* TODO get user culture expression for timedate instead of fixed static expression
  // get_js_regexp_timedate($sf_user->getCulture())
  if(comprobar_form_pub( $("temporizada1_temporizada").checked, $("timestart1").value, $("timeend1").value,
                         $("temporizada2_temporizada").checked, $("timestart2").value, $("timeend2").value,
                         /^(\d+)\/(\d+)\/(\d+) (\d+):(\d+)(:(\d+))?$/
                         )) {
    borraFechasSiInactivas();
    $('#remember_save_mm_pub').hide();
    return true;
  } else {
    return false;
  }*/
  $('#remember_save_mm_pub').hide();
  return true;
}
procesaReset = function(){
  $('#remember_save_mm_pub').hide();
  $('#error_start1').hide();
  $('#error_end1').hide();
  $('#error_start2').hide();
  $('#error_end2').hide();
  /* {# TODO CHECK BROADCAST EMPTY
  if ( {{ mm.getBroadcast().id }} != 1 ) {
     $('broadcast_password').show();
  } else {
     $('broadcast_password').hide();
  } #} */
}

/**
 * Global Ajax Event Handlers
 */
$(document).ajaxSuccess(function() {
  $.material.init();
});

$(document).ajaxError(function(event, xhr, settings) {
  if (403 == xhr.status) {
    window.location.href = window.location.href;  // "{{ path('fos_user_security_login') }}";
  }
});


/**
 * Init material on load
 */
$(function() {
  $.material.init();

  $('body').on('hidden.bs.modal', '.modal', function () {
    $(this).removeData('bs.modal');
  });

  init_tabs();
  init_event_tab();

  $('#pumukitnewadmin_mms_new_button').on('click', function () {
    var seriesId = $('#mms_series_id').val();
    var route = "{{ path('pumukitnewadmin_mms_create', {'id': '__seriesId__'}) }}";
    route = route.replace('__seriesId__', seriesId);
    $.ajax(route, {
            type: 'GET',
        error: function(jqXHR, textStatus, errorThrown){
                        var responseText = jqXHR.responseText.split("<title>").pop().split("</title>").shift();
                        var message = responseText.replace(/(\r\n|\n|\r)/gm,"");
                        no_success(errorThrown+': '+textStatus+', '+message);
        },
        success: function(response, textStatus, jqXHR){
            var seriesId = response['seriesId'];
            var mmId = response['mmId'];

            // NOTE: Important to call listAction first to update multimedia object id in session
            var routeList = "{{ path('pumukitnewadmin_mms_list', {'id': '__seriesId__', 'newMmId': '__newMmId__'}) }}";
            routeList = routeList.replace('__newMmId__', mmId);
            $('#list_mms').load(routeList.replace('__seriesId__', seriesId), {'_method':'POST'}, function(){
                var routeShow = "{{ path('pumukitnewadmin_mms_show', {'id': '__mmId__'}) }}";
                $('#preview_mm').load(routeShow.replace('__mmId__', mmId), {'_method':'POST'});

                var routeEdit = "{{ path('pumukitnewadmin_mms_edit', {'id': '__mmId__', 'seriesId': '__seriesId__'}) }}";
                routeEdit = routeEdit.replace('__seriesId__', seriesId);
                $('#edit_mm').load(routeEdit.replace('__mmId__', mmId), function(){
                    init_tabs();
                });
            });
            success('{% trans %}Multimedia Object successfully created.{% endtrans %}');
        }
    });

    return false;
  });

  $('#pumukitnewadmin_series_new_button').on('click', function () {
    var seriesId = $('#series_series_id').val();
    var route = "{{ path('pumukitnewadmin_series_create', {'id': '__seriesId__'}) }}";
    $('#filter_series')[0].reset();
    route = route.replace('__seriesId__', seriesId);
    $.ajax(route, {
            type: 'GET',
            error: function(jqXHR, textStatus, errorThrown){
                        var responseText = jqXHR.responseText.split("<title>").pop().split("</title>").shift();
                        var message = responseText.replace(/(\r\n|\n|\r)/gm,"");
                        no_success(errorThrown+': '+textStatus+', '+message);
            },
            success: function(response, textStatus, jqXHR){
                var seriesId = response['seriesId'];

                // NOTE: Important to call listAction first to update series id in session
                var routeList = "{{ path('pumukitnewadmin_series_list', {'selectedSeriesId': '__seriesId__'})|raw }}";
                $('#list_series').load(routeList.replace('__seriesId__', seriesId), function(){
                    var routeShow = "{{ path('pumukitnewadmin_series_show', {'id': '__seriesId__'})|raw }}";
                    $('#preview_series').load(routeShow.replace('__seriesId__', seriesId));
                    var routeUpdate = "{{ path('pumukitnewadmin_series_update', {'id': '__seriesId__'})|raw }}";
                    $('#edit_series').load(routeUpdate.replace('__seriesId__', seriesId), function(){
                        init_tabs();
                    });
                });
                success('{% trans %}Series successfully created.{% endtrans %}');
            }
    });
    return false;
  });
});

$(document).on('click', '#pumukitnewadmin_series_title_sort_selected', function(){
    var inputROId = $('#inputROId').val();
    var type = $('#pumukitnewadmin_series_sort_change_type').val();
    if (inputROId) {
        var route = "{{ path('pumukitnewadmin_series_list', {'selectedSeriesId': '__inputROId__', 'sorting': {'title': '__type__'}})|raw }}";
        route = route.replace('__inputROId__', inputROId);
    } else {
        var route = "{{ path('pumukitnewadmin_series_list', {'sorting': {'title': '__type__'}})|raw }}";
    }
    $('#list_series').load(route.replace('__type__', type), {'_method':'POST'});
    return false;
});
$(document).on('click', '#pumukitnewadmin_series_title_sort_not_selected', function(){
    var inputROId = $('#inputROId').val();
    if (inputROId) {
        var route = "{{ path('pumukitnewadmin_series_list', {'selectedSeriesId': '__inputROId__', 'sorting': {'title': 'asc'}})|raw }}";
        route = route.replace('__inputROId__', inputROId);
    } else {
        var route = "{{ path('pumukitnewadmin_series_list', {'sorting': {'title': 'asc'}})|raw }}";
    }
    $('#list_series').load(route, {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_series_public_date_sort_selected', function(){
    var inputROId = $('#inputROId').val();
    var type = $('#pumukitnewadmin_series_sort_change_type').val();
    if (inputROId) {
        var route = "{{ path('pumukitnewadmin_series_list', {'selectedSeriesId': '__inputROId__', 'sorting': {'public_date': '__type__'}})|raw }}";
        route = route.replace('__inputROId__', inputROId);
    } else {
        var route = "{{ path('pumukitnewadmin_series_list', {'sorting': {'public_date': '__type__'}})|raw }}";
    }
    $('#list_series').load(route.replace('__type__', type), {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_series_public_date_sort_not_selected', function(){
    var inputROId = $('#inputROId').val();
    if (inputROId) {
        var route = "{{ path('pumukitnewadmin_series_list', {'selectedSeriesId': '__inputROId__', 'sorting': {'public_date': 'asc'}})|raw }}";
        route = route.replace('__inputROId__', inputROId);
    } else {
        var route = "{{ path('pumukitnewadmin_series_list', {'sorting': {'public_date': 'asc'}})|raw }}";
    }
    $('#list_series').load(route, {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_series_multimedia_objects_sort_selected', function(){
    var inputROId = $('#inputROId').val();
    var type = $('#pumukitnewadmin_series_sort_change_type').val();
    if (inputROId) {
        var route = "{{ path('pumukitnewadmin_series_list', {'selectedSeriesId': '__inputROId__', 'sorting': {'multimedia_objects': '__type__'}})|raw }}";
        route = route.replace('__inputROId__', inputROId);
    } else {
        var route = "{{ path('pumukitnewadmin_series_list', {'sorting': {'multimedia_objects': '__type__'}})|raw }}";
    }
    $('#list_series').load(route.replace('__type__', type), {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_series_multimedia_objects_sort_not_selected', function(){
    var inputROId = $('#inputROId').val();
    if (inputROId) {
        var route = "{{ path('pumukitnewadmin_series_list', {'selectedSeriesId': '__inputROId__', 'sorting': {'multimedia_objects': 'asc'}})|raw }}";
        route = route.replace('__inputROId__', inputROId);
    } else {
        var route = "{{ path('pumukitnewadmin_series_list', {'sorting': {'multimedia_objects': 'asc'}})|raw }}";
    }
    $('#list_series').load(route, {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_person_id_sort_selected', function(){
    var inputRawId = $('#inputRawId').val();
    var type = $('#pumukitnewadmin_person_sort_change_type').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'id': '__type__'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'id': '__type__'}})|raw }}";
    }
    $('#list_people').load(route.replace('__type__', type), {'_method':'POST'});
    return false;
});
$(document).on('click', '#pumukitnewadmin_person_id_sort_not_selected', function(){
    var inputRawId = $('#inputRawId').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'id': 'asc'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'id': 'asc'}})|raw }}";
    }
    $('#list_people').load(route, {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_person_name_sort_selected', function(){
    var inputRawId = $('#inputRawId').val();
    var type = $('#pumukitnewadmin_person_sort_change_type').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'name': '__type__'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'name': '__type__'}})|raw }}";
    }
    $('#list_people').load(route.replace('__type__', type), {'_method':'POST'});
    return false;
});
$(document).on('click', '#pumukitnewadmin_person_name_sort_not_selected', function(){
    var inputRawId = $('#inputRawId').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'name': 'asc'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'name': 'asc'}})|raw }}";
    }
    $('#list_people').load(route, {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_person_email_sort_selected', function(){
    var inputRawId = $('#inputRawId').val();
    var type = $('#pumukitnewadmin_person_sort_change_type').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'email': '__type__'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'email': '__type__'}})|raw }}";
    }
    $('#list_people').load(route.replace('__type__', type), {'_method':'POST'});
    return false;
});
$(document).on('click', '#pumukitnewadmin_person_email_sort_not_selected', function(){
    var inputRawId = $('#inputRawId').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'email': 'asc'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'email': 'asc'}})|raw }}";
    }
    $('#list_people').load(route, {'_method':'POST'});
    return false;
});

$(document).on('click', '#pumukitnewadmin_person_phone_sort_selected', function(){
    var inputRawId = $('#inputRawId').val();
    var type = $('#pumukitnewadmin_person_sort_change_type').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'phone': '__type__'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'phone': '__type__'}})|raw }}";
    }
    $('#list_people').load(route.replace('__type__', type), {'_method':'POST'});
    return false;
});
$(document).on('click', '#pumukitnewadmin_person_phone_sort_not_selected', function(){
    var inputRawId = $('#inputRawId').val();
    if (inputRawId) {
        var route = "{{ path('pumukitnewadmin_person_list', {'selectedPersonId': '__inputRawId__', 'sorting': {'phone': 'asc'}})|raw }}";
        route = route.replace('__inputRawId__', inputRawId);
    } else {
        var route = "{{ path('pumukitnewadmin_person_list', {'sorting': {'phone': 'asc'}})|raw }}";
    }
    $('#list_people').load(route, {'_method':'POST'});
    return false;
});


/**
 * Tab
 */
function init_tabs()
{
  $mmTab = $('#menuTab');
  if($mmTab) {
    $mmTab.on('show.bs.tab', function (e) {
      where = e.target.href.split('#')[1];
      localStorage.setItem('lastMmTab', where);
    });

    var lastMmTab = localStorage.getItem('lastMmTab');
    if (lastMmTab) {
      $('#menuTab a[href="#' + lastMmTab+ '"]').tab('show');
    }
  }

  $seriesTab = $('#seriesTab');
  if($seriesTab) {
    $seriesTab.on('show.bs.tab', function (e) {
      where = e.target.href.split('#')[1];
      localStorage.setItem('lastSeriesTab', where);
    });

    var lastSeriesTab = localStorage.getItem('lastSeriesTab');
    if (lastSeriesTab) {
      $('#seriesTab a[href="#' + lastSeriesTab+ '"]').tab('show');
    }
  }

  $templateTab = $('#templateTab');
  if($templateTab) {
    $templateTab.on('show.bs.tab', function (e) {
      where = e.target.href.split('#')[1];
      localStorage.setItem('lastTemplateTab', where);
    });

    var lastTemplateTab = localStorage.getItem('lastTemplateTab');
    if (lastTemplateTab) {
      $('#templateTab a[href="#' + lastTemplateTab+ '"]').tab('show');
    }
  }
}

$(document).on('load', '#list_events', function() {init_event_tab();});

updatesession = function(tab){
    if ('calEvent' == tab) var route = '{{ path('pumukitnewadmin_event_updatesession', {'activeTab': 'calEvent'})|raw }}';
    else var route = '{{ path('pumukitnewadmin_event_updatesession')|raw }}';
    $.ajax({
            url: route,
            type: 'GET',
    });
}

$(document).on('click', '#previousMonth', function(){
    $('#list_events').load('{{ path('pumukitnewadmin_event_list', {'month': 'previous'})|raw }}', {'_method':'POST'});
    return false;
});

$(document).on('click', '#todayMonth', function(){
    $('#list_events').load('{{ path('pumukitnewadmin_event_list', {'month': 'today'})|raw }}', {'_method':'POST'});
    return false;
});

$(document).on('click', '#nextMonth', function(){
    $('#list_events').load('{{ path('pumukitnewadmin_event_list', {'month': 'next'})|raw }}', {'_method':'POST'});
    return false;
});

// To keep listening on the event after jquery load
$(document).on('show.bs.tab', '#eventTab', function(e){
    where = e.target.href.split('#')[1];
    localStorage.setItem('lastEventTab', where);
    // Update session
    if ('calEvent' == where) updatesession('calEvent');
    else updatesession('');
});

/**
 * Event List/Calendar Tabs
 */
function init_event_tab()
{
  $eventTab = $('#eventTab');
  if($eventTab) {
    $eventTab.on('show.bs.tab', function (e) {
      where = e.target.href.split('#')[1];
      localStorage.setItem('lastEventTab', where);
    });

    var lastEventTab = localStorage.getItem('lastEventTab');
    if (lastEventTab) {
      $('#eventTab a[href="#' + lastEventTab+ '"]').tab('show');
    }
  }
}

/**
 * Test from URL
 */
test_form_url = function(url){
    if (test_url_generation(url)){
        window.alert('{% trans %}The given URL is not valid{% endtrans %}.');
        return false;
    }
    $('#myModal').modal('hide');
    return true;
}

/**
 * Test URL generation
 */
test_url_generation = function(url){
    var re=/^(?:(?:https?):\/\/)(?:\S+(?::\S*)?@)?(?:(?!10(?:\.\d{1,3}){3})(?!127(?:\.\d{1,3}){3})(?!169\.254(?:\.\d{1,3}){2})(?!192\.168(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\x{00a1}\-\x{ffff}0-9]+-?)*[a-z\x{00a1}\-\x{ffff}0-9]+)(?:\.(?:[a-z\x{00a1}\-\x{ffff}0-9]+-?)*[a-z\x{00a1}\-\x{ffff}0-9]+)*(?:\.(?:[a-z\x{00a1}\-\x{ffff}]{2,})))(?::\d{2,5})?(?:\/[^\s]*)?$/;
    return !re.test(url);
}

comprobar_form_file_nmb = function(file){
    if (file == ""){
    $('#error_file').show();
    return false;
    }
    return true;
}

/**
 * Initialize all tooltips
 */
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

/**
 * Get batch delete route according to element
 */
get_batch_delete_route = function(element, ids)
{
    var route = ids;

    switch (element) {
        case 'person':
            route = '{{ path('pumukitnewadmin_person_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'series':
            route = '{{ path('pumukitnewadmin_series_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'mm':
            route = '{{ path('pumukitnewadmin_mms_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'live':
            route = '{{ path('pumukitnewadmin_live_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'event':
            route = '{{ path('pumukitnewadmin_event_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'user':
            route = '{{ path('pumukitnewadmin_user_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'tag':
            route = '{{ path('pumukitnewadmin_tag_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'role':
            route = '{{ path('pumukitnewadmin_role_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
        case 'broadcast':
            route = '{{ path('pumukitnewadmin_broadcast_batch_delete', {'ids': '__ids__'})|raw }}';
            break;
    }

    return route.replace('__ids__', JSON.stringify(ids)) ;
}

window.fileServerSelect = function(element, path)
{
    $(element).siblings(".active").removeClass("active").end().addClass("active");
    $('#file').val(path);
}


window.fileServerTree = function(element, type, dir, num, input)
{
    baseelement = $(element);
    if (baseelement.hasClass('collapsed')) {
        baseelement.removeClass("collapsed").addClass("expanded");
        if (baseelement.hasClass('noload')) {
            $.get('{{ path('pumukit_newadmin_inbox_dir')|raw }}?type=' + type + '&dir=' + encodeURIComponent(dir), function(files){
                links = "";
                for(var i in files) {
                  var file = files[i];
                  if (file.is_file) {
                    links += '<a data-hash="' + file.hash + '" data-path="' + baseelement.data('path') + ' ' + file.hash + ' " ' +
                           ' class="list-group-item elem ' + baseelement.data('path') + ' p_' + baseelement.data('hash') + '" onclick="fileServerSelect(this, \'' + file.path +
                           '\'); return false;" href="#"><span style="padding-left: ' + (10 *num)  + 'px"><i class="mdi- tag_icon"></i></span><span title="' +
                           file.relativepath + '">' +
                           ((file.relativepath.length > 50) ? (file.relativepath.slice(0, 35) + '...' + file.relativepath.slice(-15)) : (file.relativepath)) +
                           ((file.content) ? ' [' + (file.content) + ' video(s)]' : '') +
                           '</span></a>';
                  } else {
                    links += '<a data-hash="' + file.hash + '" data-path="' + baseelement.data('path') + ' ' + file.hash + ' " ' +
                           ' class="list-group-item collapsed noload ' + baseelement.data('path') + ' p_' + baseelement.data('hash') + '" onclick="fileServerTree(this, \'' + type + '\', \'' + file.path +
                           '\', ' + (num + 1) + ', \'' + input + '\'); return false;" href="#"><span style="padding-left: ' + (10 *num)  + 'px"><i class="mdi- tag_icon"></i></span><span title="' +
                           file.relativepath + '">' +
                           ((file.relativepath.length > 50) ? (file.relativepath.slice(0, 35) + '...' + file.relativepath.slice(-15)) : (file.relativepath)) +
                           ((file.content) ? ' [' + (file.content) + ' video(s)]' : '') +
                           '</span></a>';
                    if(type == 'dir') {
                        links += '<a style="color:blue; text-decoration: underline" class="list-group-item element" href="#" onclick="fileServerSelect(this, \'' + file.path + '\');">' +
                                 '<span style="padding-left: ' + (10 *num)  + 'px"><i class="mdi- tag_icon"></i></span>' +
                                 '{% trans %}This directory{% endtrans %}' +
                                 '</a>';
                    }
                  }
                }
                baseelement.after(links);
                baseelement.removeClass('noload')
            }, 'json').fail(function(e){
                var error = e.responseJSON.error;
                no_success(error.message + ": (" + error.exception[0].message + ")")

            });
        } else {
            //show loaded
            $(".p_" + baseelement.data('hash')).show();
            baseelement.addClass("expanded").removeClass("collapsed");
        }
    } else {
        //hide
        $("." + baseelement.data('hash')).hide().addClass("collapsed").removeClass("expanded");
        baseelement.addClass("collapsed").removeClass("expanded");
    }

}


// TAG SECTION //

function load_children_tag(id, cod) {
  $(".c_" + cod).remove();
  var tr = $('#row_tag_' +id);
  var level = tr.data('level');
  var url = '{{ path('pumukitnewadmin_tag_children', {'id': '___id___'}) }}';
  $.ajax(url.replace('___id___', id) , {
    type: 'GET',
    success: function(response) {
      var t = tr.closest('tbody');
      var ss = t.children();
      tr.after(response);
      if ($('.d_' + cod).length != 0) {
        $('#row_tag_' + id + ' .collapsed').addClass("expanded").removeClass("collapsed");
      }
    }
  });

}

function toggle_section_tag(id, element, level, cod) {

  if(element.parentElement.classList.contains("expanded")){
    $(".c_" + cod).hide();
    $(".c_" + cod + " .expanded").removeClass("expanded").addClass("collapsed");
  }else{
    if(element.parentElement.classList.contains("noload")) {
      element.parentElement.classList.remove("noload");
      load_children_tag(id, cod);
    }else {
      $(".d_" + cod).show();
    }
  }
  element.parentElement.classList.toggle("collapsed");
  element.parentElement.classList.toggle("expanded");
}


function tag_delete(id, cod, pid, numberMultimediaObjects) {
  if (0 < numberMultimediaObjects) {
    window.alert('{% trans %}Can not delete tag with code{% endtrans %} ' + cod + '. ' + numberMultimediaObjects + ' {% trans %}Multimedia Object(s) has/have this tag{% endtrans %}.');
  } else  if (window.confirm('{% trans %}Are you sure you want to delete the tag with code{% endtrans %} ' + cod + '?')) {
    var url = '{{ path('pumukitnewadmin_tag_delete', {'id': '___id___'}) }}';
    $.ajax(url.replace('___id___', id), {
      type: 'DELETE',
      data:  {'_method': 'DELETE'},
      error: function() {
        window.alert('{% trans %}Tags with children can not be deleted.{% endtrans %}')
      },
      success: function(response) {
        $('#row_tag_' +id).remove();
        if ($('.d_' + pid).length == 0) {
          $('#row_tag_' + pid + ' .expanded').removeClass("expanded").addClass("element");
        }
        var message = '{% trans %}Tag{% endtrans %} "'+cod+'" {% trans %}successfully deleted{% endtrans %}.';
        success(message);
      }
    });
  }
  return false;
}

// END OF TAG SECTION //

$(document).ready(function(){
    $('#myModal')
    .on('shown.bs.modal', function () {
        $('#iframeUpload').on("load", function(){
            var message = $('#iframeUpload').contents().find('title');
            if (message.length != 0) message = message[0].innerHTML;
            message = $.trim(message);
            message = message.replace(/(\r\n|\n|\r)/gm,"");
            if ('4' == message.charAt(0)){
                $('#myModal').modal('hide');
                no_success('NGINX ERROR: '+message);
            }
        });
    })
    .on('show.bs.modal', function() {
        $('.modal-content').html('');
    });
});

$(document).on('submit', '#pumukitnewadmin_event_create_form', function() {
    $(this).find(':submit').prop('disabled', true);
    $('#myModal').modal('hide');
    $.ajax({
            url: "{{ path('pumukitnewadmin_event_create')|raw }}",
            method: 'POST',
            data: $(this).serialize(),
            success: function(response, textStatus, jqXHR){
                if (jqXHR.responseText.indexOf('modal-header') != -1){
                    var message = '{% trans %}There was an error in creating the Live event.{% endtrans %}';
                    no_success(message);
                }else{
                    var eventId = response['eventId'];
                    var routeList = "{{ path('pumukitnewadmin_event_list', {'newEventId': '__eventId__'})|raw }}";
                    $('#list_events').load(routeList.replace('__eventId__', eventId), {'_method':'POST'}, function(){
                        var routeShow = "{{ path('pumukitnewadmin_event_show', {'id': '__eventId__'})|raw }}";
                        $('#preview_event').load(routeShow.replace('__eventId__', eventId));
                    });
                    var message = '{% trans %}Live event successfully created.{% endtrans %}';
                    success(message);
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                no_success(errorThrown+': '+textStatus);
            }
    });
    return false;
});

$(document).on('submit', '#pumukitnewadmin_live_create_form', function() {
    $(this).find(':submit').prop('disabled', true);
    $('#myModal').modal('hide');
    $.ajax({
            url: "{{ path('pumukitnewadmin_live_create')|raw }}",
            method: 'POST',
            data: $(this).serialize(),
            success: function(response, textStatus, jqXHR){
                if (jqXHR.responseText.indexOf('modal-header') != -1){
                    var message = '{% trans %}There was an error in creating the Live channel.{% endtrans %}';
                    no_success(message);
                }else{
                    var liveId = response['liveId'];
                    var routeList = "{{ path('pumukitnewadmin_live_list', {'newLiveId': '__liveId__'})|raw }}";
                    $('#list_lives').load(routeList.replace('__liveId__', liveId), {'_method':'POST'}, function(){
                        var routeShow = "{{ path('pumukitnewadmin_live_show', {'id': '__liveId__'})|raw }}";
                        $('#preview_live').load(routeShow.replace('__liveId__', liveId));
                    });
                    var message = '{% trans %}Live channel successfully created.{% endtrans %}';
                    success(message);
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                no_success(errorThrown+': '+textStatus);
            }
    });
    return false;
});

$(document).on('submit', '#pumukitnewadmin_seriestype_create_form', function() {
    $(this).find(':submit').prop('disabled', true);
    $('#myModal').modal('hide');
    $.ajax({
            url: "{{ path('pumukitnewadmin_seriestype_create')|raw }}",
            method: 'POST',
            data: $(this).serialize(),
            success: function(response, textStatus, jqXHR){
                if (jqXHR.responseText.indexOf('modal-header') != -1){
                    var message = '{% trans %}There was an error in creating the Live channel.{% endtrans %}';
                    no_success(message);
                }else{
                    $('#list_seriestypes').html(response);
                    var message = '{% trans %}Series type channel successfully created.{% endtrans %}';
                    success(message);
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                no_success(errorThrown+': '+textStatus);
            }
    });
    return false;
});

$(document).on('submit', '#pumukitnewadmin_mms_updatemeta_form', function(event){
    $('#remember_save_mm').hide();

    var publicDateVal = $('#pumukitnewadmin_mms_meta_public_date').val();
    var recordDateVal = $('#pumukitnewadmin_mms_meta_record_date').val();

    var publicDate = new Date(publicDateVal);
    var recordDate = new Date(recordDateVal);

    if (publicDate.getTime() < recordDate.getTime()){
        var message = '{% trans %}Multimedia Object saved ERROR: Public Date can not be lower than Date of holding.{% endtrans %}';
        no_success(message);
        return false;
    }

    var route = '{{ path('pumukitnewadmin_mms_update_meta', {'id': '__mmId__'}) }}';
    var mmId = $('#id').val();

    route = route.replace('__mmId__', mmId);

    var showRoute = '{{ path('pumukitnewadmin_mms_show', {'id': '__mmId__'}) }}';
    showRoute = showRoute.replace('__mmId__', mmId);

    $.ajax({
            url: route,
            type: 'POST',
            data: $(this).serialize(),
            error: function(request, json){var message = '{% trans %}Multimedia Object saved ERROR{% endtrans %}'; no_success(message);},
            success: function(response){
                                        $('#list_mms').html(response);
                                        $('#preview_mm').load(showRoute);
                                        var message = '{% trans %}Multimedia Object saved OK{% endtrans %}';
                                        success(message);
                                        }
            });

    return false;
});

$(document).on('change', "*[id^='pumukitnewadmin_series_']", function(){
    $('#remember_save_series').css('display', 'inline-block');
});

$(document).on('change', "*[id^='pumukitnewadmin_mms_meta_']", function(){
    $('#remember_save_mm').css('display', 'inline-block');
});

$(document).on('change', "*[id^='pumukitnewadmin_mms_meta_']", function(){
    $('#remember_save_mm').css('display', 'inline-block');
});

$(document).on('change', 'form#pumukitnewadmin_mms_updatepub_form input, form#pumukitnewadmin_mms_updatepub_form select', function(){
    $('#remember_save_mm_pub').show();
});

$(document).on('click', '#pumukitnewadmin_series_updatemeta_cancel', function(){
    $('#pumukitnewadmin_series_updatemeta_form')[0].reset();
    $('#remember_save_series').hide();
});

$(document).on('click', '#pumukitnewadmin_mms_updatepub_cancel', function(){
    $('#pumukitnewadmin_mms_updatepub_form')[0].reset();
    return procesaReset();
});

$(document).on('click', '#pumukitnewadmin_mms_updatemeta_cancel', function(){
    $('#pumukitnewadmin_mms_updatemeta_form')[0].reset();
    $('#remember_save_mm').hide();
});

$(document).on('click', '#pumukitnewadmin_mmtemplate_updatemeta_cancel', function(){
    $('#pumukitnewadmin_mmtemplate_updatemeta_form')[0].reset();
    $('#remember_save_mm_template').hide();
});

$(document).on('submit', '#pumukitnewadmin_user_form_update', function(event){
    $('#myModal').modal('hide');

    var route = '{{ path('pumukitnewadmin_user_update', {'id': '__userId__'}) }}';
    var userId = $('#userId').val();

    route = route.replace('__userId__', userId);

    $.ajax({
            url: route,
            method: 'POST',
            data: $(this).serialize(),
            success: function(response, textStatus, jqXHR){
                        if (jqXHR.responseText.indexOf('modal-header') != -1){
                            var message = '{% trans %}There was an error in updating the User.{% endtrans %}';
                            no_success(message);
                        }else{
                            $('#list_users').html(response);
                            var message = '{% trans %}User successfully updated.{% endtrans %}';
                            success(message);
                        }
            },
            error: function(jqXHR, textStatus, errorThrown){
                        var responseText = jqXHR.responseText.split("<title>").pop().split("</title>").shift();
                        var message = responseText.replace(/(\r\n|\n|\r)/gm,"");
                        no_success(errorThrown+': '+textStatus+', '+message);
            }
    });
    return false;
});

$(document).on('submit', '#pumukitnewadmin_user_form_create', function(event){
    $(event.currentTarget).find(':submit').prop('disabled', true);
    $('#myModal').modal('hide');

    var route = '{{ path('pumukitnewadmin_user_create') }}';
    $.ajax({
            url: route,
            method: 'POST',
            data: $(this).serialize(),
            success: function(response, textStatus, jqXHR){
                        if (jqXHR.responseText.indexOf('modal-header') != -1){
                            var message = '{% trans %}There was an error in creating the User.{% endtrans %}';
                            no_success(message);
                        }else{
                            $('#list_users').html(response);
                            var message = '{% trans %}User successfully created.{% endtrans %}';
                            success(message);
                        }
            },
            error: function(jqXHR, textStatus, errorThrown){
                        // TODO: talk to Rubn
                        var responseText = jqXHR.responseText.split("<title>").pop().split("</title>").shift();
                        var message = responseText.replace(/(\r\n|\n|\r)/gm,"");
                        no_success(errorThrown+': '+textStatus+', '+message);
            }
    });
    return false;
});

function test_material_form_url(url){
    $('.error').hide();

    if (test_url_generation(url)){
        $('#error_url').show();
        return false;
    }
    $('#myModal').modal('hide');
    return true;
}

function test_material_form_file_nmb(file){
    $('.error').hide();
    if (file == ""){
        $('#error_file').show();
        return false;
    }

    return true;
}

$(document).on('click', '#pumukitnewadmin_track_ok_button', function(event){
    if ($('#radio_file').prop('checked')){
        var file = $('#resource').val();
    }else{
        var file = $('#file').val();
    }
    var valid = test_material_form_file_nmb(file);
    if (valid){
        $('#file_upload_progress').show();
        return true;
    }else{
        return false;
    }
});

window.change_pics_page = function(route)
{
    $('#pics_to_add_list').load(route);
}