{% extends '@PumukitWebTV/layout.html.twig' %}

{% block body %}
    <h1 class="title-for-crumbs">{{ title|trans }}</h1>
    {% for parent in allGrounds %}
        <div class="col-md-6 channel-list">
            <a href="{{ parent.url }}">
                <h2>
                    {{ parent.title }}
                    {% set count = parent.num_mmobjs %}
                    <small>
                        {{ "{0}no videos yet|{1}1 video|]1,Inf[%count% videos"|trans({'%count%':  count}) }}
                    </small>
                </h2>
            </a>
            <ul>
                {% for child in parent.children %}
                {% if child.children is empty %}
                {% set markdown = 'p' %}
                {% else %}
                {% set markdown = 'h4' %}
                {% endif %}
                <li>
                    {% if child.num_mmobjs > 0 %}
                    <{{markdown}}>
                        <a href="{{ child.url }}">
                            {{ child.title }} ({%trans%} All {% endtrans %} {{ child.num_mmobjs }})
                        </a>
                    </{{markdown}}>
                    {% else %}
                    <{{markdown}} class="disabled">{{ child.title }} ({%trans%} All {% endtrans %} {{ child.num_mmobjs }})</{{markdown}}>
                    {% endif %}
                    {% if child.children |length > 0 %}
                    <ul>
                        {% for grandchild in child.children %}
                        <li>
                            {% if grandchild.num_mmobjs > 0 %}
                            <p>
                                <a href="{{ grandchild.url }}">
                                    {{ grandchild.title }} ({{grandchild.num_mmobjs }})
                                </a>
                            </p>
                            {% else %}
                            <p class="disabled">{{ grandchild.title }} ({{grandchild.num_mmobjs }})</p>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% if loop.index is even %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}
    <div class="clearfix"></div>
    <hr>
{% endblock %}
