<table>
 <tbody>
   <tr>
     <td rowspan="2" width="31%">
       <div class="img_category">
         <a href="{{ path('pumukit_cmar_web_tv_library_mainconferences') }}">
          <img alt="Main Conferences" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/gc.jpg') }}" style="height: 349px; width: 216px"/>
           <div class="cover"><div><span>{% trans %}Main Conferences{% endtrans %}</span></div></div>
         </a>
       </div>
     </td>
     <td width="31%">
       <div class="img_category">
         {% if event is not empty and event.getPic() != '' and event.live.getIndexPlay() %}
         <a href="{{ path('pumukit_live_id', {'id': event.live.id}) }}">
           <img alt="Live Announce" width="252" height="189" src="{{ event.getPic() }}" />
           <div class="cover"><div><span>{% trans %}LIVE BROADCASTING{% endtrans %}</span></div></div>
         </a>
       {% else %}
         <a href="{{ path('pumukit_cmar_web_tv_library_lectures') }}">
	         <img alt="Recorded Lectures" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/lectures.jpg') }}" />
           <div class="cover"><div><span>{% trans %}Lectures{% endtrans %}</span></div></div>
         </a>
       {% endif %}
       </div>
     </td>
     <td width="31%">
       <div class="img_category">
         <a href="{{ path('pumukit_cmar_web_tv_library_projectsupport') }}">
           <img alt="Project Support" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/ps.jpg') }}" />
           <div class="cover"><div><span>{% trans %}Project Support{% endtrans %}</span></div></div>
         </a>
       </div>
     </td>
   </tr>
   <tr>
     <td width="31%">
       <div class="img_category">
         <a href="{{ path('pumukit_cmar_web_tv_library_promotional') }}">
           <img alt="Promotional" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/gm.jpg') }}" />
           <div class="cover"><div><span>{% trans %}Promotional{% endtrans %}</span></div></div>
         </a>
       </div>
     </td>
     <td width="31%">
       <div class="img_category">
         <a href="{{ path('pumukit_cmar_web_tv_library_pressarea') }}">
           <img alt="Press Area" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/pa.jpg') }}" />
           <div class="cover"><div><span>{% trans %}Press Area{% endtrans %}</span></div></div>
         </a>
       </div>
     </td>
   </tr>
 </tbody>
</table>
