{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% if scroll_list %}
        <script src="{{ asset('bundles/pumukitwebtv/js/announces_ajax.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ title }}</h1>
        </div>

        {% if scroll_list %}
            <div class="announces" id="announces"></div>
            <div id="announces_loading" style="display:none">
                <img alt="spinner" class="center-block" src="{{ asset('bundles/pumukitwebtv/images/icons/spinner.gif') }}"/>
            </div>
            <script type="text/javascript">
                var url_latestuploads_pager = "{{ path(scroll_list_path, { (scroll_element_key) : scroll_element_value, 'type': type}) }}";
            </script>
        {% else %}
            {% include 'PumukitWebTVBundle:List:template_list.html.twig' %}
            {% include 'PumukitWebTVBundle:Misc:pager.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
