{% if enable_chat and multimediaObject.getEmbeddedEvent() and multimediaObject.getEmbeddedEvent().isChatEnabled() %}
    {% set event = multimediaObject.getEmbeddedEvent() %}
    <link href="{{ asset('bundles/pumukitlive/css/chat.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    <div class="panel panel-default panel-related event-chat-panel">
        <div class="panel-heading chat-panel-heading">
            <div class="panel-heading-table">
                <div class="panel-heading-table-row">
                    <div class="panel-heading-table-cell">{% trans %}Event chat{% endtrans %}</div>
                    <div class="panel-heading-table-cell panel-heading-image">
                        <img src="{{ asset('bundles/pumukitwebtv/images/chat.svg') }}" alt="{% trans %}Chat icon{% endtrans %}" title="{% trans %}Chat icon{% endtrans %}" class="chat-icon-heading"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-panel-body" class="panel-body" style="height:200px;">
            <div id="chatList" style="overflow: hidden;">
                {{ render(controller('PumukitWebTVBundle:Chat:list', {'id': multimediaObject.id})) }}
            </div>
        </div>
        <div class="panel-footer">
            <form id="chatForm" onsubmit="postChatMessage(); return false;" action="{{ path('pumukit_live_chat_post', {'id': multimediaObject.id}) }}" method="post">
                <fieldset>
                    <div id="event-chat-form-name" class="form-group">
                        <label for="name">{% trans %}Name{% endtrans %}:</label>
                        <input type="text" name="name" id="chatName" maxlength="30" class="form-control" value="{{ username }}" {{ username ? 'disabled':'' }}/>
                        <div id="chat-name-error" class="chat-name-error">{% trans %}Name cannot be empty{% endtrans %}</div>
                    </div>
                    <div class="form-group">
                        <label for="name">{% trans %}Message{% endtrans %}:</label>
                        <input type="textarea" name="message" id="chatMessage" wrap="virtual" class="form-control chatInputMessage" value=""/>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


    <script type="text/javascript">
        var chat_timer = null;
        document.addEventListener('DOMContentLoaded', function () {
            $('#chatMessage').on('keypress', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    postChatMessage();
                    e.preventDefault();
                }
            });
        });
        postChatMessage = function () {
            if ($("#chatName").val() != '') {
                $('#chat-name-error').hide();
                $('#event-chat-form-name').hide();
                var route = "{{ path('pumukit_live_chat_post', {'id': multimediaObject.id})|raw }}";
                var name = $("#chatName").val();
                var message = $("#chatMessage").val();
                $.ajax({
                    url: route,
                    type: 'POST',
                    data: {'method': 'POST', 'name': name, 'message': message},
                    error: function (jqXHR, textStatus, errorThrown) {
                    },
                    success: function (data, textStatus, jqXHR) {
                        if (data != '') {
                            var message = data.message;
                            if (message === 'Successful') {
                                $("#chatMessage").val('');
                                updateChat();
                            }
                        }
                    }
                });
                $("#chatMessage").val('');
            } else {
                $('#chat-name-error').show();
            }
            return false;
        }
        updateChat = function () {
            if (chat_timer != null)
                clearTimeout(chat_timer);
            $('#chatList').load("{{ path('pumukit_live_chat_list', {'id': multimediaObject.id}) }}", function (response, status, xhr) {
                if (status == "error") {
                    $('#chat-list-error').html('{% trans %}Sorry but there was an error{% endtrans %}');
                    $('#chat-list-error').show();
                } else {
                    $('#chat-panel-body').scrollTop($('#chat-panel-body')[0].scrollHeight - $('#chat-panel-body')[0].clientHeight);
                }
            });
            chat_timer = setTimeout('updateChat()', {{ chatUpdateInterval }});
        }
        updateChat();
    </script>
{% endif %}
