<table><tdody>
  {% for material in materials %}
    <tr>
      <td><ul><li></li><ul></td>
      <td><a title="{% trans %}Edit file of multimedia object{% endtrans %} {{ material.id }}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_material_update', {'id': material.id, 'mmId': mmId}) }}"><img alt="{% trans %}edit{% endtrans %}" title="{% trans %}edit{% endtrans %}" src="/legacy/images/admin/mbuttons/edit_inline.gif"></a><td>
      <td>
          <a href="#" onclick="window.submit_delete_material('{{ material.id }}', '{{ mmId }}'); return false;">
             <img alt="{% trans %}delete{% endtrans %}" title="{% trans %}delete{% endtrans %}" src="/legacy/images/admin/mbuttons/delete_inline.gif">
          </a>
      </td>
      <td><a target="_blank" href="{{ material.getUrl(true) }}"><img alt="{% trans %}download{% endtrans %}" title="{% trans %}Download{% endtrans %}" src="/legacy/images/admin/mbuttons/download_inline.gif"></a></td>
      <td>
        {% if loop.first %}
	  &nbsp;
	{% else %}
	  <a href="#" onclick="new Ajax.Updater('materials_mms', '{{ path('pumukitadmin_material_up', {'id': material.id, 'mmId': mmId}) }}', {asynchronous:true, evalScripts:true}); return false;">&#8593;</a>
	{% endif %}
      </td>
      <td>
	{% if loop.last %}
          &nbsp;
	{% else %}
	  <a href="#" onclick="new Ajax.Updater('materials_mms', '{{ path('pumukitadmin_material_down', {'id': material.id, 'mmId': mmId}) }}', {asynchronous:true, evalScripts:true}); return false;">&#8595;</a>
	{% endif %}
      </td>
      <td>
        &nbsp; {{ material.id }} - {{ material.getName() }} {% if material.getHide() %}({% trans %}Hidden{% endtrans %}){% endif %}
      </td>
    </tr>
  {% endfor %}
  <tr>
    <td><ul><li></li><ul></td>
    <td colspan="6"><a title="{% trans %}Create Material{% endtrans %}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_material_create', {'id': mmId}) }}">{% trans %}create{% endtrans %}...</a></td>
  </tr>
</tbody></table>
