{% form_theme form 'PumukitAdminBundle:Themes:fields.html.twig' %}

<div id="tv_admin_container">
  <form onsubmit="Modalbox.hide();
                  new Ajax.Updater('materials_mms', '{{ path('pumukitadmin_material_update', {'id': material.id, 'mmId': mmId}) }}', {
                  method:'POST', asynchronous:true, evalScripts:true, 
                  parameters:Form.serialize(this)});
                  return false;"
        action="{{ path('pumukitadmin_material_update', {'id': material.id, 'mmId': mmId}) }}" method="POST">

    <input type="hidden" name="id" id="id" value="{{ material.id }}" />
    <input type="hidden" name="mmId" id="mmId" value="{{ mmId }}" />

    <fieldset>

      {% for child in form %}
        {{ form_row(child) }}
      {% endfor %}
      
      <div id="pumukitadmin_material_url" class="form-row">
        <label for="url">{% trans %}URL{% endtrans %}</label>
        <div class="content">
          <input type="text" name="url" id="url" value="{{ material.getUrl() }}" size="60" class="MB_focusable" style="width: 420px" disabled="disabled">
        </div>
      </div>
      
    </fieldset>
    
    <ul class="tv_admin_actions">
      <li><input type="submit" name="OK" value="{% trans %}OK{% endtrans %}" class="tv_admin_action_save MB_focusable"></li>
      <li><input class="tv_admin_action_delete MB_focusable" onclick="Modalbox.hide(); return false;" type="button" value="{% trans %}Cancel{% endtrans %}"></li>
    </ul>
    
  </form>
</div>
