{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/pumukitwebtv/js/jwplayer/jwplayer.js') }}" type="text/javascript"></script>
  {% if jwplayer_key is defined %}<script type="text/javascript">jwplayer.key="{{ jwplayer_key }}";</script>{% endif %}
{% endblock%}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.keyword }}{% endblock %}

{% block body_without_bar %}
    <p class="titulo_widget titulo_widget_grande">
      {{ multimediaObject.title|default("No title"|trans) }}
    </p>
	<div class="grid_10 mm_player">
      <div class="date">
        {% trans %}Date of holding{% endtrans %}: {{ multimediaObject.getRecordDate()|date("d/m/Y")}}
      </div>
	  {% include 'PumukitWebTVBundle:MultimediaObject:player.html.twig' with {'width': '620', 'height': '465'} %}
	  {% include 'PumukitWebTVBundle:MultimediaObject:info.html.twig' %}
	</div>
	<div class="grid_5">
	  {% render(controller('PumukitWebTVBundle:MultimediaObject:series', {'multimediaObject': multimediaObject})) %}
      {% render(controller('PumukitWebTVBundle:MultimediaObject:related', {'multimediaObject': multimediaObject})) %}
	  {% include 'PumukitWebTVBundle:MultimediaObject:share.html.twig' %}
	</div>
{% endblock %}
