{% extends 'PumukitCmarWebTVBundle::opencast_layout.html.twig' %}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.keyword }}{% endblock %}

{% block body_without_bar %}
<p class="titulo_widget titulo_widget_grande" style="min-width: 1210px; margin-right: 10px;">
  {{ multimediaObject.getTitle() }}
</p>
<div class="mm_player">
  <div class="date" style="min-width: 1310px; margin-right: 10px;">
    {% if is_old_browser %}
    <div style="margin-left: 20%; padding: 3px; font-size: 14px; font-weight: bold; text-align: center; color: #FFF; background-color: #D80000; float:left">
      <img id="imagen_alert" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/obsolete.png') }}" style="float: left; margin-right: 3px;"></img>
      <span>{% trans %}Use{% endtrans %}&nbsp<a href="https://www.google.com/intl/es/chrome/browser/?hl=es" target="_blank" style="color: #FFF;">Google Chrome</a>&nbsp{% trans %}or{% endtrans %}&nbsp<a href="http://www.apple.com/es/safari/" target="_blank" style="color: #FFF;">Safari</a>&nbsp{% trans %}to improve your experience in watching recorded lectures{% endtrans %}</span>
      <div>({% trans %}Web explorers with HTML5 and h.264 codec video support{% endtrans %})</div>
    </div>
    {% endif %}
    <!-- Fixme falta estilo de esto -->
    {% trans %}Date of holding{% endtrans %}: {{ multimediaObject.getRecordDate()|date('d/m/Y') }}
  </div>
</div>
<div style="clear:both"></div>

<script type="text/javascript">
//<![CDATA[
function mh_animacion(){

  player = $('mh_player');
  lateral = $('sidebar');

  if(player.hasClassName('fullscreen')){
    player.removeClassName('fullscreen');
    player.setStyle({'margin': '0px 287px 0px 0px'}); 
    lateral.setStyle({'width': '270px'});
    $('mh_toggle_img_1').setStyle({'background': 'transparent  url("{{ asset('bundles/pumukitcmarwebtv/images/iconos/flechas.png') }}") no-repeat -22px 0px'});
    $('mh_toggle_img_2').setStyle({'background': 'transparent  url("{{ asset('bundles/pumukitcmarwebtv/images/iconos/flechas.png') }}") no-repeat -22px 0px'});
    $('mh_toggle_img_3').setStyle({'background': 'transparent  url("{{ asset('bundles/pumukitcmarwebtv/images/iconos/flechas.png') }}") no-repeat -22px 0px'});
  }else{
    player.addClassName('fullscreen')
    lateral.setStyle({'width': '19px'}); 
    player.setStyle({'margin': '0px 40px 0px 0px'}); 
    $('mh_toggle_img_1').setStyle({'background': 'transparent  url("{{ asset('bundles/pumukitcmarwebtv/images/iconos/flechas.png') }}") no-repeat -22px -16px'});
    $('mh_toggle_img_2').setStyle({'background': 'transparent  url("{{ asset('bundles/pumukitcmarwebtv/images/iconos/flechas.png') }}") no-repeat -22px -16px'});
    $('mh_toggle_img_3').setStyle({'background': 'transparent  url("{{ asset('bundles/pumukitcmarwebtv/images/iconos/flechas.png') }}") no-repeat -22px -16px'});
  }
  
  return false;

}

//]]>
</script>

<div id="bloque" style="width: auto; min-width: 1220px;">
 <div id="pumukit_m_mmobj" class="pumukit_m" style="margin: 0px 1%; padding: 20px 0px;">
  <div id="sidebar" > 
    <div id="mh_toggle_div" onclick="mh_animacion();" >
    <div id="mh_toggle_img_1" class="mh_toggle_img"
         style="top:25%; ">
         &nbsp;
    </div>
    <div id="mh_toggle_img_2" class="mh_toggle_img"
         style="top:50%; ">
         &nbsp;
    </div>
    <div id="mh_toggle_img_3" class="mh_toggle_img"
         style="top:75%; ">
         &nbsp;
    </div>
  </div>
  {% set track = multimediaObject.getTrackWithTag('sbs') %}
  <div id="sidebar_content" style="width: 100%">
    {% include 'PumukitCmarWebTVBundle:MultimediaObject:shareopencast.html.twig' with {'multimediaObject': multimediaObject, 'track': track} %}
	{% render(controller('PumukitWebTVBundle:MultimediaObject:series', {'multimediaObject': multimediaObject})) %}
    {% render(controller('PumukitWebTVBundle:MultimediaObject:related', {'multimediaObject': multimediaObject})) %}
  </div>
 </div>
  {% if track %}
    {% if track.containsTag('html5') %}
      {% include 'PumukitCmarWebTVBundle:MultimediaObject:playerhtml5opencast.html.twig' with {'multimediaObject': multimediaObject, 'roles': multimediaObject.getRoles(), 'track': track} %}
    {% else %}
      {% include 'PumukitCmarWebTVBundle:MultimediaObject:playeropencast.html.twig' with {'multimediaObject': multimediaObject, 'roles': multimediaObject.getRoles(), 'is_old_browser': is_old_browser} %}
    {% endif %}
  {% else %}
    {% include 'PumukitCmarWebTVBundle:MultimediaObject:playeropencast.html.twig' with {'multimediaObject': multimediaObject, 'roles': multimediaObject.getRoles(), 'is_old_browser': is_old_browser} %}
  {% endif %}
 </div>
</div>

<script language="JavaScript">
function blink_uno() {
    document.getElementById('imagen_alert').style.visibility='visible';
    setTimeout('blink_dos()',1000);
}
function blink_dos() {
    document.getElementById('imagen_alert').style.visibility='hidden';
    setTimeout('blink_uno()',1000);
}
{% if is_old_browser %}
    blink_uno();
{% endif %}
</script>

{% endblock %}
