{% if track %}
<div id="mh_player">
  <video 
       id = "player"
       style = "width: 100%; min-height: 400px"
       controls = "controls"
       poster = "{{ asset('bundles/pumukitcmarwebtv/images/cmar/poster.png') }}" >
      <source src="{{ track.url }}" type="video/mp4"/>
  </video>
   <div class="mm_player">
     <div class="num_view">
       <div style="float:left">
         {% trans %}Video language{% endtrans %}: <span class="num_view_number">{{ (multimediaObject.getProperty('opencastlanguage')?(multimediaObject.getProperty('opencastlanguage')|lower):'en')|language_name }}</span>
       </div>
       {% trans %}Viewed{% endtrans %}:
       <span class="num_view_number">{{ multimediaObject.getNumview() }}</span>&nbsp;
       {% if 1 == multimediaObject.getNumview() %}{% trans %}time{% endtrans %}{% else %}{% trans %}times{% endtrans %}{% endif %}&nbsp;&nbsp;
     </div>
   </div>
   <div class="title">
     {{ multimediaObject.getSubtitle() }}
   </div>
   <p class="description">
     {{ multimediaObject.getDescription() }}
   </p>
   {% set last_date = date('1/1/1900') %}
   {% set last_precinct = '' %}
   {% set last_subseriestitle = '' %}
   {% set series_precinct = '' %}
   {% include 'PumukitWebTVBundle:MultimediaObject:multimediaobjectbody.html.twig' with {'multimediaObject': multimediaObject, 'last_date': last_date, 'last_precinct': last_precinct, 'last_subseriestitle': last_subseriestitle, 'template': multimediaObject.getSeries().getProperty('template'), 'is_series': false} %}
{% else %}
 <h1 class="cS_h1_error">{% trans %}VIDEO NOT AVAILABLE{% endtrans %}</h1>
{% endif %}
</div>
