{% if multimediaObject.getProperty('opencast') is not empty %}
<div id="mh_player">
  <iframe src="{{ iframeurl(multimediaObject, not is_old_browser, true, is_old_browser) }}"
          id="mh_iframe"
          style="border:0px #FFFFFF none; width:100%; height:950px;" 
          name="Opencast Matterhorn - Media Player" 
          scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" 
          webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"
          >
  </iframe>
  <div class="mm_player">
    <div class="num_view">
      <div style="float:left">
        {% trans %}Video language{% endtrans %}: <span class="num_view_number">{{ multimediaObject.getProperty('opencastlanguage')?mm.getProperty('opencastlanguage'):'en'|language_name }}</span>
      </div>
      {% trans %}Viewed{% endtrans %}:
      <span class="num_view_number">{{ multimediaObject.getNumview() }}</span>&nbsp;
      {% if 1 == multimediaObject.getNumview() %}{% trans %}time{% endtrans %}{% else %}{% trans %}times{% endtrans %}{% endif %}&nbsp;&nbsp;
    </div>
  </div>
  <div class="title">
    {{ multimediaObject.getSubtitle() }}
  </div>
  <p class="description">
    {{ multimediaObject.getDescription() }}
  </p>
  {% include 'PumukitWebTVBundle:MultimediaObject:multimediaobjectbody.html.twig' with {'multimediaObject': multimediaObject} %}
</div>
{% endif %}
