<div style="margin-top: 10px; padding: 0px; text-align: center; color: ##333333; background-color: #D8E6F7; height-min: 50px">
  <div style="float:left;  padding: 15px;">
    <div>&nbsp;</div>
    <div>Universidad de las Cies</div>
    <div>Copyright &copy; 2011</div>
  </div>
  <div style="float:right;  padding: 15px;">
    <div>&nbsp;</div>
    <div>SIGUENOS EN:</div>
    <div>
      <a href="http://facebook.com"><img src="{{ asset('bundles/pumukitwebtv/images/footer/facebook2.png') }}" alt="facebook" /></a>
      <a href="http://twitter.com"><img src="{{ asset('bundles/pumukitwebtv/images/footer/twitter2.png') }}" alt="twitter" /></a>
      <a href="http://youtube.com"><img src="{{ asset('bundles/pumukitwebtv/images/footer/youtube2.png') }}" alt="youtube" /></a>
    </div>
  </div>
  <div>
    <div><img src="{{ asset('bundles/pumukitwebtv/images/footer/mail.png') }}" alt="correo" style="vertical-align: middle" />tv@correo.es</div>
    <div><img src="{{ asset('bundles/pumukitwebtv/images/footer/telefono.png') }}" alt="telefono" style="vertical-align: middle" />666 66 66 66</div>
  </div>      
</div>