<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/pumukitwebtv/css/main.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitwebtv/css/default.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitwebtv/css/css.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitwebtv/css/960.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitwebtv/css/AdminLTE.css') }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endblock %}
        {% block javascripts %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('pumukitLogo.png') }}" />
    </head>
    <body>
        <div id="content" class="container_15">
            <div id="headerbar">
                {% include 'PumukitWebTVBundle::header.html.twig' %}
            </div><!--end div headerbar-->

            <div id="body">
                <div id="slidebar" class="grid_3">
                    {% include 'PumukitWebTVBundle::slidebar.html.twig' %}
                </div>
                <div id="other_body" class="grid_12">
                    {% block body %}{% endblock %}
                </div>
                <div style="clear:both"></div>
            </div>

            <div id="footerbar">
                {% include 'PumukitWebTVBundle::footer.html.twig'%}
            </div>
        </div>
    </body>
</html>
