<div class="pumukit_mini_mmobjs">
  {% for multimediaObject in multimediaObjects %}
  <dl class="pumukit_mini_mmobj" style="cursor:pointer;" onclick="window.location='/video/{{multimediaObject.getId()}}'">

    <dt class="thumbnail">
      <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
        <img class="play_icon" alt="" src="{{ asset('bundles/pumukitwebtv/images/play_icon.png') }}">
        <img class="mm_img" src="{{multimediaObject|first_url_pic()}}" width="75 px" height="56 px">
      </a>
    </dt> 

    <dd class="info">
      <div class="title">
        <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
          {{ multimediaObject.getTitle()[:50] }}{% if (50 == (multimediaObject.getTitle()|length)) %}...{% endif %}
        </a>
      </div>
    </dd>
  </dl>
  {% else %}
    {% trans %}There are no videos with these specifications{% endtrans %}.
  {% endfor %}
</div>
