<div class="pumukit_mini_mmobjs">
  {% for multimediaObject in multimediaObjects %}
  <dl class="pumukit_mini_mmobj" style="cursor:pointer;" onclick="window.location='{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.getId()}) }}'">

    <dt class="pmk_thumbnail">
      <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
        <img class="play_icon_shadow" alt="" width="30" src="/bundles/pumukitwebtv/images/webtv/sombra.png">
        <img class="play_icon" alt="" width="15" src="/bundles/pumukitwebtv/images/webtv/play.png">
        <img class="mm_img" src="{{multimediaObject|first_url_pic()}}" width="75 px" height="56 px">
      </a>
    </dt> 

    <dd class="info">
      <div class="title">
        <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
          {{ multimediaObject.getTitle()[:50] }}{% if (50 == (multimediaObject.getTitle()|length)) %}...{% endif %}
        </a>
      </div>
      <div class="mini_mmobj_bottom">
        {% include 'PumukitWebTVBundle::tags.html.twig' with {'show_tag': true, 'tags': multimediaObject.getTags()} %}
      </div>
    </dd>
  </dl>
  {% else %}
    {% trans %}There are no videos with these specifications{% endtrans %}.
  {% endfor %}
</div>
