<div id="serial_body">

{% set lastDate = '--' %}
{% set lastSubserialTitle = 0 %}

{% for mm in mmobjs %}

  {% if mm.getRecordDate()|date("d/m/Y") != lastDate %}
    <br />
    <div class="serial_date">
      <div>{{ mm.getRecordDate()|date("d/m/Y") }}</div>
    </div>
  {% endif %}


  <div class="serial_mm">
    <table>
      <tbody>
        <tr>

          <td style="width:1%; valign:top;">
            <div class="serial_mm_pics">
              <a href="/video/{{mm.id}}"><img src="{{mm|first_url_pic(true)}}" class="serial"/></a>
            </div>
          </td>

          <td>
            <div class="serial_mm_info">
              <div class="title">"{{mm.title}}"</div>
              <div class="subtitle">{{mm.subtitle}}</div>
              <div class="video" style="height: 30px; margin-left: 5px;">
                <!--Falta obtener el tipo de objeto multimedia-->
                <a href="/video/{{mm.id}}" style="margin-left:26px;">Video</a>&nbsp;|&nbsp;&nbsp;
                <span class="lenguage" style="font-weight: bold;">Castellano</span>&nbsp;({{mm.getDuration()}}")&nbsp;|&nbsp;Visto: <span class="numView" style="font-weight: bold;">{{mm.getNumview()}}</span>
                {% if mm.getNumview == 1 %} vez{% else %} veces{% endif %}
              </div>
              {% for material in mm.materials %}
              <!--Falta obtener el tipo de material, el icono y la URL del material-->
                <div id="material">
                  <a href="/">{{material.getName()}}</a>
                </div>
              {% endfor %}
            </div>
          </td>

        </tr> 
      </tbody>
    </table>
  </div>

{% set lastDate = mm.getRecordDate()|date("d/m/Y") %}
{% set lastSubserialTitle = mm.getSubtitle() %}


{% endfor %}

</div>