{% if template == "date" or template == "date_subserial" %}
    <!--DATE-->
    {% if current_date != last_date %}
        <h2> {{ current_date }}</h2>
    {% endif %}
{% endif %}

{% if template == "subserial" or template == "date_subserial" %}
    <!-- SUBSERIAL -->
    {% if subserie_title != last_subseriestitle %}
        <div class="row subseries_title_wrapper text-center subseries_title">
            {% if ('<br>' in subserie_title) %}
                {{ ( subserie_title | split("<br>"))[0] | raw }}
            {% else %}
                {{ subserie_title | raw }}
            {% endif %}
        </div>
    {% endif %}
{% elseif template == "multisubserial" %}
    <!-- MULTISUBSERIAL -->
    {% set subseries_now = ( subserie_title | split("<br>") ) %}
    {% set subseries_before = ( last_subseriestitle  | split("<br>") ) %}
    {% for key, subserie_title in subseries_now %}
        {% if subserie_title is not same as ( subseries_before[key] | default('') ) %}
            <div class="row text-center">
                {{ subserie_title | raw }} 
            </div>
        {% endif %}
    {% endfor %}
{% elseif template == "place_subserial" %}
    {% if series_precinct and series_precinct.getTitle() != last_precinct|default('') and series_precinct.getCod() != "PLACE0001PRECINCT001"  and subserie_title != last_subseriestitle|default('') %}

        {% if current_date != last_date %}
            <div class="row subseries_title_wrapper place_subserial">
                <h3 class="text-center subseries_title"> {{ series_precinct.getTitle() }} </h3>
            </div>
        {% endif %}
        {% if subserie_title is not empty and current_date != last_date %}
            <div class="row subseries_title_wrapper text-center subseries_title">
                {{ subserie_title | raw }}
            </div>
        {% endif %}
        {% set last_precinct = series_precinct.getTitle() %}
    {% elseif series_precinct and current_date != last_date and subserie_title is empty %}
        <div class="row subseries_title_wrapper place_subserial">
            <h3 class="text-center subseries_title"> {{ series_precinct.getTitle() }} </h3>
        </div>
    {% endif %}
{% endif %}

{% if subseries %}
    <hr>
{% endif %}
