{% extends 'PumukitResponsiveWebTVBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ series.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ series.keyword }}{% endblock %}

{% block body %}
  {% set series_precinct = precinct_of_series(multimediaObjects) %}
  <div class="row">
    <div class="col-xs-12">
      {% include 'PumukitResponsiveWebTVBundle:Series:header.html.twig' with {'series_precinct': series_precinct} %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="serial_header">
        {{ series.header|raw }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% set last_date = date( '1/1/1900' ) %}
      {% set last_subseriestitle = '' %}
      {% set template = series.getProperty('template') %}
      {% for mm in multimediaObjects %}
        {% set current_date = mm.getRecordDate() | localizeddate('full', 'none' , app.request.locale, null,"dd MMMM Y" )%}
        {% set subserie_title = mm.getProperty('subseriestitle')[app.request.getLocale()]|default('') %}
        {% set mm_id = mm.id %}
          <div class="col-xs-12">
            {% include 'PumukitResponsiveWebTVBundle:Series:group_by.html.twig' with {'mm_id': mm_id,'current_date': current_date, 
                'last_date' : last_date, 'subserie_title': subserie_title, 'last_subseriestitle' : last_subseriestitle, 'template': template , 'subseries': false } %}
            {% include 'PumukitResponsiveWebTVBundle:Series:multimediaobjectbody.html.twig' with {'mm': mm } %}
            {% set last_date = current_date %}
            {% set last_subseriestitle =  subserie_title %}
          </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ series.footer|raw }}
    </div>
  </div>
{% endblock %}
