{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
<div class="grid_12" style="text-align: justify">

  <p class="titulo_widget titulo_widget_grande" style="margin-left: 0;">{% trans %}RESEARCH ON LANGUAGES FOR SPECIFIC PURPOSES IN SPANISH SIGN LANGUAGE AND THE INTERNATIONAL SIGN SYSTEM{% endtrans %}</p> 


     <table>
        <tbody>
          <tr>
	    <td style="vertical-align: top;">
              <div class="serial_mm_info">
	        <h2>{% trans %}What does ‘languages for specific purposes’ mean?{% endtrans %}</h2>
                <div>{% trans %}Research on languages for specific purposes is one of the most appealing branches of modern linguistics. In sign language interpreting, the specific purposes are guided by the necessity of widening and specializing the terminology in order to translate from a scientific and academic language into Spanish sign language (SSL) and the International sign system (ISS).{% endtrans %} </div>
            </td>
            <td width="1%">
              <a href="/mmobj/index/id/3743">
                <img src="{{ asset('bundles/pumukitcmarsonar/images/1.png') }}">
              </a>
            </td>
          </tr>
        </tbody>
      </table>

  <div class="titulo_widget titulo_widget_grande" style="margin-left: 0;"></div>




     <table>
        <tbody>
          <tr>
            <td width="1%">
              <a href="/mmobj/index/id/3744">
                <img src="{{ asset('bundles/pumukitcmarsonar/images/2.png') }}">
              </a>
            </td>
            <td style="vertical-align: top; padding-left: 15px;">
              <div class="serial_mm_info">
                <h2>{% trans %}Which other specific languages, apart from academic, are of interest to our research?{% endtrans %}</h2>
                <div>
		     <p>{% trans %}Scientific and linguistic languages, together with academic, are of special interest to the deaf community. On the one hand, they are interested in the linguistic field as language forms a differentiating element in their community. On the other hand, the natural sciences are also of significance as they help to promote a better understanding of life and the environment. The development of these specific purposes paves the way for the still uncertain integration of deaf people into the university and vice versa.{% endtrans %}</p>
		     <p>{% trans %}Besides this, we aim to provide ideas in order to help SSL and ISS interpreters and translators develop the appropriate skills not only to become familiar with the data of the scientific and academic world, but also to acquire the ability to provide satisfactory answers to the problems that arise in the interpretation of scientific texts.{% endtrans %}</p>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

  <div class="titulo_widget titulo_widget_grande" style="margin-left: 0;"></div>



     <table>
        <tbody>
          <tr>
            <td>
              <div class="serial_mm_info">
                <h2>{% trans %}The start of the project{% endtrans %} </h2>
                <div> 
		<p>{% trans %}At the beginning, SSL linguistics and interpreters used to analyse, translate and make our own recordings. The translating process has gradually changed due to considerable progress in documentation and the creation of suitable terminology with the aid of deaf experts.{% endtrans %} </p>
		<p>{% trans %}The progress in the quality of the translations prompted us to look for technical excellence in our recordings. Thus, with the help of Televisión Uvigo and Teltek, we were able to translate, interpret and record texts to a high quality, which were approved by Galician and Spanish deaf people and interpreters.{% endtrans %} </p>
               
                </div>
            </td>
          </tr>
          <tr>
            <td> 
              <a href="/mmobj/index/id/3745">
                <img src="{{ asset('bundles/pumukitcmarsonar/images/3.png') }}" >
              </a>
            </td>
          </tr>
        </tbody>
      </table>

  <div class="titulo_widget titulo_widget_grande" style="margin-left: 0;"></div>




     <table>
        <tbody>
          <tr>
            <td style="vertical-align: top;">
              <div class="serial_mm_info">
                <h2>{% trans %}Initial results{% endtrans %}</h2>
                <div>
		  <p>{% trans %}We recorded scientific texts in SSL for the first time in August 2008. The first scientific texts were derived from sign language linguistics, particularly from the plenary conferences of Alejandro Oviedo, La incorporación de los gestos y la iconicidad: el análisis de las lenguas de signos: un breve repaso a la historia de la lingüística de las lenguas visuales de los sordos; Ángel López, El origen dellenguaje: entre la genética y la física; Enrique del Teso, Gramática, proposiciones e índices: cómo se hacen pensamientos completos con palabras; and the abstracts of the congress of young linguists, presented in the 3rd International Conference of Hispanic Linguistics: Young Researchers.{% endtrans %}<a href="http://tv.uvigo.es/gl/serial/521.html">[http://tv.uvigo.es/gl/serial/521.html]</a> </p>
		  <p>{% trans %}In the same year, the first tool which facilitated deaf people’s access to the university appeared: the SSL translation of the University of Vigo self-registration.{% endtrans %}</p>
                </div>
            </td>
            <td width="1%">
                <a href="/mmobj/index/id/3746">
                  <img src="{{ asset('bundles/pumukitcmarsonar/images/4.png') }}">
            </td>
          </tr>
        </tbody>
      </table>

  <div class="titulo_widget titulo_widget_grande style="margin-left: 0;""></div>




     <table>
        <tbody>
          <tr>
            <td width="1%">
                <a href="/mmobj/index/id/3747">
                  <img src="{{ asset('bundles/pumukitcmarsonar/images/5.png') }}">
                </a>
            </td>
            <td style="vertical-align: top; padding-left: 15px;">
              <div class="serial_mm_info">
                <h2>{% trans %}At present{% endtrans %}</h2>
                <div> 
		{% trans %}We are now taking a further step towards the ISS translation. A group of deaf and hearing researchers from different European and American countries is working on the translation of scientific texts from Campus del Mar, as well as building up SSL and ISS glossaries of specific languages which will allow deaf and hearing people from all over the world to have access to Science.{% endtrans %}
                </div>
            </td>
          </tr>
        </tbody>
      </table>

  <div class="titulo_widget titulo_widget_grande" style="margin-left: 0;"></div>




     <table>
        <tbody>
          <tr>
            <td style="vertical-align: top;">
              <div class="serial_mm_info">
                <h2>{% trans %}Who are we?{% endtrans %}</h2>
                <div>
                <p>{% trans %}The following people are involved in this project, consisting of specific languages in SSL and ISS and coordinated by Inmaculada Báez Montero:{% endtrans %}</p>
<p>{% trans %}LINGUISTICS: Inmaculada C. Báez and Ana Fernández{% endtrans %}</p>
<p>{% trans %}SSL and ISS VALIDATORS AND SIGNERS: María Bao, Rayco González, Ruth Lamas, Manuel Lema, Mónica Martínez, Alba Puentes, José López and Marianne Stump.{% endtrans %}</p>
<p>{% trans %}ADVISERS AND TRANSLATORS OF SPOKEN LANGUAGES: Marta Peláez and Lucía López (French, English, Italian, Greek, etc.) and Herminda Otero (Galician and Portuguese).{% endtrans %}</p>
<p>{% trans %}Coordinator of publication, recording, etc.: Luis Pena{% endtrans %}</p>
		<p>{% trans %}Click on{% endtrans %} <a href="http://griles.webs.uvigo.es/index.html">http://griles.webs.uvigo.es/index.html</a> {% trans %}to learn more about our research group.{% endtrans %}</p>
                </div>
            </td>
            <td width="1%"> 
                <a href="/mmobj/index/id/3748">
                  <img src="{{ asset('bundles/pumukitcmarsonar/images/6.png') }}">
            </td>
          </tr>
        </tbody>
      </table>

</div>
{% endblock %}
