<input type="hidden" name="pumukitnewadmin_playlist_sort_change_type" id="pumukitnewadmin_playlist_sort_change_type" value="{{ app.session.get('admin/playlist/type')=='asc'?'desc':'asc' }}"/>
{% if 'title' == app.session.get('admin/playlist/sort') %}
  <th>
    <a href="#" id="pumukitnewadmin_playlist_title_sort_selected">{% trans %}Title{% endtrans %}&nbsp;{{ app.session.get('admin/playlist/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
  </th>
{% else %}
  <th>
    <a href="#" id="pumukitnewadmin_playlist_title_sort_not_selected">{% trans %}Title{% endtrans %}</a>
  </th>
{% endif %}
<th width="2%">{% trans %}Num. Mm.Obj.{% endtrans %}</th>

<script type="text/javascript">
 $('#pumukitnewadmin_playlist_title_sort_selected').click(function(){
     var inputROId = $('#inputROId').val();
     var type = $('#pumukitnewadmin_playlist_sort_change_type').val();
     if (inputROId) {
         var route = "{{ path('pumukitnewadmin_playlist_list', {'selectedPlaylistId': '__inputROId__', 'sorting': {'title': '__type__'}})|raw }}";
         route = route.replace('__inputROId__', inputROId);
     } else {
         var route = "{{ path('pumukitnewadmin_playlist_list', {'sorting': {'title': '__type__'}})|raw }}";
     }
     $('#list_playlists').load(route.replace('__type__', type), {'_method':'POST'});
     return false;
 });
 $('#pumukitnewadmin_playlist_title_sort_not_selected').click(function(){
     var inputROId = $('#inputROId').val();
     if (inputROId) {
         var route = "{{ path('pumukitnewadmin_playlist_list', {'selectedPlaylistId': '__inputROId__', 'sorting': {'title': 'asc'}})|raw }}";
         route = route.replace('__inputROId__', inputROId);
     } else {
         var route = "{{ path('pumukitnewadmin_playlist_list', {'sorting': {'title': 'asc'}})|raw }}";
     }
     $('#list_playlists').load(route, {'_method':'POST'});
     return false;
 });
</script>
