<div class="well">
  <form id="pumukitnewadmin_series_updatemeta_form"
        onsubmit="$.ajax({
                  url: '{{ path('pumukitnewadmin_playlist_update', {'id': series.id}) }}',
                  type: 'POST',
                  data: $(this).serialize(),
                  error: function(request, json){var message = '{{ "Series saved ERROR"|trans|e("js") }}'; no_success(message);},
                  success: function(response){
                  $('#list_playlists').html(response);
                  $('#preview_playlist').load('{{ path('pumukitnewadmin_playlist_show', {'id': series.id}) }}');
                  var message = '{{ "Series saved OK"|trans|e("js") }}';
                  success(message);
                  }
                  });
                  return false;"
        action="{{ path('pumukitnewadmin_playlist_update', {'id': series.id}) }}" method="POST">
    {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}
    <input type="hidden" name="id" id="series_id_playlist" value="{{ series.id }}">

    <div class="row">
      <div class="col-xs-6">
        <span id="remember_save_series" class="alert alert-dismissable alert-danger" style="display:none;vertical-align:middle;">{% trans %}Press OK for the change to take effect{% endtrans %}</span> &nbsp;
      </div>

      <div class="col-xs-6 text-right">
        <button id="pumukitnewadmin_series_updatemeta_cancel" type="button" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-pumukit btn-raised" onclick="$('#remember_save_series').hide();">{% trans %}OK{% endtrans %}</button>
      </div>
    </div>

    <div>
      <fieldset>
        <legend hidden>{% trans %}Multimedia Playlist metadata{% endtrans %}</legend>
        <div class="col-lg-7">
          {% for child in form %}
            {{ form_row(child) }}
          {% endfor %}

          <div class="form-group">
            <dl>
              <dt>{% trans %}Thumbnails{% endtrans %}</dt>
              <dd>
                <div id="pic_playlist_{{ series.id }}">
                  {% include '@PumukitNewAdmin/Pic/list.html.twig' with {'resource': series, 'resource_name': 'playlist'} %}
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
