<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}CAMPUS DO MAR TV{% endblock %}</title>
    <meta name="Keywords" content="{% block keywords %}WebTv, Pumukit{% endblock %}" />
    <!--Block with CSS files-->
    {% block stylesheets %}
    <link href="{{ asset('bundles/pumukitcmarwebtv/css/960.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{{ asset('bundles/pumukitcmarwebtv/css/iefix.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{{ path('pumukit_cmar_web_tv_opencast_css') }}" rel="stylesheet">
    <link href="{{ path('pumukit_cmar_web_tv_series_css') }}" rel="stylesheet">
    <link href="{{ path('pumukit_cmar_web_tv_style_css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/pumukitcmarwebtv/css/pumukittv.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endblock %}
    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/pumukitcmarwebtv/js/prototype.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/pumukitcmarwebtv/images/favicon.ico') }}" />
  </head>
  <body>
    {% block body_base %}
    {% include app.session.get('breadcrumbs/title') == 'Sonar' ? 'PumukitCmarSonarBundle::header.html.twig' : 'PumukitCmarWebTVBundle::header.html.twig' %}
    <div id="body">
      <div class="container_15" id="tvusc">
        <div class="pumukit_cab">
          {% include 'PumukitCmarWebTVBundle::header_menu.html.twig' %}
          {% render(controller('PumukitWebTVBundle:Widget:breadcrumbs')) %}
        </div>
        <div class="pumukit_content">
          {% block body_without_bar %}
          <div class="grid_3">
            {% include 'PumukitCmarWebTVBundle::slidebar.html.twig' %}
          </div>
          <div class="grid_12">
            {% block body %}{% endblock %}
          </div>
          {% endblock %}
        </div>
        {% include app.session.get('breadcrumbs/title') == 'Sonar' ? 'PumukitCmarSonarBundle::footer.html.twig' : 'PumukitCmarWebTVBundle::footer.html.twig' %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
