<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="{% block html_class %}{% endblock %}" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="CAMPUS DO MAR TV" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="description" content="Portal web de la TV del Campus do Mar" />
    <meta name="language" content="en" />
    <meta name="Keywords" content="{% block keywords %}webtv, Tv, campus do mar tv, pumukit{% endblock %}" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    {% endblock %}
    <title>{% block title %}CAMPUS DO MAR TV{% endblock %}</title>
    <!--Block with CSS files-->
    {% block stylesheets %}
    <link href="{{ asset('bundles/pumukitcmarwebtv/css/960.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{{ asset('bundles/pumukitcmarwebtv/css/iefix.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{{ path('pumukit_cmar_web_tv_opencast_css') }}" rel="stylesheet">
    <link href="{{ path('pumukit_cmar_web_tv_series_css') }}" rel="stylesheet">
    <link href="{{ path('pumukit_cmar_web_tv_style_css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/pumukitcmarwebtv/css/pumukittv.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endblock %}
    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/pumukitcmarwebtv/js/prototype.js') }}"></script>
    {% endblock %}
    {% block favicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/pumukitcmarwebtv/images/favicon.ico') }}" />
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body_base %}
    {% include app.session.get('breadcrumbs/title') == 'Sonar' ? 'PumukitCmarSonarBundle::header.html.twig' : 'PumukitCmarWebTVBundle::header.html.twig' %}
    <div id="body">
      <div class="container_15" id="tvusc">
        <div class="pumukit_cab">
          {% include 'PumukitCmarWebTVBundle::header_menu.html.twig' %}
          {% render(controller('PumukitWebTVBundle:Widget:breadcrumbs')) %}
        </div>
        <div class="pumukit_content">
          {% block body_without_bar %}
          <div class="grid_3">
            {% include 'PumukitCmarWebTVBundle::slidebar.html.twig' %}
          </div>
          <div class="grid_12">
            {% block body %}{% endblock %}
          </div>
          {% endblock %}
        </div>
        {% include app.session.get('breadcrumbs/title') == 'Sonar' ? 'PumukitCmarSonarBundle::footer.html.twig' : 'PumukitCmarWebTVBundle::footer.html.twig' %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
