<div class="pumukit_mmobjs">
{% for resource in resources %}
  <div class="pumukit_mmobj">
    {% if resource.isCollection() %}
    <figure class="album" style="margin:2px 20px 2px 2px; ">
      <a href="{{ url('pumukit_webtv_series_index', {'id': resource.id}) }}">
        {% set series_pic = (resource|first_url_pic) %}
        <div class="picture"><img src="{{ series_pic }}" /></div>
        <div class="picture"><img src="{{ series_pic }}" /></div>
        <div class="picture"><img src="{{ series_pic }}" /></div>
      </a>
    </figure>
    {% else %}
    <div class="pmk_thumbnail">
      <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': resource.id}) }}" >
        <img class="play_icon_shadow" alt="" width="30" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/sombra.png') }}"/>
        <img class="play_icon" alt="" width="15" src="{{ asset('bundles/pumukitcmarwebtv/images/webtv/play.png') }}"/>
        <img class="serial" alt="serial_pic" src="{{ resource|first_url_pic(false, false) }}" />
      </a>
    </div>
    {% endif %}
    <div class="info">
      <div class="title">
        {% if resource.isCollection() %}
        <a href="{{ url('pumukit_webtv_series_index', {'id': resource.id}) }}" >
        {% else %}
        <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': resource.id}) }}" >
        {% endif %}
          {% if ((resource.getTitle()|length) < 69) %}
            {{ resource.getTitle() }}
          {% else %}
            {{ resource.getTitle()[:69] }}...
          {% endif %}
        </a>
      </div>
    </div>
    <div class="serial_title">
      {% if ((resource.getLine2()|length) > 1) %}
        {% set aux = resource.getLine2() %}
      {% elseif resource.isCollection() %}
        {% set aux = resource.getTitle() %}
      {% else %}
        {% set aux = resource.getSeries().getTitle() %}
      {% endif %}
      {% if ((aux|length) < 27) %}
        {{ aux }}
      {% else %}
        <abbr title="{{ aux }}">
          {{ aux[:27] }}{% if ((aux|length) > 27) %}...{% endif %}
        </abbr>
      {% endif %}
    </div>
    {% if not resource.isCollection() %}
    <div style="color:#A2A2A2; position: absolute; left:160px; bottom: 32px; ">
      {% if resource.getProperty('opencastlanguage') %}
        {{ resource.getProperty('opencastlanguage')|lower|language_name }}
      {% else %}
        {% set master_track = resource.getTrackWithTag('master') %}
        {% if master_track %}
          {{ master_track.getLanguage()|language_name }}
        {% endif %}
      {% endif %}
    </div>
    {% endif %}
    <div class="date">
      {% if resource.isCollection() %}
        {{ resource.getPublicDate()|date('d-m-Y') }}
      {% else %}
        {{ resource.getRecordDate()|date('d-m-Y') }}
      {% endif %}
    </div>
    <div class="date" style="bottom: 8px; left: 265px;">
      {% if resource.isCollection() %}
      {% set tags = [] %}
        {% for mm in resource %}
          {% set tags = tags|merge(mm.getTags()) %}
        {% endfor %}
      {% else %}
        {% set tags = resource.getTags() %}
      {% endif %}
      {% if ((viewed) and (not resource.isCollection())) %}
        {% trans %}Views{% endtrans %}:&nbsp;{{ resource.getNumView() }}&nbsp;{% if (resource.getNumView() == 1) %}{% trans %}time{% endtrans %}{% else %}{% trans %}times{% endtrans %}{% endif %}
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
