<ul class="nav navbar-nav navbar-custom-links">
    <li>
        <a href="{{ path('pumukit_webtv_index_index') }}">
            {% trans %}Home{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('pumukit_webtv_announces_latestuploads') }}" title="{% trans %}Latest Uploads{% endtrans %}">
            {% trans %}Latest Uploads{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('pumukit_webtv_medialibrary_index') }}" title="{% trans %}Full catalogue{% endtrans %}">
            {% trans %}Full Catalogue{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('pumukit_webtv_search_multimediaobjects') }}" title="{% trans %}Search{% endtrans %}">
            {% trans %}Search{% endtrans %}
        </a>
    </li>
    {{ render(controller('Pumukit\\WebTVBundle\\Controller\\EventController::advanceLiveEventMenuAction')) }}
</ul>
