{% for serie in series %}
<div class="pumukit_mmobjs" style="width:50%; float:left;">
  <div class="pumukit_mmobj">
    <figure class="album" style="margin:2px 20px 2px 2px">  
      <a href="/series/{{serie.getId()}}">
        <div class="picture">
          <img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
        </div>
        <div class="picture">
          <img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
        </div>
        <div class="picture">
          <img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
        </div>
      </a>
    </figure>

    <div class="info">
      <div class="title">
        <a href="/series/{{serie.getId()}}">{{serie.getTitle()}}</a>
      </div>

      <div class="serial_title">
        <abbr title="{{serie.getTitle()}}">{{serie.getLine2()}}</abbr>
      </div>

      <div class="mmobj_bottom">{{serie.getPublicDate()|date("d/m/Y")}} - {{serie.getMultimediaObjects()|length}} videos</div>
    </div>
  </div>
</div>
{% endfor %}