<!--<div class="library">

{% if sort == 'alphabetically' %}

	{% set lastChar = '//' %}

	{% for serie in series %}
		{% if serie.title|slice(0,1)|title != lastChar %}
    	<div class="name">
      		<div>{{serie.title|slice(0,1)|title}}</div>
    	</div>
    	{% endif %}
    	<div class="list">
      	<ul>      
        	<li>
        		<a href="/series/{{serie.id}}">{{serie.getTitle()}}</a> [{{serie.getMultimediaObjects()|length}} videos]
        	</li>
      	</ul>
    	</div>

	{% set lastChar = serie.title|slice(0,1)|title %}

	{% endfor %}

{% else %}

	{% set lastDate = '//' %}

	{% for serie in series %}
		{% if serie.getPublicDate()|date("d/m/Y") != lastDate %}
    	<div class="name">
      		<div>{{ serie.getPublicDate()|date("d/m/Y") }}</div>
    	</div>
    	{% endif %}
    	<div class="list">
      	<ul>      
        	<li>
        		<a href="/series/{{serie.id}}">{{serie.getTitle()}}</a> [{{serie.getMultimediaObjects()|length}} videos]
        	</li>
      	</ul>
    	</div>

	{% set lastDate = serie.getPublicDate()|date("d/m/Y") %}

	{% endfor %}

{% endif %}

</div>-->
{% for serie in series %}
<div class="pumukit_mmobjs" style="width:50%; float:left;">
<div class="pumukit_mmobj">
  <figure class="album" style="margin:2px 20px 2px 2px">  
    <a href="/series/{{serie.getId()}}">
      <div class="picture">
        <img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
      </div>
      <div class="picture">
        <img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
      </div>
      <div class="picture">
        <img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
      </div>
    </a>
  </figure>

  <div class="info">
    <div class="title">
      <a href="/series/{{serie.getId()}}">{{serie.getTitle()}}</a>
    </div>

    <div class="serial_title">
      <abbr title="{{serie.getTitle()}}">{{serie.getLine2()}}</abbr>
    </div>

    <div class="mmobj_bottom">{{serie.getPublicDate()|date("d/m/Y")}}</div>

  </div>

</div>
</div>
{% endfor %}