{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% set hide_slidebar = true %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/pumukitwebtv/js/jwplayer/jwplayer.js') }}" type="text/javascript"></script>
  {% if jwplayer_key is defined %}<script type="text/javascript">jwplayer.key="{{ jwplayer_key }}";</script>{% endif %}
{% endblock%}

{% block title %}{{ parent() }} - {{ live.name }}{% endblock %}

{% block body_without_bar %}
  <h1>{{ live.name()|default("No title"|trans) }}</h1>
  {% include('PumukitLiveBundle:Default:liveplayer.html.twig') with {stretching: 'exactfit', aspectratio: '16:9'} %}
  {% include('PumukitLiveBundle:Default:info.html.twig') %}
{% endblock %}
