<div id="jwplayererror" style="width:100%; margin: 0px auto; color:red;"></div>
{% if isIE and versionIE < 9.0 %}
<div style="width:100%; margin: 0px auto; color:red;">{% trans %}JWPlayer does not support your browser version{% endtrans %} {{ isIE }}. {% trans %}Please use 9.0 or higher version or use another browser.{% endtrans %}</div>
{% else %}
<div id="directo-sbs" style="width:100%; margin: 0px auto;"></div>
{% endif %}

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function(){
    var isMobile = "{{ mobile_device ? 'yes':'no' }}";
    var hasFlash = false;
    try {
        hasFlash = Boolean(new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
    } catch(exception) {
        hasFlash = ('undefined' != typeof navigator.mimeTypes['application/x-shockwave-flash']);
    }
    if ((hasFlash && ('no' === isMobile)) || ('yes' === isMobile)) {
        var livePlayerInstance = jwplayer("directo-sbs").setup({
            {% if live.broadcasting %}
            {% if mobile_device %}
            file: "{{ live.url|replace({'rtmp://':'http://', 'rtmpt://': 'http://'}) }}/{{ live.sourcename }}/playlist.m3u8",
            {% else %}
            file: "{{ live.url }}/{{ live.sourcename }}",
            {% endif %}
            {% else %}
            playlist: "{{ path('pumukit_live_playlist_id', { 'id': live.id }) }}",
            {% endif %}
            {% if isIE and versionIE == 10 %}
            autostart: 'true',
            {% else %}
            autostart: true,
            {% endif %}
            width: "{{ width is defined ? width : '100%' }}",
            {% if height is defined %}
            height: "{{ height }}",
            {% endif %}
            {% if controlbar is defined %}
            controlbar: "{{ controlbar }}",
            {% endif %}
            {% if stretching is defined %}
            stretching: "{{ stretching }}",
            {% endif %}
            {% if aspectratio is defined %}
            aspectratio: "{{ aspectratio }}",
            {% endif %}
            logo: {hide: true},
            analytics: {enabled: false},
            androidhls: true
        });
    } else {
        // TODO: Translate message
        var errorMessage = "Flash is not installed. JWPlayer needs minimum Flash version 10.1.82.76 to stream.";
        $('jwplayererror').update(errorMessage);
    }
});
</script>
