<table cellspacing="0" class="tv_admin_list">
  <thead>
    <tr>
      <th width="1%">
        <input type="checkbox" onclick="window.click_checkbox_all('user', this.checked)">
      </th>
      <th colspan="2" width="3%"></th>
      <th width="1%">{% trans %}Id{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
      <th>{% trans %}Login{% endtrans %}</th>
      <th>{% trans %}Type{% endtrans %}</th>
      <th>{% trans %}Email{% endtrans %}</th>
    </tr>
  </thead>
  
  <tbody>

  {% if users is empty %}
    <tr>
      <td colspan="9">
       {% trans %}There are no users with those values.{% endtrans %}
      </td>
    </tr>
  {% endif %}

  {% for user in users %}
    <tr onmouseover="Element.addClassName(this,'tv_admin_row_over')" onmouseout="Element.removeClassName(this,'tv_admin_row_over')" class="tv_admin_row_{{ loop.index % 2 }} {{ user.id == app.session.get('admin/user/id')?'tv_admin_row_this':'' }}" >
      <td>
        <input id="{{ user.id }}" class="user_checkbox" type="checkbox">
      </td>
      <td onclick="click_fila_no_preview('user', this, '{{ user.id }}');">
	<a title="{% trans %}Edit User{% endtrans %} {{ user.fullname }}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_user_update', {'id': user.id}) }}"><img alt="edit" title="edit" src="/legacy/images/admin/mbuttons/edit_inline.gif"></a>
      </td>
      <td>
	<form action="{{ path('pumukitadmin_user_delete', {'id': user.id}) }}" method="post" class="delete-action-form" novalidate="" onsubmit="return window.confirm('{% trans %}Are you sure you want to delete the user{% endtrans %} {{ user.fullname }}?')">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="confirmed" value="true">
              <button type="submit" class="tv_admin_row_post">
                  <img alt="{% trans %}delete{% endtrans %}" title="{% trans %}delete{% endtrans %}" src="/legacy/images/admin/mbuttons/delete_inline.gif">
              </button>
          </form>
      </td>
      <td onclick="click_fila_no_preview('user', this, '{{ user.id }}');">
	{{ user.id }}
      </td>
      <td onclick="click_fila_no_preview('user', this, '{{ user.id }}');">
	{% if user.fullname is not empty %}{{ user.fullname }}{% endif %}
      </td>
      <td onclick="click_fila_no_preview('user', this, '{{ user.id }}');">
	{% if user.username is not empty %}{{ user.username }}{% endif %}
      </td>
      <td onclick="click_fila_no_preview('user', this, '{{ user.id }}');">
	{% for role in user.roles %}
	  {% if 'ROLE_SUPER_ADMIN' == role %}
	    {% trans %}Administrator{% endtrans %}
	  {% elseif 'ROLE_ADMIN' == role %}
	    {% trans %}Publisher{% endtrans %}
	  {% elseif 'ROLE_USER' == role %}
	    {% trans %}User{% endtrans %}
	  {% endif %}
	  {% spaceless %}
	  {% if not loop.last %}
	    ,&nbsp;
          {% endif %} 
          {% endspaceless %}
	{% endfor %}
      </td>
      <td onclick="click_fila_no_preview('user', this, '{{ user.id }}');">
	{% if user.email is not empty %}{{ user.email }}{% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="9">
        <div class="float-right">
          {{ include('PumukitAdminBundle:Macros:pager_ajax.html.twig', {'name': 'user', 'page': users.getCurrentPage, 'total': users.getNbPages}) }}
        </div>
        {{ users.getNbResults }}
        {% transchoice users.getNbResults %}
	      {0} users|{1} user|]1,Inf] users
	{% endtranschoice %}
	{% if app.session.get('admin/user/criteria')|length != 0%}
          <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
	{% endif %}
      </th>
    </tr>
  </tfoot>
</table>

{# TODO
<?php if (isset($msg_alert)) echo m_msg_alert($msg_alert) ?>
#}
