<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{% trans %}Create new place{% endtrans %}</h4>
</div>
<div class="modal-body">
    {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}
    <form id="create_place" action="{{ path('pumukitnewadmin_places_create') }}" method="POST">
        <fieldset>
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
        </fieldset>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            <button type="submit" class="btn btn-primary btn-raised">{% trans %}Save changes{% endtrans %}</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#create_place').on('submit', function(event) {
        'use strict';
        event.preventDefault();
        $('#myModal').modal('hide');

        var parent_cod = "{{ parent.cod }}";

        if(parent_cod != 'PLACES') {
            var route = '{{ path('pumukitnewadmin_places_create', {'id': parent.id }) }}';
        } else {
            var route = '{{ path('pumukitnewadmin_places_create') }}';
        }
        $.ajax({
            url: route,
            method: 'POST',
            data: $(this).serialize(),
            success: function(response, textStatus, jqXHR){
                if (jqXHR.responseText.indexOf('modal-header') != -1){
                    var message = '{% trans %}There was an error in creating the Tag.{% endtrans %}';
                    no_success(message);
                } else {
                    $('.parent-list').load("{{ path('pumukitnewadmin_places_parent') }}", function() {
                        $('html,body').scrollTop(0);
                    });
                    if(parent_cod != 'PLACES') {
                        $('.children-list').load("{{ path('pumukitnewadmin_places_children', {'id': parent.id }) }}");
                    }
                    var message = '{% trans %}Place successfully created.{% endtrans %}';
                    success(message);
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                no_success(errorThrown + ': ' + jqXHR.responseJSON.status);
            }
        });
        return false;
    });
</script>
