<a name="{{ mm.id }}"></a>

<!-- SUBSERIAL -->
{% if not mm.getSubserial() %}
  <div class="inter_mm"></div>
{% endif %}


<!-- DATE -->
{% if ((2 == template) or ((template not in [4, 5]) and (mm.getRecordDate()) and ('1999-11-30' != mm.getRecordDate()|date('Y-m-d')) and (lastDate != mm.getRecordDate('dmy')))) %}
  <div class="serial_date">
    {{ mm.getRecordDateText() }}
  </div>
{% endif %}


<!-- PRECINCT -->
{% if (((lastPrecinct != mm.getPrecinctId()) or (lastDate != mm.getRecordDate('dmy')|date('dmy'))) and (1 != mm.getPrecinctId()) and (mm.getPrecinctOfSerial() is not empty)) %}
  <div class="serial_place">
    {{ mm.getPrecinct().getAllName() }}
  </div>
{% endif %}

<!-- SUBSERIAL -->
{% if (((3 == template) and (((mm.getSubserialTitle()|raw) != lastSubserialTitle) or (mm.getRecorddate()|date('dmy') != lastDate))) or ((template == 4) and((mm.getSubserialTitle()|raw) != lastSubserialTitle))) %}
  <div class="serial_date">
    {{ mm.getSubserialTitle() }}
  </div>
{% endif %}

<!-- MULTISUBSERIAL -->
{% if (template == 5) %}
  {% set subserial_ahora = (mm.getSubserialTitle()|split('\\n')) %}
  {% set subserial_antes = (lastSubserialTitle|split('\\n')) %}
  {# TODO false value in twig #}
  {% set subserial_todos = false %}
  {% for subserial_level, subserial_text in subserial_ahora %}
    {% if ( (subserial_todos) or ( subserial_antes|length <= subserial_level ) or ( subserial_text|raw != subserial_antes.subserial_level ) ) %}
      {% set subserial_todos = true %}
      <div class="serial_date">
        {{ subserial_text }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<!-- PIC -->
<div class="serial_mm">
  <table>
   <tbody>
    <tr>
     <td width="1%" valign="top"> <!-- hack-->
       <div class="serial_mm_pics">
           {% for value in mm.getUrlPics() %}
             <img src="{{ value }}" class="serial">
           {% endfor %}
       </div>
     </td>
     <td>
       <div class="serial_mm_info">

  <!-- TITLE & SUBTITLE -->

        {% if mm.getTitle() is not empty %}
          <div class="title">"{{ mm.getTitle() }}"</div>
        {% endif %}
        {% if mm.getSubtitle() is not empty %}
          <div class="subtitle">{{ mm.getSubtitle() }}</div>
        {% endif %}

        <div class="objects">
  <!-- FILES -->
          {% for file in mm.getFilesPublic() %}
            <div class="file {{ file.getPerfil().getAudio()?'audio':'video' }}">
               <a href="{{ file.getUrl() }}">{{ file.getPerfil().getAudio()?'{% trans %}Audio{% endtrans %}':'{% trans %}Video{% endtrans %}' }}</a>
               {% if file.getDescription() is not empty %}
                 &nbsp;|&nbsp;&nbsp;<strong>{{ file.getDescription() }}</strong>
               {% endif %}
               &nbsp;|&nbsp;&nbsp;<span class="language">{{ file.getLanguage().getName() }}</span>

               &nbsp;({{ file.getDurationString() }})
               &nbsp;|&nbsp;{% trans %}Seen{% endtrans %}: <span class="numView">{{ file.getNumView() }}</span>{{ (1 == file.getNumView())?' {% trans %}time{% endtrans %}':' {% trans %}times{% endtrans %}' }}
            </div>
          {% endfor %}


  <!-- MATERIAL -->
    	  {% for material in mm.getMaterials() %}
            {# TODO <?php $material->setCulture($sf_user->getCulture()) ?>  #}
            <div id="material" class="{{ material.getMatType().getType() }}">
              <a href="{{ material.getUrl() }}">{{ material.getName() }}</a>
            </div>
          {% endfor %}

  <!-- LINK -->
          {% for link in mm.getLinks() %}
            {# TODO <?php $link->setCulture($sf_user->getCulture()) ?> #}
            <div id="link" class="link">
              <a target="_blank" href="{{ link.getUrl() }}">{{ link.getName() }}</a>
            </div>
          {% endfor %}
        </div>
        <br />

  <!-- PERSONS ACT -->
        {% for role in roles %}
          {% if role.getDisplay() %}
            {% for act in mm.getPeopleInMultimediaObjectByRole(role) %}
              <div>
                <div class="person">
	          {{ role.getText() }}
                  {% if act.getWeb() is not empty %}
                    <a href="{{ act.getWeb() }}">{{ act.getHName() }} </a>
                  {% else %}
                    {{ act.getHName() }}
                  {% endif %}
                </div>
                {{ act.getInfo() }}
              </div>
            {% endfor %}
          {% endif %}
	{% endfor %}

       </div>
     </td>
   </tr>
  </tbody>
 </table>
</div>
