{% set prev_style = (page == 1)? 'visibility : hidden': 'color : blue; font-weight : normal ' %}
{% set next_style = (page == total or total == 0)? 'visibility : hidden': 'color : blue; font-weight : normal ' %}


  <div id="pager_{{ name }}" style="float:left;">
    <div style="float:left; margin:0em .5em;">
      {% if(page != 1) %}
        <a href="{{ path('pumukitadmin_'~name~'_index', {'page': (page -1 )}) }}" style="{{ prev_style }}">&laquo; {% trans %}Previous{% endtrans %}</a>
      {% endif %}
      {# <?php echo link_to_remote('&laquo;'.__('Anterior'), array('update' => 'list_'.$name.'s', 'url' => $name.'s/list?page='.($page-1), 'script' => 'true'), $ver_anterior)  ?> #}
    </div>
    <div style="float:left; margin:0em .5em; width:9em">{% trans %}Page{% endtrans %} <span id="num_pag_{{ name }}">{{ page }}</span> {% trans %}of{% endtrans %} {{ total }}</div>
    <div style="float:left; margin:0em .5em; background:transparent url(/legacy/images/admin/pag/sliderbgleft100.png) no-repeat scroll left center; height:18px;  width:100px; ">
      <div id="track_{{ name }}" style="background-color : #aaa;  height : 18px; background:transparent url(/legacy/images/admin/pag/sliderbgright.png) no-repeat scroll right center; ">
        <div id="handle_{{ name }}" style="display : none; background-color : #f00; width : 12px; height : 18px; cursor : move; background:transparent url(/legacy/images/admin/pag/sliderhandle.png) no-repeat scroll center;"> </div>
      </div>
    </div>
    <div style="float:left; margin:0em .5em;">
      {% if(page != total and total != 0) %}
        <a href="{{ path('pumukitadmin_'~name~'_index', {'page': (page +1 )}) }}" style="{{ next_style }}">{% trans %}Next{% endtrans %} &raquo;</a>
      {% endif %}
      {# <?php echo link_to_remote(__('Siguiente').'&raquo;', array('update' => 'list_'.$name.'s', 'url' => $name.'s/list?page='.($page+1), 'script' => 'true'), $ver_siguiente) ?> #}
    </div>
  </div>

  {% if (total > 1) %}
    <script language="javascript" type="text/javascript">
      //<![CDATA[
      new Control.Slider("handle_{{ name }}", "track_{{ name }}", {
        range: $R(1,{{ total }}),
        values: $R(1,{{ total }}).toArray(),
        sliderValue: {{ page }},
        onSlide: function(v){$("num_pag_{{ name }}").innerHTML= (v);},
        onChange: function(v){ window.location.href= "{{ path('pumukitadmin_'~name~'_index', {'page': ''}) }}"+v; }
      } );

      $("handle_{{ name }}").show();    {# evito efecto de empezar en cero y ponerse en su posicion #}
      //]]>
    </script>
  {% endif %}
