{# TODO paths and sort by id, name, phone, email #}

{# <?php if ($sf_user->getAttribute('sort', null, 'tv_admin/person') == 'id'): ?> #}
{% if true %}
  <th width="1%">
    {# TODO ternarios & path a sort <?php echo link_to_remote(__('Id') . ($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? '&nbsp;&#x25BE;' : '&nbsp;&#x25B4;'), array('update' => 'list_people', 'url' => 'people/list?sort=id&type='.($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? 'desc' : 'asc'), 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/id/type/{{ true?'desc':'asc' }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Id{% endtrans %}{{ true?'&nbsp;&#x25BE;':'&nbsp;&#x25B4;' }}</a>
  </th>
{% else %}
  <th width="1%">
    {# <?php echo link_to_remote(__('Id'), array('update' => 'list_people', 'url' => 'people/list?sort=id&type=asc', 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/id/type/asc', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Id{% endtrans %}</a>
  </th>
{% endif %}

{# <?php if ($sf_user->getAttribute('sort', null, 'tv_admin/person') == 'name'): ?> #}
{% if true %}
  <th>
    {# <?php echo link_to_remote(__('Nombre') . ($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? '&nbsp;&#x25BE;' : '&nbsp;&#x25B4;'), array('update' => 'list_people', 'url' => 'people/list?sort=name&type='.($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? 'desc' : 'asc'), 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/name/type/{{ true?'desc':'asc'}}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Name{% endtrans %}{{ true?'&nbsp;&#x25BE;':'&nbsp;&#x25B4;' }}</a>
  </th>
{% else %}
  <th>
    {# <?php echo link_to_remote(__('Nombre'), array('update' => 'list_people', 'url' => 'people/list?sort=name&type=asc', 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/name/type/asc', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Name{% endtrans %}</a>
  </th>
{% endif %}


{# <?php if ($sf_user->getAttribute('sort', null, 'tv_admin/person') == 'email'): ?> #}
{% if true %}
  <th>
    {# <?php echo link_to_remote(__('Email') . ($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? '&nbsp;&#x25BE;' : '&nbsp;&#x25B4;'), array('update' => 'list_people', 'url' => 'people/list?sort=email&type='.($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? 'desc' : 'asc'), 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/email/type/{{ true?'desc':'asc'}}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Email{% endtrans %}{{ true?'&nbsp;&#x25BE;':'&nbsp;&#x25B4;' }}</a>
  </th>
{% else %}
  <th>
    {# <?php echo link_to_remote(__('Email'), array('update' => 'list_people', 'url' => 'people/list?sort=email&type=asc', 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/email/type/asc', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Email{% endtrans %}</a>
  </th>
{% endif %}

{# <?php if ($sf_user->getAttribute('sort', null, 'tv_admin/person') == 'phone'): ?> #}
{% if true %}
  <th>
    {# <?php echo link_to_remote(__('Tel&eacute;fono') . ($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? '&nbsp;&#x25BE;' : '&nbsp;&#x25B4;'), array('update' => 'list_people', 'url' => 'people/list?sort=phone&type='.($sf_user->getAttribute('type', 'asc', 'tv_admin/person') == 'asc' ? 'desc' : 'asc'), 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/phone/type/{{ true?'desc':'asc'}}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Phone{% endtrans %}{{ true?'&nbsp;&#x25BE;':'&nbsp;&#x25B4;' }}</a>
  </th>
  {% else %}
  <th>
    {# <?php echo link_to_remote(__('Tel&eacute;fono'), array('update' => 'list_people', 'url' => 'people/list?sort=phone&type=asc', 'script' => 'true')) ?> #}
    <a href="#" onclick="new Ajax.Updater('list_people', '/editar.php/people/list/sort/phone/type/asc', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Phone{% endtrans %}</a>
  </th>
{% endif %}


