{% extends 'PumukitAdminBundle::base.html.twig' %}

{% block title -%}
Person
{% endblock %}

{% block body -%}
    <div class="record_properties box-body">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>{{ entity.id }}</dd>
            <dt>Name</dt>
            <dd>{{ entity.name }}</dd>
            <dt>Web</dt>
            <dd>{{ entity.web }}</dd>
            <dt>Phone</dt>
            <dd>{{ entity.phone }}</dd>
            <dt>Honorific</dt>
            <dd>{{ entity.honorific }}</dd>
            <dt>Firm</dt>
            <dd>{{ entity.firm }}</dd>
            <dt>Post</dt>
            <dd>{{ entity.post }}</dd>
            <dt>Bio</dt>
            <dd>{{ entity.bio }}</dd>
        </dl>
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_person') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_person_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
