<div class="col-xs-12 col-sm-12 col-md-6">
    <div class="well">
        <h2 class="text-center">{{ titleList|trans }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th>{{ "Image"|trans }}</th>
                <th>{{ "Title"|trans }}</th>
                <th>{{ "Serie"|trans }}</th>
                <th>{{ "Actions"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for element in elementList %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="embed-responsive-item text-center">
                                <img class="img-responsive pic-{{ element.id }} preview" src="{{ element|first_url_pic(true, false) }}" style="max-height:100%" alt="{% trans %}Multimedia object picture{% endtrans %}"/>
                            </div>
                        </div>
                    </td>
                    <td>{{ element.getTitle() }}</td>
                    <td>{{ element.getSeriesTitle() }}</td>
                    <td>XXX</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
