<div class="col-xs-12 col-sm-6 col-md-6 text-center">
    <div class="well">
        <h3>{{ "Default system header configuration"|trans }}</h3>
        <br />
        <p>
            {{ default_video_head()|trans }}
        </p>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 text-center">
    <div class="well">
        <h3>{{ "Default system tail configuration"|trans }}</h3>
        <br />
        <p>
            {{ default_video_tail()|trans }}
        </p>
    </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="info-box">
        <span class="info-box-icon bg-pumukit">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        <div class="info-box-content">
            {{ "Series stats"|trans }}
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="info-box">
        <span class="info-box-icon bg-pumukit">
            <i class="glyphicon glyphicon-user"></i>
        </span>
        <div class="info-box-content">
            {{ "Multimedia object stats"|trans }}
        </div>
    </div>
</div>

<div class="clearfix"></div>
