{% for resource in resources %}
{% if 'user' == resource_name and not group.isLocal() %}
<p>
  <a href="#">
    <i data-toggle="tooltip" data-placement="right" title="{% trans %}External defined users and groups can not be edited here, contact your directory service administrator.{% endtrans %}" class="mdi-action-info" style="color:#009587"></i>
  </a>&nbsp;{{ resource.username }}</p>
{% else %}
<p>
  {% if action %}
  <a href="#" onclick="delete_{{ resource_name }}_from_group('{{ resource.id }}', '{{ group.id }}', '{{ loop.length }}', '{{ action }}');">
    <i class="mdi-content-clear"/>
  </a>
  {% else %}
  &#8226;
  {% endif %}
  &nbsp;{{ (resource_name == 'user') ? resource.username : resource.getTitle() }}</p>
{% endif %}
{% endfor %}
