<!-- Filter -->
<div class="well">
    <form id="filter_groups" onsubmit="$('#list_groups').load('{{ path('pumukitnewadmin_group_list') }}', $(this).serialize()); return false;" action="{{ path('pumukitnewadmin_group_list') }}" method="post">
        <fieldset>
            <legend hidden>{% trans %}Filter Groups{% endtrans %}</legend>
            <div id="accordion" class="panel-group" role="tablist" aria-roledescription="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSearch">
                        <h2 class="panel-title">
                            <a class="show" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
                                <i class="mdi-navigation-menu pull-right"></i>
                                {% trans %}Search{% endtrans %}
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSearch">
                        <div class="panel-body">

                            <div class="form-group">
                                <label for="filters_key" class="control-label">{% trans %}Key{% endtrans %}:</label>
                                {% set criteria = app.session.get('admin/group/criteria') %}
                                <div>
                                    <input type="text" class="reset form-control" name="criteria[key]" id="filters_key" value="{{ criteria['key']|default("") }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filters_name" class="control-label">{% trans %}Name{% endtrans %}:</label>

                                <div>
                                    <input type="text" class="reset form-control" name="criteria[name]" id="filters_name" value="{{ criteria['name']|default("") }}">
                                </div>
                            </div>

                            {% if origins|length > 1 %}
                                <div class="form-group">
                                    <label for="filters_origin" class="control-label">{% trans %}Origin{% endtrans %}:</label>
                                    <div>
                                        <select class="form-control" name="criteria[origin]" id="filters_origin">
                                            <option value="all" {% if criteria is null or criteria['origin'] == 'all' %}selected="selected"{% endif %}>{% trans %}All{% endtrans %}</option>
                                            {% for origin in origins %}
                                                <option value="{{ origin }}" {% if criteria and criteria['origin'] == origin %}selected="selected"{% endif %}>{{ origin }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <div class="text-right">
            <input class="btn btn-default btn-raised" onclick="$('.pmk-group-letter.text-pumukit').removeClass('text-pumukit'); $('#filter_groups input.reset').val(''); $('#list_groups').load('{{ path('pumukitnewadmin_group_list') }}?criteria[reset]=true'); return false;" type="button" value="{% trans %}reset{% endtrans %}">
            <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
        </div>
    </form>
</div>
