<!-- Filter -->
<div class="well">
  <form autocomplete="off" class="form-horizontal" id="filter_groups" onsubmit="$('#list_groups').load('{{ path('pumukitnewadmin_group_list') }}', $(this).serialize()); return false;" action="{{ path('pumukitnewadmin_group_list') }}" method="post">
  <fieldset>
    <h2>{% trans %}Search{% endtrans %}</h2>

    <div class="form-group">
      <label for="key" class="col-md-2 control-label">{% trans %}Key{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/group/criteria') %}
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[key]" id="filters_key" value="{{ criteria['key']|default("") }}">
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="col-md-2 control-label">{% trans %}Name{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/group/criteria') %}
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[name]" id="filters_name" value="{{ criteria['name']|default("") }}">
      </div>
    </div>

    <div class="form-group">
      <label for="origin" class="col-md-2 control-label">{% trans %}Origin{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/group/criteria') %}
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[origin]" id="filters_origin" value="{{ criteria['origin']|default("") }}">
      </div>
    </div>
      
  </fieldset>

  <div class="text-right">
    <input class="btn btn-default btn-raised" onclick="$('.pmk-group-letter.text-pumukit').removeClass('text-pumukit'); $('#filter_groups input.reset').val(''); $('#list_groups').load('{{ path('pumukitnewadmin_group_list') }}?criteria[reset]=true'); return false;" type="button" value="{% trans %}reset{% endtrans %}">
    <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
  </div>
</form>
</div>
