{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_GROUPS')) %}
{% for group in groups if group not in mm.getGroups() %}
<a href="#" 
   id="delete_mm_group_{{ group.id }}"
   onclick="javascript:return select_group(this);" 
   ondblclick="javascript:add_mm_group('{{ group.id }}', '{{ mm.id }}', '{{ group.key }}', '{{ group.name }}');"
   class="list-group-item notload delete-mm-group-item">
  <i class="mdi-social-group"></i>
  {{ group.key }} - {{ group.name }}
</a>
{% endfor %}
{% endif %}
