<div class="table-responsive well">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_GROUPS')) %}
  <input type="hidden" name="pumukitnewadmin_group_sort_change_type" id="pumukitnewadmin_group_sort_change_type" value="{{ app.session.get('admin/group/type')=='asc'?'desc':'asc' }}"/>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="1%" id="th-checkbox">
          <div class="checkbox">
            <label>
              <input type="checkbox" onclick="window.click_checkbox_all('group', this.checked)">
            </label>
          </div>
        </th>
        <th colspan="3" width="5%" id="th-icons"></th>
        {% include '@PumukitNewAdmin/Group/listth.html.twig' %}
      </tr>
    </thead>

    <tbody>
      {% if groups|length == 0 %}
      <tr>
        <td colspan="11" headers="th-checkbox th-icons th-icons th-icons th-key th-name th-origin th-comments">
          {% trans %}There are no groups with those values.{% endtrans %}
        </td>
      </tr>
      {% endif %}

      {% for group in groups %}
      <tr>
        <td headers="th-checkbox">
          <div class="checkbox">
            <label>
              <input id="{{ group.id }}" class="group_checkbox" type="checkbox" size="1">
            </label>
          </div>
        </td>
        <td headers="th-icons">
          {% if group.isLocal() %}
          <a title="{% trans %}Edit Group{% endtrans %} {{ group.getName() }}" href="{{ path('pumukitnewadmin_group_update', {'id': group.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
            <i class="mdi-editor-mode-edit"></i>
          </a>
          {% else %}
          <i data-toggle="tooltip" data-placement="right" title="{% trans %}External defined groups can not be edited here, contact your directory service administrator.{% endtrans %}" class="mdi-editor-mode-edit" style="color:grey!important;"></i>
          {% endif %}
        </td>
        <td headers="th-icons">
          <a title="{% trans %}Delete Group{% endtrans %}" href="{{ path('pumukitnewadmin_group_info', {'id': group.id, 'action': true}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
            <i data-toggle="tooltip" data-placement="right" title="{% trans %}Delete Group or Group relations{% endtrans %}" class="mdi-content-clear"></i>
          </a>
        </td>
        <td headers="th-icons">
          <a title="{% trans %}Group Info{% endtrans %}" href="{{ path('pumukitnewadmin_group_info', {'id': group.id, 'action': false}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
            <i class="mdi-action-info"></i>
          </a>
        </td>
        <td headers="th-key">
          {{ group.getKey()[:10] }}{% if ((group.getKey()|length) > 10 ) %}...{% endif %}
        </td>
        <td headers="th-name">
          {{ group.getName()[:20] }}{% if ((group.getName()|length) > 20 ) %}...{% endif %}
        </td>
        <td headers="th-origin">
          {{ group.getOrigin() }}
        </td>
        <td headers="th-comments">
          {{ group.getComments()[:150] }}{% if ((group.getComments()|length) > 150 ) %}...{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9" class="foot-td">
            {% set column = ((groups.getNbPages/5)|round(0, 'floor')) %}
            <div class="col-md-8">
              {{ groups.getNbResults }}
                {{ "{0} groups|{1} group|]1,Inf] groups"|trans({'%count%': groups.getNbResults}) }}
	          {% if app.session.get('admin/group/criteria')|length != 0%}
              <a class="cancel-search-button" title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
	          {% endif %}
            </div>
            <div class="col-md-4 text-right">
              <div class="pagerfanta">
                {% set sorting = {('sorting[' ~ (app.session.get('admin/group/sort')) ~ ']') : (app.session.get('admin/group/type')) } %}
                {{ pagerfanta(groups, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_group_index", "routeParams": sorting}) }}
              </div>
            </div>
        </td>
      </tr>
    </tfoot>
  </table>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
