{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.keyword }}{% endblock %}

{% block body_without_bar %}
    <h1>{{ multimediaObject.title|default("No title"|trans) }}</h1>
    <div class="grid_10">
        {% include 'PumukitWebTVBundle:Misc:magic_url_disclaimer.html.twig' %}
        {% include 'PumukitWebTVBundle:MultimediaObject:player.html.twig' with {'width': '620', 'height': '465'} %}
        {% include 'PumukitWebTVBundle:MultimediaObject:info.html.twig' %}
    </div>
    <div class="grid_5">
        {% render(controller('PumukitWebTVBundle:MultimediaObject:series', {'multimediaObject': multimediaObject})) %}
        {% render(controller('PumukitWebTVBundle:MultimediaObject:related', {'multimediaObject': multimediaObject})) %}
    </div>
{% endblock %}
