<div>
    <div style="margin-bottom: 10px; overflow: hidden;">

        <!--Multimedia object tags-->
        <div style="width: 440px;">
            <ul>
                {% for tag in multimediaObject.getTags() if tag.getDisplay() and not tag.getMetatag() %}
                    <li style="list-style:none; float: left; margin: 5px;">
                        <div title="{{ tag.getTitle() }}" class="label-categories label-info">
                            <a style="text-decoration: none" href="{{ path('pumukit_webtv_bytag_multimediaobjects', {'cod': tag.getCod()}) }}">{{ tag.getTitle() }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!--Number of views of multimedia object-->
        <div class="num_view" style="margin-left: 440px; float: right;">
            <div style="float:right; font-size: 0.90rem;">{{ multimediaObject.getRecordDate().format("d/m/Y") }}</div>
            <div style="margin-top: 5px; font-size: 0.90rem;">
                Visto<span class="num_view_number"> {{ multimediaObject.getNumview() }} </span>veces
            </div>
        </div>

    </div>

    <table style="margin-bottom: 10px;">
        <tbody>
        <tr style="vertical-align: top;">
            <td style="width: 65%; border-right: 1px solid #ddd; padding-right: 10px;">
                <p>{{ multimediaObject.getDescription() }}</p>
            </td>

            <!--Downloads and share section-->
            <td style="padding: 5px 0 0 10px; width:217px;">

                <!--Download associated materials to multimedia object-->
                {% for material in multimediaObject.getMaterials() if not material.getHide() %}
                    <div class="download" style="height: 30px; margin-left: 5px;">
                        <a style="margin-left: 20px" target="_blank" href="{{ material.getUrl() }}">{{ material.getName() }}</a>
                    </div>
                {% endfor %}
                {% for link in multimediaObject.getLinks() %}
                    <div class="download" style="height: 30px; margin-left: 5px;">
                        <a style="margin-left: 20px" target="_blank" href="{{ link.getUrl() }}">{{ link.getName() }}</a>
                    </div>
                {% endfor %}
                <div style="clear:both;"></div>

                {% include 'PumukitWebTVBundle:MultimediaObject:share.html.twig' %}

            </td>

        </tr>
        </tbody>
    </table>
</div>

<div style="clear: left;">
    <span style="font-weight: bold">Serie:</span>
    <a href="{{ url('pumukit_webtv_series_index', {'id': multimediaObject.getSeries().getId()}) }}">{{ multimediaObject.getSeries().getTitle() }}</a>
</div>


<div class="serial_mm_info">
    <!-- PERSONS ACT -->
    <div class="" style="overflow: hidden;">
        {% set roles = sort_roles(multimediaObject, true) %}
        {% for role in roles %}
            {% for person in role.people %}
                <div>
                    {{ role.getText() }}
                    <span style="font-weight: bolder">{{ person.getHName() }}</span>
                    <span style="font-size:85%; color:#666">{{ person.getInfo() }}</span>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
  
