<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myAuxModal{{ template }}Label">{% trans %}new person from LDAP{% endtrans %}</h4>
{% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
<p>
{% trans %}Write the email login of the person you would like to add from the LDAP server. A pull-down menu will be shown, where you can select and use the person data.{% endtrans %}.
</p>
{% endif %}
</div>
<div class="modal-body">
  {% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  <fieldset>
    <div class="form-group">
      <label for="login" class="control-label">{% trans %}Login{% endtrans %}:</label>
      <input type="text" name="login" id="login" placeholder="{% trans %}login to search for{% endtrans %}" class="form-control"/>
      <span id="indicator1" style="display: none" class="input-group-addon"><img alt="{% trans %}working{% endtrans %}..." src="{{ asset('/bundles/pumukitnewadmin/images/admin/load/spinner.gif') }}" height="18" width="18"></span>
      <input type="hidden" name="ldap_person_mail" value="" id="ldap_person_mail"/>
      <input type="hidden" name="ldap_person_cn" value="" id="ldap_person_cn"/>
      <input type="hidden" name="ldap_mm_id" value="{{ mm.id }}" id="ldap_mm_id"/>
      <input type="hidden" name="ldap_role_id" value="{{ role.id }}" id="ldap_role_id"/>
      <input type="hidden" name="ldap_mm_title" value="{{ mm.getTitle() }}" id="ldap_mm_title"/>
      <input type="hidden" name="ldap_role_name" value="{{ role.getName() }}" id="ldap_role_name"/>
      <input type="hidden" name="ldap_template" value="{{ template }}" id="ldap_template"/>
    </div>
  </fieldset>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
    <button type="button" class="btn btn-primary btn-raised"
            id="create_ldap_relation" href="#">
      {% trans %}Use{% endtrans %}
    </button>
  </div>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>

<div style="clear:right"></div>
{% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
<script type="text/javascript" src="{{ path('pumukit_ldap_js') }}"></script>
{% endif %}
