{% set criteria = app.session.get('admin/mmslist/criteria') %}
<div class="well" xmlns="http://www.w3.org/1999/html">
    <form autocomplete="off" id="filter_series" class="form">
        <fieldset>
            <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSearch">
                        <h2 class="panel-title">
                            <a class="show" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch"
                               aria-expanded="true" aria-controls="collapseSearch">
                                <i class="mdi-navigation-menu pull-right"></i> {% trans %}Search{% endtrans %}
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSearch">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="filters_search" class="control-label">{% trans %}Search{% endtrans %} :</label>
                                <input type="text" class="form-control" name="criteria[search]" id="filters_search" value="{{ criteria['search']|default("") }}" data-toggle="tooltip" data-placement="left" title="{% trans %}Search by title, subtitle, description or id{% endtrans %}" placeholder="{% trans %}Search by title, subtitle, description or id{% endtrans %}">
                            </div>

                            <div class="form-group">
                                <label for="filters_person" class="control-label">{% trans %}Person{% endtrans %} :</label>
                                <input type="text" class="form-control" name="criteria[person_name]" id="filters_person_name" value="{{ criteria['person_name']|default("") }}" placeholder="{% trans %}Search by name or surname{% endtrans %}">
                            </div>

                            <div class="form-group" id="filter_person_role_group" style="display:none">
                                <label for="filters_person_role" class="control-label">{% trans %}Roles{% endtrans %} :</label>
                                <select class="form-control" name="criteria[person_role]" id="filters_person_role">
                                    <option value="all">{% trans %}All{% endtrans %}</option>
                                    {% for role in roles %}
                                        <option value="{{ role.cod }}" {% if criteria is not null and criteria['person_role'] == role.cod %}selected{% endif %}>{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion_others" class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSearch">
                        <h2 class="panel-title">
                            <a class="show" data-toggle="collapse" data-parent="#accordion_others" href="#collapseOthers"
                               aria-expanded="true" aria-controls="collapseSearch">
                                <i class="mdi-navigation-menu pull-right"></i> {% trans %}Filter{% endtrans %}
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOthers" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSearch">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="filter_place" class="control-label">{% trans %}Status{% endtrans %} :</label>
                                <ul style="list-style-type: none;">
                                    {% for key, value in statusPub %}
                                        <li>
                                            {% set checked = '' %}
                                            {% if criteria['status'] is defined and key in criteria['status'] %}
                                                {% set checked = 'checked' %}
                                            {% endif %}
                                            <input id="{{ value }}" type="checkbox" name="criteria[status][]" value="{{ key }}" {{ checked }} />
                                            <span>{{ value|trans }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="filter_place" class="control-label">{% trans %}Publication Channels{% endtrans %} :</label>
                                <select class="form-control" name="criteria[channel]" id="filters_person_role">
                                    <option value="all">{% trans %}All{% endtrans %}</option>
                                    {% for channel in pubChannels %}
                                        <option value="{{ channel.cod }}" {% if criteria is not null and criteria['channel'] == channel.cod %}selected{% endif %}>{{ channel.title|trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="filters_date" class="control-label">{% trans %}Date{% endtrans %} :</label>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        {% trans %}From{% endtrans %}:&nbsp;<input type="date"
                                                                                   class="form-control"
                                                                                   pattern="(\d\d\d\d)-(\d\d)-(\d\d)"
                                                                                   title="Format YYYY-MM-DD"
                                                                                   name="criteria[date][from]"
                                                                                   id="filters_date_from"
                                                                                   onChange="on_filter_multimedia_list()"
                                                                                   value="{{ criteria['date']['from']|default("") }}">
                                        <br/>
                                        {% trans %}To{% endtrans %}:&nbsp;&nbsp;<input type="date"
                                                                                       class="form-control"
                                                                                       pattern="(\d\d\d\d)-(\d\d)-(\d\d)"
                                                                                       title="Format YYYY-MM-DD"
                                                                                       name="criteria[date][to]"
                                                                                       id="filters_date_to"
                                                                                       onChange="on_filter_multimedia_list()"
                                                                                       value="{{ criteria['date']['to']|default("") }}">
                                    </div>
                                </div>
                            </div>

                            {% if disable_pudenew != true %}
                            <div class="form-group">
                                <label for="filters_announce" class="control-label">{% trans %}Announced{% endtrans %} :</label>
                                <select class="form-control" name="criteria[announce]" id="filters_announce">
                                    <option value="diff" >{% trans %}Indifferent{% endtrans %}</option>
                                    <option value="true" {% if criteria is not null and criteria['announce'] == "true" %} selected{% endif %}>{% trans %}Yes{% endtrans %}</option>
                                    <option value="false" {% if criteria is not null and criteria['announce'] == "false" %} selected{% endif %}>{% trans %}No{% endtrans %}</option>
                                </select>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="text-right">
            <input class="btn btn-default btn-raised" onclick="window.location.href='?criteria[reset]=true'" type="button" value="{% trans %}reset{% endtrans %}">
            <input type="submit" name="filter" value="{% trans %}filter{% endtrans %}" class="btn btn-pumukit btn-raised">
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready( function () {
        var person_search = $('#filters_person_name').val();
        if(person_search.length != 0) {
            $('#filter_person_role_group').show();
            $('#collapseSearch').addClass('in');
        }
    });

    function on_filter_multimedia_list(event) {
        var from_date = $('#filters_date_from');
        var to_date = $('#filters_date_to');
        if (to_date.val() != "" && from_date.val() >= to_date.val()) {
            to_date[0].setCustomValidity("{% trans %}From date must be less than to date{% endtrans %}");
        } else {
            to_date[0].setCustomValidity("");
        }
        return false;
    }

    $('#filters_person_name').keyup(function() {
        if($('#filters_person_name').val().length == 0) {
            $('#filter_person_role_group').hide();
        } else {
            $('#filter_person_role_group').show();
        }
    });
</script>
