{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}

<h3 class="cab_body_div">
  <ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="{{ path('pumukitnewadmin_series_index') }}">Series ({{ series.getTitle() }})</a></li>
    <li class="active">Multimedia Objects</li>
  </ul>
  <input type="hidden" name="series_id" id="mms_series_id" value="{{ series.id }}" />
</h3>

<div class="row">
  <div id="tv_admin_content" class="col-md-10">
    <div class="well">
      <div id="list_mms">
        {% include 'PumukitNewAdminBundle:MultimediaObject:list.html.twig' %}
      </div>      
      <div class="row">
        <div class="col-md-2">
          <select id="options_mms" class="form-control" title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('mm', $(this), 'mms');">
            <option value="default" selected="selected">{% trans %}Select an action{% endtrans %}...</option>
            <option disabled="">---</option>
            <option value="delete_selected">{% trans %}Delete selected{% endtrans %}</option>
            <option value="invert_announce_selected">{% trans %}Announce/Deannounce selected{% endtrans %}</option>
            <option disabled="">---</option>
            <option value="order_pub_date_desc">{% trans %}List multimedia objects in descending order of publication date{% endtrans %}</option>
            <option value="order_pub_date_asc">{% trans %}List multimedia objects in ascending order of publication date{% endtrans %}</option>
            <option value="order_rec_date_desc">{% trans %}List multimedia objects in descending order of recording date{% endtrans %}</option>
            <option value="order_rec_date_asc">{% trans %}List multimedia objects in ascending order of recording date{% endtrans %}</option>
            <option disabled="">---</option>
            <option value="cut_mm">{% trans %}Cut multimedia objects{% endtrans %}</option>
            {% if app.session.has('admin/mms/cut') and app.session.get('admin/mms/cut')%}
            <option value="paste_mm" id="paste_mm">
              {% trans %}Paste multimedia objects{% endtrans %} ({% for id in app.session.get('admin/mms/cut') %}{{ id }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %})
            </option>
            {% else %}
            <option value="paste_mm" id="paste_mm" style="display:none"></option>
            {% endif %}
            <option disabled="">---</option>
            <option value="series_preview" id="{{ series.secret }}">{% trans %}Preview show of the series{% endtrans %}</option>
          </select>
        </div>
        <div class="col-md-10 text-right">
          <a class="btn btn-primary btn-raised" href="{{ url('pumukitwizard_default_type', {'id': series.id}) }}">{% trans %}Wizard{% endtrans %}</a>
	      {# TODO mmwizard and path with series id (add title to pumukitwizard default type)
	      <a class="btn btn-primary btn-raised" href="#" onclick="Modalbox.show('/editar.php/mmwizard/index/mod/mms/serial_id/782',{width: 800, title:'{% trans %}STEP II: MM.OBJ.{% endtrans %}'}); return false;">Wizard</a> #}
	      {# TODO Path create with page number #}
	      <a title="{% trans %}Create new multimedia object{% endtrans %}" class="btn btn-pumukit btn-raised" href="#" onclick="$('#list_mms').load('{{ path('pumukitnewadmin_mms_create', {'id': series.id}) }}', function(){success('{% trans %}Multimedia Object successfully created.{% endtrans %}');}); return false;">{% trans %}New{% endtrans %}</a>
        </div>
      </div>
    </div>
    <div id="edit_mm">
      {% if(app.session.has('admin/series/id') and app.session.has('admin/mms/id')) %}
      {{ render(url('pumukitnewadmin_mms_edit', {'id': app.session.get('admin/mms/id'), 'seriesId': app.session.get('admin/series/id')})) }}
      {% endif %}
    </div>
  </div>

  <div id="tv_admin_bar" class="col-md-2">
    <div id="preview_mm" class="well">
      {% if(app.session.has('admin/mms/id')) %}
      {{ render_hinclude(url('pumukitnewadmin_mms_show', {'id': app.session.get('admin/mms/id')})) }}
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" id="myAuxModal" tabindex="-1" role="dialog" aria-labelledby="myAuxModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<script type="text/javascript">
/* TODO
var update_file;
window.onload = function(){
  Shadowbox.init({
    skipSetup:  true,
    onOpen:     function(element) {
                  if (typeof update_file == 'object') update_file.stop();
                },
    onClose:    function(element) {
                  if (typeof update_file == 'object') update_file.start();
                }
  });
};
*/

window.update_preview_mms = function(id) {
  var route = "{{ path('pumukitnewadmin_mms_show', {id: '__id__'}) }}";
  $.ajax({
          url: route.replace('__id__', id),
          type: 'POST',
          success: function(response){$('#preview').html(response);}
         });
}

</script>

{% endblock %}
