{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
    {% set video_url = url('pumukit_webtv_multimediaobject_index', {id: mm.id}) %}
    {% set magic_url = url('pumukit_webtv_multimediaobject_magicindex', {secret: mm.secret}) %}
{% endif %}
<div class="row">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
        <div class="background_id col-lg-12">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Info {% if mm.numericalID %}- <span title="{% trans %}Numerical ID{% endtrans %}">({{ mm.numericalID }})</span>{% endif %}</legend>
                    <div class="form-group col-lg-6">
                        <label for="inputMMId" class="col-xs-2 control-label">Id:</label>
                        <div class="col-xs-10 input-group">
                            <input type="text" class="form-control" id="inputMMId" readonly onclick="select()" value="{{ mm.id }}">
                        </div>
                        <label for="inputMMTitle" class="col-xs-2 control-label">{% trans %}Title{% endtrans %}:</label>
                        <div class="col-xs-10 input-group">
                            <input type="text" class="form-control" id="inputMMTitle" readonly onclick="select()" value="{{ mm.title }}">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="inputROUrl" class="col-xs-2 control-label hidden-naked">Url:</label>
                        <div class="col-xs-10 input-group hidden-naked">
                            <input type="text" class="form-control" id="inputROUrl" readonly onclick="select()" value="{{ video_url }}">
                            {% if is_published and is_playable %}
                                <span class="input-group-addon"><a href="{{ video_url }}" target="_blank" title="{% trans %}Video URL{% endtrans %}"><i class="mdi-action-exit-to-app"></i></a></span>
                            {% else %}
                                <span class="input-group-addon"><i class="mdi-action-report-problem" title="{% trans %}Warning: This link will give a 404 error until this multimedia object is correctly published.{% endtrans %}"></i></span>
                            {% endif %}
                        </div>
                        <label for="inputROMagicUrl" class="col-xs-2 control-label hidden-naked"
                               style=" word-break: break-all; overflow: hidden; white-space: nowrap;"
                               data-toggle="tooltip" data-placement="bottom"
                               title="{% trans %}This URL will give you access to the series without login.{% endtrans %}">
                            {% trans %}Magic Url{% endtrans %}:
                        </label>
                        <div class="col-xs-10 input-group hidden-naked">
                            <input type="text" class="form-control" id="inputROMagicUrl" readonly onclick="select()" value="{{ magic_url }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}This URL will give you access to the series without login.{% endtrans %}" />
                            {% if is_hidden %}
                                <span class="input-group-addon">
                                    <a id="alinkROMagicUrl" href="{{ magic_url }}" target="_blank" title="{% trans %}Magic Url{% endtrans %}">
                                        <i class="mdi-action-exit-to-app"></i>
                                    </a>
                                </span>
                            {% else %}
                                <span class="input-group-addon">
                                    <i class="mdi-action-report-problem" title="{% trans %}Warning: This link will show a player with no video until a display track is added.{% endtrans %}"></i>
                                </span>
                            {% endif %}
                            <span class="input-group-addon">
                                <a href="#" onclick="window.submit_generate_magic_mms('{{ mm.id }}'); return false;" title="{% trans %}Submit generate magic URL{% endtrans %}">
                                    <i class="mdi-av-loop"></i>
                                </a>
                            </span>
                        </div>
                        {% if is_published and is_playable and mm.getProperty('externalplayer')%}
                            {% set video_url = url('pumukit_webtv_multimediaobject_index', {id: mm.id, 'track_id': mm.getDisplayTrack().getId() }) %}
                            <label for="inputROUrl" class="col-xs-2 control-label hidden-naked">Broadcast:</label>
                            <div class="col-xs-10 input-group hidden-naked">
                                <input type="text" class="form-control" id="inputROUrl" readonly onclick="select()" value="{{ video_url }}">


                                <span class="input-group-addon">
                                    <a href="{{ video_url }}" target="_blank" title="{% trans %}Video URL{% endtrans %}">
                                        <i class="mdi-action-exit-to-app"></i>
                                    </a>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </fieldset>
                <button title="{% trans %}Read only form{% endtrans %}" aria-label="{% trans %}Read only form{% endtrans %}" hidden="true"></button>
            </form>
        </div>
    {% endif %}
</div>

<div class="row">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
        <div class="col-xs-12 ">
            <br />
            {% if warning_on_unpublished and (not is_published or not is_playable) %}
                <span class="alert alert-dismissable alert-warning">
                    <i class="mdi-action-report-problem"></i>
                    {% trans %}WARNING, this multimedia object is not yet published on WebTV, or does not have a playable resource.{% endtrans %}
                </span>&nbsp;
                <br />
                <br />
            {% endif %}
        </div>
    {% endif %}
</div>
