{% for group in groups if group not in mm.getGroups() and (group.origin == constant('Pumukit\\SchemaBundle\\Document\\Group::ORIGIN_LOCAL')) %}
<a href="#" 
   id="delete_mm{{ template }}_group_{{ group.id }}"
   onclick="javascript:return select_group(this);" 
   ondblclick="javascript:add_group('{{ group.id }}', '{{ mm.id }}', '{{ group.key }}', '{{ group.name }}', '{{ group.origin }}', 'mm{{ template }}');"
   class="list-group-item notload delete-mm{{ template }}-group-item">
  <i class="mdi-social-group"></i>
  {{ group.key }} - {{ group.name }} - ({{ group.origin }})
</a>
{% endfor %}
