<input type="hidden" id="mm_id_grouprelation" value="{{ mm.id }}"/>
<div class="panel panel-default">
  <div class="panel-heading">
    {% trans %}ADMIN GROUPS{% endtrans %}&nbsp;
    {% if template %}
    <i class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Groups that can admin this series{% endtrans %}"></i>
    {% else %}
    <i class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Groups that can admin this multimedia object{% endtrans %}"></i>
    {% endif %}
  </div>
  <div class="panel-body" id="group_mm{{ template }}">
    <div class="row pumukitnewadmin-groups-list-title-row">
      <div class="pumukitnewadmin-groups-list-title"  style="width:45%;max-width:430px">
        {% trans %}Available Groups{% endtrans %}:
      </div>
      <div class="pumukitnewadmin-groups-list-title">
        <strong>{% trans %}Selected Admin Groups{% endtrans %}:</strong>
      </div>
    </div>
    <div class="pumukitnewadmin-groups-boxes">
      {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::MODIFY_OWNER')) %}
      {% set can_modify_groups = true %}
      {% else %}
      {% set can_modify_groups = false %}
      {% endif %}
      {% if can_modify_groups %}
      <input type="hidden" id="can_modify_groups" value="yes"/>
      {% else %}
      <input type="hidden" id="can_modify_groups" value="no"/>
      {% endif %}
	  <div class="tag list-group pmk-tag-tree pumukitnewadmin-groups-list-box list-box-width" id="delete_mm{{ template }}_groups">
        {% include '@PumukitNewAdmin/MultimediaObject/availablegroups.html.twig' with {'resource': mm, 'groups': groups, 'resource_name': 'mm'~template, 'can_modify_groups': can_modify_groups} %}
	  </div>
      {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::MODIFY_OWNER')) %}
	  <div class="pumukitnewadmin-groups-arrows">
	    <a href="#" onclick="$('#add_mm{{ template }}_groups > a.active').trigger('dblclick'); return false;">&#8592;</a>
	    <a href="#" onclick="$('#delete_mm{{ template }}_groups > a.active').trigger('dblclick'); return false;">&#8594;</a>
	  </div>
      {% else %}
	  <div class="pumukitnewadmin-groups-arrows">
	    <a href="#" onclick="window.alert('{% trans %}WARNING: You do not have enough permissions to modify admin groups.{% endtrans %}');return false;">&#8592;</a>
	    <a href="#" onclick="window.alert('{% trans %}WARNING: You do not have enough permissions to modify admin groups.{% endtrans %}');return false;">&#8594;</a>
	  </div>
      {% endif %}
      {# Groups added to the multimedia object #}
	  <div class="tag pumukitnewadmin-groups-list-box list-box-width" id="added_mm{{ template }}_groups">
	    <div class="tag_tree list-group" id="add_mm{{ template }}_groups" >
          {% include '@PumukitNewAdmin/MultimediaObject/selectedgroups.html.twig' with {'resource': mm, 'groups': groups, 'resource_name': 'mm'~template, 'can_modify_groups': can_modify_groups} %}
	    </div>
      </div>
	</div>
  </div>
</div>
