<div class="table-responsive well" style="overflow:visible;">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="1%">
          <div class="checkbox pumukit-mms-checkbox">
            <label>
              <input type="checkbox" onclick="window.click_checkbox_all('mm', this.checked)">
            </label>
          </div>
        </th>
        <th colspan="{{ is_naked() ? 4 : 5 }}" width="5%"></th>
        <th width="1%">{% trans %}Audio/Video{% endtrans %}</th>
        <th width="1%">{% trans %}Img{% endtrans %}</th>
        <th>{% trans %}Title{% endtrans %}</th>
        <th width="1%">{% trans %}Duration{% endtrans %}</th>
        <th width="1%">{% trans %}RecDate{% endtrans %}</th>
        <th width="1%">{% trans %}PubDate{% endtrans %}</th>
      </tr>
    </thead>

    <tbody>
      {% for mm in mms %}
      <tr style="cursor: pointer" {% if(app.session.get('admin/mms/id') == mm.id ) %} class="success" {% endif %}>
        <td>
          <div class="checkbox pumukit-mms-checkbox">
            <label>
              <input id="{{ mm.id }}" class="mm_checkbox" type="checkbox">
            </label>
          </div>
        </td>
        <td>
          <span id="table_mms_status_wrapper_{{ mm.id }}" data-id="{{ mm.id }}"> {# See Track/list for AJAX update #}
          {% include 'PumukitNewAdminBundle:MultimediaObject:status.html.twig' with {'mm': mm} %}
          </span>
        </td>
        {% if not is_naked() %}
        <td>
          {{ mm.containsTagWithCod('PUDENEW')?'<i class="mdi-action-spellcheck">':'&nbsp;' }}
        </td>
        {% endif %}
        <td>
          {% include 'PumukitNewAdminBundle:MultimediaObject:updatemenu.html.twig' with {'mm': mm} %}
        </td>
        <td>
          {% if mms.getCurrentPage() != 1 or not loop.first %}
          {% spaceless %}
          <a href="{{ path('pumukitnewadmin_mms_down', {'id': mm.id}) }}" title="{% trans %}Move one position up{% endtrans %}">&#8593;</a>
          <a href="{{ path('pumukitnewadmin_mms_bottom', {'id': mm.id}) }}" title="{% trans %}Move to the beginning of the list{% endtrans %}"><i class="mdi-editor-vertical-align-top"></i></a>
          {% endspaceless %}
          {% endif %}
        </td>
        <td>
          {% if (mms.getCurrentPage() != mms.getNbPages()) or (loop.index + ((mms.getCurrentPage() - 1 ) * mms.getMaxPerPage()) != mms.getNbResults())  %}
          {% spaceless %}
        <a href="{{ path('pumukitnewadmin_mms_up', {'id': mm.id}) }}" title="{% trans %}Move one position down{% endtrans %}">&#8595;</a>
        <a href="{{ path('pumukitnewadmin_mms_top', {'id': mm.id}) }}" title="{% trans %}Move to the end of the list{% endtrans %}"><i class="mdi-editor-vertical-align-bottom"></i></a>
        {% endspaceless %}
        {% endif %}
        </td>
        <td onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" ondblclick="dblclick_preview_mm('{{ mm.id }}')">
          <span>{{ mm.isOnlyAudio() ? 'Audio':'Video' }}</span>
        </td>
        <td onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" ondblclick="dblclick_preview_mm('{{ mm.id }}')">
          <img class="mini pic-{{mm.id}} preview" src="{{ mm|first_url_pic(false, false) }}" alt="{% trans %}No_pic{% endtrans %}" height="23" width="30">
        </td>
        <td onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" ondblclick="dblclick_preview_mm('{{ mm.id }}')">
          {{ mm.getTitle() }}
        </td>
        <td class="text-nowrap" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" ondblclick="dblclick_preview_mm('{{ mm.id }}')">
            {% if mm.duration == mmobj_duration(mm) %}
              {{ mm.duration| duration_string }}
            {% else %}
              {{ mm.duration| duration_string }}
              <i class="mdi-content-content-cut" data-toggle="tooltip" data-placement="left" title="{{ mmobj_duration(mm) | duration_string }}"></i>
            {% endif %}
        </td>
        <td class="text-nowrap" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" ondblclick="dblclick_preview_mm('{{ mm.id }}')">
          {{ mm.getRecordDate()|date('d-m-Y') }}
        </td>
        <td class="text-nowrap" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" ondblclick="dblclick_preview_mm('{{ mm.id }}')">
          {{ mm.getPublicDate()|date('d-m-Y') }}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="13">
          {% trans %}There are no multimedia objects with those values.{% endtrans %}
        </td>
      </tr>
    {% endfor %}

    {% if 0 == mms|length%}
        {% set range = 1..9 %}
    {% elseif (mms|length - (mms.getMaxPerPage() * (mms.getCurrentPage() - 1))) < (mms.maxPerPage) %}
        {% set range = (mms|length - (mms.getMaxPerPage() * (mms.getCurrentPage() - 1)))..(mms.maxPerPage-1) %}
    {% else %}
        {% set range = [] %}
    {% endif %}

    {% for i in range %}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        {% if not is_naked() %}
        <td>&nbsp;</td>
        {% endif %}
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="13">
        <div class="row">
          <div class="col-md-6">
            {{ mms.getNbResults }} {% trans %}Mm. Obj.{% endtrans %}
              {% if app.session.get('admin/mms/criteria')|length != 0%}
              <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
              {% endif %}
          </div>
            <div class="col-md-6 text-right">
              <div class="pagerfanta">
                {{ pagerfanta(mms, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;",
                                                          "routeParams": {"id": series.id}, "routeName": "pumukitnewadmin_mms_index"}) }}
                {% if not is_naked() %}
                <select onchange="javascript: window.location.href = '{{ path('pumukitnewadmin_mms_index') }}' + '?page=1&paginate=' + this.value" aria-label="{% trans %}Select the number of multimedia objects to display per page.{% endtrans %}">
                  <option {% if mms.maxPerPage == 10 %}selected{% endif %} value="10">10</option>
                  <option {% if mms.maxPerPage == 20 %}selected{% endif %} value="20">20</option>
                  <option {% if mms.maxPerPage == 50 %}selected{% endif %} value="50">50</option>
                </select>
                {% endif %}

              </div>
            </div>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
{% endif %}
</div>

{# TODO variables

{% if reload_pub_channel %}
  <script type="text/javascript">
    new Ajax.Updater('list_pub_{{ mm_sel.id }}', 'TODO path pumukitnewadmin_mms_updatelistpub mms/updatelistpub?id= mm_sel id')
  </script>
{% endif %}

{% if reloadEditAndPreview %}
<script type="text/javascript">
  new Ajax.Updater('edit_mms', '{{ path('pumukitnewadmin_mms_edit', {'id': mm_sel.id}) }}', {
      asynchronous: true,
      evalScripts: true
  });
  new Ajax.Updater('preview_mms', '{{ path('pumukitnewadmin_mms_show', {'id': mm_sel.id}) }}', {
      asynchronous: true,
      evalScripts: true
  });
</script>
{% endif %}

{% if enBloq %}
  <script type="text/javascript">
    $('list_pub_channel').setStyle('background-color: #f2f2f2');
    $$('.pub_channel_input_checkbox').invoke('disable');
  </script>
{% endif %}


{% if desBloq %}
  <script type="text/javascript">
    $('list_pub_channel').setStyle('background-color: transparent');
    $$('.pub_channel_input_checkbox').invoke('enable');
  </script>
{% endif %}

#}
