{% if is_naked() %}
    {% set colspan = 5 - (series.sorting == constant('SORT_MANUAL', series) ? 0 : 2) - (is_naked() ? 1 : 0) %}
{% else %}
    {% set colspan = 4 - (series.sorting == constant('SORT_MANUAL', series) ? 0 : 2) - (is_naked() ? 1 : 0) %}
{% endif %}

<tr>
    <th width="1%" id="th-checkbox">
        <div class="checkbox pumukit-mms-checkbox">
            <label>
                <input type="checkbox" onclick="window.click_checkbox_all('mm', this.checked)">
            </label>
        </div>
    </th>

    <th id="th-icons" colspan="{{ colspan }}"></th>
    <th id="th-img">{{ "Images"|trans }}</th>
    <th id="th-title">{{ "Title"|trans }}</th>
    <th id="th-type" class="text-center">{{ "Type"|trans }}</th>
    <th id="th-media" class="text-center">{{ "Media"|trans }}</th>
    <th id="th-duration" class="text-center">{{ "Duration"|trans }}</th>
    <th id="th-rec-date">{{ "Recording"|trans }}</th>
    <th id="th-pub-date">{{ "Publication"|trans }}</th>
    <th id="th-status" class="text-center">{{ "Status"|trans }}</th>
    <th id="th-channel" class="text-center">{{ "WebTV"|trans }}</th>
    <th id="th-broadcast" class="text-center">{{ "Broadcast"|trans }}</th>
    <th id="th-views" class="text-center">{{ "Views"|trans }}</th>
    <th id="th-play">&nbsp;</th>
</tr>

