<div class="table-responsive" style="overflow:visible;">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
        <table class="table table-striped table-hover">
            <thead>
                {% include "@PumukitNewAdmin/MultimediaObject/listth.html.twig" %}
            </thead>

            <tbody>
            {% for mm in mms %}
                <tr style="cursor: pointer" {% if(app.session.get('admin/mms/id') == mm.id ) %} class="success" {% endif %}>
                    <td headers="th-checkbox">
                        <div class="checkbox pumukit-mms-checkbox">
                            <label>
                                <input id="{{ mm.id }}" class="mm_checkbox" type="checkbox">
                            </label>
                        </div>
                    </td>
                    <td headers="th-status" class="text-center">
                        <span id="table_mms_status_wrapper_{{ mm.id }}" data-id="{{ mm.id }}">
                            {% include '@PumukitNewAdmin/MultimediaObject/status.html.twig' with {'mm': mm} %}
                        </span>
                    </td>
                    <td headers="th-icons" style="width: 1em;">
                        {% include '@PumukitNewAdmin/MultimediaObject/updatemenu.html.twig' with {'mm': mm} %}
                    </td>
                    {% if not is_naked() %}
                        <td headers="th-icons" style="width: 1em;">
                            {{ mm.containsTagWithCod('PUDENEW')?'<i class="mdi-action-spellcheck">':'&nbsp;' }}
                        </td>
                    {% endif %}
                    {% if is_naked() and mm.containsAnyTagWithCodes(['PUCHOPENEDX', 'PUCHMOODLE', 'PUCHLMS'])%}
                    <td headers="th-icons" style="width: 1em;">
                        <a class="moodlepr-add" href="#" title="{% trans %}Publish to LMS{% endtrans %}" onclick="parent.window.postMessage({'mmId': '{{ mm.id }}'}, '*'); return false;"><i class="mdi-editor-insert-photo"></i></a>
                    </td>
                    {% endif %}
                    {% include '@PumukitNewAdmin/MultimediaObject/sortingactions.html.twig' %}
                    <td headers="th-img" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')">
                        {% include "@PumukitNewAdmin/Misc/img_list.html.twig"  with {'object' : mm, 'type': 'mm' } %}
                    </td>
                    <td headers="th-title" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" >
                        <span class="shorten-title">{{ mm.getTitle() }}</span>
                    </td>
                    <td headers="th-type" class="text-center" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" >
                        {% if mm.isVideoType() %}
                            <i class="fa fa-file-video" data-toggle="tooltip" data-placement="right" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                        {% elseif mm.isAudioType() %}
                            <i class="fa fa-file-audio" data-toggle="tooltip" data-placement="right" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                        {% elseif mm.isImageType() %}
                            <i class="fa fa-file-image" data-toggle="tooltip" data-placement="right" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                        {% elseif mm.isDocumentType() %}
                            <i class="fa fa-file-alt" data-toggle="tooltip" data-placement="right" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                        {% elseif mm.isExternalType() %}
                            <i class="fa fa-link" data-toggle="tooltip" data-placement="right" title="{{ mm.getStringType(mm.getType()) }}" style="font-size: 20px"></i>
                        {% endif %}
                    </td>
                    <td headers="th-media" class="text-center" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')">
                        {{ mm.medias|length }}
                    </td>
                    <td headers="th-duration" class="text-center" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')">
                        {% if mm.isVideoAudioType() %}{{ mm.getRealDuration()| duration_string }}{% else %}0{% endif %}
                        {% if mm.getProperty('soft-editing-duration') %}
                            <i class="mdi-content-content-cut" data-toggle="tooltip" data-placement="left" title="{{ mmobj_duration(mm) | duration_string }}"></i>
                        {% endif %}
                    </td>
                    <td headers="th-rec-date" class="text-nowrap" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" >
                        {{ mm.getRecordDate()| format_datetime('medium','none',locale=app.request.getLocale()) }}
                    </td>
                    <td headers="th-pub-date" class="text-nowrap" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" >
                        {{ mm.getPublicDate()| format_datetime('medium','none',locale=app.request.getLocale()) }}
                    </td>
                    <td headers="th-channel" class="text-center" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')" >
                        {% if mm.containsTagWithCod('PUCHWEBTV') %}
                            <i class="fa fa-check text-success"></i>
                        {% else %}
                            <i class="fa fa-times text-danger"></i>
                        {% endif %}
                    </td>
                    <td headers="th-broadcast" class="text-center" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')">
                        {% if mm.getEmbeddedBroadcast().getType() == 'public' %}
                            <i class="fa fa-globe" data-toggle="tooltip" data-placement="right" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                        {% elseif mm.getEmbeddedBroadcast().getType() == 'password' %}
                            <i class="fa fa-unlock" data-toggle="tooltip" data-placement="right" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                        {% elseif mm.getEmbeddedBroadcast().getType() == 'login' %}
                            <i class="fa fa-user" data-toggle="tooltip" data-placement="right" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                        {% elseif mm.getEmbeddedBroadcast().getType() == 'groups' %}
                            <i class="fa fa-users" data-toggle="tooltip" data-placement="right" title="{{ mm.getEmbeddedBroadcast().getStringType() }}"></i>
                        {% endif %}
                    </td>
                    <td headers="th-views" class="text-center" onclick="click_fila_edit_urls('mm', this, '{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}', '{{ path('pumukitnewadmin_mms_edit', {'id': mm.id}) }}')">
                        <span>{{ mm.getNumview() }}</span>
                    </td>
                    <td headers="th-play" class="text-nowrap" onclick="dblclick_preview_mm('{{ mm.id }}')">
                        <small><i class="fa fa-play" style="color: grey"></i></small>
                    </td>
                </tr>
                {% set last = mm %}
            {% else %}
                <tr>
                    <td colspan="13" headers="th-checkbox th-icons th-icons th-icons th-icons th-icons th-video th-img th-title th-duration th-rec-date th-pub-date">
                        {% trans %}There are no multimedia objects with those values.{% endtrans %}
                    </td>
                </tr>
            {% endfor %}

            {% if 0 == mms|length %}
                {% set range = 1..9 %}
            {% elseif (mms|length - (mms.getMaxPerPage() * (mms.getCurrentPage() - 1))) < (mms.maxPerPage) %}
                {% set range = (mms|length - (mms.getMaxPerPage() * (mms.getCurrentPage() - 1)))..(mms.maxPerPage-1) %}
            {% else %}
                {% set range = [] %}
            {% endif %}

            {% for i in range %}
                <tr>
                    <td headers="th-checkbox">&nbsp;</td>
                    <td headers="th-icons">&nbsp;</td>
                    {% if not is_naked() %}
                        <td headers="th-icons">&nbsp;</td>
                    {% endif %}
                    {% if is_naked() %}
                        <td headers="th-icons">&nbsp;</td>
                    {% endif %}
                    {% if series.sorting == constant('SORT_MANUAL', series) %}
                        <td headers="th-icons">&nbsp;</td>
                        <td headers="th-icons">&nbsp;</td>
                    {% endif %}
{#                    <td headers="th-icons">&nbsp;</td>#}
                    <td headers="th-img">&nbsp;</td>
                    <td headers="th-title">&nbsp;</td>
                    <td headers="th-type">&nbsp;</td>
                    <td headers="th-media">&nbsp;</td>
                    <td headers="th-duration">&nbsp;</td>
                    <td headers="th-rec-date">&nbsp;</td>
                    <td headers="th-pub-date">&nbsp;</td>
                    <td headers="th-status">&nbsp;</td>
                    <td headers="th-channel">&nbsp;</td>
                    <td headers="th-broadcast">&nbsp;</td>
                    <td headers="th-views">&nbsp;</td>
                    <td headers="th-play">&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="17" class="foot-td">
                    <div class="row">
                        <div class="col-md-6">
                            {{ mms.getNbResults }} {% trans %}Mm. Obj.{% endtrans %}
                            {% if app.session.get('admin/mms/criteria')|length != 0 %}
                                <a class="cancel-search-button" title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true">{% trans %}Cancel search{% endtrans %}</a>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="pagerfanta">
                                {% set pagerClass = 'twitter_bootstrap3' %}
                                {% set pagerStyles = {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeParams": {"id": series.id}, "routeName": "pumukitnewadmin_mms_index"} %}
                                {% include "@PumukitNewAdmin/Misc/pager.html.twig" with {'objects' : mms, 'pagerClass': pagerClass, 'pagerStyles': pagerStyles} %}
                                {% if not is_naked() %}
                                    <input title="{% trans %}Go to page{% endtrans %}" type="number"
                                           style="width: 25px;text-align:center;cursor:pointer;"
                                           value="{{ mms.getCurrentPage() }}"
                                           onchange="window.location.search = '?id={{ series.id }}&page=' + this.value; return false;"/>

                                    <select onchange="javascript: window.location.href = '{{ path('pumukitnewadmin_mms_index') }}' + '?id={{ series.id }}&page=1&paginate=' + this.value" aria-label="{% trans %}Select the number of multimedia objects to display per page.{% endtrans %}">
                                        <option {% if mms.maxPerPage == 10 %}selected{% endif %} value="10">10</option>
                                        <option {% if mms.maxPerPage == 20 %}selected{% endif %} value="20">20</option>
                                        <option {% if mms.maxPerPage == 50 %}selected{% endif %} value="50">50</option>
                                    </select>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    {% endif %}
</div>
