<tr>
    <th width="1%" id="th-checkbox">
        <div class="checkbox pumukit-mms-checkbox">
            <label>
                <input type="checkbox" onclick="window.click_checkbox_all('mm', this.checked)">
            </label>
        </div>
    </th>
    <th id="th-icons" colspan="{{ is_naked() ? 2 : 3 }}" width="5%"></th>
    <th id="th-video" width="1%">{% trans %}Format{% endtrans %}</th>
    <th id="th-img" width="5%"></th>
    {% if 'series' == app.session.get('admin/mmslist/sort') %}
        <th id="th-series" width="15%">
            <a href="#" id="pumukitnewadmin_mmo_series_sort_selected">{% trans %}Series{% endtrans %}&nbsp;{{ app.session.get('admin/series/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
        </th>
    {% else %}
        <th id="th-series" width="15%">
            <a href="#" id="pumukitnewadmin_mmo_series_sort_not_selected">{% trans %}Series{% endtrans %}</a>
        </th>
    {% endif %}
    {% if 'title' == app.session.get('admin/mmslist/sort') %}
        <th id="th-title">
            <a href="#" id="pumukitnewadmin_mmo_title_sort_selected">{% trans %}Title{% endtrans %}&nbsp;{{ app.session.get('admin/mmslist/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
        </th>
    {% else %}
        <th id="th-title">
            <a href="#" id="pumukitnewadmin_mmo_title_sort_not_selected">{% trans %}Title{% endtrans %}</a>
        </th>
    {% endif %}
    {% if 'duration' == app.session.get('admin/mmslist/sort') %}
        <th id="th-duration" width="1%">
            <a href="#" id="pumukitnewadmin_mmo_duration_sort_selected">{% trans %}Duration{% endtrans %}&nbsp;{{ app.session.get('admin/mmslist/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
        </th>
    {% else %}
        <th id="th-duration">
            <a href="#" id="pumukitnewadmin_mmo_duration_sort_not_selected">{% trans %}Duration{% endtrans %}</a>
        </th>
    {% endif %}
    {% if 'record_date' == app.session.get('admin/mmslist/sort') %}
        <th id="th-rec-date" width="1%">
            <a href="#" id="pumukitnewadmin_mmo_record_date_sort_selected">{% trans %}Recording{% endtrans %}&nbsp;{{ app.session.get('admin/mmslist/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
        </th>
    {% else %}
        <th id="th-rec-date" width="1%">
            <a href="#" id="pumukitnewadmin_mmo_record_date_sort_not_selected">{% trans %}Recording{% endtrans %}</a>
        </th>
    {% endif %}
    {% if 'public_date' == app.session.get('admin/mmslist/sort') %}
        <th id="th-pub-date" width="1%">
            <a href="#" id="pumukitnewadmin_mmo_public_date_sort_selected">{% trans %}Publication{% endtrans %}&nbsp;{{ app.session.get('admin/mmslist/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
        </th>
    {% else %}
        <th id="th-pub-date" width="1%">
            <a href="#" id="pumukitnewadmin_mmo_public_date_sort_not_selected">{% trans %}Publication{% endtrans %}</a>
        </th>
    {% endif %}

    <input type="hidden" name="pumukitnewadmin_mmo_sort_change_type" id="pumukitnewadmin_mmo_sort_change_type" value="{{ app.session.get('admin/mmslist/type')=='asc'?'desc':'asc' }}"/>

</tr>
