{% set modify_owners = false %}
{% if is_granted('ROLE_MODIFY_OWNER') %}
    {% set modify_owners = true %}
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title text-center">
        {% trans %}Sync metadata for all multimedia objects{% endtrans %}
    </h3>
    <hr/>
</div>

<form id="sync_metadata_mmo" action="{{ path('pumukitnewadmin_mms_update_sync_metadata', {'id' : multimediaObject.getId() } ) }}" method="POST">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">
                    <strong>{% trans %}Metadata{% endtrans %}</strong>
                </h4>
                <hr/>
                <div class="row">
                    {% for title, field in fields %}
                        {% if (title != 'owners' and title != 'groups' and title != 'publishingdecisions') or ((title == 'owners' or title == 'groups') and modify_owners) or (title == 'publishingdecisions' and is_granted('ROLE_ACCESS_PUBLICATION_TAB') ) or is_granted('ROLE_SUPER_ADMIN') %}
                            <div class="col-md-12">
                                <div class="checkbox" style="display:table-row">
                                    <label for="metadata_{{ title }}_all">
                                        <input id="metadata_{{ title }}_all" type="checkbox" name="metadata_{{ title }}_all"/>
                                        {{ field|trans }}
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">
                    <strong>{% trans %}Tags{% endtrans %}</strong>
                </h4>
                <hr/>
                <div class="row">
                    {% for tag in tags | filter(tag => tag.cod != 'ROOT') %}
                        <div class="col-md-12">
                            <div class="checkbox" style="display:table-row">
                                <label for="metadata_tag_{{ tag.getId() }}">
                                    <input id="metadata_tag_{{ tag.getId() }}" type="checkbox" name="metadata_tag_{{ tag.getId() }}"/>
                                    {{ tag.getTitle() }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">
                    <strong>{% trans %}People{% endtrans %}</strong>
                </h4>
                <hr/>
                <div class="row">
                    {% for role in roles |filter(role => role.cod != 'owner') %}
                        <div class="col-md-12">
                            <div class="checkbox" style="display:table-row">
                                <label for="metadata_role_{{ role.getId() }}">
                                    <input id="metadata_role_{{ role.getId() }}" type="checkbox" name="metadata_role_{{ role.getId() }}"/>
                                    {{ role.getName() }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">
            {% trans %}Cancel{% endtrans %}
        </button>
        <button type="submit" class="btn btn-pumukit btn-raised">
            {% trans %}Sync{% endtrans %}
        </button>
    </div>

</form>

<script>
    $('#sync_metadata_mmo').on('submit', function (event) {
        "use strict";

        event.preventDefault();
        var url_list = "{{ path('pumukitnewadmin_mms_list', {'id': multimediaObject.series.getId() }) }}";

        $('#myModal').modal('hide');
        $.ajax({
            url: '{{ path('pumukitnewadmin_mms_update_sync_metadata', {'id':  multimediaObject.getId() }) }}',
            method: 'POST',
            data: $('#sync_metadata_mmo').serialize(),
            success: function (response, textStatus, jqXHR) {
                var message = '{{ "There was an error sync up metadata."|trans|e("js") }}';
                if (jqXHR.responseText.indexOf('modal-header') !== -1) {
                    no_success(message);
                } else {
                    $('#list_mms').load(url_list);
                    message = '{{ "Sync up metadata was successfully."|trans|e("js") }}';
                    success(message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                no_success(errorThrown + ': ' + textStatus);
            }
        });
        return false;
    });
</script>
