{% if can_modify_groups %}
{% for group in resource.getGroups() %}
<a href="#" class="list-group-item add-{{ resource_name }}-group-item pumukitnewadmin-trim-row group_{{ group.key }}"
   id="add_{{ resource_name }}_group_{{ group.id }}"
   onclick="javascript:return select_group(this);"
   ondblclick="javascript:delete_group('{{ group.id }}', '{{ group.key }}', '{{ group.name }}', '{{ group.origin }}', '{{ resource_name }}');">
  <i class="mdi-social-group"></i>
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::SHOW_CODES')) %}
    {{ group.key }} - {{ group.name }} - ({{ group.origin }})
  {% else %}
    {{ group.name }}
  {% endif %}
</a>
{% endfor %}
{% else %}
{% for group in resource.getGroups() %}
<a href="#" class="list-group-item add-{{ resource_name }}-group-item pumukitnewadmin-trim-row group_{{ group.key }}"
   id="add_{{ resource_name }}_group_{{ group.id }}"
   onclick="return false;"
   ondblclick="window.alert('{% trans %}WARNING: You do not have enough permissions to modify admin groups.{% endtrans %}');return false;">
  <i class="mdi-social-group"></i>
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::SHOW_CODES')) %}
    {{ group.key }} - {{ group.name }} - ({{ group.origin }})
  {% else %}
    {{ group.name }}
  {% endif %}
</a>
{% endfor %}
{% endif %}
