{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
    {% if mm is defined %}

        {% if not mm.series.ishide %}
            <p>
                {% trans %}Is part of {% endtrans %}:
                <a target="_black" href="{{ url('pumukit_webtv_series_index', {id: mm.series.id}) }}"> {{ mm.series.title }} </a>.
            </p>
        {% endif %}

        <div>
            {% include 'PumukitNewAdminBundle:MultimediaObject:showplayer.html.twig' %}
        </div>

        <div>
            {% for mtag in mm.tags | filter(mtag => mtag.level == 2) %}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title-preview panel-title">Tags {{ mtag.title }} </h3>
                    </div>
                    <div class="panel-body-preview panel-body">
                        {% for tag in mm.tags | filter(tag => tag.isDescendantOf(mtag)) %}
                            <span class="label label-default">{{ tag.title }}</span>
                        {% else %}
                            <em>{% trans %}None{% endtrans %}</em>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title-preview panel-title">{% trans %}Tags{% endtrans %}</h3>
                    </div>
                    <div class="panel-body-preview panel-body">
                        <span>{% trans %}No tags{% endtrans %}.</span>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title-preview panel-title">{% trans %}People{% endtrans %}</h3>
                </div>
                <div class="panel-body-preview panel-body">
                    <ul class="list-unstyled">
                        {% for role in mm.getRoles() | filter(role => role.getDisplay())%}
                            {% set actors = mm.getPeopleByRole(role, true) %}
                            {% if actors|length != 0 %}
                                <li><u>{{ role.name }}</u></li>
                                <ul>
                                    {% for act in actors %}
                                        <li>
                                            {{ role.getText() }}
                                            {% if act.getWeb() is not empty %}
                                                <a target="_black" href="{{ act.getWeb() }}" title="{{ act.getHName() }}">{{ act.getHName() }}</a>
                                            {% else %}
                                                <span title="{{ act.getHName() }}">{{ act.getHName() }}</span>
                                            {% endif %}
                                            <small>{{ act.getInfo() }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% else %}
                            <span>{% trans %}No people.{% endtrans %}</span>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    {% else %}
        <p>
            {% trans %}Select any multimedia object.{% endtrans %}
        </p>
    {% endif %}
{% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
{% endif %}
