<div class="input-group col-xs-5">
  <div class="form-control-wrapper">
    <input type="search"
           style="font-size: 80%; height: 18px"
           class="tag_filter form-control empty"
           placeholder="{% trans %}Insert filter...{% endtrans %}"
           id="filter_tags_{{ parentId }}"
           oninput="javascript:search_tags_wrapper('{{ mmId }}','{{ parentId }}')" />
    <span class="material-input"></span>
  </div>
  <span class="input-group-addon">
    <input class="btn btn-default btn-raised btn-xs"
           style="padding: 1px 5px; margin: 5px 1px"
           type="button"
           value="reset search"
           size="20"
           pattern=""
           onclick='$("#filter_tags_{{ parentId }}").val("").focus(); reset_tags("{{ mmId }}","{{ parentId }}");' />
  </span>
  <img id="tag_filter_{{parentId}}_loader"
       alt="{% trans %}Spinner{% endtrans %}"
       src="{{ asset('bundles/pumukitnewadmin/images/admin/load/spinner.gif')}}"
       style="width:30px; opacity:0"/>
</div>
