<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    {% if template %}
        <h3 class="modal-title" id="myModalLabel">{% trans %}Modify broadcast profile of videos
            template{% endtrans %}</h3>
    {% else %}
        {% if mm.isLive() %}
            <h3 class="modal-title" id="myModalLabel">{% trans %}Modify broadcast profile of live
                event{% endtrans %}</h3>
        {% else %}
            <h3 class="modal-title" id="myModalLabel">{% trans %}Modify broadcast profile of multimedia
                object{% endtrans %}</h3>
        {% endif %}
    {% endif %}
</div>
<div class="modal-body">
    <form id="pumukitnewadmin_mms_updatebroadcast_submit" action="{{ path('pumukitnewadmin_mms_updatebroadcast', {'id': mm.id}) }}" method="POST">
        <fieldset>
            <legend hidden>{% trans %}Modify broadcast profile{% endtrans %}</legend>
            <input type="hidden" id="pumukitnewadmin_mms_broadcast_mm_id" name="" value="{{ mm.id }}"/>
            <div class="form-group">
                <label class="control-label required">{% trans %}Broadcast Profile{% endtrans %}</label>
                <div id="pumukitnewadmin_mms_broadcast_broadcast">
                    {% for broadcast_type, broadcast_name in broadcasts %}
                        <div class="radio">
                            <label class="required">
                                <input id="pumukitnewadmin_mms_broadcast_type_{{ broadcast_type }}" name="pumukitnewadmin_mms_broadcast" required="required" value="{{ broadcast_type }}"
                                       type="radio" {{ mm.getEmbeddedBroadcast() ? ((mm.getEmbeddedBroadcast().getType() == broadcast_type) ? 'checked="checked"':'') : '' }}><span class="circle"></span><span class="check"></span>
                                {{ broadcast_name|trans }}
                            </label>
                            <i class="mdi-action-info pumukitnewadmin-broadcast-info" data-toggle="tooltip" data-placement="right" title="{{ broadcast_description(broadcast_type, template, mm.isLive()) }}"></i>
                        </div>
                        {% if broadcast_type == constant('Pumukit\\SchemaBundle\\Document\\EmbeddedBroadcast::TYPE_PASSWORD') %}
                            {% include '@PumukitNewAdmin/MultimediaObject/broadcastpassword.html.twig' with {'embeddedBroadcast': mm.getEmbeddedBroadcast()} %}
                        {% elseif broadcast_type == constant('Pumukit\\SchemaBundle\\Document\\EmbeddedBroadcast::TYPE_GROUPS') %}
                            {% include '@PumukitNewAdmin/MultimediaObject/broadcastgroups.html.twig' with {'embeddedBroadcast': mm.getEmbeddedBroadcast(), 'groups': groups} %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </fieldset>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">
                {% trans %}Close{% endtrans %}
            </button>
            <button type="button" id="pumukitnewadmin_mm_broadcast_updategroup_reset" class="btn btn-primary btn-raised">
                {% trans %}Reset{% endtrans %}
            </button>
            <button type="submit" id="pumukitnewadmin_mm_broadcast_updategroup_submit" class="btn btn-pumukit btn-raised">
                {% trans %}Save changes{% endtrans %}
            </button>
        </div>
    </form>
</div>
{% include '@PumukitNewAdmin/MultimediaObject/updatebroadcast.js.twig' %}
