<div class="well">
    <fieldset class="">
        <legend hidden>{% trans %}Person with Role list{% endtrans %}</legend>
        <dl style="margin: 0px">
            {% for role in roles | filter(role => role.getCod() != personal_scope_role_code) %}
                <div id="multimedia_object_role_{{ role.getCod()|lower }}" class="form-row multimedia_object_roles">
                    <dt>{{ role.getName() }}{{ role.getDisplay()?'*':'' }}:</dt>
                    <dd>
                        <div id="{{ role.getId() }}_person_mms{{ template }}">
                            {% include role.isReadOnly() ? '@PumukitNewAdmin/Person/listrelationro.html.twig' : '@PumukitNewAdmin/Person/listrelation.html.twig' with {'people': mm.getPeopleByRole(role, true), 'mm': mm, 'role': role} %}
                        </div>
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </fieldset>
</div>
