<div id="tv_admin_container_tag" class="well">
    <div style="max-height:800px;overflow-y:auto;padding: 7px;">
        {% for parent in parent_tags if parent.getDisplay() and parent.getChildren()|length != 0 and not parent.getProperty('hide_in_tag_group') %}
            <div class="panel panel-default panel-tag-{{ parent.cod }}">
                <div class="panel-heading">{{ parent.title }}</div>
                <div class="panel-body" id="tag{{ parent.id }}_mms">
                    <div class="row">
                        <div class="col-xs-12">
                            {% include '@PumukitNewAdmin/MultimediaObject/tagfilter.html.twig' with {'parentId': parent.id, 'mmId': mm.id} %}
                        </div>
                    </div>

                    <div class="col-xs-12" style="overflow:hidden;height: 270px">
                        {# Available tags #}
                        <div style="width:40%; max-width:400px; float: left; height: 260px; border: 1px solid #bbb; overflow-x: hidden; overflow-y: scroll" class="tag list-group pmk-tag-tree" id="all_tag_{{ parent.id }}">
                            {% if (0 != parent.getChildren()|length) %}
                                {% include '@PumukitNewAdmin/MultimediaObject/listtagsajax.html.twig' with {'mmId': mm.id, 'parent': 'root', 'block_tag': parent.id, 'nodes': parent.getChildren()} %}
                            {% endif %}
                        </div>

                        <div style="display:none; width:400px; float: left; height: 260px; border: 1px solid #bbb; overflow-x: hidden; overflow-y: scroll" class="tag list-group pmk-tag-tree filter" id="all_tag_{{ parent.id }}_filter">
                            {# Here is where the filtered tags go when dynamically load using JS #}
                        </div>


                        <div style="float: left; padding: 150px 5px 0px">
                            <a href="#" onclick="$('#select_ul_tag_cod_{{ parent.cod }} > a.active').trigger('dblclick'); return false;">&#8592;</a>
                            <a href="#" onclick="$('#all_tag_{{ parent.id }} > a.active').trigger('dblclick'); return false;">&#8594;</a>
                        </div>

                        {# Added tags#}
                        <div style="width:40%; max-width:400px; height:260px; border: 1px solid #bbb; float: left; overflow-x: hidden; overflow-y: scroll" class="tag" id="select_tag_{{ parent.id }}">
                            <div class="tag_tree list-group" id="select_ul_tag_cod_{{ parent.cod }}">
                                {% for embedded_tag in mm.getTags() if embedded_tag.isDescendantOf(parent) %}
                                    <a href="#" class="list-group-item tag-rm-{{ embedded_tag.cod }}"
                                       id="select_li_{{ embedded_tag.id }}"
                                       onclick="javascript:return select_tree_tag(this);"
                                       ondblclick="javascript:del_tree_tag('{{ embedded_tag.id }}', '{{ mm.id }}');">
                                        {% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::SHOW_CODES')) %}
                                            {{ embedded_tag.getCod() }} -
                                        {% endif %}
                                        {{ embedded_tag.getTitle() }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="height:41px"></div>
</div>
