<div class="well">
  <fieldset class="">
    <dl style="margin: 0px">
      {% if personal_scope_role %}
      <div class="form-row">
        <dt>{{ personal_scope_role.getName() }}{{ personal_scope_role.getDisplay()?'*':'' }}:</dt>
        <dd>
          <div id="{{ personal_scope_role.getId() }}_person_mms{{ template }}">
	        {% include 'PumukitNewAdminBundle:Person:listrelation.html.twig' with {'people': mm.getPeopleByRole(personal_scope_role, true), 'mm': mm, 'role': personal_scope_role} %}
          </div>
        </dd>
      </div>
      <hr class="pumukit-green"/>
      {% endif %}
      <div class="form-row">
        <dd>
          <div id="group_mms{{ template }}">
	        {% include 'PumukitNewAdminBundle:MultimediaObject:listgrouprelation.html.twig' with {'groups': groups, 'mm': mm, 'template': template} %}
          </div>
        </dd>
      </div>
    </dl>
  </fieldset>
</div>
