<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}modify broadcast profile of multimedia object{% endtrans %}</h4>
</div>
<div class="modal-body">
  <form autocomplete="off" id="pumukitnewadmin_mms_updatebroadcast_submit"
     action="{{ path('pumukitnewadmin_mms_updatebroadcast', {'id': mm.id}) }}" method="POST">
    <fieldset>
      <div class="form-group">
        <label class="control-label required">{% trans %}Broadcast Profile{% endtrans %}</label>
        <div id="pumukitnewadmin_mms_broadcast_broadcast">
          {% for broadcast_type, broadcast_name in broadcasts %}
          <div class="radio">
            <label class="required">
              <input id="pumukitnewadmin_mms_broadcast_broadcast_{{ broadcast_type }}" name="pumukitnewadmin_mms_broadcast[broadcast]" required="required" value="{{ broadcast_type }}" type="radio" {{ mm.getEmbeddedBroadcast() ? ((mm.getEmbeddedBroadcast().getType() == broadcast_type) ? 'checked="checked"':'') : '' }}><span class="circle"></span><span class="check"></span>
              {{ broadcast_name }}
            </label>
          </div>
            {% if broadcast_type == constant('Pumukit\\SchemaBundle\\Document\\EmbeddedBroadcast::TYPE_PASSWORD') %}
            {% include 'PumukitNewAdminBundle:MultimediaObject:broadcastpassword.html.twig' with {'embeddedbroadcast': mm.getEmbeddedBroadcast()} %}
            {% elseif broadcast_type == constant('Pumukit\\SchemaBundle\\Document\\EmbeddedBroadcast::TYPE_GROUPS') %}
            {% include 'PumukitNewAdminBundle:MultimediaObject:broadcastgroups.html.twig' with {'embeddedBroadcast': mm.getEmbeddedBroadcast(), 'groups': groups} %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- <div class="form-control-wrapper"><input id="pumukitnewadmin_mms_broadcast__token" name="pumukitnewadmin_mms_broadcast[_token]" class="form-control" value="dAe2SmRbYvftLiWCYb2B6TsT0o1fwAVBNF8EsHFRS3A" type="hidden"><span class="material-input"></span></div> -->
    </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      <button type="submit" class="btn btn-primary btn-raised">{% trans %}Save changes{% endtrans %}</button>
    </div>
  </form>
</div>
