{% form_theme form_pub '@PumukitNewAdmin/Themes/fields.html.twig' %}

<div id="tv_admin_container_pub" class="well">
    <form id="pumukitnewadmin_mms_updatepub_form"
          onsubmit="$.ajax({
                  url: '{{ path('pumukitnewadmin_mms_update_pub', {'id': mm.id}) }}',
                  type: 'POST',
                  data: $(this).serialize(),
                  error: function(request, json){var message = '{% trans %}Multimedia Object saved ERROR{% endtrans %}'; no_success(message);},
                  success: function(response){
                  $('#list_mms').html(response);
                  $('#preview_mm').load('{{ path('pumukitnewadmin_mms_show', {'id': mm.id}) }}');
                  $('#links_mm_{{ mm.id }}').load('{{ path('pumukitnewadmin_mms_links', {'id': mm.id}) }}');
                  var message = '{% trans %}Multimedia Object saved OK{% endtrans %}';
                  success(message);
                  }
                  });
                  return false;"
          action="{{ path('pumukitnewadmin_mms_update_pub', {'id': mm.id}) }}" method="POST">

        <input type="hidden" name="id" id="mm_id_pub" value="{{ mm.id }}">
        <input type="hidden" name="series_id" id="series_id_updatepub" value="{{ mm.series.id }}">

        <div class="row">
            <div class="col-xs-6">
                <div>
                    <span id="remember_save_mm_pub" class="alert alert-dismissable alert-danger" style="display:none;">{% trans %}
                        Press OK for changes to take effect{% endtrans %}</span> &nbsp;
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button id="pumukitnewadmin_mms_updatepub_cancel" type="button" class="btn btn-default btn-raised">{% trans %}
                    Cancel{% endtrans %}</button>
                <button type="submit" class="btn btn-pumukit btn-raised" onclick="return procesaOk();">{% trans %}
                    OK{% endtrans %}</button>
            </div>
        </div>

        <fieldset>
            <legend hidden>{% trans %}Update publication{% endtrans %}</legend>
            <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form_pub['status'],{},  {'label_attr': {'class': 'update_pub_status_label' }}) }}
                    {{ form_widget(form_pub['status'], {'attr': {'class' : 'update_pub_status'}}) }}
                </div>

                <div class="form-group" id="pumukitnewadmin_mms_pub_channel" {{ (mm.getStatus() == 1)?'style="background-color: #f2f2f2"':'' }}>
                    <label for="pub" class="control-label">{% trans %}Publication Channels{% endtrans %}</label>
                    <div id="list_pub_{{ mm.id }}">
                        {% include '@PumukitNewAdmin/MultimediaObject/listpub.html.twig' with {'mm': mm, 'pubs': pub_channels, 'pub_type': 'channels'} %}
                    </div>
                </div>
                <div class="form-group" id="pumukitnewadmin_mms_pub_decision">
                    <label for="announce_label" class="control-label">{% trans %}Publishing
                        Decisions{% endtrans %}</label>
                    <div id="list_pubdecisions_{{ mm.id }}">
                        {% include '@PumukitNewAdmin/MultimediaObject/listpub.html.twig' with {'mm': mm, 'pubs': pub_decisions, 'pub_type': 'decisions'} %}
                    </div>
                </div>
                <div class="form-group" id="pumukitnewadmin_mms_pub_broadcast">
                    <label for="announce_label" class="control-label">{% trans %}Broadcast profile{% endtrans %}</label>
                    <div id="list_pubbroadcast_{{ mm.id }}">
                        {% include '@PumukitNewAdmin/MultimediaObject/listbroadcast.html.twig' with {'mm': mm} %}
                    </div>
                </div>
                {% for pub in pub_channels %}
                    {% if pub.getProperty('advanced_configuration') and path_exists(pub.getProperty('advanced_configuration')) %}
                        <div id="youtube_advanced_configuration" style="padding-top:15px; display:none">
                            {{ render(path( pub.getProperty('advanced_configuration'), {'id' : mm.getId()})) }}
                        </div>
                    {% endif %}
                {% endfor %}

                {{ form_rest(form_pub) }}

                {% if app.user and is_granted('ROLE_ACCESS_HEAD_AND_TAIL_MANAGER') and mm.isVideoType() and not mm.isMultistream() and not mm.isPrototype() %}
                    <label style="margin-top:1rem;">{{ "Video options"|trans }}</label>
                    <div class="checkbox" style="margin-bottom:4px;">
                        <label>
                            <input id="video_head_option" type="checkbox" name="video_head_option" {% if mm.isHead()|default(false) %}checked{% endif %}> {{ "Video head"|trans }}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="video_tail_option" type="checkbox" name="video_tail_option" {% if mm.isTail()|default(false) %}checked{% endif %}> {{ "Video tail"|trans }}
                        </label>
                    </div>
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>

{% if app.user and is_granted('ROLE_ACCESS_HEAD_AND_TAIL_MANAGER') and not mm.isMultistream() %}
<script>
    $('#video_head_option').on('click', function(){
        let route =  '{{ path('pumukit_newadmin_head_and_tail_set_head', {
            'multimediaObject': '__multimediaObject__',
            'isHead': '__isHead__'
        }) }}';
        route = route.replace('__multimediaObject__', "{{ mm.id }}");
        route = route.replace('__isHead__', $('#video_head_option').is(":checked"));
        $.ajax({
            url: route,
            method: 'POST',
            success: function (response) {
                success(response.success);
            },
            error: function (response) {
                success(response.error);
            }
        });
    });

    $('#video_tail_option').on('click', function(){
        let route =  '{{ path('pumukit_newadmin_head_and_tail_set_tail', {
            'multimediaObject': '__multimediaObject__',
            'isTail': '__isTail__'
        }) }}';
        route = route.replace('__multimediaObject__', "{{ mm.id }}");
        route = route.replace('__isTail__', $('#video_tail_option').is(":checked"));
        $.ajax({
            url: route,
            method: 'POST',
            success: function (response) {
                success(response.success);
            },
            error: function (response) {
                success(response.error);
            }
        });    });
</script>
{% endif %}
