{#<div class="modal-header">#}
{#    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#    <h4 class="modal-title" id="myModalLabel">{% trans %}create new track{% endtrans %}</h4>#}
{#</div>#}
{#<div class="modal-body">#}
{#    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}#}
{#        {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}#}

{#        {% set pathToUpload = path('pumukitnewadmin_track_upload', {'id': mm.id}) %}#}

{#        <form id="pumukit_track_form" method="post" target="iframeUpload" action="{{ path('pumukitnewadmin_track_upload', {'id': mm.id}) }}" enctype="multipart/form-data">#}
{#            <iframe id="iframeUpload" name="iframeUpload" style="display:none" src=""></iframe>#}

{#            <fieldset>#}
{#                {% include '@PumukitNewAdmin/Media/Form/_description.html.twig' %}#}

{#                <div class="form-group" id="pumukitnewadmin_track_i18n_description">#}
{#                    <label for="i18n_description" class="control-label">{% trans %}Description{% endtrans %}</label>#}
{#                    <input type="text" id="i18n_description" name="i18n_description" class="form-control"/>#}
{#                </div>#}
{#                {{ form_row(form["i18n_description"]) }}#}

{#                {% include '@PumukitNewAdmin/Media/Form/_profile.html.twig' %}#}
{#                <div class="form-group" id="pumukitnewadmin_track_profile">#}
{#                    <label for="profile" class="control-label">{% trans %}Profile{% endtrans %}</label>#}
{#                    {% for key in master_profiles|keys %}#}
{#                        <div class="radio">#}
{#                            <label><input type="radio" name="profile" id="profile_{{ key }}" value="{{ key }}" {{ (loop.first)?'checked':'' }}>{{ key }}</label>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}

{#                TODO: DIGIREPO REMOVE#}
{#                <div class="form-group" id="pumukitnewadmin_track_priority">#}
{#                    <label for="priority" class="control-label">{% trans %}Priority{% endtrans %}</label>#}
{#                    <div class="radio">#}
{#                        <label><input type="radio" id="low_priority" name="priority" value="1"/>{% trans %}Low-Priority{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>#}
{#                    </div>#}
{#                    <div class="radio">#}
{#                        <label><input type="radio" id="normal_priority" name="priority" value="2" checked="checked"/>{% trans %}Normal-Priority{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>#}
{#                    </div>#}
{#                    <div class="radio">#}
{#                        <label><input type="radio" id="high_priority" name="priority" value="3"/>{% trans %}High-Priority{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;</label>#}
{#                    </div>#}
{#                </div>#}

{#                {% include '@PumukitNewAdmin/Media/Form/_language.html.twig' %}#}
{#                {{ form_row(form["language"]) }}#}

{#                {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) %}#}
{#                    <div class="form-group">#}
{#                        <label for="file_type" class="control-label">{% trans %}Mode{% endtrans %}</label>#}
{#                        <div class="radio">#}
{#                            <label><input type="radio" name="file_type" id="radio_inbox" value="inbox" onclick="$('#pumukit_file_input').hide();$('#pumukitnewadmin_track_inbox').show();$('#pumukitnewadmin_track_ok_button').prop('disabled', false);"/> {% trans %}Inbox on server{% endtrans %}</label>#}
{#                        </div>#}
{#                        <div class="radio">#}
{#                            <label><input type="radio" name="file_type" id="radio_file" value="file" checked="checked" onclick="{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) %}$('#pumukitnewadmin_track_inbox').hide();{% endif %}$('#pumukit_file_input').show();$('#pumukitnewadmin_track_ok_button').prop('disabled', true);"/> {% trans %}Local hard drive{% endtrans %}</label>#}
{#                        </div>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <input type="hidden" name="file_type" id="radio_file" value="file"/>#}
{#                {% endif %}#}

{#                {% include "@PumukitCore/Upload/uppy_input.html.twig" %}#}

{#                {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) %}#}
{#                    <div class="form-group" id="pumukitnewadmin_track_inbox" style="display: none">#}
{#                        {{ render(controller('Pumukit\\NewAdminBundle\\Controller\\InboxController::FormAction')) }}#}
{#                    </div>#}
{#                {% endif %}#}
{#                <span id="error_file" style="display:none;color:red;" class="error">{% trans %}Empty file field{% endtrans %}</span>#}
{#            </fieldset>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>#}
{#                <button type="submit" class="btn btn-pumukit btn-raised" id="pumukitnewadmin_track_ok_button" disabled>{% trans %}OK{% endtrans %}</button>#}
{#            </div>#}
{#        </form>#}
{#    {% else %}#}
{#        {% trans %}You don't have enough permissions to access this content.{% endtrans %}#}
{#    {% endif %}#}
{#</div>#}

{#<script>#}
{#    formElement = document.getElementById('pumukit_track_form');#}
{#    {% include "@PumukitCore/Upload/uppy_xhr.js.twig" %}#}
{#</script>#}
