{% set iframe_url = url('pumukit_webtv_multimediaobject_iframe', {id: mm.id, track_id: track.id}) %}
{% set track_url = url('pumukit_webtv_multimediaobject_index', {id: mm.id, track_id: track.id}) %}
{% set series_url = url('pumukit_webtv_series_index', {id: mm.series.id}) %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}Track Info{% endtrans %}</h4>
</div>
<div class="modal-body">
  <form>
    <fieldset>
      <div class="form-group">
        <label for="embed" class="control-label">{% trans %}Embedded Iframe{% endtrans %}:</label>
        <input id="embed_code" name="embed_code" rows=1 readonly="readonly" class="form-control" onclick="this.select()"
               value='<iframe src="{{ iframe_url }}" width="560" height="315" frameborder="0" allowfullscreen></iframe>'
               />
      </div>            
      <div class="form-group">
        <label for="embed" class="control-label">{% trans %}Video track{% endtrans %}:</label>
        <div class="input-group">
          <input type="text" onclick="this.select()" class="form-control" value="{{ track_url }}" readonly/>
          <span class="input-group-addon"><a id="alinkROMagicUrl" href="{{ track_url }}" target="_blank"><i class="mdi-action-exit-to-app"></i></a></span>
        </div>
        <br />
        <label for="embed" class="control-label">{% trans %}Series{% endtrans %}:</label>
        <div class="input-group">
          <input type="text" onclick="this.select()" class="form-control" value="{{ series_url }}" readonly/>
          <span class="input-group-addon"><a id="alinkROMagicUrl" href="{{ series_url }}" target="_blank"><i class="mdi-action-exit-to-app"></i></a></span>
        </div>
      </div>
    </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-pumukit btn-raised" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
    </div>
  </form>
</div>
