{% set iframe_url = url('pumukit_webtv_multimediaobject_iframe', {id: mm.id, track_id: track.id}) %}
{% set track_url = url('pumukit_webtv_multimediaobject_index', {id: mm.id, track_id: track.id}) %}
{% set series_url = url('pumukit_webtv_series_index', {id: mm.series.id}) %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{% trans %}Track Info{% endtrans %}</h4>
</div>
<div class="modal-body">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
        <form>
            <fieldset>
                {% if is_playable %}
                {% if not is_published %}
                    {% trans %}
                        <span class="alert alert-dismissable alert-warning"><i>Warning: This multimedia object is not correctly published on WebTV</i></span>
                    {% endtrans %}
                    <br />
                    <br />
                {% endif %}
                <div class="form-group">
                    <label for="embed" class="control-label">{% trans %}Embedded Iframe{% endtrans %}:</label>
                    <input id="embed_code" name="embed_code" readonly="readonly" class="form-control" onclick="this.select()" value='<iframe src="{{ iframe_url }}" width="560" height="315" frameborder="0" allowfullscreen></iframe>' />
                </div>
                <div class="form-group">
                    <label for="embed" class="control-label">{% trans %}Video track{% endtrans %}:</label>
                    <div class="input-group">
                        <input type="text" onclick="this.select()" class="form-control" value="{{ track_url }}" readonly/>
                        {% if is_published %}
                            <span class="input-group-addon">
                                <a id="alinkROMagicUrl" href="{{ track_url }}" target="_blank" title="{% trans %}Video track{% endtrans %}">
                                    <i class="mdi-action-exit-to-app"></i>
                                </a>
                            </span>
                        {% else %}
                            <span class="input-group-addon">
                                <i class="mdi-action-report-problem" title="{% trans %}Warning: This link will give a 404 error until this multimedia object is correctly published.{% endtrans %}"></i>
                            </span>
                        {% endif %}
                    </div>
                    {% else %}
                        <span class="alert alert-dismissable alert-warning">{% trans %} Warning: This Track is not a playable resource. {% endtrans %}</span>
                        <br />
                    {% endif %}
                    <br />
                    <label for="embed" class="control-label">{% trans %}Series{% endtrans %}:</label>
                    <div class="input-group">
                        <input type="text" onclick="this.select()" class="form-control" value="{{ series_url }}" readonly/>
                        <span class="input-group-addon">
                            <a id="alinkROMagicUrl" href="{{ series_url }}" target="_blank" title="{% trans %}Series URL{% endtrans %}">
                                <i class="mdi-action-exit-to-app"></i>
                            </a>
                        </span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="originalName" class="control-label">{% trans %}Original name{% endtrans %}:</label>
                        <input id="originalName" name="originalName" readonly="readonly" class="form-control" value="{{ track.originalName()|default('No name'|trans) }}" />
                    </div>
                    <div class="form-group">
                        <label for="uploadData" class="control-label">{% trans %}Upload date{% endtrans %}:</label>
                        {% set upload_date = (job is not null and job.getTimeIni() is not null) ? job.getTimeIni()| format_datetime('medium', 'medium',locale=app.request.getLocale()) : '' %}
                        <input id="uploadData" name="uploadData" readonly="readonly" class="form-control" value="{{ upload_date }}" />
                    </div>
                </div>
            </fieldset>
            <div class="modal-footer">
                <button type="button" class="btn btn-pumukit btn-raised" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
            </div>
        </form>
    {% else %}
        {% trans %}You don't have enough permissions to access this content.{% endtrans %}
    {% endif %}
</div>
