<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}update track{% endtrans %}</h4>
</div>
<div class="modal-body">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}
  <form onsubmit="$('#myModal').modal('hide');
                  $.ajax({
                          url: '{{ path('pumukitnewadmin_track_update', {'id': track.id, 'mmId': mmId}) }}',
                          type: 'POST',
                          data: $(this).serialize(),
                          error: function(jqXHR, textStatus, errorThrown){
                                    var textError = jqXHR.responseText;
                                    var message = errorThrown+': '+textError;
                                    no_success(message);
                          },
                          success: function(response){
                                    $('#tracks_mms_{{ mmId }}').html(response);
                                    var message = '{% trans %}Track successfully updated.{% endtrans %}';
                                    success(message);
                          }
                  });
                  return false;"
        action="{{ path('pumukitnewadmin_track_update', {'id': track.id, 'mmId': mmId}) }}" method="POST">
    <input type="hidden" name="track" id="track" value="{{ track.id }}" />
    <input type="hidden" name="mmId" id="mmId" value="{{ mmId }}" />
    <input type="hidden" name="preview" id="preview" value="true" />
    <fieldset>

      {{ form_row(form['i18n_description']) }}

      <div class="form-group" id="pumukitnewadmin_track_update_profile">
        <label for="profile" class="control-label">{% trans %}Profile{% endtrans %}</label>
        <select name="profile" id="profile" class="form-control" disabled>
          {% for key in profiles|keys %}
              <option value="{{ key }}" {{ track.getTags()|profile == key ?'selected="selected"' :'' }}>{{ key }}</option>
          {% endfor %}
        </select>
      </div>
      {% for child in form if child.vars.id not in ['pumukitnewadmin_track_update_i18n_description'] %}
        {{ form_row(child) }}
      {% endfor %}
      {{ form_rest(form) }}
    </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
      <button type="submit" class="btn btn-pumukit btn-raised">{% trans %}OK{% endtrans %}</button>
    </div>
  </form>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
