{# Form #}
{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="form-horizontal" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start %}

{# Input #}
{% block form_widget_simple -%}
    {% set type = type|default('text') %}
    {% if type == "hidden" %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
    {% else %}
    <div class="col-lg-11 {% if errors|length > 0 %}col-offset-1{% endif %}">
        <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} placeholder="{{ name|humanize }}" />
    </div>
    {% endif %}
{%- endblock form_widget_simple %}

{# Label #}
{% block form_label -%}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-lg-1 control-label')|trim}) %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{%- endblock form_label %}
{% block button_label %}{% endblock %}

{# Textarea #}
{% block textarea_widget -%}
    <div class="col-lg-11 {% if errors|length > 0 %}col-offset-1{% endif %}">
        <textarea class="form-control" {{ block('widget_attributes') }} placeholder="{{ name|humanize }}">{{ value }}</textarea>
    </div>
{%- endblock textarea_widget %}


{# Row #}
{% block form_row -%}
    <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{%- endblock form_row %}

{# Error #}
{% block form_errors -%}
    {% if errors|length > 0 %}
    <div class="col-lg-10">
        <ul class="text-danger">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{%- endblock form_errors %}

{# checkbox #}
{% block checkbox_widget -%}
    <div class="col-lg-10">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{%- endblock checkbox_widget %}
