{% form_theme form 'PumukitAdminBundle:Themes:fields.html.twig' %}

<div id="tv_admin_container">
  <form method="post" target="iframeUpload"
        action="{{ path('pumukitadmin_track_upload', {'id': mm.id}) }}" 
        enctype="multipart/form-data" name="formulario">
    <iframe name="iframeUpload" style="display:none" src=""></iframe> 
    
    <input type="hidden" name="num_video" id="num_video" value="{{ mm.id }}" />
    <input type="hidden" name="num_serie" id="num_serie" value="{{ mm.getSeries().getId() }}" />
    <input type="hidden" name="proveedor" id="proveedor" value="{# TODO sfConfig::get('app_transcoder_proveedor') #}" />  <!-- ojo  -->
    <input type="hidden" name="titulo" id="titulo" value="{# TODO  $sf_data->getRaw('mm')->getTitle() {{ mm.getI18nTitle() }} #}" />
    <input type="hidden" name="tit_serie" id="tit_serie" value="{# TODO sf_data->getRaw('mm')->getSerialWithI18n()->getTitle()  {{ mm.getSeries().getI18nTitle() }} #}" />
    <input type="hidden" name="fecha_acto" id="fecha_acto" value="{{ mm.getRecorddate('ymd')|date('ymd') }}" />
    <input type="hidden" name="copiar" id="copiar" value="1" />
    
    <fieldset>
      
      {% for child in form if child.vars.id in ['pumukitadmin_track_i18n_description'] %}
          {{ form_row(child) }}
      {% endfor %}      
      
      <div class="form-row" id="pumukitadmin_track_profile">
        <label for="profile" class="required">{% trans %}Profile{% endtrans %}</label>        
        <div class="content" style="overflow: hidden">
          {% for key in master_profiles|keys %}
          <span style="display: block; float: left; width: 30%; overflow: hidden">
            <input type="radio" name="profile" id="profile_{{ key }}" value="{{ key }}" checked="checked" class="MB_focusable" />{{ key }}
          </span>
          {% endfor %}
        </div>
      </div>

      <div class="form-row" id="pumukitadmin_track_priority">
        <label for="priority" class="required">{% trans %}Priority{% endtrans %}</label>        
        <div class="content" style="overflow: hidden">
          <input type="radio" name="priority" value="1" class="MB_focusable"/>{% trans %}Low-Priority{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="priority" value="2" checked="checked" class="MB_focusable"/>{% trans %}Normal-Priority{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" name="priority" value="3" class="MB_focusable"/>{% trans %}High-Priority{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>

      {% for child in form if child.vars.id in ['pumukitadmin_track_language'] %}
          {{ form_row(child) }}
      {% endfor %}      

      <div class="form-row">
        <label for="file_type" class="required">{% trans %}Mode{% endtrans %}</label>        
        <div class="content">
          <input type="radio" name="file_type" value="inbox" onclick="$('pumukitadmin_track_file').hide();$('pumukitadmin_track_inbox').show();"/> {% trans %}Inbox on server{% endtrans %}
          <input type="radio" name="file_type" value="file" checked="checked" onclick="$('pumukitadmin_track_inbox').hide();$('pumukitadmin_track_file').show();"/> {% trans %}Local hard drive{% endtrans %}
        </div>
      </div>
      
      <div class="form-row" id="pumukitadmin_track_file">
        <label for="url" class="required">{% trans %}Resource{% endtrans %}:</label>
        <div class="content">
          <input type="file" name="resource" id="resource" value="" size="70" class="MB_focusable">
          <span style="color: blue">({% trans %}Under 2GB{% endtrans %})</span>
          <span id="file_upload_progress" style="color:blue; display:none;">{% trans %}Progress{% endtrans %}...</span>
        </div>
      </div>
      
      <div class="form-row" id="pumukitadmin_track_inbox" style="display: none">
        <label for="file" class="required">{% trans %}Resource{% endtrans %}:</label>
        <div class="content">
          <input type="text" name="file" id="file" value="//172.20..." size="80" class="MB_focusable" style="width: 420px">
          <input onclick="Effect.toggle('explorer_videoserv','blind', { afterFinish:function(){ Modalbox.resizeToContent() }}); return false;" type="button" value="{% trans %}explore{% endtrans %}" class="MB_focusable">
          <div id="explorer_videoserv" class="videoserv" style="display:none;">            
            <ul class="videoserv_tree">
              {% for dir in dirs %}
              <li class="collapsed">
                {# TODO define fileServerTree #}
                <span onclick="fileServerTree(this, 'file', '{{ dir }}', 0, 'explorer_videoserv')">{{ dir }}</span>
                <ul></ul>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      
    </fieldset>

    <ul class="tv_admin_actions">
      <li><input type="submit" name="OK" value="{% trans %}OK{% endtrans %}" class="tv_admin_action_save MB_focusable" onclick="$('file_upload_progress').show(); "></li>
      <li><input class="tv_admin_action_delete MB_focusable" onclick="Modalbox.hide(); return false;" type="button" value="{% trans %}Cancel{% endtrans %}"> </li>
    </ul>
    
  </form>
</div>
