<div class="grid_15 cab_pan">
  <ul id="tvusces_pan">
	<li>
      <a href="http://www.campusdomar.es">{% trans %}HOME{% endtrans %}</a>
    </li>
	<li>
      &nbsp;&raquo;&nbsp;
      <a href="{{ url('pumukit_webtv_index_index') }}" {{ app.session.get('level/2/url')?'':'class="select"' }}>{% trans %}CAMPUS DO MAR TV{% endtrans %}</a>
    </li>
    {% if app.session.get('level/2/name') and app.session.get('level/2/url') %}
	<li>
      &nbsp;&raquo;&nbsp;
      <a href="{{ app.session.get('level/2/url') }}" {{ app.session.get('level/3/url')?'':'class="select"' }}>{{ app.session.get('level/2/name') }}</a>
    </li>
    {% endif %}
    {% if app.session.get('level/3/name') and app.session.get('level/3/url') %}
	<li>
      &nbsp;&raquo;&nbsp;
      <a id="tvusces_pan_serial_a" href="{{ app.session.get('level/3/url') }}" {{ app.session.get('level/4/url')?'':'class="select"' }}>{{ app.session.get('level/3/name') }}</a>
    </li>
    {% endif %}
    {% if app.session.get('level/4/name') and app.session.get('level/4/url') %}
	<li id="tvusces_pan_mmobj">
      &nbsp;&raquo;&nbsp;
      <a id="tvusces_pan_mmobj_a" href="{{ app.session.get('level/4/url') }}" {{ app.session.get('level/5/url')?'':'class="select"' }}>{{ app.session.get('level/4/name') }}</a>
    </li>
    {% endif %}
    {% if app.session.get('level/5/name') and app.session.get('level/5/url') %}
	<li>
      &nbsp;&raquo;&nbsp;
      <a href="{{ app.session.get('level/5/url') }}" {{ app.session.get('level/6/url')?'':'class="select"' }}>{{ app.session.get('level/name/url') }}</a>
    </li>
    {% endif %}
  </ul>
</div>

<script type="text/javascript">
Event.observe(window, 'load', function() { 
    var pan_mmobj = $('tvusces_pan_mmobj');
    var pan_serial = $('tvusces_pan_serial_a');
    var pan_mmobja = $('tvusces_pan_mmobj_a');
    if((pan_mmobj != null) &&(pan_serial != null)){
      var izq = ($('tvusc').cumulativeOffset()[0]);
      var tamano = ( pan_mmobj.cumulativeOffset()[0] + pan_mmobj.offsetWidth - izq );

      while( tamano > 920){
  
        if(pan_serial.innerHTML.strip().length > 20){
          pan_serial.update(pan_serial.innerHTML.truncate(pan_serial.innerHTML.strip().length -1 ));
        }else{
          pan_mmobja.update(pan_mmobja.innerHTML.truncate(pan_mmobja.innerHTML.strip().length -1 ));
        }
        var tamano = ( pan_mmobj.cumulativeOffset()[0] + pan_mmobj.offsetWidth - izq);
      }
   }
});
</script>
