<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CAMPUS DO MAR TV{% endblock %}</title>
        <!--Block with CSS files-->
        {% block stylesheets %}
        	<link href="{{ asset('bundles/pumukitcmarwebtv/css/main.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitcmarwebtv/css/estilos.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitcmarwebtv/css/iefix.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitcmarwebtv/css/matterhorn.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitcmarwebtv/css/serial.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitcmarwebtv/css/usctv.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitcmarwebtv/css/usctv.orig.css') }}" type="text/css" rel="stylesheet" media="screen"/>
            <link href="{{ asset('bundles/pumukitcmarwebtv/css/960.css') }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    </head>
    <body>
        <div id="headerbar">
    		<div style="overflow:hidden; background:#005268 url({{ asset('bundles/pumukitcmarwebtv/images/usc/cmartvL.jpg') }}) no-repeat 50% 50%">
    		<div class="container_15">
    			{% include 'PumukitCmarWebTVBundle::cab.html.twig' %}
			</div>
			</div>
		</div>	

		<div id="body">
			<div class="container_15" id="tvusc">
				<div class="usctv_cab">
					{% include 'PumukitCmarWebTVBundle::cab_menu.html.twig' %}
					{% include 'PumukitCmarWebTVBundle::cab_pan.html.twig' %}
				</div>
				<div class="">

				</div>
			</div>
		</div>
    </body>
</html>