{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include('PumukitBaseLivePlayerBundle:Default:js.html.twig') %}
{% endblock %}

{% block body %}
    <h3 class="cab_body_div">
        <ul class="breadcrumb" style="margin-bottom: 5px;">
            <li class="active">{% trans %}Live events{% endtrans %}</li>
        </ul>
    </h3>

    <div class="row">
        <div class="col-md-10">
            <div class="well">
                <div id="list_events">
                    {{ render(controller('PumukitNewAdminBundle:Events:listEvent')) }}
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <select id="options_events" class="form-control" title="{% trans %}Actions on selected items{% endtrans %}">
                            <option value="default" selected="selected">
                                {% trans %}Select an action...{% endtrans %}</option>
                            <option disabled="">---</option>
                            <option value="delete_selected">{% trans %}Delete selected{% endtrans %}</option>
                        </select>
                    </div>
                    <div class="col-xs-8 text-right">
                        <a id="button_new_event_from_series" title="{% trans %}Create new series of live events{% endtrans %}" class="btn btn-pumukit btn-raised button_new_event_and_series" href="#">
                            {% trans %} New event and series{% endtrans %}
                        </a>
                        <a href="{{ path('pumukitnewadmin_live_event_change_series') }}" title="{% trans %}Create new live event{% endtrans %}" class="btn btn-pumukit btn-raised  button_new_event_from_series" data-toggle="modal" data-backdrop="static" data-target="#myModal">
                            {% trans %} New event from series{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="edit_events" class="col-xs-12">
                    {% if(app.session.has('admin/live/event/id')) %}
                        {{ render(url('pumukit_new_admin_live_event_edit', {'id': app.session.get('admin/live/event/id')})) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm">
            <div id="preview_events" class="well">
                {% if(app.session.has('admin/live/event/id')) %}
                    {{ render_hinclude(url('pumukit_new_admin_live_event_show', {'id': app.session.get('admin/live/event/id')})) }}
                {% else %}
                    {% trans %}Select any live event.{% endtrans %}
                {% endif %}
            </div>
            {% include 'PumukitNewAdminBundle:LiveEvent:filters.html.twig' %}
        </div>
    </div>

    <script type="text/javascript">
        $("#options_events").on('change', function (event) {
            if ($("#options_events option:selected").val() == 'delete_selected') {
                if (confirm('Do you want delete this events?')) {
                    $.ajax({
                        url: '{{ path('pumukit_new_admin_live_event_delete_selected') }}',
                        method: 'POST',
                        data: $('input[name="events_checkbox[]"]:checked'),
                        success: function () {
                            var mm = "{{ path('pumukit_new_admin_live_event_list') }}";
                            $('#list_events').load(mm);

                            var message = '{% trans %}Event{% endtrans %} ' + '{% trans %}successfully deleted.{% endtrans %}';
                            success(message);

                            $("#options_events").val('default');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            no_success(errorThrown + ': ' + textStatus);
                        }
                    });
                    return false;
                }
            }
        });

        $(document).on('click', '#button_new_event_from_series', function(event) {
            event.preventDefault();
            $.ajax({
                url: "{{ path('pumukit_new_admin_live_event_create') }}",
                method: 'POST',
                success: function(response){
                    $('#list_events').html(response);
                    var message = '{% trans %}Live event successfully created.{% endtrans %}';
                    success(message);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    no_success(errorThrown+': '+textStatus);
                }
            });
            return false;
        });

        $(document).on('click', '#pumukit_new_admin_event_cancel', function(){
            $('#form_event')[0].reset();
            $('input.mmobj.materialtags').materialtags('destroy');
            window.init_mmobj_materialtags();
            $('#remember_save_event').hide();
        });

        var url = "{{ path('pumukit_schema_apikeywords_mmobj', {'_format':'json'})|raw }}";
        window.mmobjkeywords = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('_id'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: url,
                ttl: 1800000
            }
        });

        window.mmobjkeywords.initialize();

        var url = "{{ path('pumukit_schema_apikeywords_series', {'_format':'json'})|raw }}";
        window.serieskeywords = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('_id'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: url,
                ttl: 1800000
            }
        });

        window.serieskeywords.initialize();
    </script>
{% endblock %}
