<div class="well">
    <table class="table  table-striped">
        <thead>
        <tr>
            <th id="th-checkbox" width="1%">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" onclick="window.click_checkbox_all('events', this.checked)">
                    </label>
                </div>
            </th>
            <th id="th-icons" width="1%">&nbsp;</th>
            <th id="th-series" width="10%">{% trans %}Series{% endtrans %}</th>
            <th id="th-image" width="3%">{% trans %}Img{% endtrans %}</th>
            <th id="th-title">{% trans %}Event{% endtrans %}</th>
            <th id="th-date" width="12%">{% trans %}Date{% endtrans %}</th>
            <th id="th-public" width="2%">{% trans %}Public{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for multimediaObject in multimediaObjects %}
            {% set loadPath = path('pumukit_new_admin_live_event_edit', {'id': multimediaObject.id} ) %}
            {% set showPath = path('pumukit_new_admin_live_event_show', {'id': multimediaObject.id} ) %}
            <tr>
                <td headers="th-checkbox" width="1%">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="events_checkbox" name="events_checkbox[]" value="{{ multimediaObject.getId() }}">
                        </label>
                    </div>
                </td>
                <td headers="th-icons" width="1%">
                    {% include 'PumukitNewAdminBundle:LiveEvent:updatemenu.html.twig' %}
                </td>
                <td headers="th-series" width="10%">
                    <a href="{{ path('pumukitnewadmin_mms_index', {'id' : multimediaObject.getSeries().getId() }) }}" title="{% trans %}Series{% endtrans %}">
                        {% trans %}Series videos{% endtrans %}
                    </a>
                </td>
                <td headers="th-image" width="3%" onclick="click_fila_edit_urls('events', this, '{{ showPath }}', '{{ loadPath }}')"  id="event_{{ multimediaObject.getId() }}">
                    <img src="{{ multimediaObject | first_url_pic(true, false) }}" class="img-responsive"/>
                </td>
                <td headers="th-title" onclick="click_fila_edit_urls('events', this, '{{ showPath  }}', '{{ loadPath }}')">
                    {{ multimediaObject.getEmbeddedEvent().getName(app.request.getLocale()) }}
                </td>
                <td headers="th-date" width="12%">{{ multimediaObject.getEmbeddedEvent().date | localizeddate('medium', 'none') }}</td>
                <td headers="th-public" width="2%">{{ multimediaObject.getEmbeddedEvent().display ? 'Yes' : 'No' }}</td>
            </tr>
        {% endfor %}
        {% if (multimediaObjects.currentPageResults|length) < 10 %}
            {% for i in (multimediaObjects.currentPageResults|length) .. 9 %}
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9" class="foot-td">
                    <div class="col-md-8">
                        {{ multimediaObjects|length }} {% trans %}Mm. Obj.{% endtrans %}
                        {% if app.session.get('admin/live/criteria')|length != 0%}
                            <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="pagerfanta">
                            {{ pagerfanta(multimediaObjects, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukit_new_admin_live_event_index"}) }}
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(function(){
        var eventID = "{{ app.session.get('eventID') }}";
        var url = "{{ path('pumukit_new_admin_live_event_edit', {'id': '__id__'}) }}";
        var showUrl = "{{ path('pumukit_new_admin_live_event_show', {'id': '__id__'}) }}";
        if(eventID) {
            url = url.replace('__id__', eventID);
            showUrl = showUrl.replace('__id__', eventID);
            $('#edit_events').load(url);
            $('#preview_events').load(showUrl);
        }
    });

    $('.event_option').on('click', function (event) {
        event.preventDefault();
        console.log($(this).data('href'));
        $.ajax({
            url: $(this).data('href'),
            method: 'POST',
            success: function () {
                var mm = "{{ path('pumukit_new_admin_live_event_list') }}";
                $('#list_events').load(mm);
                var message = '{% trans %}Event successfully updated.{% endtrans %}';
                success(message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                no_success(errorThrown + ': ' + textStatus);
            }
        });
        return false;
    });
</script>