{% form_theme form 'PumukitNewAdminBundle:Themes:fields.html.twig' %}

<div class="well" style="overflow:hidden">
    {{ form_start(form, {'attr': {'id': 'form_event'}}) }}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-8">
                <div class="col-xs-6">
                    <span id="remember_save_event" class="alert alert-dismissable alert-danger" style="display:none;vertical-align:middle;">
                        {% trans %}Press OK for the change to take effect{% endtrans %}
                    </span> &nbsp;
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <button id="pumukit_new_admin_event_cancel" type="button" class="btn btn-default btn-raised">
                    {% trans %}Cancel{% endtrans %}
                    <div class="ripple-wrapper"></div>
                </button>
                {% if autocomplete_series is defined and autocomplete_series %}
                    <button id="pumukit_new_admin_autocomplete_series" type="button" class="btn btn-primary btn-raised" data-id="{{ multimediaObject.id }}">
                        {% trans %}Autocomplete series{% endtrans %}
                    </button>
                {% endif %}
                <button class="btn btn-pumukit btn-raised" type="submit">{% trans %}OK{% endtrans %}</button>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <fieldset>
            <div class="form-group">
                {{ form_row(form.i18n_name) }}
            </div>

            <div class="form-group">
                {{ form_row(form.i18n_description) }}
            </div>

            <div class="form-group">
                <label for="owner">{% trans %}Author{% endtrans %}</label>
                <input id="owner" type="text" name="pumukitnewadmin_live_event[author]" class="form-control" value="{{ people['author']|default('') }}" />
            </div>

            <div class="form-group">
                <label for="producer">{% trans %}Producer{% endtrans %}</label>
                <input id="producer" type="text" name="pumukitnewadmin_live_event[producer]" class="form-control"  value="{{ people['producer']|default('') }}" />
            </div>

            <div class="form-group">
                {{ form_row(form.place) }}
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="live_channel_input">{% trans %}Search Channels{% endtrans %}</label>
                    <input id="live_channel_input" type="text" name="channelSuggestAutocomplete" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label for="live_channel_input_name">{% trans %}Selected Channel{% endtrans %}</label>
                    <input id="live_channel_input_id" type="hidden" name="live_channel_input_id" class="form-control" value="{{ multimediaObject.getEmbeddedEvent().getLive().getId()|default('') }}" />
                    <input id="live_channel_input_name" type="text" readonly name="live_channel_input_name" class="form-control" value="{{ multimediaObject.getEmbeddedEvent().getLive().getName()|default('') }}"/>
                </div>
            </div>

            <div class="form-group">
                {% set externalURL = '' %}
                {% if multimediaObject.getEmbeddedEvent() is not null and multimediaObject.getEmbeddedEvent().getUrl() is not empty %}
                    {% set externalURL = 'checked' %}
                {% endif %}
                <div class="checkbox">
                    <strong>{% trans %}External URL{% endtrans %}</strong>
                    <label for="allowExternalURL">
                        <input type="checkbox" id="allowExternalURL" name="allowURLExternal" {{ externalURL }}>
                    </label>
                </div>
                {% set iframeURL = '' %}
                {% if multimediaObject.getEmbeddedEvent() is not null and multimediaObject.getEmbeddedEvent().getUrl() is not empty and multimediaObject.getEmbeddedEvent().isIframeUrl() %}
                    {% set iframeURL = 'checked' %}
                {% endif %}
                <div class="row group-urliframe">
                    <div class="col-md-9 externalURL">
                        <input id="externalURL" type="url" name="pumukitnewadmin_live_event[externalURL]" class="form-control" {% if externalURL != '' %}value="{{ multimediaObject.getEmbeddedEvent().getUrl() }}" {% else %}disabled{% endif %}/>
                    </div>
                    <div class="col-md-3 iframeURL">
                        <div class="checkbox">
                            <label for="iframeURL">
                                <input type="checkbox" id="iframeURL" name="pumukitnewadmin_live_event[iframeURL]" {{ iframeURL }} {% if externalURL == '' %}disabled{% endif %}>
                            </label>
                            <strong>{% trans %}Iframe{% endtrans %}</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{% trans %}Images{% endtrans %}</label>
                <div id="pic_mms_{{ multimediaObject.getId() }}">
                    {% include 'PumukitNewAdminBundle:Pic:list.html.twig' with {'resource': multimediaObject, 'resource_name': 'mms'} %}
                </div>
            </div>

            {% if enableContactForm %}
            <div class="form-group">
                {% set contact = '' %}
                {% if multimediaObject.getEmbeddedSocial() is not null and multimediaObject.getEmbeddedSocial().getEmail() is not empty %}
                    {% set contact = 'checked' %}
                {% endif %}
                <div class="checkbox">
                    <strong>{% trans %}Contact{% endtrans %}</strong>
                    <label for="allowContact">
                        <input type="checkbox" id="allowContact" {{ contact }}>
                    </label>
                </div>
                <input id="contact" type="email" name="pumukitnewadmin_live_event[contact]" class="form-control" {% if contact != '' %}value="{{ multimediaObject.getEmbeddedSocial().getEmail() }}" {% else %}disabled{% endif %}/>
            </div>
            {% endif %}

            <div class="form-group">
                <label>{% trans %}Attachments{% endtrans %}</label>
                <div id="materials_mms_{{ multimediaObject.id }}">
                    {% include 'PumukitNewAdminBundle:Material:list.html.twig' with {'mmId': multimediaObject.id, 'materials': multimediaObject.getMaterials()} %}
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.display) }}
            </div>

            <div class="form-group">
                {{ form_row(form.create_serial) }}
            </div>

            <div class="form-group">
                {{ form_row(form.duration) }}
            </div>

            <div class="form-group">
              <a style="color:#666; text-decoration:underline" href="#"
                 onclick="$('#pumukitnewadmin_live_event_i18n_already_held_message').toggle();
                          $('#pumukitnewadmin_live_event_i18n_not_yet_held_message').toggle();
                          $('#pumukitnewadmin_live_event_poster_image').toggle();
                          $('#pumukitnewadmin_live_event_poster_text_color').toggle();
                          return false;">
                <span id="html_text_arr_1">&#9654;</span> <span style="display:none" id="html_text_arr_2">&#9660;</span>
                {% trans %}Show configuration for messages, poster image and color text.{% endtrans %}
                <i class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Click to edit messages, poster image and color text{% endtrans %}"></i>
              </a>
            </div>

            <div class="form-group" style="display:none" id="pumukitnewadmin_live_event_i18n_already_held_message">
              {{ form_row(form.i18n_already_held_message) }}
            </div>

            <div class="form-group" style="display:none" id="pumukitnewadmin_live_event_i18n_not_yet_held_message">
              {{ form_row(form.i18n_not_yet_held_message) }}
            </div>

            <div class="form-group" style="display:none" id="pumukitnewadmin_live_event_poster_image">
                <label>{% trans %}Event poster{% endtrans %}</label>
                <div id="pic_events_{{ multimediaObject.getId() }}">
                    {% include 'PumukitNewAdminBundle:Pic:list.html.twig' with {'resource': multimediaObject, 'resource_name': 'mms', 'is_event_poster': true} %}
                </div>
            </div>

            <div class="form-group" style="display:none" id="pumukitnewadmin_live_event_poster_text_color">
              <label for="poster_text_color">{% trans %}Poster text color{% endtrans %} <i class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Click on the color bar to change color. A pop-up window will be shown.{% endtrans %}"></i>
</label>
              <div class="form-control-wrapper">
                <input id="poster_text_color" type="color" name="pumukitnewadmin_live_event[poster_text_color]" class="form-control" value="{{ poster_pic_text_color(multimediaObject) }}">
                <span class="material-input"></span>
              </div>
            </div>

            <div class="form-group">
                <label>{% trans %}Broadcast profile{% endtrans %}</label>
                <div class="row">
                    {% include 'PumukitNewAdminBundle:MultimediaObject:listbroadcast.html.twig' with {'mm': multimediaObject, 'template' : '' } %}
                </div>
            </div>

            <div class="form-group"{{ enableChat ? '':' style="display:none;"' }}>
                {{ form_row(form.enable_chat) }}
            </div>

            {% if enableTwitter %}
            <div class="form-group">
              <a style="color:#666; text-decoration:underline" href="#"
                 onclick="$('#pumukitnewadmin_live_event_twitter_hashtag').toggle();
                          $('#pumukitnewadmin_live_event_twitter_widget_id').toggle();
                          return false;">
                <span id="html_text_arr_1">&#9654;</span> <span style="display:none" id="html_text_arr_2">&#9660;</span>
                {% trans %}Show configuration for Twitter.{% endtrans %}
                <i class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Click to edit Twitter configuration{% endtrans %}"></i>
              </a>
            </div>
            <div class="form-group" style="display:none" id="pumukitnewadmin_live_event_twitter_hashtag">
              <label for="twitter_hashtag">{% trans %}Twitter hashtag{% endtrans %}</label>
              <i class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Twitter hashtag without #{% endtrans %}"></i>
              <input id="twitter_hashtag" type="text" name="pumukitnewadmin_live_event[twitter_hashtag]" class="form-control"  value="{{ multimediaObject.getEmbeddedSocial() ? multimediaObject.getEmbeddedSocial().getTwitterHashtag() : '' }}" />
            </div>
            <div class="form-group" style="display:none" id="pumukitnewadmin_live_event_twitter_widget_id">
              <label for="twitter_widget_id">{% trans %}Twitter widget id{% endtrans %}</label>
              <i id="twitter-widget-id-tooltip" class="mdi-action-info" data-toggle="tooltip" data-placement="right" title="{% trans with {'%twitterAccountsLinkColor%': twitterAccountsLinkColor} %}Create a search Widget in your Twitter account. Configure it with the defined hashtag and recommended color %twitterAccountsLinkColor% for link color. Place here the 'data-widget-id' of the HTML generated code.{% endtrans %}"></i>
              <input id="twitter_widget_id" type="text" name="pumukitnewadmin_live_event[twitter_widget_id]" class="form-control"  value="{{ multimediaObject.getEmbeddedSocial() ? multimediaObject.getEmbeddedSocial().getTwitter() : '' }}" />
            </div>
            {% endif %}
        </fieldset>
    </div>
    {{ form_end(form) }}
</div>

<script type="text/javascript">

    $('#form_event').on('change', function(e){
        if ('checkbox' == e.target.type || e.target.value != e.target.defaultValue) {
            $('#remember_save_event').css('display', 'inline-block');
        }
    });

    $('#form_event').on('submit', function (event) {
        event.preventDefault();
        $('#remember_save_event').hide();
        $.ajax({
            url: '{{ path('pumukit_new_admin_live_event_eventtab', {'id': multimediaObject.getId() }) }}',
            method: 'POST',
            data: $('#form_event').serialize(),
            success: function () {
                var mm = "{{ path('pumukit_new_admin_live_event_list') }}";
                $('#list_events').load(mm);

                $('#inputMMTitle').val($('#pumukitnewadmin_live_event_i18n_name_{{ app.request.getLocale() }}').val());

                var message = '{% trans %}Event successfully updated.{% endtrans %}';
                success(message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus != 'error') {
                    no_success(errorThrown + ': ' + textStatus);
                } else {
                    no_success(errorThrown + ': ' + jqXHR.responseJSON.status);
                }
            }
        });
        return false;
    });

    {% if enableContactForm %}
    $('#allowContact').on('click', function () {
        var contact = $('#contact');
        var isDisabled = contact.prop('disabled');
        if (isDisabled) {
            contact.prop('disabled', false);
        } else {
            contact.prop('disabled', true);
        }
    });
    {% endif %}

    $('#allowExternalURL').on('click', function () {
        var externalURL = $('#externalURL');
        var iframe = $('#iframeURL');
        var isDisabled = externalURL.prop('disabled');
        if (isDisabled) {
            externalURL.prop('disabled', false);
            iframe.prop('disabled', false);
        } else {
            externalURL.prop('disabled', true);
            iframe.prop('disabled', true);
        }
    });

    {% if enableTwitter %}
    $("#twitter-widget-id-tooltip").tooltip({container: 'body'});
    {% endif %}


    $('#pumukit_new_admin_autocomplete_series').on('click',function(event) {
        event.preventDefault();
        var id = $(this).data('id');
        var path = "{{ path('pumukit_new_admin_autocomplete_series_with_event_data', {'id': '__ID__'}) }}";
        $.ajax({
            url: path.replace('__ID__', id),
            method: 'POST',
            success: function () {
                var url = "{{ path('pumukit_new_admin_live_event_edit', {'id': '__ID__'}) }}";
                url = url.replace('__ID__', id);
                $('#edit_events').load(url);
                var message = '{% trans %}Series successfully updated.{% endtrans %}';
                success(message);
            }
        });
        return false;
    });


    $("#live_channel_input").autocomplete({
        source: "{{ path('pumukit_new_admin_live_event_channel_suggest') }}",
        delay: 250,
        minLength: 2,
        select: function (event, ui) {
            $("#live_channel_input_name").val(ui.item.name);
            $("#live_channel_input_id").val(ui.item.id);
        }
    }).autocomplete("instance")._renderItem = function (ul, item) {
        return $("<li>")
            .append("<a class='channel_select'>" + item.name + "<br><span class='form-control'>" + "</span></a>")
            .appendTo(ul)
    };

</script>
