<div class="dropdown">
    <i class="mdi-navigation-menu" id="list_pics_{{ multimediaObject.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <ul class="dropdown-menu" role="menu" aria-labelledby="list_pics_{{ multimediaObject.id }}">
        <li>
            <a href="{{ path('pumukitnewadmin_live_event_change_series', {'multimediaObject': multimediaObject.getId()}) }}" title="{% trans %}Change series{% endtrans %}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
                <i class="mdi-editor-mode-edit"></i> {% trans %}Change series{% endtrans %}
            </a>
        </li>
        {% if not is_naked() %}
            <li>
                <a href="#" title="{% trans %}Clone event{% endtrans %}" class="event_option qa-button-clone-live-event" data-href="{{ path('pumukit_new_admin_live_event_options', {'type' : 'clone','id': multimediaObject.id}) }}" data-action="clone">
                    <i class="mdi-content-content-copy"></i> {% trans %}Clone event{% endtrans %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="#" title="{% trans %}Delete event{% endtrans %}" class="event_option qa-button-delete-live-event" data-href="{{ path('pumukit_new_admin_live_event_options', {'type' : 'delete','id': multimediaObject.id}) }}" data-action="delete">
                <i class="mdi-content-clear"></i> {% trans %}Delete event{% endtrans %}
            </a>
        </li>
        <li>
            <a href="#" title="{% trans %}Delete event and series{% endtrans %}" class="event_option qa-button-delete-live-event-series" data-href="{{ path('pumukit_new_admin_live_event_options', {'type' : 'deleteAll', 'id': multimediaObject.id}) }}" data-action="delete">
                <i class="mdi-content-clear"></i> {% trans %}Delete event and series{% endtrans %}
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;">
                <strong>{% trans %}Cancel{% endtrans %}...</strong>
            </a>
        </li>
    </ul>
</div>
