<h1>{% trans %} Categories {% endtrans %}</h1>
<div class="row">
  {# ROW 1 #}
  <div class="index_container col-md-4" >
    <div class="img_category">
      {% set title = "Health Sciences" %}
      <a href="{{ path('pumukit_responsive_webtv_bytag_series', {'cod': 'Dhealth' }) }}">
        <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitresponsivewebtv/images/0.jpg') }}" />
        <span class="cover">
          <div>
            {{ title | trans }}
          </div>
        </span>
      </a>
    </div>
    
  </div>
  {# ROW 2 #}
  <div class="index_container col-md-4">
    <div class="img_category two" >
      {% set title = "Humanities" %}
      <a href="{{ path('pumukit_responsive_webtv_bytag_series', {'cod': 'Dhumanities'  }) }}"> 
        <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitresponsivewebtv/images/1.jpg') }}" />
        <span class="cover">
          <div>
            {{ title | trans }}
          </div>
        </span>
      </a>
    </div>
    <div class="img_category two" >
      {% set title = "Technical science" %}
      <a href="{{ path('pumukit_responsive_webtv_bytag_series', {'cod': 'Dtechnical' }) }}">
        <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitresponsivewebtv/images/2.jpg') }}" />
        <span class="cover">
          <div>
            {{ title | trans }}
          </div>
        </span>
      </a>
    </div>
  </div>
  {# ROW 3 #}
  <div class="index_container col-md-4" >
    <div class="img_category two" >
      {% set title = "Experimental sciences" %}
      <a href="{{ path('pumukit_responsive_webtv_bytag_series', {'cod': 'Dscience' }) }}">
        <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitresponsivewebtv/images/3.jpg') }}" />
        <span class="cover">
          <div>
            {{ title | trans }}
          </div>
        </span>
      </a>
    </div>
    <div class="img_category two" >
      {% set title = "Social and Legal sciences" %}
      <a href="{{ path('pumukit_responsive_webtv_bytag_series', {'cod': 'Dsocial' }) }}">
        <img alt="{{ title | trans }}" src="{{ asset('bundles/pumukitresponsivewebtv/images/4.jpg') }}" />
        <span class="cover">
          <div>
            {{ title | trans }}
          </div>
        </span>
      </a>
    </div>
  </div>
</div>