<div class="row header visible-lg"> 
  <div class="header-content">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-xs-12">
          <img src="{{ asset('bundles/pumukitresponsivewebtv/images/logo_cies.png') }}" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="language_select_wrapper">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ app.request.getLocale()=='en'?'English':'Deutsch' }} <span class="glyphicon glyphicon-globe"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{ path('pumukit_locale', {'locale': 'de' } ) }}" > Deutsch </a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ path('pumukit_locale', {'locale': 'en' } ) }}" > English </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="float:right;";>
          {% include 'PumukitResponsiveWebTVBundle::search_box.html.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row breadcrumb_wrapper visible-lg" role="navigation">
  {% render(controller('PumukitResponsiveWebTVBundle:Widget:breadcrumbs')) %}
</div>

<!--STICKY HEADER-->
<div class="row header sticky hidden-xs hidden-md hidden-sm" style="display: none">
  <div class="header-content">
    <div class="col-xs-6 col-xs-offset-1">
      <span>
        <h2 style="margin-top:10px;">{% trans %} University Islas Cíes {% endtrans %}</h2>
      </span>
    </div>
    <div class="col-xs-4">
      <div style="float:right;";>
        {% include 'PumukitResponsiveWebTVBundle::search_box.html.twig' %}
      </div>
    </div>
    <div class="col-xs-1">
      <div class="language_select_wrapper" style="min-height:10px;display:table-cell;vertical-align:middle;float:right;">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.request.getLocale()=='en'?'English':'Deutsch' }} <span class="glyphicon glyphicon-globe"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{ path('pumukit_locale', {'locale': 'de' } ) }}" > Deutsch </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('pumukit_locale', {'locale': 'en' } ) }}" > English </a></li>
          </ul>
        </div>
      </div>  
    </div>
  </div>
</div>
<!--STICKY HEADER-->
<script>
 // Hide Header on on scroll down
 var didScroll;
 var lastScrollTop = 0;
 var delta = 5;
 $('.header.sticky').removeClass('hidden');
 var navbarHeight = $('.header.sticky').outerHeight();
 $(window).scroll(function(event){
     didScroll = true;
 });

 setInterval(function() {
     if (didScroll) {
         hasScrolled();
         didScroll = false;
     }
     wawawa = $('.row.header').first();
     caca = wawawa.offset().top + wawawa.outerHeight() - $(window).scrollTop();
     if ( caca > 0 ) {
         console.log("caca:"+ ( caca ) );
         $('.row.header.sticky').hide();
     }
     else {
         $('.row.header.sticky').show();
     }
 }, 250);

 function hasScrolled() {
     var st = $(this).scrollTop();
     
     // Make sure they scroll more than delta
     if(Math.abs(lastScrollTop - st) <= delta)
         return;
     
     // If they scrolled down and are past the navbar, add class .nav-up.
     // This is necessary so you never see what is "behind" the navbar.
     if (st > lastScrollTop && st > navbarHeight){
         // Scroll Down
         $('.header.sticky').removeClass('nav-down').addClass('nav-up');
     } else {
         // Scroll Up
         if(st + $(window).height() < $(document).height()) {
             $('.header.sticky').removeClass('nav-up').addClass('nav-down');
         }
     }
     
     lastScrollTop = st;
 }
</script>
