{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MultimediaObject list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rank</th>
                <th>Status</th>
                <th>Record_date</th>
                <th>Public_date</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Line2</th>
                <th>Copyright</th>
                <th>Keyword</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('multimediaobject_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.rank }}</td>
                <td>{{ entity.status }}</td>
                <td>{% if entity.recorddate %}{{ entity.recorddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.publicdate %}{{ entity.publicdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.subtitle }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.line2 }}</td>
                <td>{{ entity.copyright }}</td>
                <td>{{ entity.keyword }}</td>
                <td>{{ entity.duration }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('multimediaobject_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('multimediaobject_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('multimediaobject_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
