<div class="col-xs-12 col-sm-12 col-md-12 next_events_box_data">

    {% set linkName = next['data']['event'] ? (next['data']['event']['name'][app.request.locale] is defined ? next['data']['event']['name'][app.request.locale] : next['data']['event']['name']) : '---' %}

    <div class="media">
        <div class="col-sm-5 col-md-4">
            <a href="{{ path('pumukit_live_event_id', {'id': next['_id']}) }}" title="{{ linkName }}">
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item text-center">
                        {% if next['data']['pics'] is defined and (next['data']['pics']|length > 0) %}
                            <img alt="{% trans %}Event pic{% endtrans %}" class="img-responsive img_adapter_4_3" src="{{ event_first_thumbnail(next['data']) }}" />
                        {% else %}
                            <img alt="{% trans %}Event pic{% endtrans %}" class="img-responsive img_adapter_4_3" src="{{ event_default_pic() }}" />
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-7 col-md-8">
            <div class="title">
                    <span class="mmobj_thumbnail_title event name">
                        <a href="{{ path('pumukit_live_event_id', {'id': next['_id']}) }}" class="future-event-link" title="{{ linkName }}">
                            {{ linkName }}
                        </a>
                        <div class="pull-right">
                        {% if start<= now and ends > now %}
                            <div class="loader" title="{{ "Live broadcasting"|trans }}"></div>
                        {% endif %}
                            {% if not public_broadcast(next['data']['event']['_id']) %}
                                <div class="glyphicon glyphicon-lock" style="color:#000" title="{% trans %}Private event{% endtrans %}"></div>
                            {% endif %}
                        </div>
                    </span>
            </div>
            <div class="next_events_box_dates">
                <div class="event_start_date">
                    <table class="live-event-next-session-data-table hidden-xs">
                        <tr>
                            <td>{{ "Starts"|trans }}</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{ next['data']['session']['start']|convertMongoDate|format_datetime('medium','medium',locale=app.request.getLocale()) }}</td>
                        </tr>
                        <tr>
                            <td>{{ "End"|trans }}</td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{ next['data']['session']['ends']|convertMongoDate |format_datetime('medium','medium',locale=app.request.getLocale()) }}</td>
                        </tr>
                    </table>
                    <div class="visible-xs">
                        {{ "Starts"|trans }} - {{ next['data']['session']['start']|convertMongoDate|format_datetime('medium','medium',locale=app.request.getLocale()) }}
                        {{ "End"|trans }} - {{ next['data']['session']['ends']|convertMongoDate |format_datetime('medium','medium',locale=app.request.getLocale()) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
