<div class="col-xs-12">
  {% for multimediaObject in multimediaObjects %}
    <div class="row">
      <dl class="media" style="cursor:pointer;" onclick="window.location='{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.getId()}) }}'">
        <dt class="media-left">
          <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
            <img class="media-object play_icon small" alt="" src="/bundles/pumukitwebtv/images/icons/play_icon.png">
            <img class="media-object" src="{{multimediaObject|first_url_pic()}}" width="75 px" height="56 px">
          </a>
        </dt>

        <dd class="media-body">
          <div class="media-heading title">
            <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
              {{ multimediaObject.getTitle()[:50] }}{% if (50 == (multimediaObject.getTitle()|length)) %}...{% endif %}
            </a>
          </div>
          <div class="media-heading subtitle">
            <small>{{ multimediaObject.getSubtitle()[:50] }}{% if (50 == (multimediaObject.getSubtitle()|length)) %}...{% endif %}</small>
          </div>
          <div class="pull-left date">
            <small>{{ multimediaObject.publicDate | localizeddate('full', 'none' , app.request.locale, null,"d/MM/Y" ) }}</small>
          </div>
        </dd>
      </dl>
    </div>
  {% else %}
    {% trans %}There are no videos with these specifications{% endtrans %}.
  {% endfor %}
</div>
