<div class="col-xs-12">
  {% for multimediaObject in multimediaObjects %}
    <div class="row">
      <div class="media" style="cursor:pointer;" onclick="window.location='{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.getId()}) }}'">
        <div class="media-left">
          <div class="minithumbnail">
            <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
              <div class="media-object play_icon small" alt=""></div>
              <img class="media-object thumbnailimg" src="{{multimediaObject|first_url_pic()}}">
              <div class="minithumbnailholder"></div>
            </a>
          </div>
        </div>

        <div class="media-body">
          <div class="media-heading title" >
            <a href="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}">
              {{ multimediaObject.getTitle() }}
            </a>
          </div>
          <div class="media-heading subtitle">
            <small>{{ multimediaObject.getSubtitle() }}</small>
          </div>
          <div class="pull-left date">
            <small>{{ multimediaObject.publicDate | localizeddate('full', 'none' , app.request.locale, null,"d/MM/Y" ) }}</small>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    {% trans %}There are no videos with these specifications{% endtrans %}.
  {% endfor %}
</div>
