{% if object.getRecordDate()|date("d/m/Y") != lastDate %}
  <div style="clear:both;"></div>
  <br />
  <div class="serial_date">
    {{ object.getRecordDate()|date("d/m/Y") }}
  </div>
{% endif %}

<!--Objeto multimedia-->
<div>
  <div class="pumukit_mmobjs" style="width:50%; float:left;">
    <div class="pumukit_mmobj" style="float:left;">
      <div class="picture" style="position: relative;
        width: 130px;
        height: 110px;
        float: left;
        margin: 10px;
        margin-right: 20px;">
        <a href="{{ path('pumukit_webtv_multimediaobject_index', {'id': object.getId()}) }}">
          <img src="{{ object|first_url_pic(true, false) }}"></img>
          <span class="video-duration" style="top: 4px;
            position: absolute;
            z-index:10; 
            background-color:#000;
            color: #FFF;
            padding: 0px 4px;
            font-size: 11px;
            font-weight: normal;
            text-shadow: none;
            height: 14px;
            line-height: 14px;
            opacity: 0.75;
            filter: alpha(opacity=75);
            display: -moz-inline-stack;
            vertical-align: top;
            zoom: 1;
            display: inline-block;
            font-family: Verdana, Arial, sans-serif;">{{ object.getDurationString() }}
          </span>
        </a>
      </div>
      <div class="info">
        <div class="title">
          <a href="{{ path('pumukit_webtv_multimediaobject_index', {'id': object.getId()}) }}">{{object.getTitle()}}</a>
        </div>

        <div class="subtitle">
          <abbr title="{{object.getSubtitle()}}">{{object.getSubtitle()}}</abbr>
        </div>

        <div class="mmobj_bottom">{{object.getRecordDate()|date("d/m/Y")}}</div>
      </div>
    </div>
  </div>
</div>
