<!--Objeto multimedia-->
{% set row_mapper = {'1': 'col-md-12', '2': 'col-md-6', '3': 'col-md-4', '4': 'col-md-3'} %}
{% set row_class = ( row_mapper[rows|default('1')] | default(row_mapper['1'] ) ) %}
<div class="{{ row_class }}">
  <a href="{{ path('pumukit_webtv_multimediaobject_index', {'id': object.id}) }}">
    <div class="pumukit_mmobj">
      <div class="thumbnail">
        <img class="play_icon" alt="" src="{{ asset('bundles/pumukitresponsivewebtv/images/icons/play_icon.png')}}" />
        <span class="video-duration">{{ object.durationString }}</span>
        <img alt="serial_pic" class="serial thumbnailimg" src="{{ object|first_url_pic(true) }}"/>
        <div class="thumbnailholder" ></div>
      </div>
      <div class="info">
        <div class="title">
          {{object.title | default('No title')|trans}}
        </div>
        <div class="subtitle">
          <abbr title="{{object.subtitle}}">{{object.subtitle}}</abbr>
        </div>
        <div class="date mmobj">
          {{object.recordDate|date("d/m/Y")}}
        </div>
      </div>
      
    </div>  
  </a>
</div>