{% set roles = sort_roles(object, true) %}
{% if roles %}
    <div class="qa-player-roles persons">
        {% for role in roles %}
            {% for person in role.people %}
                <div>
                    <div class="qa-player-role-{{ role.getCod() }} person">
                        {{ role.getText() }}
                        {% if person.getWeb() is not empty %}
                            <a href="{{ person.getWeb() }}">{{ person.getHName() }}</a>
                        {% else %}
                            {{ person.getHName() }}
                        {% endif %}
                    </div>
                    {{ person.getInfo() }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
