<!-- Serie multimedia -->
{% set col_mapper = {'1': 'col-md-12', '2': 'col-md-6', '3': 'col-md-4', '4': 'col-md-3'} %}
{% set col_class = ( col_mapper[cols|default('1')] | default(col_mapper['1'] ) ) %}
<div class="{{ col_class }}">
    <div style="display:list-item; margin-left:10px;">
        <a href="{{ path('pumukit_webtv_series_index', {'id': object.id}) }}">
            <span>
                {{ object.title | default('No title'|trans) }}
            </span>
            <span>
            {# KEEPING BACKWARDS COMPATIBILITY #}
                {% if num_mmobjs is not defined %}
                    {% set num_mmobjs = count_published_mmobjs(object.id) %}
                {% endif %}
                [{{ num_mmobjs }} {{ num_mmobjs > 1 ? 'videos' : 'video' }}]
            </span>
        </a>
    </div>
</div>
