{% if object.getPublicDate()|date("d/m/Y") != lastDate %}
  <div style="clear:both;"></div>
  <br />
  <div class="serial_date">
    {{ object.getPublicDate()|date("d/m/Y") }}
  </div>
{% endif %}

<div style="cursor:pointer;" onclick="window.location='{{ url('pumukit_webtv_series_index', {'id': object.getId()}) }}'">
  <div class="pumukit_mmobjs" style="width:50%; float:left;">
    <div class="pumukit_mmobj">
      <figure class="album" style="margin:2px 20px 2px 2px">  
        <a href="{{ path('pumukit_webtv_series_index', {'id': object.getId()}) }}">
          <div class="picture">
            <img src="{{ object|first_url_pic(true, false) }}"></img>
          </div>
          <div class="picture">
            <img src="{{ object|first_url_pic(true, false) }}"></img>
          </div>
          <div class="picture">
            <img src="{{ object|first_url_pic(true, false) }}"></img>
          </div>
        </a>
      </figure>

      <div class="info">
        <div class="title">
          <a href="{{ path('pumukit_webtv_series_index', {'id': object.getId()}) }}">{{object.getTitle()}}</a>
        </div>

        <div class="serial_title">
          <abbr title="{{object.getTitle()}}">{{object.getLine2()}}</abbr>
        </div>

        <div class="mmobj_bottom">{{object.getPublicDate()|date("d/m/Y")}} - {{object|count_multimedia_objects}} videos</div>
      </div>
    </div>
  </div>
</div>
