{% if object.getProperty('opencast') is not empty or object.isMultistream() %}
    <li class="list-group-item">
        <a href="{{ videoUrl }}" title="{{ "Url track"|trans }}">
            <i class="fas fa-video"></i>
            {% spaceless %}
                {{ object.isPublicEmbeddedBroadcast() ? 'Video'|trans : 'Private video'|trans }}
            {% endspaceless %}
        </a>
        &nbsp;|&nbsp;&nbsp;
        <span class="language">
            {{ (object.getProperty('opencastlanguage')?(object.getProperty('opencastlanguage')|lower):(object.isMultistream()?object.getFilteredTrackWithTags(['display'], [], [], []).getLanguage():'en'))|language_name }}
        </span>
        &nbsp;|&nbsp; {{ mmobj_duration(object) | duration_string }}
    </li>
{% else %}
    {% set tracks = object.getFilteredTracksWithTags(['display'], [], [], []) %}
    {% for track in tracks | filter(track => not track.getHide()) %}
        {% if magic_url is defined %}
            {% set url_track = url('pumukit_webtv_multimediaobject_magicindex', {secret: object.secret, 'track_id': track.id}) %}
        {% else %}
            {% set url_track = url('pumukit_webtv_multimediaobject_index', {'id': object.id, 'track_id': track.id}) %}
        {% endif %}
        <li class="list-group-item list-group-item-custom">
            <a href="{{ url_track }}" title="{{ "Url track"|trans }}">
                {% if object.isOnlyAudio() %}
                    <i class="fa fa-headphones"></i>
                {% else %}
                    <i class="fa fa-video-camera"></i>
                {% endif %}

                {% spaceless %}
                    {% if track.isOnlyAudio %}
                        {{ object.isPublicEmbeddedBroadcast() ? 'Audio'|trans : 'Private audio'|trans }}
                    {% elseif track.containsTag('download') %}
                        {% trans %}Download master{% endtrans %}
                    {% else %}
                        {{ object.isPublicEmbeddedBroadcast() ? 'Video'|trans : 'Private video'|trans }}
                    {% endif %}
                {% endspaceless %}

                <span class="language"> ({{ track.getLanguage()|language_name }})</span>
            </a>
        </li>
    {% endfor %}
{% endif %}
