<table><tbody>
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  {% for material in materials %}
    <tr>
      <td><ul><li></li></ul></td>
      <td>
        <a title="{% trans %}Edit file of multimedia object{% endtrans %} {{ material.id }}"
           data-toggle="modal" data-backdrop="static" data-dismiss="modal" data-target="#myModal"
           href="{{ path('pumukitnewadmin_material_update', {'id': material.id, 'mmId': mmId}) }}">
          <i class="mdi-editor-mode-edit"></i>
        </a>
      <td>
      <td>
        <a href="#" onclick="window.submit_delete_material('{{ material.id }}', '{{ mmId }}'); return false;">
          <i class="mdi-content-clear"></i>
        </a>
      </td>
      <td>
        <a target="_blank" href="{{ material.getUrl(true) }}">
             <i class="mdi-file-file-download"></i>
        </a>
      </td>
      <td>
        {% if loop.first %}
      &nbsp;
    {% else %}
      <a href="#" onclick="$('#materials_mms_{{ mmId }}').load('{{ path('pumukitnewadmin_material_up', {'id': material.id, 'mmId': mmId}) }}', {'_method': 'POST'}); return false;">&#8593;</a>
    {% endif %}
      </td>
      <td>
    {% if loop.last %}
          &nbsp;
    {% else %}
      <a href="#" onclick="$('#materials_mms_{{ mmId }}').load('{{ path('pumukitnewadmin_material_down', {'id': material.id, 'mmId': mmId}) }}', {'_method': 'POST'}); return false;">&#8595;</a>
    {% endif %}
      </td>
      <td>
        &nbsp; {% if not is_naked() %}{{ material.id }} - {% endif %}{{ material.getName() }} ({{ material.getPath()|basename }}/{{ material.getLanguage()|language_name|capitalize }})
        {% if material.getHide() %}<span class="label label-default">{% trans %}hidden{% endtrans %}</span></i>{% endif %}
        {% for tag in material.getTags() %}
          <span class="label label-primary">{{ tag }}</span>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  <tr>
    <td><ul><li></li></ul></td>
    <td colspan="6"><a title="{% trans %}Create Material{% endtrans %}" class="button_new_material" data-toggle="modal" data-backdrop="static" data-target="#myModal" href="{{ path('pumukitnewadmin_material_create', {'id': mmId}) }}">{% trans %}New{% endtrans %}...</a></td>
  </tr>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</tbody></table>
