<div class="dropdown">
  <i class="mdi-navigation-menu" id="list_pics_{{ userclearance.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
  <ul class="dropdown-menu" role="menu" aria-labelledby="list_userclearances_{{ userclearance.id }}">
    <li>
      <a href="{{ path('pumukitnewadmin_userclearance_update', {'id': userclearance.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
        <i class="mdi-editor-mode-edit"></i> {% trans %}Edit the user clearance{% endtrans %}
      </a>
    </li>
    <li>
      <a href="#" onclick="window.submit_delete_userclearance('{{ userclearance.id }}', '{{ userclearance.name }}'); return false;">
        <i class="mdi-content-clear"></i> {% trans %}Delete the user clearance{% endtrans %}
      </a>
    </li>
    <li>
      <a href="#" onclick="return false;">
        <strong>{% trans %}Cancel{% endtrans %}...</strong>
      </a>
    </li>
  </ul>
</div>
