{% extends '@PumukitPlayer/Player/index.html.twig' %}

{% block body_base %}
    {% if track %}
        {% set captions = captions(object) %}
        {% set captions_block %}
            {% if captions is not empty %}
                , tracks: [
                {% for caption in captions %}
                    {
                    src: '{{ absolute_url(caption.url) }}',
                    kind: 'captions',
                    label: '{{ caption.language|language_name }}',
                    },
                {% endfor %}
                ],
            {% endif %}
        {% endset %}

        <video id="player1" class="video-js vjs-16-9" controls></video>
        <script type="text/javascript">
            var player = videojs("player1", {
                startparam: "start",
                autoplay: {{ autostart|default("true") }},
                playbackRates: [0.5, 1, 1.5, 2],
                repeat: "false",
                width: '100%',
                aspectRatio: '16:9',
            });

            player.playlist([
                {% if intro %}
                {
                    sources: [{
                        src: "{{ absolute_url(intro) }}"
                    }]
                },
                {% endif %}
                {
                    sources: [{
                        src: "{{ absolute_url(track_url(track)) }}"
                    }]
                    {{ captions_block }}
                    {% if ('true' != autostart) or track.isOnlyAudio() %}
                    , poster: "{{ object|first_url_pic(true) }}",
                    {% endif %}
                }
                {% if tail %}
                ,{
                    sources: [{
                        src: "{{ absolute_url(tail) }}"
                    }]
                }
                {% endif %}
                ]);
            player.playlist.autoadvance(0);


            {% if 'on_play' == when_dispatch_view_event %}
            videojs("player1").on('play', function (e) {
                if (!window.notifyVideoPlayedReq) {
                    window.notifyVideoPlayedReq = new XMLHttpRequest();
                    window.notifyVideoPlayedReq.open('POST', '{{ path('pumukit_trackplayed_index', {id: track.id}) }}', true);
                    window.notifyVideoPlayedReq.send();
                }
            });
            {% endif %}
        </script>
    {% else %}
        <div id="player1">
            No track.
        </div>
    {% endif %}
    <script type="text/javascript">
        window.onresize = function () {
            document.getElementById('player1').style.width = window.document.documentElement.clientWidth + 'px';
            document.getElementById('player1').style.height = window.document.documentElement.clientHeight + 'px';
        }
    </script>
{% endblock %}
