{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.keyword }}{% endblock %}

{% block body_without_bar %}
<h1>{{ multimediaObject.title|default("No title"|trans) }}</h1>
<div class="grid_10">
  {% if error %}
  <div>{% trans %}Error{% endtrans %}</div>
  {% endif %}
  <form action="{{ path("pumukit_webtv_multimediaobject_check_broadcast") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <label for="username">{% trans %}Broadcast{% endtrans %}</label>
    <input type="text" id="username" name="_username" value="{{ last_broadcast }}" required="required" />
    <label for="password">{% trans %}Password{% endtrans %}</label>
    <input type="password" id="password" name="_password" required="required" />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{% trans %}Remember me{% endtrans %}</label>
    <input type="submit" id="_submit" name="_submit" value="{% trans %}Submit{% endtrans %}" />
  </form>
</div>
{% endblock %}
