{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% set hide_slidebar = true %}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.keyword }}{% endblock %}

{% block meta %}
    {{ parent() }}

    {% if multimediaObject.isPublished %}
        {% set trackid = (track.id is defined)?track.id:null %}
        {% set url = url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id, 'track_id': trackid}) %}
        <meta property="og:url" content="{{ url }}" />
        <meta property="og:type" content="video.other" />
        <meta property="og:title" content="{{ multimediaObject.title }}" />
        <meta property="og:description" content="{{ multimediaObject.description }}" />
        <meta property="og:image" content="{{ multimediaObject|first_url_pic(true) }}" />
    {% endif %}
{% endblock %}

{% block body_without_bar %}

    <div class="col-xs-12">
        <h1 class="title-for-crumbs always-hide">{{ multimediaObject.title|default("No title"|trans) }}</h1>
    </div>
    <div class="col-lg-8 col-md-7">
        <span class="hidden-sm hidden-xs"><br/></span>
        {% include 'PumukitWebTVBundle:Misc:magic_url_disclaimer.html.twig' %}
        {% if multimediaObject.getProperty('externalplayer') %}
            <iframe src="{{ multimediaObject.getProperty('externalplayer') }}" width="100%" height="500px" frameborder="0"></iframe>
        {% else %}
            {% include 'PumukitWebTVBundle:MultimediaObject:player.html.twig' with {'responsive': true} %}
        {% endif %}

        {% render(controller('PumukitWebTVBundle:MultimediaObject:multimediaInfo', {'multimediaObject': multimediaObject})) %}
    </div>
    <div class="col-lg-4 col-md-5">
        <span class="hidden-sm hidden-xs"><br/></span>
        {% if not multimediaObject.getSeries().isHide() %}
            {% render(controller('PumukitWebTVBundle:MultimediaObject:series', {'multimediaObject': multimediaObject})) %}
        {% endif %}
        {% render(controller('PumukitWebTVBundle:MultimediaObject:related', {'multimediaObject': multimediaObject})) %}
    </div>
    {% if cinema_mode is defined and cinema_mode %}
        <script type="application/javascript">$("#paellaiframe").detach().prependTo(".main-content");</script>
    {% endif %}
{% endblock %}
