<!--INFO-->
<!--Multimedia object tags-->
<div class="row">
  {% include 'PumukitWebTVBundle:MultimediaObject:tags.html.twig' %}
</div>
<!--VIEWED/DATE-->
<div class="row">
  <div class="col-xs-12">
    <div class="date">
      {% trans %}Recording date{% endtrans %}: {{ multimediaObject.getRecordDate().format("d/m/Y") }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="num_views">
      {% trans %}Viewed{% endtrans %}: {{ multimediaObject.getNumview() }}
      {% if multimediaObject.getNumview() > 1 %}
        {% trans %} times {% endtrans %}
      {% else %}
        {% trans %} time {% endtrans %}
      {% endif %}
    </div>
  </div>
</div>
<!--SUBTITLE/DESCRIPTION-->
<div class="row">
  <div class="col-xs-12">
    <div class="mmobj-title">
      <h4> {{ multimediaObject.getSubtitle() }} </h4>
    </div>
    <p class="description">
      {{ multimediaObject.getDescription() }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!--MATERIALS-->
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans %} Attachments {% endtrans %}
      </div>
      <div class="panel-body">
        {% for material in multimediaObject.getMaterials() if not material.getHide() %}
          <div id="material">
            <span class="glyphicon glyphicon-paperclip"></span>
            <a href="{{ material.getUrl() }}">{{ material.getName() }}</a>
          </div>
        {% else %}
          <strong>{% trans %} There are no attachments {% endtrans %}</strong>
        {% endfor %}
        <!--LINKS-->
        {% for link in multimediaObject.getLinks() %}
          <div id="link" class="link">
            <a target="_blank" href="{{ link.getUrl() }}">
              <span class="glyphicon glyphicon-globe"></span>
              {{ link.getName() }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- PERSONS ACT -->
    <div class="persons">
      {% for role in multimediaObject.getRoles() if role.getDisplay() %}
        {% for person in multimediaObject.getPeopleByRole(role) %}
          <div>
            <div class="person"><span class="glyphicon glyphicon-user"></span>
              {{ role.getText() }}
              {{ person.getHName() }}
            </div>
            {{ person.getInfo() }}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
<br>
