<div>
  <div style="margin-bottom: 10px; overflow: hidden;">

    <!--Multimedia object tags-->
    <div style="width: 440px;">
      <ul>
        {% for tag in multimediaObject.getTags() %}
          <li style="list-style:none; float: left; margin: 5px;">
            <div title="{{ tag.getTitle() }}" class="label-categories label-info">
              <a style="text-decoration: none" href="/multimediaobjects/tag/{{tag.getId()}}">{{ tag.getTitle() }}</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!--Number of views of multimedia object-->
    <div class="num_view" style="margin-left: 440px; float: right;">
      <div style="float:right; font-size: 0.90rem;">{{multimediaObject.getRecordDate().format("d/m/Y")}}</div>
      <div style="margin-top: 5px; font-size: 0.90rem;">Visto<span class="num_view_number"> {{multimediaObject.getNumview()}} </span>veces</div>
    </div>

  </div>
 
  <table style="margin-bottom: 10px;">
    <tbody>
    	<tr style="vertical-align: top;">
      		<td style="width: 65%; border-right: 1px solid #ddd; padding-right: 10px;">
        		<p>{{multimediaObject.getDescription()}}</p>
      		</td>

          <!--Downloads and share section-->
      		<td style="padding: 5px 0 0 10px; width:217px;">

            <!--Download associated materials to multimedia object-->
            <div class="download" style="height: 30px; margin-left: 5px;">
            	<a style="margin-left: 20px" href="">Descargar este vídeo</a><span class="size"> MB</span>
          	</div>

            <!--Download associated materials to multimedia object-->
            {% for material in multimediaObject.getMaterials() %}
              <div class="download" style="height: 30px; margin-left: 5px;">
                <a style="margin-left: 20px" href="">{{material.getName()}}</a>
              </div>
            {% endfor %}
            <div style="clear:both;"></div>

            <!--Share multimedia object in facebook, google+ and twitter-->
            <div class="share_mmobj" style="overflow: hidden;">
              <div id="social" style="overflow:hidden;">
                <div style="overflow: hidden; padding: 5px 0px;"> 
                  <div style="width: 84px; height: 19px; float: left;">
                    <!--Añadir url del objeto multimedia a compartir-->
                    <a onclick="return Popup.open({url:this.href});" href="http://www.facebook.com/sharer.php?u=" title="Compartir en Facebook" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/compartir_facebook.jpg')}}"></a>
                  </div>
                  <div style="width: 58px; height: 19px; float: left;">
                    <a onclick="return Popup.open({url:this.href});" href="https://plus.google.com/share?url=" title="Compartir en Google +" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/gplus_button.png')}}"></a>
                  </div>
                  <div style="width: 58px; height: 19px; float: left;">
                    <a onclick="return Popup.open({url:this.href});" href="https://twitter.com/intent/tweet?text=" title="Compartir en Twitter" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/twit_button.png')}}"></a>
                  </div>
                </div>
              </div>
            </div>
            
        	</td>

       	</tr>
    </tbody>
   </table>
</div>
                
	<!-- MATERIAL -->

                
        <!-- LINKS -->

                          <!--<div style="width: 201px; height: 30px; margin-left: 5px;" class="url">
            <a style="margin-left: 20px;" title="Ampliar información (Gabinete de Comunicación)" target="_blank" href="http://portal.uned.es/portal/page?_pageid=93,45896861&amp;_dad=portal&amp;_schema=PORTAL">
              Ampliar información...            </a>
          </div>-->
        
        <!-- SERIALMATERIAL -->    
                    	  
	<!-- SERIALLINKS -->
	                
        <!--<div style="clear:both;"></div>
        <div class="share_mmobj" style="overflow: hidden;">
 <div id="social" style="overflow: hidden;">
  <div style="overflow: hidden; padding: 5px 0px;"> 
     <div style="width: 84px; height: 19px; float: left;">
       <a onclick="return Popup.open({url:this.href});" href="http://www.facebook.com/sharer.php?u=https://canal.uned.es/mmobj/index/id/24042" title="Compartir en Facebook" class="facebook"><img src="/images/uned/social/compartirfb.jpg"></a>
     </div>
     <div style="width: 58px; height: 19px; float: left;">
       <a onclick="return Popup.open({url:this.href});" href="https://plus.google.com/share?url=https://canal.uned.es/mmobj/index/id/24042" title="Compartir en Google +" class="facebook"><img src="/images/uned/social/gplus_button.png"></a>
     </div>
     <div style="width: 58px; height: 19px; float: left;">
       <a onclick="return Popup.open({url:this.href});" href="https://twitter.com/intent/tweet?text=Desde Canal UNED: https://canal.uned.es/mmobj/index/id/24042" title="Compartir en Twitter" class="facebook"><img src="/images/uned/social/twit_button.png"></a>
     </div>
  </div>
    <table>
       <tbody><tr>
         <td>URL:</td>
         <td><input type="text" value="https://canal.uned.es/mmobj/index/id/24042" onclick="this.select()" style="border: 1px solid #ccc; font-size: 12px;" readonly="readonly"></td>
       </tr>
       <tr>
         <td><span style="text-align: right;">EMBED:</span></td>
         <td><input type="text" value="<iframe src=&quot;https://canal.uned.es/mmobj/iframe/id/24042&quot; style=&quot;border:0px #FFFFFF none;&quot; scrolling=&quot;no&quot; frameborder=&quot;1&quot; height=&quot;270&quot; width=&quot;480&quot; allowfullscreen webkitallowfullscreen></iframe>" onclick="this.select()" style="border: 1px solid #ccc; font-size: 12px;" readonly="readonly"></td>
       </tr>
    </tbody></table>
 </div>
</div>
<script type="text/javascript">
    var Popup = {
		  open: function(options)
		  {
		    this.options = {
		      url: '#',
		      width: 600,
		      height: 500,
		      name:"_blank",
		      location:"no",
		      menubar:"no",
		      toolbar:"no",
		      status:"yes",
		      scrollbars:"yes",
		      resizable:"yes",
		      left:"",
		      top:"",
		      normal:false
		    }
		    Object.extend(this.options, options || {});

		    if (this.options.normal){
		      this.options.menubar = "yes";
		      this.options.status = "yes";
		      this.options.toolbar = "yes";
		      this.options.location = "yes";
		    }

		    this.options.width = this.options.width < screen.availWidth?this.options.width:screen.availWidth;
		    this.options.height=this.options.height < screen.availHeight?this.options.height:screen.availHeight;
    var openoptions = 'width='+this.options.width+',height='+this.options.height+',location='+this.options.location+',menubar='+this.options.menubar+',toolbar='+this.options.toolbar+',scrollbars='+this.options.scrollbars+',resizable='+this.options.resizable+',status='+this.options.status
		    if (this.options.top!="")openoptions+=",top="+this.options.top;
		    if (this.options.left!="")openoptions+=",left="+this.options.left;
		    window.open(this.options.url, this.options.name,openoptions );
		    return false;
		  }
		}
</script>      </td>
    </tr>
  </tbody></table>

      <div style="clear: left;">
       <span style="font-weight: bolder">Serie:</span> <a style="font-size: 0.85em" href="/serial/index/id/1688">5226</a>
    </div>
  
  <div class="serial_mm_info">-->
    <!-- PERSONS ACT -->
    <!--<div class="" style="overflow: hidden;">
               
                       
                       
                       
                  </div>
  </div>
</div>-->