<div class="pumukit_mini_mmobjs">

  {% for mm in mmobjects %}
  <dl class="pumukit_mini_mmobj">

    <dt class="thumbnail">
      <a href="/video/{{mm.id}}">
        <img class="play_icon" alt="" src="{{ asset('bundles/pumukitwebtv/images/play_icon.png') }}">
        <img class="mm_img" src="{{mm|first_url_pic(true)}}" width="75 px" height="56 px">
      </a>
    </dt> 

    <dd class="info">
      <div class="title">
        <a href="/video/{{mm.id}}">{{mm.title}}</a>
      </div>
    </dd>
  </dl>
  {% endfor %}
</div>