{% include 'PumukitWebTVBundle:Misc:magic_url_disclaimer.html.twig' %}
{% if track %}
  {% set captions = captions(multimediaObject) %}
  {% set captions_block %}
  {% if captions is not empty %}
    tracks: [
    {% for caption in captions %}
      {
      file: "{{ asset(caption.url, absolute=true) }}",
      label: "{{ caption.language|language_name }}",
      kind: "captions"
      },
    {% endfor %}
    ],
  {% endif %}
{% endset %}
<video id="player1" controls></video>
<script type="text/javascript">
 jwplayer("player1").setup({
     {% if intro %}
     playlist: [{
         file: "{{ asset(intro, absolute=true) }}",
         {% if 'true' != autostart %}
         image: "{{ multimediaObject|first_url_pic(true) }}",
         {% endif %}
     },{
         file: "{{ asset(track.url, absolute=true) }}",
         {{ captions_block }}
         {% if ('true' != autostart) or track.isOnlyAudio() %}
         image: "{{ multimediaObject|first_url_pic(true) }}",
         {% endif %}
     }],
     {% else %}
     file: "{{ asset(track.url, absolute=true) }}",
     {{ captions_block }}
     {% if (('true' != autostart) or track.isOnlyAudio()) %}
     image: "{{ multimediaObject|first_url_pic(true) }}",
     {% endif %}
     {% endif %}
     startparam: "start",
     autostart: {{ autostart|default("true") }},
     repeat: "false",
     width: {{ width|default("620") }},
     height: {{ height|default("465") }},
     logo: { hide: true }
 });
</script>
{% else %}
<div style="color: white; background: black; width: {{ width|default('620') }}px; height: {{ height|default('465') }}px; text-align: center;vertical-align: middle;display: table-cell;">
  No track.
</div>
{% endif %}
