{% if multimediaObject.isPublished %}

<!--Share multimedia object in facebook, google+ and twitter-->
<div class="panel panel-default share_mmobj">
  <div class="panel-heading" data-toggle="collapse" data-target="#shareBars" aria-expanded="false" aria-controls="shareBars" role="button">
    <strong>
      {% trans %} Share this video {% endtrans %}
      <span class="glyphicon glyphicon-chevron-up pull-right"></span>
    </strong>
  </div>
    <ul class="list-group collapse in" id="shareBars">
      <script>
       function toggleChevron(e) {
           $(e.target)
              .prev('.panel-heading')
              .find('span.glyphicon')
              .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
       }
       $('#shareBars').on('hide.bs.collapse', toggleChevron);
       $('#shareBars').on('show.bs.collapse', toggleChevron);
      </script>

      <li class="list-group-item">
        <div class="silly-buttons">
          <div style="width: 22px; height: 19px; float: left;">
            <!--Añadir url del objeto multimedia a compartir-->
            <a href="http://www.facebook.com/sharer.php?u={{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id})}}" title="{% trans %}Share on Facebook{% endtrans %}" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/compartir_facebook.jpg')}}" alt="{% trans %}Share on Facebook{% endtrans %}"></a>
          </div>
          <div style="width: 38px; height: 19px; float: left;">
            <a href="https://plus.google.com/share?url={{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id})}}" title="{% trans %}Share on Google +{% endtrans %}" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/gplus_button.png')}}" alt="{% trans %}Share on Google +{% endtrans %}"></a>
          </div>
          <div style="width: 58px; height: 19px; float: left;">
            <a href="https://twitter.com/intent/tweet?text={{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}" title="{% trans %}Share on Twitter{% endtrans %}" class="facebook"><img src="{{ asset('bundles/pumukitwebtv/images/twit_button.png')}}" alt="{% trans %}Share on Twitter{% endtrans %}"></a>
          </div><br/>
        </div>
      </li>
      <li class="list-group-item">
        <div class="share_url">
          <span>{% trans %} URL: {% endtrans %}</span>
          <input type="text" value="{{ url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id}) }}" aria-label="share-url"
                 onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" readonly="readonly"/>
        </div>
      </li>
      <li class="list-group-item">
        <div class="share_url">
          <span>{% trans %} IFRAME: {% endtrans %}</span>
          {% set trackid = (track.id is defined)?track.id:null %}
          {% set iframe_value %}{% spaceless %}
          <iframe src='{{url('pumukit_webtv_multimediaobject_iframe', {'id':multimediaObject.id, 'track_id': trackid})}}'
            {{- " id='pumukitiframe'" -}}
            {{- " frameborder='0'" -}}
            {{- " border='0'" -}}
            {{- " width='560'" -}}
            {{- " height='315'" -}}
            {{- " allowfullscreen" -}}
            ></iframe>
          {% endspaceless %}{% endset %}
          <input type="text" value="{{ iframe_value }}" aria-label="share-iframe"
                 onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" readonly="readonly"/>

        </div>
      </li>
    </ul>
</div>

{% endif %}
