{% set trackid = (track.id is defined)?track.id:null %}
{% if multimediaObject.isPublished %}
    {% set url = url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id, 'track_id': trackid}) %}
    {% set urlIframe = url('pumukit_webtv_multimediaobject_iframe', {'id':multimediaObject.id, 'track_id': trackid}) %}
{% else %}
    {% set url = url('pumukit_webtv_multimediaobject_magicindex', {'secret': multimediaObject.secret, 'track_id': trackid }) %}
    {% set urlIframe = url('pumukit_webtv_multimediaobject_magiciframe', {'secret': multimediaObject.secret, 'track_id': trackid }) %}
{% endif %}

<div class="panel panel-default panel-pmk">
    <div class="panel-heading" data-toggle="collapse" data-target="#shareBars" aria-expanded="false" aria-controls="shareBars" role="button">
        {% trans %}Share this video{% endtrans %}
    </div>
    <div class="panel-body">
        <div class="qa-player-share-facebook col-md-4 col-md-offset-2 text-center block_facebook">
            <a href="http://www.facebook.com/sharer.php?u={{ url }}" title="{% trans %}Share on Facebook{% endtrans %}">
                <i class="fa fa-facebook-f fa-2x"></i>
            </a>
        </div>
        <div class="qa-player-share-twitter col-md-4 text-center block_twitter">
            <a href="https://twitter.com/intent/tweet?text={{ url }}" title="{% trans %}Share on Twitter{% endtrans %}">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-pmk">
            <div class="qa-player-share-url share_url">
                <span>{% trans %} URL: {% endtrans %}</span>
                <input type="text" value="{{ url }}" aria-label="share-url" onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" readonly="readonly" />
            </div>
        </li>
        <li class="list-group-item list-group-item-pmk">
            <div class="qa-player-share-iframe share_url share_iframe">
                <span>{% trans %} IFRAME: {% endtrans %}</span>
                {% set trackid = (track.id is defined)?track.id:null %}
                {% set iframe_value %}{% spaceless %}
                    <iframe src='{{ urlIframe }}'
                            {{- " id='pumukitiframe'" -}}
                            {{- " frameborder='0'" -}}
                            {{- " border='0'" -}}
                            {{- " width='560'" -}}
                            {{- " height='315'" -}}
                            {{- " allowfullscreen" -}}
                    ></iframe>
                {% endspaceless %}{% endset %}
                <input type="text" value="{{ iframe_value }}" aria-label="share-iframe" onclick="this.select()" style="width: 70%; border: 1px solid #ccc; float:right; padding: 0; margin: 0;" readonly="readonly" />
            </div>
        </li>
    </ul>
</div>
