{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% set hide_slidebar = true %}

{% block title %}{{ parent() }} - {{ multimediaObject.title }}{% endblock %}
{% block keywords %}{{ parent() }} - {{ multimediaObject.getKeywords()|join(',') }}{% endblock %}

{% block meta %}
    {{ parent() }}
    {% if multimediaObject.isPublished %}
        {% set trackid = (track.id is defined)?track.id:null %}
        {% set url = url('pumukit_webtv_multimediaobject_index', {'id': multimediaObject.id, 'track_id': trackid}) %}
        <meta property="og:url" content="{{ url }}" />
        <meta property="og:type" content="video.other" />
        <meta property="og:title" content="{{ multimediaObject.title }}" />
        <meta property="og:description" content="{{ multimediaObject.description }}" />
        <meta property="og:image" content="{{ multimediaObject|first_url_pic(true) }}" />
    {% endif %}
{% endblock %}

{% block body %}

    <div class="video-page">
        <div class="col-xs-12">
            <h2 class="qa-player-title video-title">
                {{ multimediaObject.title|default("No title"|trans) }}
                <span class="pull-right edit-button"></span>
            </h2>
        </div>

        <div class="col-xs-12 col-md-7 col-lg-8">
            {% include 'PumukitWebTVBundle:Misc:magic_url_disclaimer.html.twig' %}

            {% include 'PumukitWebTVBundle:MultimediaObject:template_player.html.twig' %}

            {{ render(controller('PumukitWebTVBundle:MultimediaObject:multimediaInfo', {'multimediaObject': multimediaObject})) }}
        </div>

        <div class="col-xs-12 col-md-5 col-lg-4">
            {% include "PumukitWebTVBundle:MultimediaObject:template_suggest.html.twig" %}
        </div>
    </div>

    {% if cinema_mode is defined and cinema_mode %}
        <script>
            $("#paellaiframe").detach().prependTo(".main-content");
        </script>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "{{ path('pumukit_webtv_can_edit_multimediaobject', {'id' : multimediaObject.getId()}) }}",
                method: 'GET',
                success: function (response) {
                    $('.edit-button').html(response);
                }
            });
        });
    </script>
{% endblock %}
