<div class="row">
    {% include 'PumukitWebTVBundle:MultimediaObject:template_tags.html.twig' %}
</div>

{% include "PumukitWebTVBundle:Misc:chapter_marks.html.twig" %}
{% include "PumukitWebTVBundle:Misc:modal_download_share.html.twig" %}

<div class="row">
    <div class="col-xs-12">

        <h4 class="qa-player-title video-title">
                {{ multimediaObject.title|default("No title"|trans) }}
                <span class="pull-right edit-button"></span>
        </h4>

        {% if multimediaObject.getSubtitle() %}
            <p class="qa-player-subtitle"> {{ multimediaObject.getSubtitle() }} </p>
        {% endif %}

        <div class="row video-info">
            <div class="col-xs-12 col-sm-5">
                <span class="qa-player-viewed views">
                    <i class="fa fa-eye"></i>
                    {{ multimediaObject.getNumview() }}
                    {% if multimediaObject.getNumview() > 1 %}
                        {% trans %}view{% endtrans %}
                    {% else %}
                        {% trans %}views{% endtrans %}
                    {% endif %}
                </span>
                <span class="qa-player-recording-date">
                    <i class="fa fa-calendar"></i>
                    {{ multimediaObject.getRecordDate()|localizeddate('medium','none',app.request.getLocale()) }}
                </span>
            </div>
            <div class="col-xs-12 col-sm-7 video-material text-right">
                <div class="qa-player-tracks tracks">
                    <i class="fa fa-download"></i>
                    <a class="video-tracks" href="#" data-toggle="modal" data-target="#modalPlayer">
                        {% trans %}Download{% endtrans %}
                    </a>
                </div>

                <div class="qa-player-share share">
                    <i class="fa fa-share"></i>
                    <a href="#" data-toggle="modal" data-target="#modalPlayer">
                        {% trans %}Share{% endtrans %}
                    </a>
                </div>

                {% if not multimediaObject.getSeries().isHide() %}
                <div class="qa-player-series video-series">
                    <i class="fa fa-play-circle"></i>
                        {% if isMagicRoute and fullMagicUrl %}        
                            <a href="{{ path('pumukit_webtv_series_magicindex', {secret: multimediaObject.getSeries().getSecret() }) }}">
                                {% trans %}i18n.one.Series{% endtrans %}
                            </a>
                        {% else %}
                            <a href="{{ path('pumukit_webtv_series_index', {id: multimediaObject.getSeries().getId() }) }}">
                                {% trans %}i18n.one.Series{% endtrans %}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="row video-description">
            <div class="col-xs-12 col-sm-12">
                <p class="qa-player-description description">
                    {{ multimediaObject.getDescription()|nl2br }}
                </p>
            </div>
        </div>
        {% include "PumukitWebTVBundle:Misc:people.html.twig" with {'object': multimediaObject} %}
    </div>
</div>
<br>

