<div class="row">
    {% include 'PumukitWebTVBundle:MultimediaObject:template_tags.html.twig' %}
</div>

<div class="row">
    <div class="qa-player-recording-date col-xs-12 text-right">
        {% trans %}Recording date{% endtrans %}: {{ multimediaObject.getRecordDate()|localizeddate('medium','none',app.request.getLocale()) }}
    </div>
</div>

<div class="row">
    <div class="qa-player-viewed col-xs-12 text-right">
        {% trans %}Viewed{% endtrans %}: {{ multimediaObject.getNumview() }}
        {% if multimediaObject.getNumview() > 1 %}
            {% trans %} times {% endtrans %}
        {% else %}
            {% trans %} time {% endtrans %}
        {% endif %}
    </div>
</div>

{% include "PumukitWebTVBundle:Misc:chapter_marks.html.twig" %}

<div class="row">
    <div class="col-xs-12 video-subtitle">
        {% if multimediaObject.getSubtitle() %}
            <h3 class="qa-player-subtitle"> {{ multimediaObject.getSubtitle() }} </h3>
        {% endif %}

        <p class="qa-player-description description">
            {{ multimediaObject.getDescription()|nl2br }}
        </p>

        <div class="qa-player-license text-left video-license">
            {% if multimediaObject.getLicense() is not empty %}
                {% trans %}License{% endtrans %}: {{ multimediaObject.getLicense() }}
            {% endif %}
        </div>

        {% if not multimediaObject.getSeries().isHide() %}
            {% if isMagicRoute and fullMagicUrl %}        
                <div class="qa-player-series video-series">
                    {% trans %}i18n.one.Series{% endtrans %}:
                    <a href="{{ path('pumukit_webtv_series_magicindex', {secret: multimediaObject.getSeries().getSecret() }) }}">
                        {{ multimediaObject.getSeriesTitle()|default('') }}
                    </a>
                </div>
            {% else %}
                <div class="qa-player-series video-series">
                    {% trans %}i18n.one.Series{% endtrans %}:
                    <a href="{{ path('pumukit_webtv_series_index', {id: multimediaObject.getSeries().getId() }) }}">
                        {{ multimediaObject.getSeriesTitle()|default('') }}
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% include "PumukitWebTVBundle:Misc:people.html.twig" with {'object': multimediaObject} %}
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">

        <div class="panel panel-default panel-pmk">
            <div class="panel-heading">
                {% trans %} Attachments {% endtrans %}
            </div>
            <div class="panel-body">
                {% set none_attach = true %}

                {% for track in multimediaObject.getTracks() if track.allowDownload() and not track.getHide() and showDownloads %}
                    {% set none_attach = false %}
                    <div class="qa-player-tracks tracks">
                        <span class="glyphicon glyphicon-facetime-video"></span>
                        <a class="video-tracks" download href="{{ track_url(track) }}?forcedl=1">
                            {% if track.isOnlyAudio() %}
                                {% trans %}Download this audio{% endtrans %}
                            {% else %}
                                {% trans %}Download this video{% endtrans %}
                            {% endif %}
                            <span class="pull-right">{{ (track.getSize() / 1048576)|number_format(2) }}MB</span>
                        </a>
                    </div>
                {% endfor %}

                {% for material in multimediaObject.getMaterials() if not material.getHide() and showDownloads  %}
                    {% set none_attach = false %}
                    <div class="qa-player-material material">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <a href="{{ material.getUrl() }}">{{ material.getName() }}</a>
                    </div>
                {% endfor %}

                {% for link in multimediaObject.getLinks() if showDownloads %}
                    {% set none_attach = false %}
                    <div class="qa-player-link link">
                        <a target="_blank" href="{{ link.getUrl() }}">
                            <span class="glyphicon glyphicon-globe"></span>
                            {{ link.getName() }}
                        </a>
                    </div>
                {% endfor %}
                {% if none_attach %}
                    <strong>{% trans %} There are no attachments {% endtrans %}</strong>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {% include 'PumukitWebTVBundle:MultimediaObject:template_share.html.twig' %}
    </div>
</div>
<br>
