{% extends 'PumukitResponsiveWebTVBundle::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/pumukitresponsivewebtv/js/prototype.js') }}"></script>
  <script src="{{ asset('bundles/pumukitresponsivewebtv/js/announces_ajax.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}  
  <h1 id="announces_h1">{% trans %} Latest uploads {% endtrans %}</h1>
  <div class="announces" id="announces">
  </div>
  <div id="cargando" style="display:none"><img class="center-block" src="{{ asset('bundles/pumukitresponsivewebtv/images/icons/spinner.gif') }}"/></div>
  <script type="text/javascript">
   jQuery(document).ready(function() {  
       var cargando = $('cargando');
       var announces_div = $('announces');
       var loaded_months = [];
       var month_loaded = true;
       var AnnounceDate = Class.create();
       AnnounceDate.prototype = {
           // NOTE: JS months are [0, 11]
           initialize: function(month, year) {
               this.year = year;
               this.month = month;
           },
           decMonth: function() {
               this.month -= 1;
               if (this.month == -1){
                   this.month = 11;
                   this.year -= 1;
               }
           },
           toStringParameter: function() {
               return this.month + "/" + ( this.year )
           }
       };
       var anDate = new AnnounceDate( {{ "now"| date("m") }}, {{ "now"| date("Y") }} );
       console.log(anDate.toStringParameter());

       function reloadMoreData()
       {
           if( month_loaded ) 
           {
               month_loaded = false;
               cargando.show();
               new Ajax.Request("{{ path('pumukit_responsive_webtv_announces_latestuploads_pager') }}", 
                                {
                                    method: 'get', 
                                    parameters: {date: anDate.toStringParameter()},
                                    onSuccess: function(response){
                                        cargando.hide();
                                        if( response.getResponseHeader( 'X-Date' ) != "---" ) 
                                        {
                                            date_month = response.getResponseHeader('X-Date-Month');
                                            date_year = response.getResponseHeader('X-Date-Year');
                                            announces_div.innerHTML = announces_div.innerHTML + response.responseText;
                                            anDate.initialize( date_month, date_year );
                                            anDate.decMonth();
                                            month_loaded = true;
                                            if(  document.viewport.getHeight() >= ( jQuery('footer').offset().top ) )
                                            {                                        
                                                reloadMoreData();
                                            }
                                        }
                                    }
                                }
               );
           }
       }
       reloadMoreData();
       Event.observe(window, 'scroll', function(){
           var topOffset = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
           var scrollBottom = document.viewport.getHeight() + topOffset > jQuery('footer').offset().top;
           if ( scrollBottom  ){
               reloadMoreData();
           }
       });
   });
  </script>
{% endblock %}
