{% extends 'PumukitResponsiveWebTVBundle::layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/pumukitresponsivewebtv/js/prototype.js') }}"></script>
  <script src="{{ asset('bundles/pumukitresponsivewebtv/js/announces_ajax.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}  
  <h1 id="announces_h1">{% trans %} Latest uploads {% endtrans %}</h1>
  <div class="announces" id="announces">
  </div>
  <div id="cargando" style="display:none"><img class="center-block" src="{{ asset('bundles/pumukitresponsivewebtv/images/icons/spinner.gif') }}"/></div>
  <script type="text/javascript">
   var url_latestuploads_pager = "{{ path('pumukit_responsive_webtv_announces_latestuploads_pager') }}";
  </script>
{% endblock %}
