<h3>CPUs</h3> 

<div class="list-group">
  {% for name, cpu in cpus %}
  {% if not loop.first %}
  <div class="list-group-separator"></div>
  {% endif %}  
  <div class="list-group-item">
    <div class="row-action-primary">
      <i class="mdi-action-dns"></i>
    </div>
    <div class="row-content">
      <h4 class="list-group-item-heading">{{ name }} ({{ cpu.max }})</h4>
      <p class="list-group-item-text">{{ cpu.description|default('No description') }} (type: {{ cpu.type }})</p>
      <small>{{ cpu.host }}</small>
    </div>
  </div>
  {% endfor %}
</div>
