{% form_theme form_meta 'PumukitNewAdminBundle:Themes:fields.html.twig' %}

<div id="tv_admin_container" class="well">

  <form onsubmit="$.ajax({
                          url: '{{ path('pumukitadmin_mmtemplate_update_meta', {'id': mm.id}) }}',
                          type: 'POST',
                          data: $(this).serialize(),
                          error: function(request, json){var message = '{% trans %}Saved ERROR{% endtrans %}'; no_success(message);},
                          success: function(response){var message = '{% trans %}Saved OK{% endtrans %}'; success(message);}
                  });
                  return false;"
        action="{{ path('pumukitadmin_mmtemplate_update_meta', {'id': mm.id}) }}" method="POST">

    <input type="hidden" name="id" id="id" value="{{ mm.id }}">
    <input type="hidden" name="series_id" id="series_id" value="{{ mm.getSeries().getId() }}">

	<div class="row">
      <div class="col-md-3">
        <div id="remember_save_mm" class="alert alert-dismissable alert-danger" style="display:none;">
          {% trans %}Press OK for the change to take effect{% endtrans %}
        </div>
      </div>

      <div class="col-md-2 col-md-offset-3">
        <span id="mm_save_error" style="display:none; color:red;">{% trans %}Saved ERROR{% endtrans %}</span>
      </div>
      <div class="col-md-2">
        <span id="mm_save_ok" style="display:none; color:indigo;">{% trans %}Saved OK{% endtrans %}</span>
      </div>

      <div class="col-md-2">
        <div class="col-md-6">
          <button type="button" class="btn btn-default btn-raised" onclick="$('#remember_save_mm').hide();">{% trans %}Cancel{% endtrans %}</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-warning btn-raised" onclick="$('#remember_save_mm').hide();">{% trans %}OK{% endtrans %}</button>
        </div>
      </div>
	</div>

    <div class="well">
      <fieldset id="tv_fieldset_none" class="">
        <div class="col-md-4">
          {% for child in form_meta %}
            {{ form_row(child) }}
          {% endfor %}
        </div>
      </fieldset>
    </div>

  </form>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("*[id^='pumukitnewadmin_mmtemplate_']").on('change', function(){
        $('#remember_save_mm').show();
    });
});
</script>
