{% extends ['PumukitWebTVBundle:Layout:template.html.twig', 'PumukitWebTVBundle:Layout:base.html.twig'] %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/pumukitcore/css/uppy.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{{ asset('bundles/pumukitcore/css/inbox.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block body %}
    {% block template_header %}{% endblock %}
    {% block template_menu %}{% endblock %}
    {% block template_breadcrumb %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{ "Upload local file"|trans }}</h1>
                <br />
                <div class="panel-body">
                    {% include "@PumukitCore/Upload/uppy_drag_and_drop.html.twig" %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/pumukitcore/js/uppy.min.js') }}"></script>
    <script>{% include "@PumukitCore/Upload/uppy_tus.js.twig" %}</script>

{% endblock %}
