{% extends ['PumukitWebTVBundle:Layout:template.html.twig', 'PumukitWebTVBundle:Layout:base.html.twig'] %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/pumukitcore/css/uppy.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{{ asset('bundles/pumukitcore/css/inbox.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block body %}
    {% block template_header %}{% endblock %}
    {% block template_menu %}{% endblock %}
    {% block template_breadcrumb %}{% endblock %}

    <div id="pumukitinbox_body">
        <div class="container">
            {% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) and inbox_show_backoffice_button() is same as(true) %}
                <div class="row text-right">
                    <div class="col-md-12">
                        <a href="{{ url('pumukit_newadmin_index') }}" type="button" class="btn btn-default btn-raised btn-go-backoffice" title="{% trans %}Go to back-office{% endtrans %}">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        {% if is_granted('ROLE_SCOPE_GLOBAL') %}
                            {% trans %}Go to back-office{% endtrans %}
                        {% elseif is_granted('ROLE_SCOPE_PERSONAL') %}
                            {% trans %}Manage my videos{% endtrans %}
                        {% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                <h1 class="text-center">{{ "Upload local file"|trans }}</h1>
                <br />
                {% block inbox_body %}

                {% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    {% if (app.request.get('_route') == "file_upload") %}
        <script src="{{ asset('bundles/pumukitcore/js/uppy.min.js') }}"></script>
        <script>{% include "@PumukitCore/Upload/uppy_tus.js.twig" %}</script>
    {% endif %}
    
{% endblock %}
