<hr>
<b>{{ (mmobjs.getNbResults <= 50)? mmobjs.getNbResults : 50 }} {% trans %}Mm. Obj.{% endtrans %}:</b>
<br>
<br>
<div class="row" style="height:100%;overflow:auto">
  <br>
  {% for mmobj in mmobjs %}
    <div class="col-md-12 mmobj">
      <input type="checkbox" name="{{mmobj.id}}" id="modal-{{mmobj.id}}" style="display:none" value="{{mmobj.id}}"/>
      <label style="width:100%" for="modal-{{mmobj.id}}">
        <div class="mmobj_elem">
          {% include "PumukitNewAdminBundle:PlaylistMultimediaObject:modal_mmobj.html.twig" %}
        </div>
      </label>
    </div>
  {% endfor %}
</div>
