<div class="media">
  <div class="media-left">
    <div class="thumbnail" style="width:100px;text-align:center;float:left;">
      {#<span class="video-duration">{{ mmobj_duration(mmobj) | duration_string }}</span>#}
      <img alt="serial_pic" class="serial thumbnailimg" src="{{ mmobj|first_url_pic(true) }}"/>
      {#div class="thumbnailholder"></div>#}
    </div>
  </div>
  <div class="media-body">
    <div class="media-heading">
      <div style="overflow:hidden;height:1.5em">
        {{ mmobj.title }}
      </div>
    </div>
    <!-- <div>
    {{ mmobj.series.title }}
    </div> -->
    <div style="overflow:hidden;height:3em;font-weight:normal;">
      {{ mmobj.description }}
    </div>
    <div class="date mmobj" style="font-style:italic">
      {{ mmobj.recordDate| format_datetime('medium','none',locale=app.request.getLocale()) }}
    </div>
  </div>
</div>
