<tr>
    <td><ul><li></li></ul></td>
    {% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_TRACKS_OPTIONS')) %}
        {% if not is_naked() %}
            {% include '@PumukitNewAdmin/Media/Type/Resources/_delete.html.twig' %}
        {% endif %}

        {% include '@PumukitNewAdmin/Media/Type/Resources/_visibility.html.twig' %}
        {% include '@PumukitNewAdmin/Media/Type/Resources/_edit.html.twig' %}
    {% endif %}

    {% include '@PumukitNewAdmin/Media/Type/Resources/_download.html.twig' %}

    <td>
        &nbsp;{% if not is_naked() %}{{ track.id }} - {% endif %}
        <strong>{{ track.tags()|profile }}</strong>

        {{ track.description().textFromLocale(app.request.getLocale()) }}
        <span>(
        {{ track.storage().fileName()}}
            <span class="label label-default">{{ track.language()|default('')|language_name }}</span>
        )</span>

        {% include '@PumukitNewAdmin/Media/Type/Resources/_tags.html.twig' %}
    </td>
</tr>
