<form id="form_search" name="busqueda" method="get" action="{{ path('pumukit_webtv_search_series') }}">
    <input type="submit" style="display:none" value="submit-hidden" aria-hidden="true"/>
    <div class="form-group col-md-4">
        <label for="search">{% trans %}Search{% endtrans %}:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="search" name="search" value="{{ app.request.query.get('search') }}" placeholder="{% trans %}Search{% endtrans %}">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default" aria-label="search">
                    <span class="sr-only">{% trans %}Search{% endtrans %}</span>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </div>


    <div class="form-group col-md-6 col-sm-10 col-xs-12">
        <div class="row">
            {% set activated = app.request.query.get('start') or app.request.query.get('end') %}
            <div id="advanced-date-search" {{ activated?'':'style="display:none"' }}>
                <div class="col-xs-6">
                    <span style="white-space: nowrap; overflow: hidden;">
                        <label id="start-date" for="start">{% trans %}Start date{% endtrans %}:</label>
                        <a style="margin-right:-15px;cursor:pointer;" onclick="toggleDateSelect()">{% trans %} Select by year {% endtrans %}</a>
                    </span>
                    <div class="input-group date date-picker" id='start'>
                        <input type='text' class="form-control" dataformat="" name="start" value="{{ app.request.query.get('start') }}" placeholder="{% trans %}From{% endtrans %}" onchange="javascript:submitForm(this);" aria-labelledby="start-date" {{ activated?'':'disabled' }}/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label id="end-date" for="end">{% trans %}Finish date{% endtrans %}:</label>
                    <div class="input-group date date-picker" id="end">
                        <input type="text" class="form-control" name="end" value="{{ app.request.query.get('end') }}" placeholder="{% trans %}Until{% endtrans %}" onchange="javascript:submitForm(this);" aria-labelledby="end-date" {{ activated?'':'disabled' }}/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="simple-date-search" {{ activated?'style="display:none"':'' }}>
                <div class="col-md-12 col-xs-12">
                    <label for="year">{% trans %}Year{% endtrans %}</label>
                    <a style="padding-left:20px;cursor:pointer;" onclick="toggleDateSelect()">{% trans %}Select by date range {% endtrans %}</a>
                    <select id='year' name='year' class='form-control' onchange="submitForm(this);" {{ activated?'disabled':'' }}>
                        <option value="" {% if app.request.query.get('year') == "" %} selected="selected" {% endif %}>
                            {% trans %}Any{% endtrans %}
                        </option>
                        {% for year in search_years %}
                            <option value="{{ year }}" {% if app.request.query.get('year') == year %} selected="selected" {% endif %}>
                                {{ year }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2 col-sm-2 col-xs-12">
        <label for="reset">{% trans %}Reset filters{% endtrans %}:</label>
        <input id="reset" type="button" class="btn btn-default form-control" id="exampleInputEmail1" placeholder="{% trans %}Email{% endtrans %}" value="{% trans %}Reset filters{% endtrans %}" onclick="window.location.href=window.location.pathname" />
    </div>

    <script type="text/javascript">
        $(function () {
            var isMobile = $(window).width() <= 480 || Modernizr.touchevents;
            if (isMobile) {
                $('#start input').attr('type', 'date');
                $('#end input').attr('type', 'date');
                $('#advanced-date-search .input-group-addon').remove();
                $('.date').removeClass('input-group');
            }
            else {
                var language = "{{ app.request.getLocale() }}";
                $("#start").datetimepicker({
                    useCurrent: false,
                    viewMode: 'years',
                    format: 'YYYY-MM-DD',
                    locale: language
                });
                $("#start").on("dp.change", function (e) {
                    $("#form_search").submit();
                });
                $("#end").datetimepicker({
                    useCurrent: false,
                    viewMode: 'years',
                    format: 'YYYY-MM-DD',
                    locale: language
                });
                $("#end").on("dp.change", function (e) {
                    $("#form_search").submit();
                });
            }
        });

        function toggleDateSelect() {
            $('#simple-date-search, #advanced-date-search').toggle();
            $('#year').prop('disabled', function (i, v) {
                return !v;
            });
            $('#start .form-control').prop('disabled', function (i, v) {
                return !v;
            });
            $('#end .form-control').prop('disabled', function (i, v) {
                return !v;
            });
        }

        function submitForm(elem) {
            $('#search_spinner').show();
            $('#search_results').hide();
            $('.pagination').hide();
            elem.form.submit();
        }

    </script>

</form>

<div class="col-xs-12">
    <a href="{{ path('pumukit_webtv_search_multimediaobjects') }}">
        {% trans %}Search by multimedia objects{% endtrans %}
    </a>
</div>
