{% if object.getPublicDate()|date("d/m/Y") != lastDate %}
    <div style="clear:both;"></div>
    <br />
    <div class="serial_date">
        {{ object.getPublicDate()|date("d/m/Y") }}
    </div>
{% endif %}

<div style="cursor:pointer;" onclick="window.location='/series/{{object.getId()}}'">
    <div class="pumukit_mmobjs" style="width:50%; float:left;">
        <div class="pumukit_mmobj" style="float:left;">
          
          	<figure class="album" style="margin:2px 20px 2px 2px">  
              <a href="/series/{{object.getId()}}">
                <div class="picture">
                  	<img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
                </div>
                <div class="picture">
                  	<img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
                </div>
                <div class="picture">
                  	<img src="{{ asset('bundles/pumukitwebtv/images/folder.png') }}"></img>
                </div>
              </a>
            </figure>

          	<div class="info" style="padding-top: 3%;">
            	<div class="title">
              		<a href="/series/{{object.getId()}}">{{object.getTitle()}}</a>
            	</div>
            	<div class="subtitle">
              		<abbr title="{{object.getSubtitle()}}">{{object.getSubtitle()}}</abbr>
            	</div>
            	<div class="mmobj_bottom" style="bottom: 10px;right: 16px;">{{object.getPublicDate()|date("d/m/Y")}}</div>
          	</div>

        </div>
    </div>
</div>
