{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/pumukitwebtv/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pumukitwebtv/js/moment-with-locales.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/pumukitwebtv/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/pumukitwebtv/js/modernizr-custom.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {% if blocked_tag is defined and blocked_tag is not null %}
        <h1>{{ blocked_tag.title }}</h1>
    {% else %}
        <h1>
            {% if template_title is defined %}
                {{ template_title }}
            {% else %}
                {% if type == "series" %}
                    {% trans %}Series search{% endtrans %}
                {% else %}
                    {% trans %}Multimedia objects search{% endtrans %}
                {% endif %}
            {% endif %}
        </h1>
    {% endif %}
    {% include 'PumukitWebTVBundle:Search:template_list.html.twig' %}
    {% include 'PumukitWebTVBundle:Misc:pager.html.twig' %}
{% endblock %}
