{% form_theme form 'PumukitNewAdminBundle:Themes:fields.html.twig' %}
<div class="modal-body">
  <form onsubmit="$('#myModal').modal('hide');
                  $.ajax({
                          url: '{{ path('pumukitnewadmin_person_create_relation', {'id': person.id, 'roleId': role.id, 'mmId': mm.id}) }}',
                          type: 'POST',
                          data: $(this).serialize(),
                          success: function(response){$('#{{ role.id }}_person_mms').html(response);}
                  });
		          return false;"
	    action="{{ path('pumukitnewadmin_person_create_relation', {'id': person.id, 'roleId': role.id, 'mmId': mm.id}) }}" method="POST">
    <input type="hidden" name="id" id="id" value="{{ person.id }}">
    <input type="hidden" name="roleId" id="roleId" value="{{ role.id }}">
    <input type="hidden" name="mmId" id="mmId" value="{{ mm.id }}">
    <fieldset>
      {% for child in form %}
        {{ form_row(child) }}
      {% endfor %}
    </fieldset>
    <div class="modal-footer">
      <button type="submit" name="OK" class="btn btn-pumukit btn-raised">{% trans %}OK{% endtrans %}</button> {# TODO CHECK MAIL AND WEB #}
      <button class="btn btn-default btn-raised" type="button" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
    </div>
  </form>
</div>
