{% set criteria = app.session.get('admin/person/criteria') %}

<div class="well">
    <form class="form" id="filter_people" onsubmit="$('#list_people').load('{{ path('pumukitnewadmin_person_list') }}', $(this).serialize()); return false;" action="{{ path('pumukitnewadmin_person_list') }}" method="post">
        <fieldset>
            <legend hidden>{% trans %}Filter People{% endtrans %}</legend>

            <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h2 class="panel-title">
                            <a class="show" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch"
                               aria-expanded="true" aria-controls="collapseSearch">
                                <i class="mdi-navigation-menu pull-right"></i> {% trans %}Search{% endtrans %}
                            </a>
                        </h2>
                    </div>
                    <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="filters_name" class="control-label">
                                    {% trans %}Name{% endtrans %}:
                                </label>
                                <input type="text" class="reset form-control" name="criteria[name]" id="filters_name" value="{{ criteria['name']|default("") }}">
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label for="filters_post" class="control-label">
                                        {% trans %}Post{% endtrans %}:
                                    </label>
                                    <input type="text" class="reset form-control" name="criteria[post]" id="filters_post" value="{{ criteria['post']|default("") }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="filters_letter" class="control-label">
                                    {% trans %}Letter{% endtrans %}:
                                </label>
                                <input id="filters_letter" class="reset form-control" type="hidden" value="{{ criteria['letter']|default("") }}" name="criteria[letter]">
                                <div class="text-center">
                                {% for letter in "A".."Z" %}
                                    <a href="#" id="pmk-person-letter-{{ letter }}" class="pmk-person-letter {% if criteria['letter']|default("") == letter %}text-pumukit{% endif %}" onclick="window.filter_click_letter('{{ letter }}')">
                                        <span style="padding:1px">{{ letter }}</span>
                                    </a>
                                    {% if loop.index % 13 == 0 %}
                                        <br />
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="text-right">
            <input class="btn btn-default btn-raised" onclick="$('.pmk-person-letter.text-pumukit').removeClass('text-pumukit'); $('#filter_people input.reset').val(''); $('#list_people').load('{{ path('pumukitnewadmin_person_list') }}?criteria[reset]=true'); return false;" type="button" value="{% trans %}reset{% endtrans %}" />
            <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
        </div>
    </form>
</div>
