<!-- Filter -->
<div class="well">
  <form autocomplete="off" class="form-horizontal" id="filter_people" onsubmit="$('#list_people').load('{{ path('pumukitnewadmin_person_list') }}', $(this).serialize()); return false;" action="{{ path('pumukitnewadmin_person_list') }}" method="post">
  <fieldset>
    <legend hidden>{% trans %}Filter People{% endtrans %}</legend>
    <h2>{% trans %}Search{% endtrans %}</h2>

    <div class="form-group">
      <label for="filters_name" class="col-md-2 control-label">{% trans %}Name{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/person/criteria') %}
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[name]" id="filters_name" value="{{ criteria['name']|default("") }}">
      </div>
    </div>

    <div class="form-group">
      <label for="filters_post" class="col-md-2 control-label">{% trans %}Post{% endtrans %}:</label>
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[post]" id="filters_post" value="{{ criteria['post']|default("") }}">
      </div>
    </div>

    <div class="form-group">
      <label for="filters_letter" class="col-md-2 control-label">{% trans %}Letter{% endtrans %}:</label>
      <div class="col-md-10">
        <input id="filters_letter" class="reset form-control" type="hidden" value="{{ criteria['letter']|default("") }}" name="criteria[letter]">
        {% for letter in "A".."Z" %}
            <a href="#" id="pmk-person-letter-{{letter}}" class="pmk-person-letter {% if criteria['letter']|default("") == letter%}text-pumukit{% endif %}" onclick="window.filter_click_letter('{{letter}}')">{{letter}}</a>
        {% endfor %}
      </div>
    </div>

  </fieldset>

  <div class="text-right">
    <input class="btn btn-default btn-raised" onclick="$('.pmk-person-letter.text-pumukit').removeClass('text-pumukit'); $('#filter_people input.reset').val(''); $('#list_people').load('{{ path('pumukitnewadmin_person_list') }}?criteria[reset]=true'); return false;" type="button" value="{% trans %}reset{% endtrans %}">
    <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
  </div>
</form>
</div>
