{% set sorting = {('sorting[' ~ (app.session.get('admin/person/sort')) ~ ']') : (app.session.get('admin/person/type')) } %}

<div class="table-responsive well">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_PEOPLE')) %}
        <input type="hidden" name="pumukitnewadmin_person_sort_change_type" id="pumukitnewadmin_person_sort_change_type" value="{{ app.session.get('admin/person/type')=='asc'?'desc':'asc' }}"/>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {% include 'PumukitNewAdminBundle:Person:listth.html.twig' %}
                </tr>
            </thead>

            <tbody>
            {% if people|length == 0 %}
                <tr>
                    <td colspan="9" headers="th-checkbox th-icons th-icons th-id th-name th-email th-phone th-mm">
                        {% trans %}There are no people with those values.{% endtrans %}
                    </td>
                </tr>
            {% endif %}

            {% for person in people %}
                {% set urlShowPerson = path('pumukitnewadmin_person_show', {'id': person.id}) %}
                <tr>
                    <td headers="th-checkbox">
                        <div class="checkbox">
                            <label>
                                <input id="{{ person.id }}" class="person_checkbox" type="checkbox" size="1">
                            </label>
                        </div>
                    </td>
                    <td headers="th-icons">
                        <a title="{% trans %}Edit Person{% endtrans %} {{ person.getHName() }}" href="{{ path('pumukitnewadmin_person_update', {'id': person.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
                            <i class="mdi-editor-mode-edit"></i>
                        </a>
                    </td>
                    <td headers="th-icons">
                        {% if app.user and not is_granted('ROLE_SCOPE_GLOBAL') %}
                            <i title="{% trans %}You don't have enough permissions to access this content.{% endtrans %}" class="mdi-content-block" style="color:#009587"></i>
                        {% elseif person.getUser() %}
                            <i title="{% trans %}Can't delete Person{% endtrans %} '{{ person.name }}'. {% trans %}There is a referenced User{% endtrans %}." class="mdi-content-block" style="color:#009587"></i>
                        {% elseif countMmPeople[person.id] != 0 %}
                            <i title="{% trans %}Cannot delete the data of{% endtrans %} '{{ person.name }}'. '{{ countMmPeople[person.id] }}' {% trans %}multimedia object(s) contain(s) this person{% endtrans %}." class="mdi-content-block" style="color:#009587"></i>
                        {% else %}
                            <a href="#" title="Delete Person '{{ person.name }}'" onclick="window.submit_delete_person('{{ person.id }}', '{{ countMmPeople[person.id] }}', '{% autoescape 'js' %}{{ person.getHName() }}{% endautoescape %}'); return false;">
                                <i class="mdi-content-clear"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td headers="th-name" onclick="click_fila_url('person', this, '{{ urlShowPerson }}');">
                        <span style="color:gray">{{ person.getHonorific() }}</span> {{ person.getName() }}
                    </td>
                    <td headers="th-post" onclick="click_fila_url('person', this, '{{ urlShowPerson }}');">
                        {{ person.getPost() }}
                    </td>
                    <td headers="th-email" onclick="click_fila_url('person', this, '{{ urlShowPerson }}');">
                        {{ person.getEmail() }}
                    </td>
                    <td headers="th-phone" onclick="click_fila_url('person', this, '{{ urlShowPerson }}');">
                        {{ person.getPhone() }}
                    </td>
                    <td headers="th-mm" onclick="click_fila_url('person', this, '{{ urlShowPerson }}');">
                        {{ countMmPeople[person.id] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="foot-td">
                        {% set column = ((people.getNbPages/5)|round(0, 'floor')) %}
                        <div class="col-md-8">
                            {{ people.getNbResults }}
                            {{ "{0} people|{1} person|]1,Inf] people"| trans({'%count%': people.getNbResults }) }}
                            {% if app.session.get('admin/person/criteria')|length != 0 %}
                                <a class="cancel-search-button" title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true">{% trans %}Cancel search{% endtrans %}</a>
                            {% endif %}
                        </div>
                        <div class="col-md-4 text-right">
                            <div class="pagerfanta">
                                {{ pagerfanta(people, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_person_index", "routeParams": sorting}) }}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        {% trans %}You don't have enough permissions to access this content.{% endtrans %}
    {% endif %}
</div>
