<input type="hidden" name="pumukitnewadmin_person_sort_change_type" id="pumukitnewadmin_person_sort_change_type" value="{{ app.session.get('admin/person/type')=='asc'?'desc':'asc' }}"/>
{% if 'id' == app.session.get('admin/person/sort') %}
    <th width="1%" id="th-id">
        <a href="#" id="pumukitnewadmin_person_id_sort_selected">{% trans %}Id{% endtrans %}{{ app.session.get('admin/person/type')=='asc'?'&nbsp;&#x25B4;':'&nbsp;&#x25BE;' }}</a>
    </th>
{% else %}
    <th width="1%" id="th-id">
        <a href="#" id="pumukitnewadmin_person_id_sort_not_selected">{% trans %}Id{% endtrans %}</a>
    </th>
{% endif %}

{% if 'name' == app.session.get('admin/person/sort') %}
    <th id="th-name">
        <a href="#" id="pumukitnewadmin_person_name_sort_selected">{% trans %}Name{% endtrans %}{{ app.session.get('admin/person/type')=='asc'?'&nbsp;&#x25B4;':'&nbsp;&#x25BE;' }}</a>
    </th>
{% else %}
    <th id="th-name">
        <a href="#" id="pumukitnewadmin_person_name_sort_not_selected">{% trans %}Name{% endtrans %}</a>
    </th>
{% endif %}

<th id="th-post">{% trans %}Post{% endtrans %}</th>

{% if 'email' == app.session.get('admin/person/sort') %}
    <th id="th-email">
        <a href="#" id="pumukitnewadmin_person_email_sort_selected">{% trans %}Email{% endtrans %}{{ app.session.get('admin/person/type')=='asc'?'&nbsp;&#x25B4;':'&nbsp;&#x25BE;' }}</a>
    </th>
{% else %}
    <th id="th-email">
        <a href="#" id="pumukitnewadmin_person_email_sort_not_selected">{% trans %}Email{% endtrans %}</a>
    </th>
{% endif %}

{% if 'phone' == app.session.get('admin/person/sort') %}
    <th id="th-phone">
        <a href="#" id="pumukitnewadmin_person_phone_sort_selected">{% trans %}Phone{% endtrans %}{{ app.session.get('admin/person/type')=='asc'?'&nbsp;&#x25B4;':'&nbsp;&#x25BE;' }}</a>
    </th>
{% else %}
    <th id="th-phone">
        <a href="#" id="pumukitnewadmin_person_phone_sort_not_selected">{% trans %}Phone{% endtrans %}</a>
    </th>
{% endif %}
