<!-- Vista previa -->
{% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_PEOPLE')) %}
{% if person is not null %}
<div>
   <input type="hidden" id="inputRawId" value="{{ person.id }}"/>
   <p style="text-align:center; font-size: large;">
    {{ person.getHName() }}
  </p>

  <p>
    {% trans %}INFO{% endtrans %}:
      {{ person.getOther() }}
      <br />
    {% trans %}SERIES{% endtrans %}:
      {% for oneseries in series %}
        {{ oneseries.id }} ({{ oneseries.getTitle() }})
      {% endfor %}
      {% if series|length > 4 %}
        <strong>...</strong>
      {% endif %}
  </p>
</div>
{% else %}
<p>
  {% trans %}Select any person{% endtrans %}.
</p>
{% endif %}
{% else %}
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
{% endif %}
