<div id="tv_admin_container" style="width:100%">
  <form onsubmit="new Ajax.Updater('pic_{{ resource_name }}', '{{ path('pumukitadmin_'~resource_name~'pic_update', {'id': resource.id}) }}', {asynchronous:true, evalScripts:true, onSuccess:function(request, json){Modalbox.hide()}, parameters:Form.serialize(this)}); return false;" action="{{ path('pumukitadmin_'~resource_name~'pic_update', {'id': resource.id}) }}" method="post">
    <input type="hidden" name="type" id="type" value="url">
    <input type="hidden" name="{{ resource_name }}" id="{{ resource_name }}" value="{{ resource.id }}">

    <fieldset>
      <div class="form-row">
        <label for="url">{% trans %}Write the URL{% endtrans %}:</label>
        <div class="content">
          <input type="text" name="url" id="url" value="" size="65" class="MB_focusable">
	  <span id="error_url" style="display:none" class="error">{% trans %}URL format not valid{% endtrans%}</span>
        </div>
      </div>
    </fieldset>

    <ul class="tv_admin_actions">
      <li>
        <input type="submit" name="add" value="{% trans %}Save{% endtrans %}" class="tv_admin_action_save MB_focusable" onclick="return comprobar_form_url($('url').value)">      </li>
    </ul>

  </form>
</div>
<div style="clear:both"></div>


<div id="tv_admin_container" style="width:100%">

  <form method="post" enctype="multipart/form-data" target="iframeUpload" action="{{ path('pumukitadmin_'~resource_name~'pic_upload', {'id': resource.id}) }}">
    <input type="hidden" name="type" id="type" value="url">
    <input type="hidden" name="{{ resource_name }}" id="{{ resource_name }}" value="{{ resource.id }}">

    <fieldset>
      <div class="form-row">
	<label for="file">{% trans %}Add a file{% endtrans %}:</label>
        <div class="content">
	  <input type="file" name="file" id="file" value="" size="66" class="MB_focusable">
        </div>
      </div>
      <iframe name="iframeUpload" style="display:none" src=""></iframe>
    </fieldset>


    <ul class="tv_admin_actions">
      <li>
	<input type="submit" name="add" value="{% trans %}Add{% endtrans %}" class="tv_admin_action_filenew MB_focusable" onclick="if($('file').value=='') { alert('{% trans %}Select a file on first place. Thank you.{% endtrans %}');return false; }">
      </li>
    </ul>

    </form>
  </div>

<div style="clear:both"></div>

<div id="tv_admin_container" style="width:100%">

    <fieldset>
      <div class="form-row">
	<label for="other">{% trans %}Use Image{% endtrans %}:</label>
        <div class="content">
          {% if 0 == pics|length %}
            {% trans %}There are no images in the database.{% endtrans %}
          {% endif %}
          {% for pic_url in pics %}
	    <div style="padding: 18px; float:left">
              <div class="wrap0">
               <div class="wrap1">
                <div class="wrap2">
                 <div class="wrap3">
		   <a href="#" onclick="new Ajax.Updater('pic_{{ resource_name }}', '{{ path('pumukitadmin_'~resource_name~'pic_update', {'id': resource.id, 'picUrl': pic_url}) }}', {asynchronous:true, evalScripts:true, onSuccess:function(request, json){Modalbox.hide()}}); return false;" class="MB_focusable"><img src="{{ pic_url }}" alt="{{ pic_url|split('/')|last }}" height="82" width="100"></a>
                 </div>
                </div>
               </div>
              </div>
            </div>
          {% endfor %}

        <div style="clear: left"></div>
        </div>
      </div>
    </fieldset>

<ul class="tv_admin_actions">
  <li>
    {% if ((total == page) or (0 == total)) %}
    <a class="MB_focusable" style="display: none" title="" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page + 1)}) }}">{% trans %}Previous{% endtrans %}</a>
    {% else %}
    <a class="tv_admin_action_previous MB_focusable" style="color: blue; font-weight: normal" title="{% trans %}New Image{% endtrans %}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page + 1)}) }}">{% trans %}Previous{% endtrans %}</a>
    {% endif %}
  </li>
  <li>
    {% if (1 == page) %}
    <a class="MB_focusable" style="display: none" title="" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page - 1)}) }}">{% trans %}Next{% endtrans %}</a>
    {% else %}
    <a class="tv_admin_action_next MB_focusable" style="color: blue; font-weight: normal" title="{% trans %}New Image{% endtrans %}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page - 1)}) }}">{% trans %}Next{% endtrans %}</a>
    {% endif %}
  </li>
  <li><input class="tv_admin_action_delete MB_focusable" onclick="Modalbox.hide(); return false;" type="button" value="{% trans %}Cancel{% endtrans %}"> </li>
</ul>

</div>
