<h1>{% trans %} Categories {% endtrans %}</h1>
<div class="index_widget row">
    <div class="index_container col-xs-12">
        <div class="col-md-4 col-sm-6">
            <div class="img_category">
                {% set title = "University" %}
                <a href="{{ path('pumukit_webtv_channel_series', {'channelNumber': 1 }) }}">
                    <img alt="{{ title | trans }} icon" src="{{ asset('bundles/pumukitlegacywebtv/images/0.jpg') }}"/>
                    <div class="cover">
                        {{ title|trans }}
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="img_category">
                {% set title = "Business" %}
                <a href="{{ path('pumukit_webtv_channel_series', {'channelNumber': 2 }) }}">
                    <img alt="{{ title | trans }} icon" src="{{ asset('bundles/pumukitlegacywebtv/images/1.jpg') }}"/>
                    <div class="cover">
                        {{ title|trans }}
                    </div>
                </a>
            </div>
            <div class="img_category two">
                {% set title = "Natural Sciences" %}
                <a href="{{ path('pumukit_webtv_channel_series', {'channelNumber': 3 }) }}">
                    <img alt="{{ title | trans }} icon" src="{{ asset('bundles/pumukitlegacywebtv/images/2.jpg') }}"/>
                    <div class="cover">
                        {{ title|trans }}
                    </div>
                </a>
            </div>
            <div class="img_category two ">
                {% set title = "Health & Medicine" %}
                <a href="{{ path('pumukit_webtv_channel_series', {'channelNumber': 6 }) }}">
                    <img alt="{{ title | trans }} icon" src="{{ asset('bundles/pumukitlegacywebtv/images/5.jpg') }}"/>
                    <div class="cover">
                        {{ title|trans }}
                    </div>
                </a>
            </div>
        </div>
        <div class="row visible-sm"></div>

        <div class="col-md-4 col-sm-6">
            <div class="img_category">
                {% set title = "Humanities" %}
                <a href="{{ path('pumukit_webtv_channel_series', {'channelNumber': 5 }) }}">
                    <img alt="{{ title | trans }} icon" src="{{ asset('bundles/pumukitlegacywebtv/images/4.jpg') }}"/>
                    <div class="cover">
                        {{ title|trans }}
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="img_category two">
                {% set title = "Law" %}
                <a href="{{ path('pumukit_webtv_channel_series', {'channelNumber': 4 }) }}">
                    <img alt="{{ title | trans }} icon" src="{{ asset('bundles/pumukitlegacywebtv/images/3.jpg') }}"/>
                    <div class="cover">
                        {{ title | trans }}
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="img_category two ">
                {% set title = "Social Matters & Education" %}
                <a href="{{ path('pumukit_webtv_channel_series', {'channelNumber': 7 }) }}">
                    <img alt="{{ title | trans }} icon" src="{{ asset('bundles/pumukitlegacywebtv/images/6.jpg') }}"/>
                    <div class="cover" style="font-size:113%;">
                        {{ title|trans }}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
