{% extends '@PumukitNewAdmin/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/pumukitstatsui/vendor/nvd3/build/nv.d3.min.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/pumukitstatsui/vendor/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/pumukitstatsui/css/statsui.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  window.pmk = {};
  window.pmk.template = "{{ asset('bundles/pumukitstatsui/templates/') }}";
  </script>
  {{ parent() }}
  {% if app.environment == "prod" %}
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/d3/d3.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/nvd3/build/nv.d3.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/moment/min/moment.min.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script> -->
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/custom-vendor/daterangepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angular/angular.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angular-route/angular-route.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angular-nvd3/dist/angular-nvd3.min.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/ng-bs-daterangepicker/dist/ng-bs-daterangepicker.min.js') }}"></script> -->
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/custom-vendor/ng-bs-daterangepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angu-fixed-header-table/angu-fixed-header-table.js') }}"></script>
  {% else %}
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/d3/d3.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/nvd3/build/nv.d3.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/moment/moment.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script> -->
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/custom-vendor/daterangepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angular/angular.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angular-route/angular-route.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angular-nvd3/dist/angular-nvd3.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/ng-bs-daterangepicker/src/ng-bs-daterangepicker.js') }}"></script> -->
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/custom-vendor/ng-bs-daterangepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/vendor/angu-fixed-header-table/angu-fixed-header-table.js') }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/js/app.js') }}"></script>
  {% if app.environment == "prod" %}
  <script type="text/javascript">
  angular.module('app').config(['$compileProvider', function ($compileProvider) {
      $compileProvider.debugInfoEnabled(false);
  }]);
  </script>
  {% endif %}
  <script type="text/javascript" src="{{ asset('bundles/pumukitstatsui/js/controller.js') }}"></script>
{% endblock %}

{% block body %}
<div ng-app="app" ng-view></div>
{% endblock %}


