<ol class="breadcrumb">
  <li>
    <a href="{{ breadcrumbs[0]["link"] }}" {% if breadcrumbs|length == 1 %}class="active"{% endif %} >
      {{ breadcrumbs[0]["title"]}}
    </a>
  </li>

  {% if breadcrumbs|length > 1 %}
    <li>
      <a href="{{ breadcrumbs[1]["link"] }}" {% if breadcrumbs|length == 2 %}class="active"{% endif %} >
        {{ breadcrumbs[1]["title"]}}
      </a>
    </li>
  {% endif %}

  {% if breadcrumbs|length > 2 %}
    <li>
      <a id="tvpumukites_breadcrumbs_series_a" href="{{ breadcrumbs[2]["link"] }}" {% if breadcrumbs|length == 3 %}class="active" {% endif %} >
        {{ breadcrumbs[2]["title"]}}
      </a>
    </li>
  {% endif %}

  {% if breadcrumbs|length > 3 %}
    <li id="tvpumukites_breadcrumbs_mmobj">
      <a id="tvpumukites_breadcrumbs_mmobj_a" href="{{ breadcrumbs[3]["link"] }}" {% if breadcrumbs|length == 4 %}class="active" {% endif %} >
        {{ breadcrumbs[3]["title"]}}
      </a>
    </li>
  {% endif %}
</ol>
