<div class="row widget slidebar">
  <ul>
    <!-- Principal -->

    <a href="{{ path('pumukit_webtv_index_index')}}" {{menu_selected=="pumukit_webtv_index_index"?'class="selected"':''}}>
      {% trans %} Home{% endtrans %}
    </a>

    <!-- Announces -->    <!--<?php echo link_to('<li >'.__('Latest Uploads').'', 'announces/index', (($value == 'announces') ? 'class="selected"' : ''))?>-->

    <a href="{{ path('pumukit_webtv_announces_latestuploads') }}" class="{{menu_selected == 'pumukit_webtv_index_latestuploads'? 'selected' : ''}}">{% trans %} Latest Uploads {% endtrans %}</a>

    <!-- Search -->

    <a href="{{ path('pumukit_webtv_search_multimediaobjects')}}" class="{{menu_selected=="pumukit_webtv_search_multimediaobjects"?'selected':''}}">{% trans %} Search {% endtrans %}</a>


    <!-- Live Channels -->
    {% for live in live_channels %}

      <a href="{{ path('pumukit_live_id', {'id': live.id})}}">
        {{ live.name | default('No title') | trans }}
      </a>

    {% endfor %}

    <!-- Mediateca -->

    <a href="{{ path('pumukit_webtv_medialibrary_index') }}" class="{{menu_selected=="pumukit_webtv_medialibrary_index"?'selected':''}}">{% trans %} Full Catalogue {% endtrans %}</a>

  </ul>
</div>
{% if menu_stats %}
<div class="row widget slidebar">
  {% render(controller('PumukitWebTVBundle:Widget:stats')) %}
</div>
{% endif %}
