<table cellspacing="0" class="tv_admin_list">
  <thead>
    <tr>
      <th width="1%">
        <input type="checkbox" onclick="window.click_checkbox_all('role', this.checked)">
      </th>
      <th colspan="5" width="7%"></th>
      <th width="1%">{% trans %}Id{% endtrans %}</th>
      <th width="1%">{% trans %}Display{% endtrans %}</th>
      <th>{% trans %}Code{% endtrans %}</th>
      <th>{% trans %}Name{% endtrans %}</th>
      <th width="1%">{% trans %}Roles{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% if roles is empty %}
      <tr>
        <td colspan="11">
         {% trans %}There are no roles with those values.{% endtrans %}
        </td>
      </tr>
    {% endif %}
    {% for role in roles %}
      <tr onmouseover="Element.addClassName(this,'tv_admin_row_over')" onmouseout="Element.removeClassName(this,'tv_admin_row_over')" class="tv_admin_row_{{ loop.index % 2 }} {{ role.id == app.session.get('admin/role/id')?'tv_admin_row_this':'' }}" >
        <td>
          <input id="{{ role.id }}" class="role_checkbox" type="checkbox">
        </td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
          <a title="{% trans %}Edit Role {% endtrans %}{{ role.id }}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitadmin_role_update', {'id': role.id}) }}"><img alt="{% trans %}edit{% endtrans %}" title="{% trans %}edit{% endtrans %}" src="/legacy/images/admin/mbuttons/edit_inline.gif"></a>
        </td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
	{% if role.getNumberPeopleInMultimediaObject() == 0 %}
          <form action="{{ path('pumukitadmin_role_delete', {'id': role.id}) }}" method="post" class="delete-action-form" novalidate="" onsubmit="return window.confirm('{% trans %}Are you sure you want to delete this role?{% endtrans %}')">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="confirmed" value="true">
              <button type="submit" class="tv_admin_row_post">
                  <img alt="{% trans %}delete{% endtrans %}" title="{% trans %}delete{% endtrans %}" src="/legacy/images/admin/mbuttons/delete_inline.gif">
              </button>
          </form>
        {% else %}
	  <a href="#" onclick="alert('{% trans %}Impossible to delete, role with{% endtrans %} {{ role.getNumberPeopleInMultimediaObject() }} {% trans %}people{% endtrans %}'); return false;">
	    <img alt="{% trans %}delete{% endtrans %}" title="delete" src="/legacy/images/admin/mbuttons/delete_inline.gif">
	  </a>
        {% endif %}
        </td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
          <form action="{{ path('pumukitadmin_role_copy', {'id': role.id}) }}" method="post" class="delete-action-form" novalidate="">
              <button type="submit" class="tv_admin_row_post">
		<img alt="{% trans %}clone{% endtrans %}" title="{% trans %}clone{% endtrans %}" src="/legacy/images/admin/mbuttons/copy_inline.gif">
	      </button>
	  </form>
        </td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
	{% if roles.getCurrentPage() != 1 or not loop.first %}
	  {% spaceless %}
	  <a href="{{ path('pumukitadmin_role_up', {'id': role.id}) }}">&#8593;</a>
	  <a href="{{ path('pumukitadmin_role_top', {'id': role.id}) }}">&#8657;</a>
	  {% endspaceless %}
	{% endif %}
        </td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
	{% if roles.getCurrentPage() == roles.getNbPages() and not loop.last %}
	  {% spaceless %}
	  <a href="{{ path('pumukitadmin_role_down', {'id': role.id}) }}">&#8595;</a>
	  <a href="{{ path('pumukitadmin_role_bottom', {'id': role.id}) }}">&#8659;</a>
	  {% endspaceless %}
	{% endif %}
        </td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
          {{ role.id }}
	</td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
          {{ role.display }}
	</td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
	  {{ role.cod }}
	</td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
	  {{ role.name }}
	</td>
        <td onclick="click_fila_no_preview('role', this, '{{ role.id }}');">
	  {{ role.getNumberPeopleInMultimediaObject() }}
	</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="11">
        <div class="float-right">
          {{ include('PumukitAdminBundle:Macros:pager_ajax.html.twig', {'name': 'role', 'page': roles.getCurrentPage, 'total': roles.getNbPages}) }}      
        </div>
        {{ roles.getNbResults }}
        {% transchoice roles.getNbResults %}
	      {0} roles|{1} role|]1,Inf] roles
	{% endtranschoice %}
	{% if app.session.get('admin/role/criteria')|length != 0%}
          <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
	{% endif %}
      </th>
    </tr>
  </tfoot>
</table>


{# TODO
<?php if (isset($msg_alert)) echo m_msg_alert($msg_alert) ?>
#}
