<div style="height:41px"></div>
<div id="tv_admin_container" style="padding: 4px 20px 20px">
<fieldset id="tv_fieldset_none" class="" style="position:relative">

{# TODO
<div style="text-align: right; padding: 5px 20px">
  <input type="checkbox" checked="checked" onchange="toggle_show_all();"/> {% trans %}Show all tags{% endtrans %}
</div>
#}


<dl style="margin: 0px">

   {% for parent in parent_tags if not parent.getDisplay() %}
     <div class="form-row">
     <dt>{{ parent.getTitle() }}:</dt>
     <dd>
       <div id="tag{{ parent.id }}_mms">

	 <div style="overflow:hidden">

	   <div style="float: left; height: 260px" class="tag" id="all_tag_{{ parent.id }}">
	     {% if (0 != parent.getChildren()|length) %}
	     <ul class="tag_tree" >
	       {% include 'PumukitAdminBundle:MultimediaObject:listtagsajax.html.twig' with {'mmId': mm.id, 'parent': 'root', 'block_tag': parent.id, 'nodes': parent.getChildren()} %}
	     </ul>
	     {% endif %}
	   </div>

	   <div style="height: 160px; float: left; padding: 120px 5px 0px">
	     <a href="#" onclick="if ( $$('.clicked_tag_left')[0] != undefined ) { $$('.clicked_tag_left')[0].ondblclick() } return false;">&#8592;</a>
	     <a href="#" onclick="if ( $$('.clicked_tag_right')[0] != undefined ) { $$('.clicked_tag_right')[0].ondblclick() } return false;">&#8594;</a>
	   </div>

	   <div style="width:400px; height: 260px; border: 1px solid #bbb; float: left;" class="tag" id="select_tag_{{ parent.id }}">
	     <ul class="tag_tree" id="select_ul_tag_{{ parent.id }}" >
	       {% for embedded_tag in mm.getTags() %}
	         <li class="element" id="select_li_{{ embedded_tag.id }}" >
		   <span class="icon">&nbsp;</span>
		   <span onclick="$$('.clicked_tag_left').invoke('removeClassName', 'clicked_tag_left'); this.addClassName('clicked_tag_left');" ondblclick="javascript:del_tree_tag({{ embedded_tag.id }}, {{ mm.id }});" >
		     {{ embedded_tag.getCod() }} - {{ embedded_tag.getTitle() }}
		   </span>
	         </li>
	       {% endfor %}
	     </ul>
	   </div>

	 </div>
       </div>
     </dd>
     </div>
     {% endfor %}

</dl>
</fieldset>
</div>
