{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/pumukitcmarlive/css/chat.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/pumukitwebtv/js/jwplayer/jwplayer.js') }}" type="text/javascript"></script>
{% endblock%}

{% block title %}{{ parent() }} - {{ live.name }}{% endblock %}

{% block body_without_bar %}
<p class="titulo_widget titulo_widget_grande">{{ live.name()|default("No title"|trans) }}</p>
<div id="body">
<div style="overflow:hidden;">
  <div style="float: right; width: 314px;">
    {% render(controller('PumukitCmarLiveBundle:Chat:show', {'channel' : live.id})) %}
  </div>
  <div id="directo-sbs" style="width:100%; margin: 0px auto;"></div>
</div>
</div>
{% include('PumukitLiveBundle:Default:info.html.twig') %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function(){
  jwplayer("directo-sbs").setup({
      {% if live.broadcasting %}
      file: "{{ live.url }}/{{ live.sourcename }}",
      {% else %}
      playlist: "{{ path('pumukit_live_playlist_id', { 'id': live.id }) }}", 
      {% endif %}
      autostart: true,
      width: "640",
      height:  "540",
      controlbar: "bottom",
      logo: {hide: true},
      analytics: {enabled: false}
  });
});

</script>
{% endblock %}
