{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('bundles/pumukitcmarlive/css/chat.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('bundles/pumukitwebtv/js/jwplayer/jwplayer.js') }}" type="text/javascript"></script>
  {% if jwplayer_key is defined %}<script type="text/javascript">jwplayer.key="{{ jwplayer_key }}";</script>{% endif %}
{% endblock%}

{% block title %}{{ parent() }} - {{ live.name }}{% endblock %}

{% block body_without_bar %}
<p class="titulo_widget titulo_widget_grande">{{ live.name()|default("No title"|trans) }}</p>
<div id="body">
  <div style="overflow:hidden;">
    {% render(controller('PumukitCmarLiveBundle:Chat:show', {'channel' : live.id})) %}
    {% set width = enable_chat ? '640' : '100%' %}
    {% include('PumukitLiveBundle:Default:liveplayer.html.twig') with {width: width, height: '540', controlbar: 'bottom'} %}
  </div>
</div>
{% include('PumukitLiveBundle:Default:info.html.twig') %}
{% endblock %}
