<div class="table-responsive well">
    <table class="table table-striped table-hover">

      <thead>
        <tr>
          <th width="10%"></th>
          <th >{% trans %}Img{% endtrans %}</th>
          <th >{% trans %}Id{% endtrans %}</th>
          <th >{% trans %}Name{% endtrans %}</th>
          <th >{% trans %}Series{% endtrans %}</th>
          <th >{% trans %}Duration{% endtrans %}</th>
          <th width="7%">{% trans %}Date{% endtrans %}</th>
        </tr>
      </thead>

      <tbody>
        {% if mediaPackages is empty %}
        <tr>
          <td colspan="9">
            {% trans %}There are no mediapackages with those values.{% endtrans %}
          </td>
        </tr>
        {% endif %}

        {% for mediaPackage in mediaPackages %}
        <tr>
          <td>
            <a title="{% trans %}play in opencast{% endtrans %}" target="black" href="{{player}}?id={{mediaPackage.id}}">{% trans %}Play{% endtrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            {% set import = 'import' %}
            {% for  multimediaObject in multimediaObjects %}
              {% if (multimediaObject.properties != null) and (multimediaObject.properties['opencast'] == mediaPackage.id) %}
                <a title="{% trans %}View on Pumukit{% endtrans %}" href="{{ url('pumukitnewadmin_mms_shortener', {id: multimediaObject.id}) }}">
                  {% trans %}Imported{% endtrans %}
                </a>
                {% set import = 'imported' %}
              {% endif %}
            {% endfor %}

            {% if import != 'imported' %}
              <span class="dropdown dropleft">
                <a href="#" id="list_mediaPackage_{{ mediaPackage.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans %}Import{% endtrans %}
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="list_mediaPackage_{{ mediaPackage.id }}">
                  <li>
                    <a href="{{ path('pumukitopencast_import', {'id': mediaPackage.id}) }}">
                      <i class="mdi-editor-format-align-left"></i>{% trans %}Import{% endtrans %}
                    </a>
                  </li>
                  <li>
                    <a href="{{ path('pumukitopencast_import', {'id': mediaPackage.id, 'invert': true}) }}">
                      <i class="mdi-editor-format-align-right"></i>{% trans %}Import inverted{% endtrans %}
                    </a>
                  </li>
                  <li>
                    <a href="#" onclick="return false;">
                      <strong>{% trans %}Cancel{% endtrans %}...</strong>
                    </a>
                  </li>
                </ul>
              </span>
            {% endif %}

          </td>
          <td>
            <img class="mini" src="{{ mediaPackage.attachments.attachment.0.url|default(asset('/bundles/pumukitnewadmin/images/none.jpg')) }}" height="23" width="30">
          </td>
          <td>
            {{ mediaPackage.id }}
          </td>
          <td>
            {% if mediaPackage.title is not empty %}{{ mediaPackage.title }}{% endif %}
          </td>
          <td>
            {{ mediaPackage.seriestitle|default("") }}
          </td>
          <td>
            {{ (((mediaPackage.duration)//1000)-3600)|date("H:i:s") }}
          </td>
          <td>
            {{ mediaPackage.start|date("d-m-Y") }}
          </td>
        </tr>
        {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          <th colspan="10">
            <div class="col-md-8">
              {{ mediaPackages.getNbResults }}
              {% transchoice mediaPackages.getNbResults %}
                  {0} users|{1} mediaPackages|]1,Inf] Media Packages
              {% endtranschoice %}
              {% if app.session.get('admin/mediapackage/criteria')|length != 0 %}
                <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
              {% endif %}
            </div>
            <div class="col-md-4 text-right" style="float:right;">
              <div class="pagerfanta">
                {{ pagerfanta(mediaPackages, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitopencast"}) }}
              </div>
            </div>
          </th>
        </tr>
      </tfoot>

    </table>
</div>
