{# <?php use_helper('Object', 'JSRegExp') ?> #}

<div class="tv_admin_filters">
  <form id="filter_series" onsubmit="" action="{{ path('pumukitadmin_series_index') }}" method="GET">
    <fieldset>
      <div id="bottom_container" >

        <h2 class="accordion_toggle">{% trans %}Buscar{% endtrans %}</h2>
        <div class="accordion_content" style="overflow: hidden; display: none;">
          <div class="form-row">
            <label for="title">{% trans %}Título{% endtrans %}:</label>
            <div class="content">
              {# TODO culture #}
              {% set criteria = app.session.get('admin/series/criteria') %}
              <input type="text" size="37" name="criteria[title.en]" id="filters_title" value="{{ criteria['title.en']|default("") }}">
            </div>
            <br />
            <label for="person">{% trans %}Persona{% endtrans %}:</label>
            <div class="content">
              {# TODO person name, comes from multimedia object in series #}
              {# TODO culture #}
              {% set criteria = app.session.get('admin/series/criteria') %}
              <input type="text" size="37" name="criteria[person]" id="filters_person" value="{{ criteria['person']|default("") }}">
            </div>
          </div>
        </div>
        <div class="accordion_content" style="overflow: hidden; display: none;">

	  <div class="form-row">
	    <label for="publicdate">{% trans %}Fecha{% endtrans %}:</label>
	    <div class="content">
	      {% trans %}Desde{% endtrans %}:&nbsp;<input type="datetime-local" size="11" name="criteria[date][from]" id="filters_date_from" value="{{ criteria['date']['from']|default("") }}">
              <br/>
	      {% trans %}Hasta{% endtrans %}:&nbsp;&nbsp;<input type="datetime-local" size="11" name="criteria[date][to]" id="filters_date_to" value="{{ criteria['date']['to']|default("") }}">
	    </div>
	  </div>

        </div>

        <h2 class="accordion_toggle">{% trans %}Otros{% endtrans %}</h2>
        <div class="accordion_content" style="overflow: hidden; display: none;">

          <div class="form-row">
 	    <label for="announce">{% trans %}Anunciado{% endtrans %}:</label>
            <div class="content">
	      <select name="criteria[announce]" id="filters_announce"><option value="diff" selected="selected">{% trans %}Indiferente{% endtrans %}</option>
		<option value="true">{% trans %}Sí{% endtrans %}</option>
		<option value="false">{% trans %}No{% endtrans %}</option>
	      </select>
            </div>
            <br />

 	    <label for="status">{% trans %}Oculto:{% endtrans %}</label>
            <div class="content">
	      <select name="criteria[status]" id="filters_status"><option value="all" selected="selected">{% trans %}Todo{% endtrans %}</option>
		<option value="false">{% trans %}No{% endtrans %}</option>
		<option value="true">{% trans %}Sí{% endtrans %}</option>
	      </select>
            </div>
          </div>

        </div>

      </div>
    </fieldset>

    <ul class="tv_admin_actions">
      <li>
	<input class="tv_admin_action_reset_filter" onclick="window.location.href='?criteria[reset]=true'" type="button" value="{% trans %}reset{% endtrans %}">
      </li>
      <li>
	<input type="submit" name="filter" value="{% trans %}filtrar{% endtrans %}" class="tv_admin_action_filter" onclick="return testDates($('filters_date_from').value, $('filters_date_to').value, /^(\d+)-(\d+)-(\d+)$/)"> {# TODO GET CULTURE DATE FORMAT #}
	{# <?php echo submit_tag('filter', 'name=filter class=tv_admin_action_filter onclick=return testDates($("filters_date_from").value, $("filters_date_to").value, '.get_js_regexp_date($sf_user->getCulture()).')') ?> #}
      </li>
    </ul>
  </form>
</div>

{% block javascripts %}
<script type="text/javascript">
  Event.observe(window, 'load', loadAccordions, false);
  //
  //      Set up all accordions
  //
  function loadAccordions() {
    var bottomAccordion = new accordion('bottom_container');
    //bottomAccordion.activate($$('#bottom_container .accordion_toggle')[0]);
  }
  function resetSearchForm() {
    $('filters_title').value = '';
    $('filters_person').value = '';
    $('filters_date_from').value = '';
    $('filters_date_to').value = '';
    $('filters_announce').value = 'diff';
    $('filters_status').value = 'all';
  }
</script>
{% endblock %}

{# FALTA VER OCULTOS Y ANUNCIADOS #}
