{# TODO pubs and its methods <?php $pubs = PubChannelPeer::doSelect(new Criteria()); ?> #}
{% set pubs = '' %}

<div>
  <div id="tv_admin_container" style="width:100%">

{% trans %}Cambiar la difusión de los objetos multimedia de la serie{% endtrans %}:
<div style="margin-bottom: 15p; font-size: 200%; color: #666666">&laquo;{{ series.getTitle() }}&raquo;</div>

<!--  'update' => 'list_serials', -->
{# TODO path pumukitadmin_series_updatepub and action #}
<form onsubmit="new Ajax.Updater('list_serials', '/editar.php/serials/update_pub', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;" action="/editar.php/serials/update_pub" method="post">

<fieldset>

  <div class="form-row">
    <label for="mm" class="required">{% trans %}MM Obj.{% endtrans %}:</label>
    <div class="content" style="max-height: 400px; overflow-y: scroll">

      <table id="table_mms_change_pub" style="width:97%; border: 1px solid #000; padding: 1%;">
        <thead>
          <tr>
            <th></th>
            <th>{% trans %}ID{% endtrans %}</th>
            <th>{% trans %}Title{% endtrans %}</th>
            {# TODO <?php if ($sf_user->getAttribute('user_type_id', 1) == 0) :?> #}
	    {% if true %}
              <th>{% trans %}Status{% endtrans %}</th>
            {% endif %}
            {% for p in pubs %}
              <th style="{{ p.getEnable() ? '' : 'color:grey' }}">{{ p.name }}</th>
	    {% endfor %}
          </tr>
        </thead>
        <tbody>

          <!-- todos -->
          <tr>
            <td></td>
            <td></td>
            <td><span style="font-weight: bold">{% trans %}ALL{% endtrans %}</span></td>
            {# TODO <?php if ($sf_user->getAttribute('user_type_id', 1) == 0) :?> #}
	    {% if true %}
            <td style="background: transparent">
              <select onchange="if(this.value.length != 0){
				  var val = this.value;
				  $('table_mms_change_pub').select('select.status_change_pub').each(function(s){s.value = val});
				}"
                      id="all_status_change_pub">
                <option selected="selected" ></option>
                <option value="{{ 'PumukitSchemaBundle:MultimediaObject:STATUS_NORMAL' }}" >{% trans %}Published{% endtrans %}</option>
                <option value="{{ 'PumukitSchemaBundle:MultimediaObject:STATUS_BLOQ' }}" >{% trans %}Blocked{% endtrans %}</option>
                <option value="{{ 'PumukitSchemaBundle:MultimediaObject:STATUS_HIDE' }}" >{% trans %}Hidden{% endtrans %}</option>
              </select>
            </td>
            {% endif %}
            {% for p in pubs %}
	      <td style="text-align:center; background: transparent">
                <input type="checkbox"
                  {% if (0 == p.getEnable()) %}
                      disabled="disabled"
                  {% else %}
                      onchange=" var val = this.checked;
                     $('table_mms_change_pub').select('input.pub_channel_change_pub_{{ p.id }}').each(function(s){s.checked = val});"
                  {% endif %}
                />
              </td>
	    {% endfor %}
          </tr>

          {% for mm in series.getMultimediaObjects() %}
          <tr {{ (0 == mm.status) ? '' : ' style="background-color: rgb(242, 242, 242)" ' }}>
            <td style="background: transparent"><input id="{{ mm.id }}" class="change_pub_mms" type="checkbox" checked="checked"> </td>
            <td style="background: transparent">{{ mm.id }} </td>
            <td style="background: transparent">{{ mm.title }} </td>
            {# TODO <?php if ($sf_user->getAttribute('user_type_id', 1) == 0) :?> #}
	    {% if true %}
            <td style="background: transparent">
              <select name="data[{{ mm.id }}][status]" id="filters_anounce_{{ mm.id }}" onchange="" class="status_change_pub">
                <option {{ ('PumukitSchemaBundle:MultimediaObject:STATUS_NORMAL' == mm.status) ? 'selected="selected"' : '' }} value="0" >{% trans %}Published{% endtrans %}</option>
                <option {{ ('PumukitSchemaBundle:MultimediaObject:STATUS_BLOQ' == mm.status) ? 'selected="selected"' : '' }} value="1" >{% trans %}Blocked{% endtrans %}</option>
                <option {{ ('PumukitSchemaBundle:MultimediaObject:STATUS_HIDE' == mm.status) ? 'selected="selected"' : '' }} value="2" >{% trans %}Hidden{% endtrans %}</option>
              </select>
            </td>
            {% endif %}

	    {% for pub in pubs %}
	       {% if not pub.getDisplay() %}
                  <td style="background: transparent; color: grey; text-align: center">
                    <input type="checkbox" disabled="disabled" />
                  </td>
                {% else %}
                  <td style="text-align:center; background: transparent">
                    <!-- SOLO UNA QUERY-->
		    {# <?php $estado = $p->hasMm($mm->getId()) ?> #}
                    {% set status = mm.containsTag(pub) %}
                      <input type="checkbox"
                           onchange=""
                           name="data[{{ mm.id }}][pub_channels][{{ p.id }}]"
                           class="pub_channel_input_checkbox pub_channel_change_pub_{{ p.id }}"
                           {{ (status) ? 'checked="checked"' : "" }}
 	                   {# TODO <?php echo (($estado === 2)||($estado === 2))?'disabled="disabled"':''?> #}
                    />
                  </td>
                {% endif %}
            {% endfor %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div style="text-align: right">{% trans %}Select{% endtrans %}:
      <a href="#" onclick="$('table_mms_change_pub').select('input.change_pub_mms').each(function(s){s.checked=false});return false">{% trans %}nothing{% endtrans %}</a>
      <a href="#" onclick="$('table_mms_change_pub').select('input.change_pub_mms').each(function(s){s.checked=true});return false">{% trans %}all{% endtrans %}</a>
    </div>
  </div>


<ul class="tv_admin_actions">
  <li><input type="submit" name="OK" value="{% trans %}OK{% endtrans %}" class="tv_admin_action_save MB_focusable" onclick="Modalbox.hide()"></li>
  <li><input class="tv_admin_action_delete MB_focusable" onclick="Modalbox.hide(); return false;" type="button" value="{% trans %}Cancel{% endtrans %}"></li>
</ul>

</fieldset>
</form>
  </div>
</div>
