{# TODO dblclick_fila #}

<table cellspacing="0" class="tv_admin_list">
  <thead>
    <tr>
      <th width="1%">
        <input type="checkbox" onclick="window.click_checkbox_all('series', this.checked)">
      </th>
      <th colspan="5" width="5%"></th>
      {# TODO <?php if(sfConfig::get('app_mail_use')):?> #}
      {% if true %}
        <th width="2%"></th>
      {% endif %}
      <th width="1%">{% trans %}Img{% endtrans %}</th>
      {% include 'PumukitAdminBundle:Series:listth.html.twig' %}
    </tr>
  </thead>

  <tbody>
  {% if series|length == 0 %}
    <tr>
      <td colspan="13">
       {% trans %}There are no series with those values.{% endtrans %}
      </td>
    </tr>
  {% endif %}
  {% for oneseries in series %}
    <tr onmouseover="Element.addClassName(this,'tv_admin_row_over')" onmouseout="Element.removeClassName(this,'tv_admin_row_over')" class="tv_admin_row_{{ loop.index % 2 }} {{ oneseries.id == app.session.get('admin/series/id')?'tv_admin_row_this':'' }}">
      <td>
        <input id="{{ oneseries.id }}" class="serial_checkbox" type="checkbox">
      </td>
      <td style="width:12px">
        {{ oneseries.announce?'<span style="color: blue">A</span>':'' }}
	{# TODO field in Series with mm_announce
        <?php echo ($series['mm_announce']?'<span style="color: grey">A</span>':'') ?>
        <?php echo (($series['mm_announce'])||($series['announce'])?'':'&nbsp;') ?>
	#}
      </td> 
      <td style="width:12px">
        {# TODO <?php echo image_tag('admin/bbuttons/mm'.$series['mm_status_max'].'_inline.gif', array('alt' => __('estado'), 'title'=>__('estado'), 'id'=>'table_series_status_' . $series['id'])) ?> #}
	<img alt="{% trans %}status{% endtrans %}" title="{% trans %}status{% endtrans %}" id="table_serials_status_{{ oneseries.id }}" src="/legacy/images/admin/bbuttons/mm11{# TODO {{ oneseries.getMmStatusMax() }} #}_inline.gif">
      </td> 
      <td  style="width:12px">
        <form action="{{ path('pumukitadmin_series_delete', {'id': oneseries.id}) }}" method="post" class="delete-action-form" novalidate="" onsubmit="return window.confirm('{% trans %}Are you sure you want to delete the series{% endtrans %} {{ oneseries.getTitle() }}? {% trans %}This series has{% endtrans %} {{ oneseries.getMultimediaObjects()|length }} {% trans %}multimedia objects{% endtrans %}.')">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="confirmed" value="true">
          <button type="submit" class="tv_admin_row_post">
            <img alt="{% trans %}delete{% endtrans %}" title="{% trans %}delete{% endtrans %}" src="/legacy/images/admin/mbuttons/delete_inline.gif">
          </button>
        </form>
      </td>
      <td style="width:12px">
	{% include 'PumukitAdminBundle:Series:updatemenu.html.twig' with {'oneseries': oneseries, 'numV': oneseries.getMultimediaObjects()|length } %}
      </td>
      {# TODO <?php if(sfConfig::get('app_mail_use')):?> #}
      {% if true %}
      <td style="width:12px">
	{% include 'PumukitAdminBundle:Series:updateannounce.html.twig' with {'oneseries': oneseries} %}
      </td>
      {% endif %}
      <td>
	<a href="{{ path('pumukitadmin_mms_index', {'id': oneseries.id }) }}">{% trans %}videos{% endtrans %}</a>
      </td>
      <td onclick="click_fila_edit_urls('series', this, '{{ path('pumukitadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitadmin_mms_index', {'id': oneseries.id }) }}')">
        {% if oneseries.getFirstUrlPic() is not empty %}
          <img src="{{ oneseries.getFirstUrlPic() }}" height="23" width="23" />
        {% else %}
          <img class="mini" src="/legacy/images/folder.png" alt="{% trans %}Folder{% endtrans %}" height="23" width="23">
        {% endif %}
      </td>
      <td onclick="click_fila_edit_urls('series', this, '{{ path('pumukitadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitadmin_mms_index', {'id': oneseries.id }) }}')">
        <span style="font-weight: bold; ">{{ oneseries.id }}</span>
      </td>
      <td onclick="click_fila_edit_urls('series', this, '{{ path('pumukitadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitadmin_mms_index', {'id': oneseries.id }) }}')">
	{{ oneseries.getTitle() }}
      </td>
      <td onclick="click_fila_edit_urls('series', this, '{{ path('pumukitadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitadmin_mms_index', {'id': oneseries.id }) }}')">
	{{ oneseries.getPublicDate()|date('Y-m-d') }}
      </td>
      <td onclick="click_fila_edit_urls('series', this, '{{ path('pumukitadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitadmin_mms_index', {'id': oneseries.id }) }}')">
        {{ oneseries.getMultimediaObjects()|length }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="13">
        <div class="float-right">
          {{ include('PumukitAdminBundle:Macros:pager_ajax.html.twig', {'name': 'series', 'page': series.getCurrentPage, 'total':series.getNbPages}) }}
        </div>
        {{ series.getNbResults }}
        {% transchoice series.getNbResults %}
	      {0} series|{1} series|]1,Inf] series
	{% endtranschoice %}
	{% if app.session.get('admin/series/criteria')|length != 0%}
          <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
	{% endif %}
      </th>
    </tr>
  </tfoot>
</table>

{# TODO
<?php if (isset($msg_alert)) echo m_msg_alert($msg_alert) ?>
#}
