{% if 'id' == app.session.get('admin/series/sort') %}
  <th width="1%">
    {# ($sf_user->getAttribute('type', 'asc', 'tv_admin/serial') == 'asc' #}
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'id': app.session.get('admin/series/type')=='asc'?'desc':'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Id{% endtrans %}&nbsp;{{ app.session.get('admin/series/type')=='asc'?'&#x25BE;':'&#x25B4;' }}</a>
  </th>
{% else %}
  <th width="1%">
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'id': 'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Id{% endtrans %}</a>
  </th>
{% endif %}

{% if 'title' == app.session.get('admin/series/sort') %}
  <th>
    {# ($sf_user->getAttribute('type', 'asc', 'tv_admin/serial') == 'asc' #}
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'title': app.session.get('admin/series/type')=='asc'?'desc':'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Title{% endtrans %}&nbsp;{{ app.session.get('admin/series/type')=='asc'?'&#x25BE;':'&#x25B4;' }}</a>
  </th>
{% else %}
  <th>
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'title': 'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Tittle{% endtrans %}</a>
  </th>
{% endif %}

{% if 'date' == app.session.get('admin/series/sort') %}
  <th width="1%">
    {# ($sf_user->getAttribute('type', 'asc', 'tv_admin/serial') == 'asc' #}
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'public_date': app.session.get('admin/series/type')=='asc'?'desc':'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Date{% endtrans %}&nbsp;{{ app.session.get('admin/series/type')=='asc'?'&#x25BE;':'&#x25B4;' }}</a>
  </th>
{% else %}
  <th width="1%">
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'public_date': 'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Date{% endtrans %}</a>
  </th>
{% endif %}

{% if 'mmobj' == app.session.get('admin/series/sort') %}
  <th width="1%">
    {# ($sf_user->getAttribute('type', 'asc', 'tv_admin/serial') == 'asc' #}
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'multimedia_objects': app.session.get('admin/series/type')=='asc'?'desc':'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Mm.Obj.{% endtrans %}&nbsp;{{ app.session.get('admin/series/type')=='asc'?'&#x25BE;':'&#x25B4;' }}</a>
  </th>  
{% else %}
  <th width="1%">
    <a href="#" onclick="new Ajax.Updater('list_series', '{{ path('pumukitadmin_series_list', {'sorting': {'multimedia_objects': 'asc'}}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Mm.Obj.{% endtrans %}</a>
  </th>
{% endif %}
