<span class="trans_button" onclick="$('list_pics_{{ oneseries.id }}').toggle()">
<img alt="{% trans %}options{% endtrans %}" title="{% trans %}options{% endtrans %}" src="/legacy/images/admin/mbuttons/edit_inline.gif">
<div class="trans_menu" id="list_pics_{{ oneseries.id }}" style="display:none">

  <div class="mas_info" style="">
    <div class="trans_button_up"><img src="/legacy/images/admin/mbuttons/edit_inline.gif" alt="{% trans %}options{% endtrans %}" /></div>
    <div class="trans_button_info">{% trans %}Options{% endtrans %}:</div>
  </div>

  <div class="list_options">
    <ul style="">

      <li class="normal">
        <form action="{{ path('pumukitadmin_series_delete', {'id': oneseries.id}) }}" method="post" class="delete-action-form" novalidate="" onsubmit="return window.confirm('{% trans %}Are you sure you want to delete the series{% endtrans %} '{{ oneseries.getTitle()|trans }}'? {% trans %}This series has{% endtrans %} {{ oneseries.getMultimediaObjects()|length }} {% trans %}multimedia objects{% endtrans %}.')">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="confirmed" value="true">
          <button type="submit" class="tv_admin_row_post">
            <img alt="{% trans %}delete{% endtrans %}" title="{% trans %}Delete the series{% endtrans %}" src="/legacy/images/admin/mbuttons/delete_inline.gif">{% trans %}Delete the series{% endtrans %}
          </button>
        </form>
      </li>
      <li class="normal">
        <form action="{{ path('pumukitadmin_series_copy', {'id': oneseries.id}) }}" method="post" class="delete-action-form" novalidate="">
          <button type="submit" class="tv_admin_row_post">
	    <img alt="{% trans %}clone{% endtrans %}" title="{% trans %}Clone the series{% endtrans %}" src="/legacy/images/admin/mbuttons/copy_inline.gif">{% trans %}Clone the series{% endtrans %}
	  </button>
	</form>
      </li>

      <li class="normal">
        {# TODO PATH SERIES CHANGEPUB #}
	<a title="{% trans %}Modify broadcast status of multimedia objects{% endtrans %}" onclick="Modalbox.show(this.href, {title:this.title, width:925}); return false;" href="/editar.php/serials/changePub/serial/{{ oneseries.id }}"><img alt="??" title="{% trans %}status{% endtrans %}" id="table_serials_status_{{ oneseries.id }}" src="/legacy/images/admin/bbuttons/{# TODO {{ oneseries.getStatusMin() }}{{ oneseries.getStatusMax() }} #}11_inline.gif"> {% trans %}Modify broadcast status of multimedia objects{% endtrans %}</a>
      </li>

      <li class="normal">
	<a href="#" onclick="new Ajax.Updater('edit_series', '{{ path('pumukitadmin_mmtemplate_edit', {'id': oneseries.id}) }}', {asynchronous:true, evalScripts:true, method:'GET'}); return false;"><img alt="{% trans %}edit{% endtrans %}" title="{% trans %}edit{% endtrans %}" class="miniTag" src="/legacy/images/admin/mbuttons/edit_template_inline.gif"> {% trans %}Modify default values from multimedia objects{% endtrans %}</a>
      </li>

      <li class="normal">
	{# TODO PATH SERIES INFO #}
	<a title="{% trans %}Series information{% endtrans %}" onclick="Modalbox.show(this.href, {title:this.title, width:925}); return false;" href="/editar.php/serials/info/id/{{ oneseries.id }}"><img alt="{% trans %}info{% endtrans %}" title="{% trans %}info{% endtrans %}" src="/legacy/images/admin/mbuttons/info_inline.gif"> {% trans %}Series information{% endtrans %}</a>
      </li>
      <li class="cancel"><a href="#" onclick="return false;">{% trans %}Cancel{% endtrans %}...</a></li>

    </ul>


  </div>
</div>
</span>
