<ul class="nav navbar-nav navbar-custom-links">
    <li>
        <a href="{{ path('pumukit_webtv_index_index') }}">
            {% trans %}Home{% endtrans %} :)
        </a>
    </li>
    <li>
        <a href="{{ path('pumukit_webtv_announces_latestuploads') }}" title="{% trans %}Going to Latest Uploads{% endtrans %}">
            {% trans %}Latest Uploads{% endtrans %} ;)
        </a>
    </li>
    <li>
        <a href="{{ path('pumukit_webtv_medialibrary_index') }}" title="{% trans %}Going to full catalogue{% endtrans %}">
            {% trans %}Full Catalogue{% endtrans %} :o
        </a>
    </li>
    <li>
        <a href="{{ path('pumukit_webtv_search_multimediaobjects') }}" title="{% trans %}Going to search{% endtrans %}">
            {% trans %}Search{% endtrans %} :(
        </a>
    </li>
    <li>
        <a href="{{ path('pumukit_webtv_events') }}" title="{% trans %}Going to Events{% endtrans %}">
            {% trans %}Events{% endtrans %} :-)
        </a>
    </li>
</ul>
