{% extends 'PumukitCRUDBundle::base.html.twig' %}


{% block body -%}

<div class="container-fluid">
    <h1>Person list</h1>

    
    <table class="table span10  records_list table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="tr-person">
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.name }}</td>
                <td>
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('person_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('person_edit_new', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="list-unstyled list-inline">
        <li>
            <a href="{{ path('person_new') }}">
              <button>Create a new entry</button>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
