{% extends 'PumukitCRUDBundle::base.html.twig' %}


{% block body -%}


<div class="container-fluid">
    <div class="page-header clearfix">
        <h1 class="pull-left">Person list </h1>
        <ul class="pager list-inline pull-right">
            <li>
                <a href="{{ path('person_new') }}"><span class="glyphicon glyphicon-plus">&nbsp;New</span></a>
            </li>
        </ul>
        
    </div>
    
    <table class="table span10 table-hover records_list table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for entity in pagination %}
            <tr class="tr-person">
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.login }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.name }}</td>
                <td class="col-lg-1">
                <ul class="list-inline">
                    <li>
                        <a href="{{ path('person_show', { 'id': entity.id }) }}"><button class="btn navbar-btn btn-info glyphicon glyphicon-search"></button></a>
                    </li>
                    <li>
                        <a href="{{ path('person_edit_new', { 'id': entity.id }) }}"><button class="btn navbar-btn glyphicon glyphicon-edit"></button></a>
                    </li>
                    <li>
                        
                        <form class="form-inline" action="{{ path('person_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget( delete_forms[ entity.id ] ) }}
                            <button type="submit" class=" btn navbar-btn text-danger glyphicon glyphicon-trash"></button>
                        </form> 
                        
                        
                    </li>
                </ul>
                </td>
            </tr>
        {% else %}
            <tr class="tr-person">
                <td class="col-lg-1" colspan="5">
                  No person in the system.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
      {{ knp_pagination_render(pagination) }}
    </div>
              
              
            

    </ul>
</div>
{% endblock %}
