{% extends 'PumukitCRUDBundle::base.html.twig' %}

{% block body -%}


<div class="container-fluid">
    <div class="page-header">
        <h1>Person creation</h1>
    </div>
    <form   class="form-horizontal" action="{{ path('person_create') }}" method="post" {{ form_enctype(form) }}>

        {# form_widget(form) #}
        {# form_start(form) #}

        {{ form_errors(form) }}

        {{ form_widget(form) }}


            <button class="btn btn-primary navbar-btn pull-right" type="submit">Create</button>
        {{ form_end(form) }}

        <ul class="pager">
            <li class="pull-left">
                <a href="{{ path('person') }}">&larr; Back to the list</a>
            </li>
        </ul>
</div>
{% endblock %}
