{% extends 'PumukitCRUDBundle::base.html.twig' %}

{% block body -%}
<div class="container-fluid">
    <div class="page-header">
        <h1>Person</h1>
    </div>
    
    
    <div class="row">
        <div class="col-lg-1 text-right"><label>Id</label></div>
        <div class="col-lg-11">{{ entity.id }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Login</label></div>
        <div class="col-lg-11">{{ entity.login }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Password</label></div>
        <div class="col-lg-11">{{ entity.password }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Email</label></div>
        <div class="col-lg-11">{{ entity.email }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Name</label></div>
        <div class="col-lg-11">{{ entity.name }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Web</label></div>
        <div class="col-lg-11">{{ entity.web }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Phone</label></div>
        <div class="col-lg-11">{{ entity.phone }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Honorific</label></div>
        <div class="col-lg-11">{{ entity.honorific }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Firm</label></div>
        <div class="col-lg-11">{{ entity.firm }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Post</label></div>
        <div class="col-lg-11">{{ entity.post }}</div>
    </div>
    <div class="row">
        <div class="col-lg-1 text-right"><label>Bio</label></div>
        <div class="col-lg-11">{{ entity.bio }}</div>
    </div>
   
    
        <ul class="pager">
            <li class="pull-left">
                <a href="{{ path('person') }}">&larr; Back to the list</a>
            </li>

            <form action="{{ path('person_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn navbar-btn btn-danger pull-right air-right">Delete</button>
            </form>
        </ul>    

   
       


       
        
    
    
</ul>
    
</div>
{% endblock %}
