{% for tag in childrens %}
  {% set has_children = tag.children|length %}

  <tr onmouseover="this.addClassName('tv_admin_row_over')" onmouseout="this.removeClassName('tv_admin_row_over')" 
    class="tv_admin_row_0 c_{{ tag.path|replace({ ("|" ~ tag.cod): '', '|': ' c_'}) }} d_{{ tag.parent.cod|default("")}}" id="row_cat_{{ tag.id }}" data-level="{{ tag.level}}">
      <td>
        <input id="{{ tag.id }}" class="category_checkbox" type="checkbox">
      </td>
      <td>
          <a href="#" title="{% trans %}borrar{% endtrans %}" onclick="return cat_delete('{{ tag.id }}', '{{ tag.parent.id }}', '{{ tag.parent.cod }}')">
               <img alt="{% trans %}borrar{% endtrans %}"  src="/legacy/images/admin/mbuttons/delete_inline.gif">
          </a>
      </td>
      <td>
          <a title="{% trans %}Editar categoria {% endtrans %} {{tag.cod}}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" 
             href="{{ path('pumukitadmin_tag_update', {'id': tag.id}) }}">
              <img alt="{% trans %}editar{% endtrans %}" src="/legacy/images/admin/mbuttons/edit_inline.gif">
          </a>
      </td>
	  <td>
        <a title="{% trans %}Nueva categoria hijo para{% endtrans %} {{tag.cod}}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" 
           href="{{ path('pumukitadmin_tag_create', {'id': tag.id}) }}">
	        <img alt="{% trans %}nuevo{% endtrans %}" src="/legacy/images/admin/mbuttons/copy_inline.gif">
	    </a>
	  </td>
	  <td>
	    {{ tag.id }}
	  </td>
      <td>
          <ul class="category_tree" >
              {% for i in  1..tag.level %}
                  <ul class="category_tree" ><li class="element" >
              {% endfor%}
              <li class="{{ has_children?'collapsed noload':'element' }}" >
              <span class="icon" onclick="javascript:toggle_section_cat('{{ tag.id }}', this, {{ tag.level }}, '{{ tag.cod }}')">&nbsp;</span> 
              <span id="info_cat_{{ tag.id }}">{{ tag.cod}} - {{ tag.title}} </span>
              </li>
              {% for i in  1..tag.level %}
                  </li></ul>
              {% endfor%}
          </ul>
      </td>
      <td>
          {# <?php echo $c->getNumMm() ?> #} TODO
      </td>
  </tr>
{% endfor %}



{#
<?php foreach($categories as $c): $children = $c->getChildren(); $has_children = count($children); ?>
    <tr onmouseover="this.addClassName('tv_admin_row_over')" onmouseout="this.removeClassName('tv_admin_row_over')" 
        class="tv_admin_row_0 <?php echo $class_name?>" id="row_cat_{{ tag.id }}" data-level="{{ tag.level }}">
      <td>
        <input id="{{ tag.id }}" class="category_checkbox" type="checkbox">
      </td>
      <td>
      <?php include_partial('delete', array('has_children' => $has_children, 'c' => $c)) ?>
      </td>
      <td>
      <?php echo m_link_to(image_tag('admin/mbuttons/edit_inline.gif', 'alt=editar title=editar'), 
                           'categories/edit?id=' . $c->getId(), 
                           array('title' => 'Editar categoria ' . $c->getId()), 
                           array('width' => '800')) ?>
      </td>
<td>
      <?php echo m_link_to(image_tag('admin/mbuttons/copy_inline.gif', 'alt=nuevo title=Nueva categoría hijo'), 
                           'categories/create?parent_id=' . $c->getId(), 
                           array('title' => 'Nueva categoria hijo para ' . $c->getId()), 
                           array('width' => '800')) ?>
      </td>
<!--
<td>
    <?php echo m_link_to(image_tag('admin/mbuttons/relation_inline.gif', 'alt=relations title=relations'), 
                         'categories/showrelations?id=' . $c->getId(), 
                         array('title' => 'Editar relaciones de la categoria ' . $c->getId()), 
                         array('width' => '800')) ?>
      </td>
-->
<td>
      <?php echo $c->getId() ?> 
      </td>
<td>

<ul class="category_tree" >
   <?php echo str_repeat('<ul class="category_tree" ><li class="element" >', $level -1)?>
   <ul class="category_tree" ><li class="<?php echo ($has_children)?'collapsed noload':'element'?>" >
    <span class="icon" onclick="javascript:toggle_section_cat(<?php echo $c->getId() ?>, this, {{ tag.level }})">&nbsp;</span> 
    <span id="info_cat_{{ tag.id }}"> <?php echo $c->getCodName() ?> </span>
   <?php echo str_repeat('</li></ul>', $level)?>
</ul>


    </td>
    <td>
      <?php echo $c->getNumMm() ?>
      </td>
    </tr>
  <?php endforeach?>

#}
