{% for tag in children %}
  {% set has_children = tag.children|length %}

  <tr onmouseover="this.addClassName('tv_admin_row_over')" onmouseout="this.removeClassName('tv_admin_row_over')"
    class="tv_admin_row_0 c_{{ tag.path|replace({ ("|" ~ tag.cod ~ "|"): '', '|': ' c_'}) }} d_{{ tag.parent.cod|default("")}}" id="row_tag_{{ tag.id }}" data-level="{{ tag.level}}">
      <td>
        <input id="{{ tag.id }}" class="tag_checkbox" type="checkbox">
      </td>
      <td>
          <a href="#" title="{% trans %}delete{% endtrans %}" onclick="return tag_delete('{{ tag.id }}', '{{ tag.cod }}', '{{ tag.parent.id }}')">
               <img alt="{% trans %}delete{% endtrans %}"  src="/legacy/images/admin/mbuttons/delete_inline.gif">
          </a>
      </td>
      <td>
          <a title="{% trans %}Edit tag {% endtrans %} {{tag.cod}}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;"
             href="{{ path('pumukitadmin_tag_update', {'id': tag.id}) }}">
              <img alt="{% trans %}edit{% endtrans %}" src="/legacy/images/admin/mbuttons/edit_inline.gif">
          </a>
      </td>
	  <td>
        <a title="{% trans %}Create child tag for{% endtrans %} {{tag.cod}}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;"
           href="{{ path('pumukitadmin_tag_create', {'parent': tag.id}) }}">
	        <img alt="{% trans %}create{% endtrans %}" src="/legacy/images/admin/mbuttons/copy_inline.gif">
	    </a>
	  </td>
	  <td>
	    {{ tag.id }}
	  </td>
      <td>
          <ul class="tag_tree" >
              {% for i in  2..tag.level %}
                  <ul class="tag_tree" ><li class="element" >
              {% endfor%}
              <li class="{{ has_children?'collapsed noload':'element' }}" >
              <span class="icon" onclick="javascript:toggle_section_tag('{{ tag.id }}', this, {{ tag.level }}, '{{ tag.cod }}')">&nbsp;</span>
              <span id="info_tag_{{ tag.id }}">{{ tag.cod}} - {{ tag.title}} </span>
              </li>
              {% for i in  2..tag.level %}
                  </li></ul>
              {% endfor%}
          </ul>
      </td>
      <td>
          {{ tag.getNumberMultimediaObjects() }}
      </td>
  </tr>
{% endfor %}
