{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}

    <h3 class="cab_body_div">
        <ul class="breadcrumb" style="margin-bottom: 5px;">
            <li class="active">{% trans %}Templates{% endtrans %}</li>
        </ul>
    </h3>

    <div class="row">
        <div class="">
            <div class="col-md-2">
                <div class="well">
                    <ul class="nav nav-pills nav-stacked">
                        {% for template in templates|sort %}
                            <li {% if active == template %}class="active"{% endif %}>
                                <a href="{{ path('pumukit_template_crud_index', {'active': template.name}) }}">{{ template.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="text-right">
                        <a href="{{ path('pumukit_template_crud_create') }}" class="btn btn-raised btn-xs">{% trans %}New{% endtrans %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="well">
                    {% if active %}
                        <h2>{{ active.name }}</h2>
                        <div class="row">
                            <div class="background_id col-lg-6">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <legend>{% trans %}Info{% endtrans %}</legend>
                                        {% set template_url = url('pumukit_webtv_index_index') ~ active.name %}
                                        <div class="form-group">
                                            <label for="inputROUrl" class="col-xs-2 control-label hidden-naked">Url:</label>
                                            <div class="col-xs-10 input-group hidden-naked">
                                                <input type="text" class="form-control" id="inputROUrl" readonly onclick="select()" value="{{ template_url }}">
                                                {% if not active.hide %}
                                                    <span class="input-group-addon"><a href="{{ template_url }}" target="_blank"><i class="mdi-action-exit-to-app"></i></a></span>
                                                {% else %}
                                                    <span class="input-group-addon"><i class="mdi-action-report-problem" title="{% trans %}Warning: This link will give a 404 error while this template is hide.{% endtrans %}"></i></span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="well">
                            {% form_theme edit_form 'PumukitNewAdminBundle:Themes:fields.html.twig' %}
                            {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}
                            <div class="text-right">
                                <a class="btn btn-danger btn-raised" href="{{ path('pumukit_template_crud_delete', {'id': active.id}) }}" onclick="confirm('{% trans %}Are you sure?{% endtrans %}')">{% trans %}Delete{% endtrans %}</a>
                                <button type="button" class="btn btn-default btn-raised">{% trans %}Reset{% endtrans %}</button>
                                <button type="submit" class="btn btn-primary btn-raised">{% trans %}Save changes{% endtrans %}</button>
                            </div>

                            {{ form_end(edit_form) }}
                        </div>
                    {% else %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>{% trans %}No templates{% endtrans %}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
