{% extends 'PumukitAdminBundle::layout.html.twig' %}

{% block body %}

<h3 class="cab_body_div">
 <button onclick="location.href='{{ path('pumukitadmin_series_index') }}'" class="btn_atras_mms" type="button">
    <span class="span_atras_mms">
      {% trans %}Back to the series{% endtrans %}
    </span>
  </button>

  <img src="/legacy/images/admin/cab/serial_ico.png"/> {% trans %}Multimedia Objects{% endtrans %}
  <span style="font-size:72%">({{ series.id }}-{{ series.getTitle() }})</span>
  <input type="hidden" name="series_id" id="mms_series_id" value="{{ series.id }}" />
</h3>


<div id="tv_admin_container">
  <div id="tv_admin_bar">
    <div id="preview_mm" style="padding:5px; border: solid 1px #DDD; background: #8eb0bc url(/legacy/images/admin/cab/cab.gif) repeat-x scroll 0% 0%; margin-bottom: 10px">
      {% if(app.session.has('admin/mms/id')) %}
        {{ render_hinclude(url('pumukitadmin_mms_show', {'id': app.session.get('admin/mms/id')})) }}
      {% endif %}
    </div>
  </div>



  <div id="tv_admin_content" >
    <div id="list_mms" name="list_mms" act="/mms/list" style="min-width: 690px;">
      {% include 'PumukitAdminBundle:MultimediaObject:list.html.twig' %}
    </div>

    <div style="float:right; width:50%">
      <ul class="tv_admin_actions">
        <!-- Falta -->
        <li>
	 {# TODO mmwizard and path with series id #}
	 <a class="tv_admin_action_next" href="#" onclick="Modalbox.show('/editar.php/mmwizard/index/mod/mms/serial_id/782',{width: 800, title:'{% trans %}STEP II: MM.OBJ.{% endtrans %}'}); return false;">Wizard</a>
        </li>
        <li>
	  {# TODO Path create with page number #}
	  <a title="{% trans %}Create new multimedia object{% endtrans %}" class="tv_admin_action_create" href="#" onclick="new Ajax.Updater('list_mms', '{{ path('pumukitadmin_mms_create', {'id': series.id}) }}', {asynchronous:true, evalScripts:true}); return false;">{% trans %}Create{% endtrans %}</a>
        </li>
      </ul>
    </div>

    <select id="options_mms" style="margin: 10px 0px; width: 33%; float: left" title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('mm', $('options_mms'))">
      <option value="default" selected="selected">{% trans %}Select an action{% endtrans %}...</option>
      <option disabled="">---</option>

      <option value="delete_sel">{% trans %}Delete selected{% endtrans %}</option>
      <option value="inv_announce_sel">{% trans %}Announce/Deannounce selected{% endtrans %}</option>
      <option disabled="">---</option>
      <option disabled=""value="set_status_0_sel">{% trans %}Block selected{% endtrans %}</option> 
      <option disabled=""value="set_status_1_sel">{% trans %}Hide selected{% endtrans %}</option> 
      <option disabled=""value="set_status_2_sel">{% trans %}Publish selected{% endtrans %}</option> 
      <option disabled=""value="set_status_3_sel">{% trans %}Fully publish selected{% endtrans %}</option>
      <option disabled="">---</option>
      <option value="set_order_pub_des">{% trans %}Ordenar objetos multimedia por fecha de publicación de forma descendente{% endtrans %}</option> 
      <option value="set_order_pub_asc">{% trans %}Ordenar objetos multimedia por fecha de publicación de forma ascendente{% endtrans %}</option> 
      <option value="set_order_rec_des">{% trans %}Ordenar objetos multimedia por fecha de grabación de forma descendente{% endtrans %}</option> 
      <option value="set_order_rec_asc">{% trans %}Ordenar objetos multimedia por fecha de grabación de forma ascendente{% endtrans %}</option> 
      <option disabled="">---</option>
      <option value="cut_mm">{% trans %}Cortar objetos multimedia{% endtrans %}</option> 
      {# TODO <?php if($sf_user->hasAttribute('cut_mms')): ?> #}
      {% if true %}
        <option value="paste_mm">
          {% trans %}Pegar objetos multimedia{% endtrans %} ({# TODO <?php echo implode(',', $sf_user->getAttribute('cut_mms')->getRawValue())?> #})
        </option>
      {% endif %}
      <option disabled="">---</option>
      <option value="serial_preview">{% trans %}Preview show of the series{% endtrans %}</option> 
      <!-- <option value="serial_master">{% trans %}Crear obj. mm. con brutos de cámara{% endtrans %}</option>  -->
    </select>
    
  </div>
  <div style="clear:both"></div>
</div>


</div>

<!-- div editar -->
<div id="edit_mm" class="tv_admin_edit" >  
  {% if(app.session.has('admin/series/id') and app.session.has('admin/mms/id')) %}
    {{ render(url('pumukitadmin_mms_edit', {'id': app.session.get('admin/mms/id')})) }}
  {% endif %}



<script type="text/javascript">
var update_file;
window.onload = function(){
  Shadowbox.init({
    skipSetup:  true,
    onOpen:     function(element) {
                  if (typeof update_file == 'object') update_file.stop();
                },
    onClose:    function(element) {
                  if (typeof update_file == 'object') update_file.start();
                }
  });
};
window.update_preview = function(id) {
  new Ajax.Updater('preview_mm', '" . url_for("mms/preview") . "/id/' + id, {asynchronous:true, evalScripts:true});
}

window.submit_delete_link = function(id, mmId)
{
    if (window.confirm('{% trans %}Are you sure you want to delete this link?{% endtrans %}')){
        var url = "{{ path('pumukitadmin_link_delete', {'id': 'PLACEHOLDER_ID', 'mmId': 'PLACEHOLDER_MMID'}) }}";
        url = url.replace('PLACEHOLDER_ID', id);
        url = url.replace('PLACEHOLDER_MMID', mmId);
        new Ajax.Updater('links_mms', url, {asynchronous:true, evalScripts:true, method:'POST', parameters: {'_method': 'DELETE'}});
    }
}

window.delete_mmspic = function(id) {
    if (window.confirm('{% trans %}Are you sure you want to delete this picture?{% endtrans %}')) {
        var url = '{{ path('pumukitadmin_mmspic_delete', {'id': '___id___'}) }}';
        new Ajax.Updater('pic_mms', url.replace('___id___', id), {method: 'POST', parameters: {'_method': 'DELETE'}, asynchronous:true, evalScripts:true});
    }
}

window.up_mmspic = function(id) {
    var url = '{{ path('pumukitadmin_mmspic_up', {'id': '___id___'}) }}';
    new Ajax.Updater('pic_mms', url.replace('___id___', id), {method: 'POST', asynchronous:true, evalScripts:true});
}

window.down_mmspic = function(id) {
    var url = '{{ path('pumukitadmin_mmspic_down', {'id': '___id___'}) }}';
    new Ajax.Updater('pic_mms', url.replace('___id___', id), {method: 'POST', asynchronous:true, evalScripts:true});
}

window.submit_delete_material = function(id, mmId)
{
    if (window.confirm('{% trans %}Are you sure you want to delete this material?{% endtrans %}')){
        var url = "{{ path('pumukitadmin_material_delete', {'id': 'PLACEHOLDER_ID', 'mmId': 'PLACEHOLDER_MMID'}) }}";
        url = url.replace('PLACEHOLDER_ID', id);
        url = url.replace('PLACEHOLDER_MMID', mmId);
        new Ajax.Updater('materials_mms', url, {asynchronous:true, evalScripts:true, method:'POST', parameters: {'_method': 'DELETE'}});
    }
}

window.submit_delete_track = function(id, mmId)
{
    if (window.confirm('{% trans %}Are you sure you want to delete this track?{% endtrans %}')){
        var url = "{{ path('pumukitadmin_track_delete', {'id': 'PLACEHOLDER_ID', 'mmId': 'PLACEHOLDER_MMID'}) }}";
        url = url.replace('PLACEHOLDER_ID', id);
        url = url.replace('PLACEHOLDER_MMID', mmId);
        new Ajax.Updater('tracks_mms', url, {asynchronous:true, evalScripts:true, method:'POST', parameters: {'_method': 'DELETE'}});
    }
}

window.submit_delete_person = function(id, roleId, mmId, hName, template)
{
    if (window.confirm("{% trans %}Are you sure you want to delete the relation of{% endtrans %} "+hName+"?")){
        if ('_template' === template){
            var tag_id = roleId+'_person_mms'+template;
        }else{
            var tag_id = roleId+'_person_mms';
        }
        var url = "{{ path('pumukitadmin_person_delete_relation', {'id': '__id__', 'roleId': '__roleId__','mmId': '__mmId__'}) }}";
        url = url.replace('__id__', id);
        url = url.replace('__roleId__', roleId);
        url = url.replace('__mmId__', mmId);
        new Ajax.Updater(tag_id, url, {asynchronous:true, evalScripts:true, method:'POST', parameters: {'_method': 'DELETE'}});
    }
}

</script>

{% endblock %}
