{% for pub in pubs %}
    {% if not pub.getDisplay() %}
      <div style="color: grey">
        <input type="checkbox" disabled="disabled" />  {{ pub.getTitle() }}
      </div>
    {% else %}
      <div>
        <!-- SOLO UNA QUERY-->
        {# <?php $estado = $p->hasMm($mm->getId()) ?> #}
	{% set status = mm.containsTag(pub) %}
          <input type="checkbox"
               onchange="$('remember_save_mm_pub').show()"
               name="pub_{{ pub_type }}[{{ pub.cod }}]"
	       id="pub_{{ pub_type }}[{{ pub.cod }}]"
               class="pub_channel_input_checkbox"
	       {{ (status)?'checked="checked"':"" }}
               {# TODO <?php echo(($estado === 2) || ($estado === 2)) ? 'disabled="disabled"' : ''?> #}
        />
        {{ pub.getTitle() }}
        {# TODO <?php if ($estado === 2):?>
          <span style="font-size: 80%; font-style:italic;"><?php echo __('(Se  estan codificando los archivos necesarios)')?></span>
        <?php elseif ($estado === 5):?>
          <span style="font-size: 80%; font-style:italic;"><?php echo __('(Esperando máster para codificar los archivos necesarios)')?></span>
        <?php endif ?> #}
      </div>
    {% endif %}
{% endfor %}
