{% for node in nodes %}
  {% set children_length = node.getChildren()|length %}
  <li draggable="false" id="tag_li_children_{{ node.id }}" class="notload
                                                           tag_li_parent_{{ parent }}
                                                           {{ (children_length)?'collapsed':'element' }}
                                                           {{ node.getMetatag()?'metatag' }}
                                                           {{ (node.getNumberMultimediaObjects()==0)?'nomm' }}">
    <span class="icon" onclick="javascript:toggle_tree_tag(this, '{{ node.id }}', '{{ mmId }}', '{{ block_tag }}')">&nbsp;</span>
    <span {% if not node.getMetatag() %} onclick="$$('.clicked_tag_right').invoke('removeClassName', 'clicked_tag_right'); this.addClassName('clicked_tag_right');" ondblclick="javascript:add_tree_tag('{{ node.id }}', '{{ mmId }}', '{{ block_tag }}');" {% endif %} >
      {{ node.getCod() }} - {{ node.getTitle() }}
      {% if not node.getMetatag() %}(<span id="info_num_mm_{{ node.id }}">{{ node.getNumberMultimediaObjects() }}</span>){% endif %}
    </span>
    {% if (0 != children_length) %}
      <ul id="tag_ul_children_{{ node.id }}" class="tag_tree"></ul>
    {% endif %}
  </li>
{% endfor %}
