<div class="table-responsive well">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="1%">
            <div class="checkbox">
              <label>
                <input type="checkbox" onclick="window.click_checkbox_all('role', this.checked)">
              </label>
            </div>
          </th>
          <th colspan="5" width="7%"></th>
          <th width="1%">{% trans %}Id{% endtrans %}</th>
          <th width="1%">{% trans %}Display{% endtrans %}</th>
          <th>{% trans %}Code{% endtrans %}</th>
          <th>{% trans %}Name{% endtrans %}</th>
          <th width="1%">{% trans %}Roles{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% if roles is empty %}
        <tr>
          <td colspan="11">
            {% trans %}There are no roles with those values.{% endtrans %}
          </td>
        </tr>
        {% endif %}
        {% for role in roles %}
        <tr style="cursor: pointer">        
          <td>
            <div class="checkbox">
              <label>
                <input id="{{ role.id }}" class="role_checkbox" type="checkbox" size="1">
              </label>
            </div> 
          </td>
          <td>
            <a title="{% trans %}Edit Role{% endtrans %} {{ role.cod }}" href="{{ path('pumukitnewadmin_role_update', {'id': role.id}) }}" data-toggle="modal" data-target="#myModal">
              <i class="mdi-editor-mode-edit"></i>
            </a>
          <td>
            <a href="#" onclick="window.submit_delete_role('{{ role.id }}', '{{ role.getNumberPeopleInMultimediaObject() }}'); return false;">
              <i class="mdi-content-clear"></i>            
            </a>
          </td>
          <td>
            <form action="{{ path('pumukitnewadmin_role_copy', {'id': role.id}) }}" method="post" class="delete-action-form" novalidate="">
              <button type="submit" style="background: transparent; border: none">
                <i class="mdi-content-content-copy"></i>                
	            </button>
	          </form>
          </td>
          <td>
	          {% if roles.getCurrentPage() != 1 or not loop.first %}
	          {% spaceless %}
	          <a href="{{ path('pumukitnewadmin_role_up', {'id': role.id}) }}">&#8593;</a>
	          <a href="{{ path('pumukitnewadmin_role_top', {'id': role.id}) }}"><i class="mdi-editor-vertical-align-top"></i></a>
	          {% endspaceless %}
	          {% endif %}
          </td>
          <td>
	          {% if roles.getCurrentPage() == roles.getNbPages() and not loop.last %}
	          {% spaceless %}
	          <a href="{{ path('pumukitnewadmin_role_down', {'id': role.id}) }}">&#8595;</a>
	          <a href="{{ path('pumukitnewadmin_role_bottom', {'id': role.id}) }}"><i class="mdi-editor-vertical-align-bottom"></i></a>
	          {% endspaceless %}
	          {% endif %}
          </td>
          <td>
            {{ role.id }}
	        </td>
          <td>
            {{ role.display }}
	        </td>
          <td>
	          {{ role.cod }}
	        </td>
          <td>
	          {{ role.name }}
	        </td>
          <td>
	          {{ role.getNumberPeopleInMultimediaObject() }}
	        </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="11">
            <div class="col-md-8">            
              {{ roles.getNbResults }}
              {% transchoice roles.getNbResults %}
  	            {0} roles|{1} role|]1,Inf] roles
	            {% endtranschoice %}
	            {% if app.session.get('admin/role/criteria')|length != 0%}
                <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true" >{% trans %}Cancel search{% endtrans %}</a>
	            {% endif %}
            </div>
            <div class="col-md-4 text-right">
              <div class="pagerfanta">
                {{ pagerfanta(roles, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_role_index"}) }}
              </div>
            </div>                              
          </th>
        </tr>
      </tfoot>
    </table>
</div>

{# TODO
<?php if (isset($msg_alert)) echo m_msg_alert($msg_alert) ?>
#}
