<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}add new pic{% endtrans %}</h4>
</div>

<div class="modal-body">

  <div id="tv_admin_container">
    <form onsubmit="$.ajax({
                            url: '{{ path('pumukitnewadmin_'~resource_name~'pic_update', {'id': resource.id}) }}',
                            type: 'POST',
                            data: $(this).serialize(),
                            success: function(response){
                                                        $('#pic_{{ resource_name }}').html(response);
                                                        success('{% trans %}New Pic added.{% endtrans %}');
                                                        }
                          });
                    return false;"
          action="{{ path('pumukitnewadmin_'~resource_name~'pic_update', {'id': resource.id}) }}" method="post">
      <input type="hidden" name="type" id="type" value="url">
      <input type="hidden" name="{{ resource_name }}" id="{{ resource_name }}" value="{{ resource.id }}">

      <fieldset>
        <div class="form-group">
          <label for="url">{% trans %}Write the URL{% endtrans %}:</label>
          <div class="">
            <input type="text" name="url" id="url" value="" size="65" class="form-control">
	        <span id="error_url" style="display:none" class="error">{% trans %}URL format not valid{% endtrans%}</span>
          </div>
        </div>
      </fieldset>

      <div class="modal-footer">
        <button type="submit" class="btn btn-pumukit btn-raised" onclick="return test_form_url($('#url').val())">{% trans %}Save changes{% endtrans %}</button>
      </div>
    </form>
  </div>
  <div style="clear:both"></div>

  <div id="tv_admin_container">
    <form method="post" enctype="multipart/form-data" target="iframeUpload" action="{{ path('pumukitnewadmin_'~resource_name~'pic_upload', {'id': resource.id}) }}">
      <input type="hidden" name="type" id="type" value="url">
      <input type="hidden" name="{{ resource_name }}" id="{{ resource_name }}" value="{{ resource.id }}">
      <fieldset>
        <div class="form-group">
	      <label for="file">{% trans %}Add a file{% endtrans %}:</label>
          <div class="">
	        <input type="file" name="file" id="file" value="" size="66" class="file">
          </div>
        </div>
        <iframe name="iframeUpload" style="display:none" src=""></iframe>
      </fieldset>
      <div class="modal-footer">
        <button type="submit" class="btn btn-pumukit btn-raised" onclick="if($('#file').val()==''){window.alert('{% trans %}Select a file on first place. Thank you.{% endtrans %}');return false;}">{% trans %}Add{% endtrans %}</button>
      </div>
    </form>
  </div>


  <div style="clear:both"></div>

  <div id="tv_admin_container">

    <fieldset>
      <div class="form-group">
	    <label for="other">{% trans %}Use Image{% endtrans %}:</label>
        <div class="">
          {% if 0 == pics|length %}
            {% trans %}There are no images in the database.{% endtrans %}
          {% endif %}
          {% for pic_url in pics %}
	      <div style="padding: 18px; float:left">
            <div class="wrap0">
              <div class="wrap1">
                <div class="wrap2">
                  <div class="wrap3">
		            <a href="#" data-dismiss="modal" onclick="$('#pic_{{ resource_name }}').load('{{ path('pumukitnewadmin_'~resource_name~'pic_update', {'id': resource.id, 'picUrl': pic_url}) }}', function(){success('{% trans %}New Pic added.{% endtrans %}');}); return false;">
                      <img src="{{ pic_url }}" alt="{{ pic_url|split('/')|last }}" height="82" width="100"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          <div style="clear: left"></div>
        </div>
      </div>
    </fieldset>

    <div class="modal-footer">
      <div class="pagerfanta">
        {{ pagerfanta(pics, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_'~resource_name~'_pic", "routeParams": {'id': resource.id}}) }}
      </div>

      <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>

    </div>

{#
    <ul class="tv_admin_actions">
      <li>
        {% if ((total == page) or (0 == total)) %}
        <a class="MB_focusable" style="display: none" title="" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitnewadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page + 1)}) }}">{% trans %}Previous{% endtrans %}</a>
        {% else %}
        <a class="tv_admin_action_previous MB_focusable" style="color: blue; font-weight: normal" title="{% trans %}New Image{% endtrans %}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitnewadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page + 1)}) }}">{% trans %}Previous{% endtrans %}</a>
        {% endif %}
      </li>
      <li>
        {% if (1 == page) %}
        <a class="MB_focusable" style="display: none" title="" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitnewadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page - 1)}) }}">{% trans %}Next{% endtrans %}</a>
        {% else %}
        <a class="tv_admin_action_next MB_focusable" style="color: blue; font-weight: normal" title="{% trans %}New Image{% endtrans %}" onclick="Modalbox.show(this.href, {title:this.title, width:800}); return false;" href="{{ path('pumukitnewadmin_'~resource_name~'pic_create', {'id': resource.id, 'page': (page - 1)}) }}">{% trans %}Next{% endtrans %}</a>
        {% endif %}
      </li>
    </ul>
#}

  </div>

</div>
