{% set event_poster = (is_event_poster is defined ? is_event_poster : false) %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{% trans %}add new thumbnail{% endtrans %}</h4>
</div>

<div class="modal-body">

    <div id="tv_admin_container_file">
        <form autocomplete="off" method="post" enctype="multipart/form-data" target="iframeUpload" action="{{ path('pumukitnewadmin_'~resource_name~'pic_upload', {'id': resource.id, 'is_event_poster': event_poster}) }}">
            <input type="hidden" name="type" id="type" value="url">
            <input type="hidden" name="{{ resource_name }}" id="{{ resource_name }}" value="{{ resource.id }}">
            <fieldset>
                <legend hidden>{% trans %}Add a file{% endtrans %}</legend>
                <div class="form-group">
                    <label for="file">{% trans %}Add a file{% endtrans %}:</label>
                    <div class="">
                        <input type="file" name="file" id="file" value="" size="66" class="file" accept="image/*">
                    </div>
                </div>
                <iframe id="iframeUpload" name="iframeUpload" style="display:none" src=""></iframe>
            </fieldset>
            <div class="modal-footer">
                <button type="submit" class="btn btn-pumukit btn-raised" onclick="if($('#file').val()==''){window.alert('{% trans %}Select a file on first place. Thank you.{% endtrans %}');return false;}">{% trans %}Add{% endtrans %}</button>
            </div>
        </form>
    </div>

    <div class="clearfix"></div>

    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
        {% if resource_name != 'event' %}
            <div id="pics_to_add_list">
                {% set picstoaddlistaction = "Pumukit\\NewAdminBundle\\Controller\\:"~(resource_name == 'mms' ? 'MultimediaObject'~(resource_name|capitalize))~"PicController::picstoaddlistAction" %}
                {{ render(controller(picstoaddlistaction, {'id': resource.id, 'page':1, 'is_event_poster': event_poster})) }}
            </div>
        {% endif %}
    {% endif %}
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
    </div>
</div>
