{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
<div id="pic_list_thumbnails">
  {% set event_poster = (is_event_poster is defined ? is_event_poster : false) %}
  {% for index,pic in resource.getPics() | filter(pic => event_poster and pic.containsTag('poster') or (not event_poster and not pic.containsTag('poster'))) %}
  <div style="float: left; padding : 10px; ">
    <div style="padding: 10px; float:left; text-align : center">
      <div class="wrap0"><div class="wrap1"><div class="wrap2"><div class="wrap3">
              <img class="image-responsive pic-{{ resource.id }} admin-pic-{{ resource.id }} pic-{{ loop.index0 }} {% if loop.first %}first{% endif %}" src="{{ pic.getUrl() }}"  style="max-width:146px;height:82px" border="1" alt="{% trans %}Thumbnail{% endtrans %}">
      </div></div></div></div>
    </div>
    <div style="text-align : center">
      {% if (0 != index) and not event_poster %}
      <a href="#" onclick="window.up_{{ resource_name }}pic('{{ pic.id }}', '{{ resource.id }}'); return false;" title="{% trans %}Move up thumbnail{% endtrans %}" class="thumbnail_arrow_move_pic {{ (event_poster and pic.containsTag('poster')) ? 'is_poster':'no_poster'}}">&#8592;</a>
      {% endif %}
      {% if event_poster %}
      <a href="#" onclick="window.delete_eventspic('{{ pic.id }}', '{{ resource.id }}'); return false;" title="{% trans %}Delete thumbnail{% endtrans %}" class="thumbnail_pic {{ (event_poster and pic.containsTag('poster')) ? 'is_poster':'no_poster'}}">
        <i class="mdi-content-clear"></i>
      </a>
      {% else %}
      <a href="#" onclick="window.delete_{{ resource_name }}pic('{{ pic.id }}', '{{ resource.id }}'); return false;" title="{% trans %}Delete thumbnail{% endtrans %}" class="thumbnail_pic {{ (event_poster and pic.containsTag('poster')) ? 'is_poster':'no_poster'}}">
        <i class="mdi-content-clear"></i>
      </a>
      {% endif %}
      {% if ((resource.getPics()|length - 1) != index) and not event_poster %}
      <a href="#" onclick="window.down_{{ resource_name }}pic('{{ pic.id }}', '{{ resource.id }}'); return false;" title="{% trans %}Move down thumbnail{% endtrans %}" class="thumbnail_arrow_move_pic {{ (event_poster and pic.containsTag('poster')) ? 'is_poster':'no_poster'}}">&#8594;</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <script type="text/javascript">
    var picElements = $('.thumbnail_pic.no_poster').length;
    if (picElements < 2) {
        $('.thumbnail_arrow_move_pic.no_poster').css('display', 'none');
    }
  </script>
  {% if event_poster and not resource.getPicWithTag('poster') %}
  <div style="float: left; padding : 10px; ">
    <div style="padding: 10px; float:left; text-align : center">
      <div class="wrap0"><div class="wrap1"><div class="wrap2"><div class="wrap3">
              <img class="image-responsive pic-{{ resource.id }} admin-pic-{{ resource.id }} pic-0 first"  src="{{ default_poster() }}"  style="max-width:146px;height:82px" border="1" alt="{% trans %}Default live screen image{% endtrans %}">
      </div></div></div></div>
    </div>
    <div style="text-align : center">
      <a href="#" onclick="return false;" title="{% trans %}Default live screen image{% endtrans %}">
        {% trans %}Default live screen image{% endtrans %}
      </a>
    </div>
  </div>
  {% endif %}
  <img id="pic_mms_{{ resource.id }}_load" src="{{ asset('/bundles/pumukitnewadmin/images/admin/load/spinner.gif') }}" alt="{% trans %}loading{% endtrans %}" style="position: relative; top: 50px; float:left; display: none"/>
</div>

<div style="width : 120px; float: left; padding : 10px; ">
  <div style="padding: 10px; float:left; text-align : center">
    <div class="wrap0"><div class="wrap1"><div class="wrap2"><div class="wrap3">
            <img class="image-responsive" src="{{ asset('/bundles/pumukitnewadmin/images/none.jpg') }}" width="100" height="82" border="1" alt="{% trans %}Thumbnail{% endtrans %}">
    </div></div></div></div>
  </div>

  <div style="text-align : center">
    {% if resource_name == 'mms' and resource.isVideoAudioType() and resource.getDisplayTrack() and not resource.isAudioType() %}
      <a href="{{ path('pumukitnewadmin_mmspic_generate', {'id': resource.id}) }}" class="button_generate_thumbnail" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}Generate thumbnail{% endtrans %}...</a>
    {% elseif event_poster %}
      <a href="{{ path('pumukitnewadmin_'~resource_name~'pic_create', {'id': resource.id, 'is_event_poster': event_poster}) }}" class="button_new_poster" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}New poster{% endtrans %}...</a>
    {% else %}
      <a href="{{ path('pumukitnewadmin_'~resource_name~'pic_create', {'id': resource.id, 'is_event_poster': event_poster}) }}" class="button_new_thumbnail" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}New thumbnail{% endtrans %}...</a>
    {% endif %}
  </div>
</div>
{% else %}
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
{% endif %}

<div style="clear:left"></div>

{% if 'XMLHttpRequest' == app.request.headers.get('X-Requested-With') %}
<script type="text/javascript">
window.update_{{ resource_name }}pic('{{ resource.id }}', '{{ resource_name }}');
</script>
{% endif %}
