{% set selected_design = design|default('horizontal') %}
{% set textShowMore = "Show more"|trans %}

{% if objects and selected_design == 'horizontal' %}
    <div class="block-media-pmk {{ class }}">
        {% include "@PumukitWebTV/Resources/template_widget_title.html.twig" %}
        <div class="row">
            {% for object in objects %}
                {% if object.isCollection() %}
                    {% include '@PumukitWebTV/Resources/template_series.html.twig' %}
                {% else %}
                    {% include '@PumukitWebTV/Resources/template_video.html.twig' %}
                {% endif %}
                {% include "@PumukitWebTV/Resources/template_clearfix.html.twig" %}
            {% endfor %}

            {% if show_more|default(false) %}
                {% include '@PumukitWebTV/Misc/show_more.html.twig' %}
            {% endif %}
            {% if show_link|default(false) %}
                <div class="col-xs-12 text-right">
                    <a href="{{ path(show_link) }}" class="show_more_link" title="{{ textShowMore }}">
                        <p>{{ textShowMore }}...</p>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% elseif objects and selected_design == 'vertical' %}
    <div class="block-media-pmk {{ class }}">
        {% include "@PumukitWebTV/Resources/template_widget_title.html.twig" %}
        <div class="row">
            {% for object in objects %}
                {% if object.isCollection() %}
                    {% include '@PumukitWebTV/Resources/template_series_old.html.twig' %}
                {% else %}
                    {% include '@PumukitWebTV/Resources/template_video_legacy.html.twig' %}
                {% endif %}
                <div class="clearfix"></div>
            {% endfor %}
        </div>
    </div>
{% endif %}
