{% if objects %}
    <div class="block-event-pmk {{ class }}">
        <h1>{{ title }}</h1>
        <div class="row">
            {% for object in objects %}
                {% dump(object) %}
                {% include 'PumukitWebTVBundle:Resources:template_event.html.twig' with {'event' : object['data'][0] } %}
                {% include "PumukitWebTVBundle:Resources:template_clearfix.html.twig" %}
            {% endfor %}

            {% if show_more|default(false) %}
                {% include 'PumukitWebTVBundle:Misc:show_more.html.twig' %}
            {% endif %}
            {% if show_link|default(false) %}
                <div class="col-xs-12 text-right">
                    <a href="{{ path(show_link) }}" class="show_more_link" title="{{ textShowMore }}">
                        <p>{{ textShowMore }}...</p>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
