{% set id = random() %}
{% set live = event.live %}

<div id="jwplayererror-{{ id }}" style="width:100%; margin: 0px auto; color:red;"></div>

{% if isIE and versionIE < 9.0 %}
    <div style="width:100%; margin: 0px auto; color:red;">
        {% trans %}JWPlayer does not support your browser version{% endtrans %} {{ isIE }}.
        {% trans %}Please use 9.0 or higher version or use another browser.{% endtrans %}
    </div>
{% else %}
    <div>
        <div id="showFlashMessage-{{ id }}" style="background: red; padding: 10px; font-size: 1.5em; font-weight: bold; border: 5px #990000 solid; margin-bottom: 10px; color: #222222; width: {{ width is defined ? width : '100%' }}" hidden>
            <img src="{{ asset('bundles/pumukitlive/images/obsolete.png') }}" />
            <span>
                {% trans %}The Flash Plugin needs to be installed. JWPlayer needs minimum Flash version 10.1.82.76 to stream.{% endtrans %}
                <a target="_blank" style="color: white; text-decoration: underline; padding: 10px;" href="https://get.adobe.com/flashplayer/">https://get.adobe.com/flashplayer/</a>
            </span>
        </div>
        <div id="directo-{{ id }}" style="width:100%; margin: 0px auto;"></div>
    </div>

    <div id="countdownClock" hidden></div>
{% endif %}

<script type="text/javascript">

    {% if mobile_device %}
    var image = "<img src=\"{{ asset('/bundles/pumukitwebtv/images/live_screen.jpg') }}\" class=\"img-responsive\">\n" +
        "    <p class=\"warning\" style=\"position: absolute;\n" +
        "    top: 15%;\n" +
        "    color: white;\n" +
        "    font-weight: bold;\n" +
        "    font-size: 20px;\n" +
        "    left:9%;\n" +
        "    line-height: 34px;\n" +
        "    text-align: center;\">{% trans %}El evento a&uacute;n no se ha celebrado{% endtrans %}<br/>\n" +
        "        <span id=\"warning\"></span>\n" +
        "    </p>";

    {% else %}
    var image = "<img src=\"{{ asset('/bundles/pumukitwebtv/images/live_screen.jpg') }}\" width=\"100%\" class=\"img-responsive\">\n" +
        "    <p class=\"warning\" style=\"position: absolute;\n" +
        "    top: 30%;\n" +
        "    color: white;\n" +
        "    font-weight: bold;\n" +
        "    font-size: 20px;\n" +
        "    left:30%;\n" +
        "    line-height: 34px;\n" +
        "    text-align: center;\">{% trans %}El evento a&uacute;n no se ha celebrado{% endtrans %}<br/>\n" +
        "        <span id=\"warning\"></span>\n" +
        "    </p>";

    {% endif %}

    var nextSessionsCount = "{{ nextSessions|length }}";
    var nowSessionsCount = "{{ nowSessions|length }}";

    if(nextSessionsCount == 0 && nowSessionsCount == 0) {
        var date = new Date();
        date.setMinutes(date.getMinutes() + 5);
        $("#directo-{{ id }}").html(image);
        $(".warning").html("{% trans %}El evento ya se ha celebrado{% endtrans %}");
        $('#warning').countdown(date).on('finish.countdown', function(event) {
            location.reload();
        });
    } else if (nextSessionsCount > 0 && nowSessionsCount == 0) {
        var nextSessionStarts = "{% if nextSessions is not empty %}{{ nextSessions[0]['data'][0]['session']['start'].toDateTime()| date('Y/m/d H:i:s') }}{% endif %}";
        $("#directo-{{ id }}").html(image);
        $("#warning").countdown(nextSessionStarts, function(event) {
            $(this).text(event.strftime('%-d dias %-H:%M:%S'));
        }).on('finish.countdown', function(event) {
            location.reload();
        });
    } else if (nowSessionsCount > 0) {
        var nowSessionsEnds = "{% if nowSessions is not empty %}{{ nowSessions[0]['data'][0]['sessionEnds'][0].toDateTime()| date('Y/m/d H:i:s') }}{% endif %}";
        $("#countdownClock").countdown(nowSessionsEnds , function(event) {
            $(this).text(event.strftime('%-d dias %-H:%M:%S'));
        }).on('finish.countdown', function(event) {
            location.reload();
        });
        document.addEventListener('DOMContentLoaded', function () {

            var isMobile = "{{ mobile_device ? 'yes':'no' }}";
            var hasFlash = false;
            try {
                hasFlash = Boolean(new ActiveXObject('ShockwaveFlash.ShockwaveFlash'));
            } catch (exception) {
                hasFlash = ('undefined' != typeof navigator.mimeTypes['application/x-shockwave-flash']);
            }
            if ((hasFlash && ('no' === isMobile)) || ('yes' === isMobile)) {
                {% if height is defined %}
                var height = "{{ height }}";
                {% endif %}
            } else {
                {% if height is defined %}
                var height = "{{ height * 0.75 }}";
                {% endif %}
                document.getElementById('showFlashMessage-{{ id }}').style.display = 'table';
            }
            var livePlayerInstance = jwplayer("directo-{{ id }}").setup({
                {% if live is defined and live and event.url is empty %}
                    {% if live.broadcasting %}
                        {% if mobile_device %}
                            file: "{{ live.url|replace({'rtmp://':'http://', 'rtmpt://': 'http://'}) }}/{{ live.sourcename }}/playlist.m3u8",
                        {% else %}

                            file: "{{ live.url }}/{{ live.sourcename }}",
                        {% endif %}
                    {% else %}
                        playlist: "{{ path('pumukit_live_playlist_id', { 'id': live.id }) }}",
                    {% endif %}
                {% elseif event.url is defined and event.url is not empty %}
                    file: "{{ event.url }}",
                {% endif %}
                {% if isIE and versionIE == 10 %}
                    autostart: 'true',
                {% else %}
                    autostart: true,
                {% endif %}
                width: "{{ width is defined ? width : '100%' }}",
                {% if height is defined %}
                    height: height,
                {% endif %}
                {% if controlbar is defined %}
                    controlbar: "{{ controlbar }}",
                {% endif %}
                {% if stretching is defined %}
                    stretching: "{{ stretching }}",
                {% endif %}
                {% if aspectratio is defined %}
                    aspectratio: "{{ aspectratio }}",
                {% endif %}
                logo: {hide: true},
                analytics: {enabled: false},
                androidhls: true
            });
        });
    }
</script>
