{% extends "form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block money_widget -%}
    <div class="input-group">
        {% set prepend = '{{' == money_pattern[0:2] %}
        {% if not prepend %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
        {{- block('form_widget_simple') -}}
        {% if prepend %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
    </div>
{%- endblock money_widget %}

{% block percent_widget -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon">%</span>
    </div>
{%- endblock percent_widget %}

{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
            {{ form_widget(form.date, { datetime: true } ) }}&nbsp;
            {{ form_widget(form.time, { datetime: true } ) }}
        </div>
    {% endif %}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        {% if datetime is not defined or not datetime %}
            <div {{ block('widget_container_attributes') -}}>
        {% endif %}
            {{ date_pattern|replace({
                '{{ year }}': form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}': form_widget(form.day),
            })|raw }}
        {% if datetime is not defined or not datetime %}
            </div>
        {% endif %}
    {% endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        {% if datetime is not defined or false == datetime %}
            <div {{ block('widget_container_attributes') -}}>
        {% endif %}
        {{ form_widget(form.hour) }}:{{ form_widget(form.minute) }}{% if with_seconds %}:{{ form_widget(form.second) }}{% endif %}
        {% if datetime is not defined or false == datetime %}
            </div>
        {% endif %}
    {% endif %}
{%- endblock time_widget %}

{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') %}
        <div class="control-group">
            {% for child in form %}
                {{ form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                }) }}
            {% endfor %}
        </div>
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                }) }}
            {% endfor %}
        </div>
    {% endif %}
{%- endblock choice_widget_expanded %}

{% block checkbox_widget -%}
    {% set parent_label_class = parent_label_class|default('') %}
    {% if 'checkbox-inline' in parent_label_class %}
        {{ form_label(form, null, { widget: parent() }) }}
    {% else %}
        <div class="checkbox">
            {{ form_label(form, null, { widget: parent() }) }}
        </div>
    {% endif %}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {% set parent_label_class = parent_label_class|default('') %}
    {% if 'radio-inline' in parent_label_class %}
        {{ form_label(form, null, { widget: parent() }) }}
    {% else %}
        <div class="radio">
            {{ form_label(form, null, { widget: parent() }) }}
        </div>
    {% endif %}
{%- endblock radio_widget %}

{# Labels #}

{% block form_label %}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% set label = parent() %}
    {{ label|unescape|raw }}
{%- endblock form_label %}

{% block choice_label %}
    {# remove the checkbox-inline and radio-inline class, it's only useful for embed labels #}
    {% set label_attr = label_attr|merge({class: label_attr.class|default('')|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) %}
    {{- block('form_label') -}}
{% endblock %}

{% block checkbox_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{% block checkbox_radio_label %}
    {# Do no display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ widget|raw }}
                {{ label|trans({}, translation_domain) }}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}

{# Rows #}

{% block form_row -%}
    <div class="{{attr.groupclass|default('') }} form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock form_row %}

{% block button_row -%}
    <div class="form-group {{attr.groupclass|default('') }}">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{% block choice_row -%}
    {% set force_error = true %}
    {{ block('form_row') }}
{%- endblock choice_row %}

{% block date_row -%}
    {% set force_error = true %}
    {{ block('form_row') }}
{%- endblock date_row %}

{% block time_row -%}
    {% set force_error = true %}
    {{ block('form_row') }}
{%- endblock time_row %}

{% block datetime_row -%}
    {% set force_error = true %}
    {{ block('form_row') }}
{%- endblock datetime_row %}

{% block checkbox_row -%}
    <div class="{{attr.groupclass|default('') }} form-group{% if not valid %} has-error{% endif %}">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="{{attr.groupclass|default('') }} form-group{% if not valid %} has-error{% endif %}">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock radio_row %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}


{# Pumukit Widgets #}
{% block texti18nadvance_widget -%}
    {%- if form.vars.locales|length == 1%}
        {% set locale = form.vars.locales[0] %}
        <div class="input-group">
            <input type="text" {{ block('widgeti18n_attributes') }} value="{{ value[locale]|default("") }}" />
            <span class="input-group-addon copy-button" style="color: #767676;cursor:pointer;" data-copy="{{ form.vars.id }}_{{ locale }}">
                <span class="mdi-content-content-copy" title="{% trans %}Copy{% endtrans %}"></span>
            </span>
        </div>
    {% else %}
        {%- for locale in form.vars.locales %}
            <div class="input-group">
                <input type="text" {{ block('widgeti18n_attributes') }} value="{{ value[locale]|default("") }}" />
                {% if locale in form.vars.translators %}
                    <span class="input-group-addon translate-button" style="color: #767676;cursor:pointer;" ondblclick="pmk_translate(this, 'input', false)" onclick="pmk_translate(this, 'input', true)" data-locale="{{ locale }}">
                        <span class="mdi-action-translate" title="{% trans %}Translate{% endtrans %}"></span>
                    </span>
                {% endif %}
                <span class="input-group-addon" style="color: #767676;">{{ locale }}</span>&nbsp;
                <span class="input-group-addon copy-button" style="color: #767676;cursor:pointer;" data-copy="{{ form.vars.id }}_{{ locale }}">
                    <span class="mdi-content-content-copy" title="{% trans %}Copy{% endtrans %}"></span>
                </span>
            </div>
        {% endfor -%}
    {% endif -%}
    <script>
        $('.copy-button').on('click', function(event) {
            var id = $(this).data('copy');
            var input = document.getElementById(id);
            var originalStyle = input.style.display;
            input.style.display = 'block';
            input.select();
            document.execCommand("copy");
            input.style.display = originalStyle;
        });
    </script>
{% endblock texti18nadvance_widget %}

{% block texti18n_widget -%}
    {%- if form.vars.locales|length == 1%}
        {% set locale = form.vars.locales[0] %}
        <input type="text" {{ block('widgeti18n_attributes') }} value="{{ value[locale]|default("") }}" />
    {% else %}
        {%- for locale in form.vars.locales %}
            <div class="input-group">
                <input type="text" {{ block('widgeti18n_attributes') }} value="{{ value[locale]|default("") }}" />
                {% if locale in form.vars.translators %}
                    <span class="input-group-addon translate-button" style="color: #767676;cursor:pointer;" ondblclick="pmk_translate(this, 'input', false)" onclick="pmk_translate(this, 'input', true)" data-locale="{{ locale }}">
                        <span class="mdi-action-translate" title="{% trans %}Translate{% endtrans %}"></span>
                    </span>
                {% endif %}
                <span class="input-group-addon" style="color: #767676;">{{ locale }}</span>
            </div>
        {% endfor -%}
    {% endif -%}
{%- endblock texti18n_widget %}

{% block textareai18n_widget -%}
    {%- if form.vars.locales|length == 1 %}
        {% set locale = form.vars.locales[0] %}
        <textarea {{ block('widgeti18n_attributes') }}>{{ value[locale]|default("") }}</textarea>
    {% else %}
      {%- for locale in form.vars.locales %}
          <div class="input-group">
              <textarea {{ block('widgeti18n_attributes') }}>{{ value[locale]|default("") }}</textarea>
              {% if locale in form.vars.translators %}
                  <span class="input-group-addon translate-button" style="color: #767676;cursor:pointer;" ondblclick="pmk_translate(this, 'textarea', false)" onclick="pmk_translate(this, 'textarea', true)" data-locale="{{ locale }}">
                      <span class="mdi-action-translate" title="{% trans %}Translate{% endtrans %}"></span>
                  </span>
              {% endif %}
              <span class="input-group-addon" style="color: #767676;">{{ locale }}</span>
          </div>
      {%- endfor -%}
    {% endif -%}
{%- endblock textareai18n_widget %}

{% block widgeti18n_attributes -%}
    {%- set attr = attr|merge({class: ([attr.class|default(''), id, 'locale-' ~ locale, 'form-control']|join(' '))|trim}) -%}
    id="{{ id }}_{{ locale }}" name="{{ full_name }}[{{ locale }}]"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widgeti18n_attributes %}


{# Live Widgets #}
{% block liveresolution_widget -%}
  <input style="margin-top: 5px;" type="number" size="6" value="{{ value['width']|default("") }}" id="{{ id }}_width" name="{{ full_name }}[width]"> x
  <input style="margin-top: 5px;" type="number" size="6" value="{{ value['height']|default("") }}" id="{{ id }}_height" name="{{ full_name }}[height]">
{%- endblock liveresolution_widget %}

{% block livequalities_widget -%}
<div>
  1. <input style="margin-top: 5px;" type="text" size="6" value="{{ value[0]['calidad']|default("") }}" id="{{ id }}_0_calidad" name="{{ full_name }}[0][calidad]"> kbps &nbsp;
     <input style="margin-top: 5px;" type="text" size="6" value="{{ value[0]['res']|default("") }}" id="{{ id }}_0_res" name="{{ full_name }}[0][res]"> píxels &nbsp;&nbsp;
     <br>
  2. <input style="margin-top: 5px;" type="text" size="6" value="{{ value[1]['calidad']|default("") }}" id="{{ id }}_1_calidad" name="{{ full_name }}[1][calidad]"> kbps &nbsp;
     <input style="margin-top: 5px;" type="text" size="6" value="{{ value[1]['res']|default("") }}" id="{{ id }}_1_res" name="{{ full_name }}[1][res]"> píxels &nbsp;&nbsp;
     <br>
  3. <input style="margin-top: 5px;" type="text" size="6" value="{{ value[2]['calidad']|default("") }}" id="{{ id }}_2_calidad" name="{{ full_name }}[2][calidad]"> kbps &nbsp;
     <input style="margin-top: 5px;" type="text" size="6" value="{{ value[2]['res']|default("") }}" id="{{ id }}_2_res" name="{{ full_name }}[2][res]"> píxels &nbsp;&nbsp;
     <br>
</div>
{%- endblock livequalities_widget %}

{# Event Widgets #}
{% block eventschedule_widget -%}
    <div class="row">
        <div class="col-md-6">
            {% trans %}Date{% endtrans %}: <input class="form-control" type="datetime-local" value="{{ value['date']|date('Y-m-d\\TH:i')|default("") }}" id="{{ id }}_date" name="{{ full_name }}[date]" />&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-md-6">
            {% trans %}Duration(min){% endtrans %}: <input class="form-control" type="number" min="1" value="{{ value['duration']|default("") }}" id="{{ id }}_duration" name="{{ full_name }}[duration]"/>
        </div>
    </div>
{%- endblock eventschedule_widget %}

{# HTML5 Date Widget #}
{% block html5date_widget -%}
  <input type="datetime-local" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value|date('Y-m-d\\TH:i:s') }}" {% endif %} class="form-control" step="1"/>
{% endblock %}

{# Track Widgets #}
{% block trackresolution_widget -%}
  <input type="number" value="{{ value['width']|default("") }}" id="{{ id }}_width" name="{{ full_name }}[width]" readonly="true"> x
  <input type="number" value="{{ value['height']|default("") }}" id="{{ id }}_height" name="{{ full_name }}[height]" readonly="true">
{%- endblock trackresolution_widget %}

{% block trackduration_widget -%}
  <input type="text" value="{{ value['minutes']|default("") }}" id="{{ id }}_minutes" name="{{ full_name }}[minutes]" readonly="true"> min &nbsp;
  <input type="text" value="{{ value['seconds']|default("") }}" id="{{ id }}_seconds" name="{{ full_name }}[seconds]" readonly="true"> sec &nbsp;&nbsp;
{%- endblock trackduration_widget %}
