<div class="row">
    <div class="list-group list-group-horizontal">
        <span>{% trans %}Sort by{% endtrans %}:</span>
        <a href="{{ path('pumukit_webtv_medialibrary_index', {'sort': 'date'}) }}" title="{% trans %}Sort by date{% endtrans %}">
            {% trans %}Date{% endtrans %}
        </a>
        ,
        <a href="{{ path('pumukit_webtv_medialibrary_index', {'sort': 'alphabetically'}) }}" title="{% trans %}Sort alphabetically{% endtrans %}">
            {% trans %}Alphabetically{% endtrans %}
        </a>
        {% for tag in tags %}
            ,
            <a href="{{ path('pumukit_webtv_medialibrary_index', {'sort': 'tags', 'p_tag': tag.cod }) }}" title="{% trans %}Sort by{% endtrans %} {{ tag.title }}">
                {{ tag.title }}
            </a>
        {% endfor %}.
    </div>
    <div class="clearfix"></div>
</div>
