{% set text_url = "URL"|trans %}
{% set text_iframe = "Iframe"|trans %}

<div class="panel panel-default panel-pmk">
    <div class="panel-heading">
        <h2 class="panel-title">
            {% trans %}Share this video{% endtrans %}
        </h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item share_url">
            <span>{{ text_url }}:</span>
            <input type="text" value="{{ url('pumukit_live_event_id', {'id': multimediaObject.id}) }}" onclick="this.select()" readonly="readonly" aria-label="share-url"/>
        </li>
        <li class="list-group-item share_url">
            <span>{{ text_iframe|upper }}:</span>
            {% set trackId = (track.id is defined)?track.id:null %}
            {% set iframe_value %}{% apply spaceless %}
                    <iframe src='{{ url('pumukit_live_event_iframe_id', {'id':multimediaObject.id, 'track_id': trackId}) }}'
                            {{- " id='pumukitiframe'" -}}
                            {{- " frameborder='0'" -}}
                            {{- " border='0'" -}}
                            {{- " width='560'" -}}
                            {{- " height='325'" -}}
                            {{- " allowfullscreen" -}}
                    ></iframe>
                {% endapply %}
            {% endset %}
            <input type="text" value="{{ iframe_value }}" onclick="this.select()" aria-label="share-iframe" readonly/>
        </li>
    </ul>
</div>
