{% set text_url = "URL"|trans %}
{% set text_iframe = "Iframe"|trans %}

<div class="panel panel-default panel-pmk">
    <div class="panel-heading">
        {% trans %}Share this video{% endtrans %}
    </div>
    <ul class="list-group">
        <li class="list-group-item share_url">
            <span>{{ text_url }}:</span>
            <input type="text" value="{{ url('pumukit_live_event_id', {'id': multimediaObject.id}) }}" onclick="this.select()" readonly="readonly" aria-label="{{ text_url }}" title="{{ text_url }}"/>
        </li>
        <li class="list-group-item share_url">
            <span>{{ text_iframe|upper }}:</span>
            {% set trackId = (track.id is defined)?track.id:null %}
            {% set url_iframe = url('pumukit_live_event_iframe_id', {'id':multimediaObject.id, 'track_id': trackId}) %}
            {% set iframe_value = "<iframe src='" ~ urlIframe ~ "' id='pumukitiframe' frameborder='0' border='0' width='560' height='315' allowfullscreen></iframe>" %}
            <input type="text" value="{{ (iframe_value|raw) |spaceless }}" onclick="this.select()" aria-label="{% trans %}Iframe{% endtrans %}" title="{% trans %}Iframe{% endtrans %}" readonly/>
        </li>
    </ul>
</div>
