{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% set hide_slidebar = true %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pumukitwebtv/js/jquery.countdown.js') }}" type="text/javascript"></script>
    {% include('PumukitBaseLivePlayerBundle:Default:js.html.twig') %}
{% endblock %}

{% block title %}{{ parent() }} - {{ multimediaObject.getEmbeddedEvent().getName(app.request.getLocale()) }}{% endblock %}

{% block body_without_bar %}

    <div class="event-pmk">
        {% set event = multimediaObject.getEmbeddedEvent() %}
        <div class="col-xs-12">
            <h1>
                {% trans %}Live{% endtrans %}:
                {{ event.getName(app.request.getLocale())|default("No title"|trans) }}
            </h1>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8">
            <div id="liveplayer">
                {% include('PumukitWebTVBundle:Live:Advance/liveplayer.html.twig') with {stretching: 'exactfit', aspectratio: '16:9'} %}
            </div>
            {% include('PumukitWebTVBundle:Live:Advance/template_info.html.twig') %}
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4">
            {{ render(controller('PumukitWebTVBundle:Event:twitter', {'id': multimediaObject.id})) }}
            {{ render(controller('PumukitWebTVBundle:Event:liveList')) }}
            {{ render(controller('PumukitWebTVBundle:Event:nextSessionList', {'id': multimediaObject.id})) }}
        </div>
    </div>

{% endblock %}
