<h2>{{ platform_name }}: {{ subject|trans }}</h2>
<p>{{ "The user '%user%' has added you as co-owner of the video:"|trans({"%user%": user.username}, "messages") }}</p>
<details>
    <summary>{% trans %}Technical info{% endtrans %}</summary>
    <ul>
        <li>
            <strong>{% trans %}Multimedia Object Id{% endtrans %}:</strong> {{ multimediaObject.getId() }}
        </li>
        <li>
            <strong>{% trans %}Multimedia Object Title{% endtrans %}:</strong> {{ multimediaObject.getTitle(locale) }}
        </li>
        <li>
            <strong>{% trans %}Belongs to Series{% endtrans %}:</strong> {{ multimediaObject.getSeries().getTitle(locale) }}
        </li>
    </ul>
</details>
{#<p>{% trans %}You can reject being co-owner in the following URL link:{% endtrans %} <a href="{{ multimedia_object_reject_link }}" target="_blank">{{ multimedia_object_reject_link }}</a></p>#}
{{ sender_name }}
