{% if (event is defined and event.isIframeURL()) %}
    <div class="embed-responsive embed-responsive-16by9">
        <div id="live-{{ id }}" class="embed-responsive-item text-center">
            <iframe src="{{ event.getUrl() }}" width="100%" class="embed-responsive-item" allowfullscreen style="overflow:hidden;height:100%;width:100%"></iframe>
        </div>
    </div>
{% elseif multimediaObject is defined %}
    <div class="embed-responsive embed-responsive-16by9">
        <div id="live-{{ id }}" class="embed-responsive-item text-center">
            {{ render(path('pumukit_livevideoplayer_index', {'id': multimediaObject.id })) }}
        </div>
    </div>
{% else %}
    <div class="embed-responsive embed-responsive-16by9">
        <div id="live-{{ live.id }}" class="embed-responsive-item text-center">
            {{ render(path('pumukit_live_channel_videoplayer', {'id': live.id })) }}
        </div>
    </div>
{% endif %}

{% if advance_live_events is defined and advance_live_events %}
    <div id="countdownClock" hidden></div>
{% endif %}
